<div class="col-md-3" >
	
	<br/>
	<br/>
	<% if !@exec_groups.nil? %>
		<% @exec_groups.each do |group| %>
			<a href="/admin/group/<%=group%>"><%= group %></a><br/>
		<% end %>
	<% end %>
	
</div>	

<div class="col-md-9" >
	
	<div >
		<div>
			<h1>Crawles</h1>
		</div>	
		<div class="searchResults">
			<% if !@crawles.nil? %>
				<% @crawles.each do |crawle| %>
					<div class="search-item">
						<%= link_to crawle.repository_src, admin_crawle_path(crawle.to_param), :class => "searchResultLink" %><br/>
						<span class="meta-text-small">Start: <%= crawle.start_point %></span><br/>
						<span class="meta-text-small">Crawler: <%= crawle.crawler_name_and_version %></span><br/>
						<% if crawle.error_messages.count() > 0 %>
							<span class="meta-text-small" style="color: red; font-weight:bold">Errors: <%= crawle.error_messages.count() %></span>
						<% end %>
						<% if !crawle.duration.nil? %>
							<span class="meta-text-small" style="color: green; font-weight:bold"> Duration: <%= crawle.duration.strftime("%H:%M:%S") %></span>
						<% end %>
					</div>				
				<% end %>
			<% end %>
		</div>
	</div>

</div>

