var content = "<div class='meta-text-small' >";
content += " <a href='/users/" ;
content += "<%= @versioncommentreply.username %>";
content += "' >";
content += "<%= @versioncommentreply.fullname %>";
content += "</a>";
content += " at <%= @versioncommentreply.created_at.in_time_zone(timezone).strftime('%b %d, %Y - %H:%M') %>";
content += " </div> ";
content += "<div class='reply'>";
content += "<%= @versioncommentreply.comment %>";
content += "</div>";
jQuery("#<%= @versioncomment.id %>_reply_section").append(content);
jQuery("#<%= @versioncomment.id %>_textarea").val("");
