
<div class="col-md-3 navbar_container" >
  <%= render 'organisations/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Teams at <%= @organisation.name %>
  </div>

  <div class="content" >

    <p>
      Here you can add/remove users to/from your teams.
      By assigning a team to a project,
      all members of the team can see the project details,
      receive the project notification emails and they can modify/update the project with their own API key.
      Points in team names are not allowed. Please use underscore instead of points.
    </p>
    <p>
      The members in the <b>"Owners"</b> team are the owners (admins)
      of the organisation. They have special permissions which members of other teams don't have.
    </p>

    <p>
      </br>
      <%= form_for(:teams, :html => {:class => 'form-inline'} ) do |f|  %>
        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => "form-control", :id => 'name' %>
          <button id="sign_in_button" type="submit" class="btn btn-big btn-primary" >Create New Team</button>
        </div>
      <% end %>
      <script type="text/javascript">
        $( "#name" ).keyup(function(e) {
          if( /\s/g.test(this.value) ){
            this.value = this.value.replace(' ', '-')
          } else if( !/^[a-zA-Z0-9_-]*$/g.test(this.value) ){
            this.value = ''
            alert("Special characters are not allowed as input. Please use letters and numbers only.")
          }
        });
      </script>
    </p>

    <br/>
    <br/>

    <table>
      <colgroup>
        <% if is_orga_owner?(@organisation, current_user) %>
          <col width="75px;" />
        <% end %>
        <col width="*" />
      </colgroup>

      <% @teams.each do |team| %>
        <% next if team.name.to_s.empty? %>

        <tr>
          <% if is_orga_owner?(@organisation, current_user) %>
            <td>
              <%= form_tag( delete_organisation_team_path(@organisation, team) , :method => "post", :style => 'margin: 0;') do  %>
                <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= link_to team.name, organisation_team_path(@organisation, team) %>
            <% if team.name.to_s.eql?('Owners') %>
              (Admins)
            <% end %>
            <span class="meta_info">
              (<%= pluralize( @organisation.projects.parents.where(:team_ids => team.ids).count, "project" ) %>,
               <%= pluralize( team.members.count, "user" ) %>)
            </span>
          </td>
        </tr>

      <% end %>

    </table>

  </div>

</div>

