
<div class="col-md-3" >
  <%= render 'organisations/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Team <b>"<%= @team.name %>"</b>
  </div>

  <div class="content" >

    <p>
      Just start typing and add as many users to your Team as you want.
    </p>

    <%= form_tag( add_organisation_team_path(@organisation, @team),  class: 'form-group', style: 'vertical-align:top;' ) do %>
      <div class="input-append">
        <input id="collaborator_username"
               name="username"
               type="text"
               autofocus="autofocus"
               autocomplete="off"
               class="typeahead  form-control"
               style="width: 400px; margin-top: -5px; display: inline-block;" />
        <button class="btn btn-primary" onclick="preventSubmit('collaborator_username', 'collaborator username')" type="submit" >
          Add Team Member
        </button>
      </div>
    <% end %>

    <br/>

    <table class="table table-hover" >
      <colgroup>
        <col width="80px;"j />
        <col width="*" />
      </colgroup>
      <tbody>
        <% @team.members.each do |member| %>
          <% next if member.user.nil? %>
          <%= form_tag( remove_organisation_team_path(@organisation, @team, :username => member.user.username), :method => "post") do  %>
          <tr >
            <td >
              <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
            </td>
            <td>
              <b><%= link_to member.user.username, user_path(member.user) %></b> (<%= member.user.fullname %>)
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br/>
    <br/>

    <div>
      <% projects = @organisation.projects.parents.where(:team_ids => @team.ids).any_of({ :temp => false }, { :temp => nil } ) %>
      <% if !projects.empty? %>
        <h4><%= pluralize( projects.count, "project" ) %> assigned to this team</h4>
        <% projects.sort! { |a,b| a.name.downcase <=> b.name.downcase } %>
        <div id="projects" >
          <table class="table table-striped" style="width: 100%">
            <colgroup>
              <col width="35px;" />
              <col width="*" />
              <col width="*" />
              <col width="*" />
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th>Projects</th>
                <th>Versions</th>
                <th>Licenses</th>
              </tr>
            </thead>
            <%= render partial: "/user/projects/helpers/project" , :collection => projects %>
          </table>
        </div>
      <% end %>
    </div>

  </div>

</div>

<script type="text/javascript">

    jQuery(document).ready(function(){
      jQuery("input#collaborator_username").typeahead({
        name: "users",
        limit: 10,
        allowDuplicates: true,
        remote: {
          url: "/users/autocomplete?term=%QUERY"
        },
        engine: Hogan,
        template: "{{username}} - ({{ fullname }})"
      });
      console.debug("Collaborators autocomplete is initialized.");
    });

</script>
