<section class="round" >
	<div style="text-align: center; font-size: 32px; padding: 0px 0px;">
		<div style="height: 30px;"><b>VersionEye</b></div> 
		<div style="height: 30px; font-size: 26px; color:#808080; padding: 5px 0px;">helps to keep your software projects up-to-date</div>
	</div>
</section>
<div class="section-lp round" style="text-align: center; font-size: 22px; font-weight: bold; line-height: 30px;">
	Let VersionEye monitor your repositories to get notified about outdated dependencies in your projects
</div>
<div class="section-lp round">
	<div class="boxHeader" style="text-align: center; margin-top: 0px; padding-bottom: 20px;">
		VersionEye supports various package managers
	</div>
	<div class="div-row">
		<div class="div-cell project-types-cell project-types-header">
			<div class="java" style="margin-left: 62px;" 
				 id="java_icon" 
				 title = "Java" itemprop = "image" ></div>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<div class="ruby"  style="margin-left: 62px;"
				 id="ruby_icon" 
				 title = "Ruby" itemprop = "image" ></div>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<div class="python"  style="margin-left: 62px;"
				 id="python_icon" 
				 title = "Python" itemprop = "image" ></div>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<div class="node_js" style="margin-left: 62px;"
				 id="node_js_icon"
				 title = "Node.JS" itemprop = "image" ></div>
		</div>
	</div>	
	<div class="div-row">
		<div class="div-cell project-types-cell project-types-header">
			Java
		</div>
		<div class="div-cell project-types-cell project-types-header">
			Ruby
		</div>
		<div class="div-cell project-types-cell project-types-header">
			Python
		</div>
		<div class="div-cell project-types-cell project-types-header">
			Node.JS
		</div>
	</div>	
	<div class="div-row">
		<div class="div-cell project-types-cell">
			pom.xml files from Maven2 and Maven3 are supported.
		</div>
		<div class="div-cell project-types-cell">
			Ruby Gemfiles are supported. 
		</div>
		<div class="div-cell project-types-cell">
			PIP requirements.txt files are supported.
		</div>
		<div class="div-cell project-types-cell">
			package.json files from NPM are supported.
		</div>
	</div>
	<br/>
</div>
<div class="section-lp round">
	<div class="boxHeader" style="text-align: center; margin-top: 0px; padding-bottom: 20px;">
		VersionEye is very easy to use
	</div>
	<div class="div-row">
		<div class="div-cell project-types-cell project-types-header">
			<%= image_tag ("integration/upload.png") %>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<%= image_tag ("integration/url.png") %>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<%= image_tag ("integration/github.png") %>
		</div>
		<div class="div-cell project-types-cell project-types-header">
			<%= image_tag ("integration/enterprise.png") %>
		</div>
	</div>	
	<div class="div-row">
		<div class="div-cell project-integration-cell project-types-header">
			Upload
		</div>
		<div class="div-cell project-integration-cell project-types-header">
			URL
		</div>
		<div class="div-cell project-integration-cell project-types-header">
			GitHub
		</div>
		<div class="div-cell project-integration-cell project-types-header">
			Enterprise
		</div>
	</div>	
	<div class="div-row">
		<div class="div-cell project-integration-cell">
			Just upload your project file and VersionEye 
			will show you the outdated dependencies. 
		</div>
		<div class="div-cell project-integration-cell">
			Put in the URL to your project file and 
			VersionEye will fetch it every day and notify you about outdated dependencies. 
		</div>
		<div class="div-cell project-integration-cell">
			Let VersionEye monitor your private GitHub repositories 
			to get daily E-Mail notifications about outdated dependencies in your projects.
		</div>
		<div class="div-cell project-integration-cell">
			Coming soon.
		</div>
	</div>
	<br/>
</div>
<div class="section-lp round div-row" style="text-align: center;">

	<div class="div-cell" style="padding-right: 50px; padding-left: 20px; vertical-align: middle;">
		<%= image_tag "integration/try_small.png" %>
	</div>
	<div class="div-cell">
		<div class="lp_box" style="text-align: left;" >
			Upload your file (pom.xml, Gemfile, requirements.txt, package.json)
		</div>
		<div  style="text-align: left;">
			<%= form_for services_path, :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
				<div style="padding-bottom: 20px;">
					<%= file_field 'upload', 'datafile', :class => "round" %>
				</div>
				<div>
			        <button type="submit" class="btn btn-primary" >Upload</button>
			    </div>
			<% end %>
		</div>
	</div>
</div>

<div class="section-lp round" style="text-align: center;">
	<%= render 'services/subscription' %>
</div>
