<% title 'Pricing' %>

<div class = "col2-left col2-right">
  <p style="padding-top: 30px; margin-bottom: 45px; font-size: 18px;">
    VersionEye allows you to monitor your open source projects for free!
    We only charge a small fee for monitoring project files in private repositories.
    VersionEye has a variety of plans to suit everyone`s needs. <br/>
    <br/>
    <b>All of our plans can be cancelled or changed on a monthly base.</b>
  </p>
</div>

<div class="row well pricing success">
  <div class="span4" >
    <h3 class="success pricing_h" >Trial</h3>
    <p>
      Try VersionEye for free!<br/>
      And try a little bit more for only € 1/month ;-)
    </p>
  </div>
  <div class = "span6">

    <%= render :partial => 'plan', :locals => { :plan_id => '03_trial_0' } %>

    <hr />

    <%= render :partial => 'plan', :locals => { :plan_id => '03_trial_1' } %>

  </div>

</div>

<div class="row well pricing alert-info">
  <div class= "span4">
    <h3 class = "pricing_h">Personal</h3>
    <p>Do the next step with the personal plan to track your personal projects.</p>
  </div>
  <div class = "span6">

    <%= render :partial => 'plan', :locals => { :plan_id => '03_personal_3' } %>

    <hr/>

    <%= render :partial => 'plan', :locals => { :plan_id => '03_personal_6' } %>

    <hr />

    <%= render :partial => 'plan', :locals => { :plan_id => '03_personal_9' } %>

  </div>
</div>

<div class="row well pricing info">
  <div class= "span4">
    <h3 class = "pricing_h">Business</h3>
    <p>Be brave and be proffessional! You are a team leader now. Keep your team up-to-date.</p>
  </div>
  <div class="span6">

    <%= render :partial => 'plan', :locals => { :plan_id => '03_business_25' } %>

    <hr />

    <%= render :partial => 'plan', :locals => { :plan_id => '03_business_50' } %>

    <hr />

    <%= render :partial => 'plan', :locals => { :plan_id => '03_business_100' } %>

  </div>
</div>

<div class = "col2-left col2-right">
  <p style="margin-bottom: 45px; font-size: 18px;">
    We're also offering bigger plans and an on-premise version of VersionEye. <br/>
    For any questions, contact us at <a href="mailto:support@versioneye.com">support@versioneye.com</a>!
  </p>
</div>
