
<% if @project %> 
	<div class="content" style="margin-left: 115px;">
		<div style="font-size: 16px; margin-bottom: 20px;">
			<%= pluralize(@project.dep_number, "Dependency") %>, 
			<span style="color: <%= outdated_color(@project)%>; font-weight: bold;" ><%= @project.out_number %> Outdated</span>, 
			<span style="color: <%= unknown_color(@project)%>; font-weight: bold;" ><%= @project.unknown_number %> Unknown</span>
		</div>
		<div class="dependencies" id="dependencies" >
			<% if !@project.fetch_dependencies.nil? %>
				<% @project.dependencies.each do |dep| %>
					<% product = dep.get_product %>
					<div class="dependency" >
						<% if dep.prod_key.nil? %>
							<%= render :partial => "/user/projects/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
						<% elsif dep.outdated %>
							<%= render :partial => "/user/projects/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
						<% else %>	
							<%= render :partial => "/user/projects/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
						<% end %>					
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<% if !@project.project_type.eql?("PIP") %>
		<div id="canvas-demo-container"></div>
		<div style="text-align: center; display: none" id="infoBox">
			<h3 style="text-align: center;" >
				This project has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive dependencies
			</h3>
		</div>
		<script type="text/javascript">
			function render_wheel_demo(){
				canvas_container = document.getElementById("canvas-demo-container")
				if (canvas_container){
					var wheel = new DependencyWheel.Remote(false, canvas_container, { 
						url: '/services/<%= @project.id %>/recursive_dependencies.json',
						width: "800", 
						height: "800",
						infoBox: "infoBox",
						infoNumber: "runtime_recursive_number",
						canvas_id: "canvas",
						canvas_hover_id: "canvas_hover",
						product_key: "UNKNOWN", 
						product_version: "UNKNOWN",
						product_name: "demo", 
						version: "UNKNOWN",
						data_border: 70,
						show_label: false,
						resize: false,
						scope: "runtime",
						container_id: "canvas-demo-container",
						pinit: false,
						onItemClick: function(item, event){
							key = item.id; 
							key = key.replace(/\//g, "--");
							key = key.replace(/\./g, "~" );
							version = item.version;
							version = version.replace(/\//g, "--");
							version = version.replace(/\./g, "~" );
							window.location.href = "/package/" + key + "/version/" + version;
						}
					} );	
				}
			}	
		</script>
	<% end %>
	<div style="width: 333px; margin-right: auto; margin-left: auto;">
		<ul class="list-row" >
			<li class="list-cell share-on-icon">
				<a href="https://twitter.com/share" 
				   class="twitter-share-button" 
				   data-url="<%= Settings.server_url %>/services/<%= @project_id %>" 
				   data-text="Check out my project @VersionEye " 
				   data-count="horizontal" >Twitter</a>
			</li>
			<li class="list-cell share-on-icon">
				<iframe src="https://www.facebook.com/plugins/like.php?href=<%=Settings.server_url%>/services/<%=@project_id%>&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=25" style="border:none; width:100px; height:25px" allowTransparency="true" scrolling="no" frameborder="0"></iframe>
			</li>
			<li class="list-cell share-on-icon" >
				<div class="g-plusone" data-annotation="bubble" data-size="medium" data-href="<%= Settings.server_url %>/services/<%= @project_id %>" style="width: 90px;"></div>
			</li>
		</ul>
	</div>

	<div style="text-align: center; padding-top: 30px;">
		<%= render 'services/subscription' %>
	</div>

<% end %>