
<% if @project %> 
	<div class="content" style="margin-left: 115px;">
		<h2 style="padding-bottom: 10px;">
			<span class=""><%= @project.dep_number %> Dependencies, <span style="color: <%= outdated_color(@project) %>" ><%= @project.out_number %></span> Outdated</span>
		</h2>
		<div class="dependencies" id="dependencies" >
			<% if !@project.fetch_dependencies.nil? %>
				<% @project.dependencies.each do |dep| %>
					<% product = dep.get_product %>
					<div class="dependency" >
						<% if dep.prod_key.nil? %>
							<%= render :partial => "/user/projects/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
						<% elsif dep.outdated %>
							<%= render :partial => "/user/projects/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
						<% else %>	
							<%= render :partial => "/user/projects/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
						<% end %>					
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>