<% title 'File Upload' %>

<% if @project %>

      <div style = "margin-top: 20px; margin-left: 104px; width: 675px;" >

        <ul class = "nav nav-tabs" style="margin-bottom: 0" id="projectTabs">
          <li class = "active">
            <a href = "#dependencies_tab" data-toggle="tab">Dependencies</a>
          </li>
          <li>
            <a href = "#licenses_tab" data-toggle="tab">Licenses</a>
          </li>
        </ul>

        <div class="tab-content" style="width: 100%;" >
          <div id="dependencies_tab" class="tab-pane active" style="width: 617px;" onclick="page_view('ga_lp_file_upload_dependencies')" >

            <% if @project.dependencies && @project.dependencies.size > 0 %>
              <% deps = @project.dependencies.sort { |a, b| b.outdated.to_s <=> a.outdated.to_s } %>
              <div id="dependencies" class="tab-pane active" style="width: 617px;" >
                <%= render partial: "user/projects/project_dependency_table", locals: {deps: deps} %>
              </div>
            <% else %>
              We couldn't find any dependencies.
            <% end %>

          </div>

          <div id="licenses_tab" class="tab-pane" onclick="page_view('ga_lp_file_upload_licenses')">
            <% products = Array.new %>
            <% deps.each do |dep| %>
              <% product = dep.find_or_init_product %>
              <% product.version = dep.version_requested %>
              <% products << product %>
            <% end %>
            <%= render :partial => "shared/product_license_table", :locals => {:products => products, :width => "670"} %>
          </div>

          <script>
            $(function () {
              $('#projectTabs a:first').tab('show');
            });
          </script>
        </div>
      </div>


  <% if !@project.project_type.eql?( Project::A_TYPE_PIP ) %>
    <div id="canvas-demo-container" style="display: inline-block;"></div>
    <div style="text-align: center; display: none; width: 100%;" id="infoBox">
      <h5 style="text-align: center;" >
        This project has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive dependencies
      </h5>
    </div>
    <script type="text/javascript">
      function render_wheel_demo(){
        canvas_container = document.getElementById("canvas-demo-container");
        if (canvas_container){
          var wheel = new DependencyWheel.Remote(false, canvas_container, {
            url: '/services/<%= @project.id %>/recursive_dependencies.json',
            width: "900",
            height: "900",
            infoBox: "infoBox",
            infoNumber: "runtime_recursive_number",
            canvas_id: "canvas",
            canvas_hover_id: "canvas_hover",
            product_key: "UNKNOWN",
            product_version: "UNKNOWN",
            product_name: "demo",
            version: "UNKNOWN",
            data_border: 80,
            show_label: false,
            resize: false,
            scope: "runtime",
            container_id: "canvas-demo-container",
            pinit: false,
            onItemClick: function(item, event){
              key = item.id;
              key = key.replace(/\//g, ":");
              version = item.version;
              version = version.replace(/\//g, ":");
              window.location.href = "/<%= @project.language.downcase %>/" + key + "/" + version;
            }
          } );
        }
      }
    </script>
  <% end %>

  <div style="width: 300px; margin-right: auto; margin-left: auto; text-align: center">
    <ul class="list-social " >
      <li class="list-cell share-on-icon">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-url="<%= Settings.instance.server_url %>/services/<%= @project.id %>"
           data-text="Check out my project @VersionEye "
           data-count="horizontal" >Twitter</a>
           <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li class="list-cell share-on-icon" >
        <div class="g-plusone" data-annotation="bubble" data-size="medium" data-href="<%= Settings.instance.server_url %>/services/<%= @project.id %>" style="width: 90px;"></div>
      </li>
    </ul>
  </div>

  <hr/>

  <div style="padding-top: 30px;">
    <div class="marketing" >
      <h2 class="casual">Be smart and automate</h2>
      <p>VersionEye can monitor your project on GitHub and notify you about out-dated dependencies.</p>
      <a href='<%= Settings.instance.github_base_url %>/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd' onclick="page_view('ga_lp_file_upload_login_with_github')" >
        <span class="btn btn-large btn-primary">Login with GitHub</span>
      </a>
    </div>

  </div>

  <script>
    $(function () {
      $('depTabs a:first').tab('show');
    });
  </script>

<% end %>
