
<div class="col-md-3 navbar_container" >
  <%= render 'organisations/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Component Whitelists
  </div>

  <div class="content" >

    <%= render partial: 'explain' %>

    <p>
      </br>
      <%= form_for(:component_whitelist, :url => organisation_component_whitelists_path, :html => {:class => 'form-inline'} ) do |f|  %>
        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :id => "name", :class => "form-control" %>
          <button id="sign_in_button" type="submit" class="btn btn-big btn-primary" >Create New Whitelist</button>
        </div>
      <% end %>
      <script type="text/javascript">
        $( "#name" ).keyup(function(e) {
          if( !/^[a-zA-Z0-9_-]*$/g.test(this.value) ){
            this.value = this.value.replace(' ', '-')
            alert("Special characters are not allowed as input. Please use letters and numbers only.")
          }
        });
      </script>
    </p>

    <br/>
    <br/>

    <table>
      <colgroup>
        <col width="75px;"j />
        <col width="120px;"j />
        <col width="*" />
      </colgroup>

      <% @whitelists.each do |wlist| %>
        <% if !wlist.name.to_s.empty? %>

          <tr>
            <td>
              <%= form_tag( destroy_organisation_component_whitelist_path(@organisation, wlist) , :method => "post", :style => 'margin: 0;') do  %>
                <input id="name" name="name" type="hidden" value="<%= wlist.name.to_s %>" />
                <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
              <% end %>
            </td>
            <td>
              <% if wlist.default == false %>
                <%= form_tag( default_organisation_component_whitelist_path(@organisation.name, :id => wlist.name.to_s) , :method => "post", :style => 'margin: 0;') do %>
                  <button type="submit" class="btn btn-success" >Make Default</button>
                <% end %>
              <% else %>
                <span class="label label-success" >DEFAULT</span>
              <% end %>
            </td>
            <td>
              <%= link_to wlist.name, organisation_component_whitelist_path(@organisation, wlist) %>
            </td>
          </tr>

        <% end %>
      <% end %>

    </table>

  </div>

</div>
