
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    License Whitelist <b>"<%= @license_whitelist %>"</b>
  </div>

  <div class="span8 content" >

    <%= form_tag(settings_license_whitelists_add_path(:list => @license_whitelist.name), :class => 'form-horizontal') do %>

      <div class="input-append">
        <input id="license_name" name="license_name" class="span6 input" type="text" autocomplete="off" />
        <button class="btn btn-primary" onclick="preventSubmit('license_name', 'License Name')" type="submit" >
          Add License
        </button>
      </div>

    <% end %>

    <br/>
    <br/>

    <table class="table table-hover" >
      <colgroup>
        <col width="80px;"j />
        <col width="*" />
      </colgroup>
      <tbody>
        <% @license_whitelist.license_elements.each do |license| %>
          <% if !license.name.to_s.empty? %>
            <%= form_tag( settings_license_whitelists_remove_path(:list => @license_whitelist.name), :method => "post") do  %>
            <tr >
              <td >
                <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
              </td>
              <td>
                <input id="name" name="name" type="hidden" value="<%= license.name.to_s %>" />
                <%= license.name_substitute %>
              </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>

<script>
  jQuery(document).ready(function(){
    console.debug("License autocomplete is initialized.");

    jQuery("input#license_name").typeahead({
      name: "contacts",
      remote: {
        url: "/settings/license_whitelists/autocomplete?term=%QUERY"
      },
      engine: Hogan,
      template: [
        '<div>',
          '<p>',
            '<i class="icon-male">&nbsp;</i>',
            '<strong>{{ license_name }}</strong> ( {{ identifier }} )',
          '</p>',
        '</div>'
      ].join('')
    });
  });
</script>

