  <div class="marketing" >
    <h2 class="no_margin">Sign in with Email</h2>
    <p> Get access to your projects </p>
  </div>
  <%= form_for(:session, :url => sessions_path, :html => {:class => 'form-horizontal'} ) do |f|  %>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => "round" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :class => "round" %><br/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls" style="">
        <%= link_to "I forgot my password", iforgotmypassword_path %> | <%= link_to "Sign Up", signup_path %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button id="sign_in_button" type="submit" class="btn btn-large" >Sign in</button>
      </div>
    </div>
  <% end %>
