
<% display_login = 'none'  if Settings.instance.show_login_form == false %>
<% display_login = 'block' if Settings.instance.show_login_form == true  %>
<% display_link  = 'none'  if Settings.instance.show_login_form == true  %>
<% display_link  = 'block' if Settings.instance.show_login_form == false %>

<div id="login_form" style="display: <%= display_login %>">
  <div class="marketing" >
    <h2 class="no_margin">Sign in with Email</h2>
    <p> Get access to your projects </p>
  </div>
  <%= form_for(:session, :url => sessions_path, :html => {:class => 'form-horizontal'} ) do |f|  %>
    <div class="form-group">
      <%= f.label :email, "Email or user", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => "round form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :class => "round  form-control" %><br/>
      </div>
    </div>
    <div class="form-group">
      <div class="controls" style="">
        <%= link_to "I forgot my password", iforgotmypassword_path %>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <button id="sign_in_button" type="submit" class="btn btn-large btn-primary" >Sign in</button>
      </div>
    </div>
  <% end %>
</div>

<div id="login_link" style="padding-top: 150px; display: <%= display_link %>" >
  <a href="#" onClick="show_login_form()">Show login form</a>
</div>

<script type="text/javascript">
  function show_login_form(){
    jQuery("#login_form").css('display', 'block');
    jQuery("#login_link").css('display', 'none');
    return false;
  }
</script>
