<% title "Log in" %>

<div class="span6">
	<div class = "">
		<h3> Login with username </h3>
		<p> Get access to your projects </p>
	</div>
	<%= form_for(:session, :url => sessions_path, :html => {:class => "form-horizontal"} ) do |f|  %>

	    <div class="control-group">
	      <%= f.label :email, :class => "control-label" %>
	      <div class="controls">
	        <%= f.text_field :email, :class => "round" %>
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :password, :class => "control-label" %>
	      <div class="controls">
	        <%= f.password_field :password, :class => "round" %><br/>
	      </div>
	    </div>
		<div class="control-group">
	      <div class="controls" style="">
	        <%= link_to "I forgot my password", iforgotmypassword_path %>
	      </div>
	    </div>
	    <div class="control-group">
	      <div class="controls">
	        <button type="submit" class="btn2 btn2-big" >Sign In</button>
	      </div>
	    </div>
	<% end %>
</div>
<div class="span5">
	<div class = "well transparent" style = "text-align: center">
		<div style = "margin-top: -40px;">
			<span class  = "icon_profile48 rounded"></span>
		</div>
		<h2>Got social media? </h2>
		<p>Login with your social media account below.</p>
		<div>
			<div><%= render 'shared/login_with_github' %></div>
			<div><%= render 'shared/login_with_twitter' %></div>
			<div><%= render 'shared/login_with_facebook' %></div>
		</div>

	</div>
</div>