
<% user = nil %>
<% user = collaborator.user if collaborator[:active] %>

<div class = "media-body">
  <div class = "row-fluid">
    <div class = "span1">
      <%= render partial: 'shared/gravatar', locals: {size: 48, show_link: false, user: user, classes: 'centered'} %>
    </div>
    <div class="span8">
      <% if user %>
        <p>
          <strong> <%= user[:fullname] %></strong>
          <small>(<%= user[:username] %>)</small>
          added <%= time_ago_in_words(collaborator[:created_at]) %> ago.
        </p>
      <% else %>
        <p>
          User with email(<small> <%= collaborator[:invitation_email] %> </small>) dont exist. Please invite him/her!
        <p>
      <% end %>
    </div>
    <div class = "span3">
      <%  if collaborator.owner?(current_user)  %>
        <%= render partial: 'user/projects/helpers/collaborator_owner_controls', locals: {collaborator: collaborator} %>
      <% elsif collaborator.current?(current_user) %>
        <%= render partial: 'user/projects/helpers/collaborator_controls', locals: {collaborator: collaborator} %>
      <% end %>

    </div>
  </div>
</div>

