
<h1>New Project</h1>

<div class="info-text">
	Create a new project. VersionEye 
	will show you which of your dependencies are outdated. <br/>
	<br/>
	<b>The file upload can take a couple of seconds. Please be patient.</b>
</div>

<div class="formCel">
	<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
	    <div class="div-row">
	      <div class="labelCel">
	        <%= f.label :name %>
	      </div>
	      <div class="inputCel">
	        <%= f.text_field :name, :class => "round" %>
	      </div>
	    </div>
		<div class="div-row">
	      <div class="labelCel" style="vertical-align: top; padding-top: 5px;">
	        <label>File</label>
	      </div>
	      <div class="inputCel">
			<div style="padding-top:10px; padding-bottom: 10px;">Supported files are pom.xml, Gemfile, requirements.txt and package.json.</div>
			<div id="tabs" style="width: 490px;">
				<ul>
					<li><a href="#tabs-upload">Upload</a></li>
					<li><a href="#tabs-url">URL</a></li>
					<li><a href="#tabs-github">GitHub</a></li>
				</ul>
				<div id="tabs-upload">
					<%= file_field 'upload', 'datafile', :class => "round" %>
				</div>
				<div id="tabs-url">
					<%= f.text_field :url, :class => "round", :style => "width: 430px;" %>
				</div>
				<div id="tabs-github">
					<% if current_user.github_token.nil? %>
						<%= render 'shared/login_with_github' %>
					<% else %>
						<div id="fetchLinkArea" style="display: block">
							<a href="javascript: void(0);" onclick="fetchGitHubProjects()" >Fetch List from GitHub</a>
						</div>
						<div id="loadingbarArea" style="display: none"> 
							<%= image_tag("loadingbar.gif") %>	
						</div>
						<div id="projectListArea" class="div-cell" style="display: none">
							<select id="github_projects" name="github_project" ></select>
						</div>
					<% end %>
				</div>
			</div>			
	      </div>
	    </div>
		<div class="div-row">
	      <div class="labelCel"></div>
	      <div class="submitCel" style="padding-top: 20px;">
	        <%= f.submit "Create", :class => "button" %>
	      </div>
	    </div>
	<% end %>
</div>