<div class="boxHeader">
	New Project
</div>
<div class="boxContainer" >
	
	Create a new project and VersionEye will show you the outdated dependencies.<br/>
	<br/>
	<b>The file upload can take a couple of seconds. Please be patient.</b>
	
</div>

<div class="formCel" style="margin-top: 0px;">
	<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
		<div class="div-row" >
			<div style="padding-bottom: 10px;">
				Supported files are <b>pom.xml</b>, <b>Gemfile</b>, <b>requirements.txt</b>, <b>package.json</b> and <b>composer.json</b>.
			</div>
			<div id="tabs" style="width: 490px;">
				<ul>
					<li><a href="#tabs-upload">Upload</a></li>
					<li><a href="#tabs-url">URL</a></li>
					<li><a href="#tabs-github">GitHub</a></li>
				</ul>
				<div id="tabs-upload">
					<%= file_field 'upload', 'datafile', :class => "round" %>
				</div>
				<div id="tabs-url">
					<%= f.text_field :url, :class => "round", :style => "width: 430px;" %>
				</div>
				<div id="tabs-github">
					<% if current_user.github_token.nil? %>
						<%= render 'shared/login_with_github' %>
					<% else %>
						<div id="fetchLinkArea" style="display: block">
							<a href="javascript: void(0);" onclick="fetchGitHubProjects()" >Fetch List from GitHub</a>
						</div>
						<div id="loadingbarArea" style="display: none"> 
							<%= image_tag("loadingbar.gif") %>	
						</div>
						<div id="projectListArea" class="div-cell" style="display: none">
							<select id="github_projects" name="github_project" ></select>
						</div>
						<div id="gitHubLogin" class="div-cell" style="display: none">
							<%= render 'shared/login_with_github' %>
						</div>
					<% end %>
				</div>
			</div>
	    </div>
		<div class="div-row" >
			<div style="padding-top: 10px;">
				<button type="submit" class="btn btn-large btn-primary" >Create</button>
			</div>
	    </div>
	<% end %>
</div>