
<% if !@child.language.to_s.eql?(Product::A_LANGUAGE_PYTHON) && !@child.language.to_s.eql?(Product::A_LANGUAGE_R) %>
  <div style="padding-top: 7px;">
    <%= link_to "Visual Dependencies", visual_user_project_path( @child ) %>
  </div>
<% end %>
<% if defined?(display_charts) && display_charts == true %>
  <%= render partial: "dep_pie_chart", locals: {deps: @child.dependencies } %>
<% end %>
<%= render partial: "dep_licenses_grouped", locals: {display_grouping: display_grouping } %>
<%= render partial: "dep_licenses_chart", locals: {display_grouping: display_grouping } %>

<% if @summary.nil? && !@child.dependencies.empty? &&
    ( subproject_name( @child ).match(/\.lock$/).nil? ) &&
    ( subproject_name( @child ).match(/\AGemfile\z/i).nil? ) &&
    ( subproject_name( @child ).match(/\Apom.xml\z/i).nil? ) &&
    ( subproject_name( @child ).match(/\Acomposer.json\z/i).nil? ) %>
  <div id="trans_deps" style="margin-top: 15px;">
    <h3>Licenses of transitive dependencies</h3>
    <form id="trans_dep_form" action="<%= transitive_dependencies_user_project_path(@child) %>" data-remote="true" method="post" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input hidden="true" name="id" value="<%= @child.id.to_s %>" />
      <button type="submit" class="btn btn-primary"
        onclick="document.getElementById('progress_bar').style.display='block';
                 document.getElementById('trans_dep_form').style.display='none'; " >Show licenses for transitive dependencies</button>
    </form>
    <div id="progress_bar" style="display: none">
      <%= image_tag "loadingbar.gif" %>
    </div>
  </div>
<% end %>
