
  <div style="margin-top: 20px;" id="settings_area">
    <form action="<%= save_period_user_project_path(@project) %>" method="post" class="form-inline" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div>
        How often do you want us to check your project's dependencies? We will send you an email notification whenever we check your dependencies.
      </div>
      <div class="form-group">
        <select name="period" class="form-control" >
          <option value="<%= Project::A_PERIOD_DAILY %>"   <%= "selected" if @project.period == Project::A_PERIOD_DAILY   %> >Daily</option>
          <option value="<%= Project::A_PERIOD_WEEKLY %>"  <%= "selected" if @project.period == Project::A_PERIOD_WEEKLY  %> >Weekly</option>
          <option value="<%= Project::A_PERIOD_MONTHLY %>" <%= "selected" if @project.period == Project::A_PERIOD_MONTHLY %> >Monthly</option>
          <option value="NEVER" <%= "selected" if @project.period == 'NEVER' %> >Never</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" >Save</button>
    </form>
    <br/>

    <form action="<%= save_visibility_user_project_path(@project) %>" method="post" class="form-inline" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div>
        All projects are public by default. Everybody who knows the URL to the project can see the dependencies and the licenses of the project.
        By setting it to private only you and your collaborators can see this project!
      </div>
      <div class="form-group">
        <select name="visibility" class="form-control" >
          <option value="private"  <%= "selected" if !@project.public %> >Private</option>
          <option value="public"   <%= "selected" if  @project.public %> >Public</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" >Save</button>
    </form>
    <br/>

    <form action="<%= save_notify_after_api_update_user_project_path(@project) %>" method="post" class="form-inline" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div>
        Do you want receive email notifications whenever the dependency file for this project changes?
        This might happen through the VersionEye API, GitHub or Maven integration.
      </div>
      <div class="form-group" class="form-control" >
        <select name="notify" class="form-control" >
          <option value="notify"  <%= @project.notify_after_api_update.to_s.eql?('true')  ? 'selected' : '' %> >Notify after update via API</option>
          <option value="silent"  <%= @project.notify_after_api_update.to_s.eql?('false') ? 'selected' : '' %> >Stay silent</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" >Save</button>
    </form>
    <br/>

    <% if @project.parent_id.nil? && @project.children.empty? %>
      <% projects_to_merge_in = merge_to_projects(@project) %>
      <% if projects_to_merge_in && !projects_to_merge_in.empty? %>
        <form action="<%= merge_user_project_path( @project ) %>" method="post" class="form-inline" >
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <div>
            Merge this project as subproject into another project.
          </div>
          <div class="form-group">
            <select name="parent" class="form-control" >
              <% merge_to_projects(@project).each do |project| %>
                <option value="<%= project.id %>" >
                  <% if project.has_kids == 1 %>
                    parent:
                  <% end %>
                  <%= project.name %>
                </option>
              <% end %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" >Merge</button>
        </form>
        <br/>
      <% end %>
    <% end %>

    <% if project_member?( @project, current_user ) %>
      <%= render "user/projects/helpers/license_whitelist_picker" %>
      <%= render "user/projects/helpers/component_whitelist_picker" %>
    <% end %>

  </div>

  <% auditlogs = @project.auditlogs %>
  <% if !auditlogs.nil? && !auditlogs.empty? %>
    <div style="margin-top: 30px;" >
      <h2>Auditlogs</h2>
      <% @project.auditlogs.each do |audit| %>
        <%= render :partial => 'shared/auditlog', :locals => {:audit => audit} %>
      <% end %>
    </div>
  <% end %>
