
<% if current_user?(@project.user) %>
  <div style="margin-top: 20px;" id="settings_area">
    <form action="<%= save_period_user_project_path(@project) %>" method="post" class="form-horizontal" >
      <div>
        Choose how frequently this project should be checked. After every check we will send out email notifications.
      </div>
      <div class="control-group">

        <div class="controls" style="margin-left: 0px;">
          <select name="period" >
            <option value="<%= Project::A_PERIOD_DAILY %>"   <%= "selected" if @project.period == Project::A_PERIOD_DAILY   %> >Daily</option>
            <option value="<%= Project::A_PERIOD_WEEKLY %>"  <%= "selected" if @project.period == Project::A_PERIOD_WEEKLY  %> >Weekly</option>
            <option value="<%= Project::A_PERIOD_MONTHLY %>" <%= "selected" if @project.period == Project::A_PERIOD_MONTHLY %> >Monthly</option>
          </select> <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </form>

    <form action="<%= save_email_user_project_path(@project) %>" method="post" class="form-horizontal" >
      <div>
        Choose the email address we should send the notifications to.
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left: 0px;">
          <select name="email" >
            <option value="<%= current_user.email %>"  <%= "selected" if @project.email == current_user.email %> ><%= current_user.email %></option>
            <% current_user.emails_verified.each do |user_email| %>
              <option value="<%= user_email.email %>" <%= "selected" if @project.email == user_email.email %> ><%= user_email.email %></option>
            <% end %>
          </select> <button type="submit" class="btn btn-primary" >Save</button> <button type="button" onclick="window.location.href='/settings/emails'" class="btn btn-success" >Add E-Mail</button>
        </div>
      </div>
    </form>

    <form action="<%= save_visibility_user_project_path(@project) %>" method="post" class="form-horizontal" >
      <div>
        By default all projects are private, so that only you and your collaborators can see it.
        If you make it public you can share the link to this project and everybody can
        see the dependencies and licenses of this project.
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left: 0px;">
          <select name="visibility" >
            <option value="private"  <%= "selected" if !@project.public %> >Private</option>
            <option value="public"   <%= "selected" if @project.public %> >Public</option>
          </select> <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </form>

    <form action="<%= save_notify_after_api_update_user_project_path(@project) %>" method="post" class="form-horizontal" >
      <div>
        Choose if you want to get an email notification after this project was updated through our API. That
        is for example the case if you use the VersionEye GitHub Hook or our Maven Plugin.
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left: 0px;">
          <select name="notify" >
            <option value="<%= Project::A_NOTIFY_AFTER_API_UPDATE_NOTIFY %>"  <%= @project.notify_after_api_update.to_s.eql?('true')  ? 'selected' : '' %> >Notify after update via API</option>
            <option value="<%= Project::A_NOTIFY_AFTER_API_UPDATE_SILENT %>"  <%= @project.notify_after_api_update.to_s.eql?('false') ? 'selected' : '' %> >Stay silent</option>
          </select> <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </form>

  </div>
<% else %>
  <% collaboration = @project.collaborator( current_user ) %>
  <% if !collaboration.nil? %>
    <%= render :partial => "/user/collaborations/helpers/project_settings", :locals => { :collaboration => collaboration } %>
  <% end %>
<% end %>


