
  <div style="margin-top: 20px;" id="settings_area">

    <form action="<%= save_visibility_user_project_path(@project) %>" method="post" class="form-inline" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div>
        Visibility of the project
      </div>
      <div class="form-group">
        <select name="visibility" class="form-control" >
          <option value="private"  <%= "selected" if !@project.public %> >Only visible to project collaborators</option>
          <option value="public"   <%= "selected" if  @project.public %> >Visible to everybody who knows the project URL</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" >Save</button>
    </form>
    <br/>

    <% if @project.parent_id.nil? && @project.children.empty? %>
      <% projects_to_merge_in = merge_to_projects(@project) %>
      <% if projects_to_merge_in && !projects_to_merge_in.empty? %>
        <form action="<%= merge_user_project_path( @project ) %>" method="post" class="form-inline" >
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
          <div>
            Merge this project as subproject into another project.
          </div>
          <div class="form-group">
            <select name="parent" class="form-control" >
              <% projects_to_merge_in.each do |project| %>
                <option value="<%= project.id %>" >
                  <% if project.has_kids == 1 %>
                    parent:
                  <% end %>
                  <%= project.name %>
                </option>
              <% end %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" >Merge</button>
        </form>
        <br/>
      <% end %>
    <% end %>

    <% if project_member?( @project, current_user ) %>
      <%= render "user/projects/helpers/license_whitelist_picker" %>
      <%= render "user/projects/helpers/component_whitelist_picker" %>
    <% end %>

    <% if @project.user && @project.user.ids.eql?(current_user.ids) && @orgas && !@orgas.empty? %>
      <form action="<%= transfer_user_project_path(@project) %>" method="post" class="form-inline" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div>
          Transfer ownership to an organisation.
        </div>
        <div class="form-group" class="form-control" >
          <select name="orga_id" class="form-control" >
            <% @orgas.each do |orga| %>
              <option value="<%= orga.ids %>" ><%= orga.name %></option>
            <% end %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" >Transfer</button>
      </form>
      <br/>
    <% end %>

    <% if @project.organisation && OrganisationService.allowed_to_assign_teams?( @project.organisation, current_user ) %>
      <form action="<%= team_user_project_path(@project) %>" method="post" class="form-inline" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div>
          Assign one or multiple teams to this project and the team members will receive notifications.
        </div>
        <div class="form-group" class="form-control" >
          <select name="team_names[]" multiple="multiple" size=5 class="form-control" >
            <% @project.organisation.teams.each do |team| %>
              <option value="<%= team.name %>" <%= !@project.teams.empty? && @project.teams.map(&:name).include?(team.name) ? 'selected' : '' %> ><%= team.name %></option>
            <% end %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" >Assign</button>
      </form>
    <% end %>

  </div>

  <% auditlogs = @project.auditlogs %>
  <% if !auditlogs.nil? && !auditlogs.empty? %>
    <div style="margin-top: 30px;" >
      <h2>Auditlogs</h2>
      <% @project.auditlogs.each do |audit| %>
        <%= render :partial => 'shared/auditlog', :locals => {:audit => audit} %>
      <% end %>
    </div>
  <% end %>
