<ul class="list-row" >
	<li class="list-cell cell_icon">
		<%= render :partial => "/shared/language_icons", :locals => {:language => product.language, :icon => product.icon, :link => product_url(product), :title => product.name } %>
	</li>
	<li class="list-cell">		
		<a href="<%= product_url(product) %>" class="searchResultLink"><%= product.name %></a><br/>
		<ul class="list-row">
			<il class="list-cell">
				<span class="meta-text">Your Version: <%= dep.comperator_lbl %> <%= dep.version_lbl %> --> Current Version: <span class="current-version-text"><%= product.version %></span></span>
			</il>
		</ul>
	</li>
</ul>