<% title 'Projects' %>

<div class="col-md-9">

  <div class="content_header_def" >
    <% if @all_projects && @all_projects.count > 0 %>
      <% pcount = 0 %>
      <% @all_projects.keys.each do |key| %>
        <% projects = @all_projects[key] %>
        <% pcount += projects.count if projects %>
      <% end %>
      VersionEye is watching <b><%= pluralize( pcount, "Project" ) %></b> for you.
    <% else %>
      VersionEye is watching <b><%= pluralize( @projects.size, "Project" ) %></b> for you.
    <% end %>
  </div>

  <div class="content" >

    <div id='projects_filter' >
      <form id="form" action="/user/projects" method="GET" class='form-inline' style="padding: 0; margin:0;" >
        <div class="form-group" style="padding-bottom: 25px;">
          <% orgas = OrganisationService.index(current_user) %>
          <% if orgas && !orgas.empty? %>
            <select name="organisation"  id="organisation" class="form-control" >
              <option value=""  ><%= current_user.fullname %></option>
              <% OrganisationService.index(current_user).each do |orga| %>
                <option value="<%= orga.ids %>" <%= "selected" if params[:organisation].to_s.eql?(orga.ids) %> ><%= orga.name %></option>
              <% end %>
            </select>
          <% end %>
          <%= text_field_tag :name, params[:name], :id => "name", :class => 'form-control', :placeholder => 'project name' %>
          <select name="language"  id="language" class="form-control" >
            <option value="ALL"  >ALL</option>
            <% LanguageService.distinct_languages.sort.each do |language| %>
              <option value="<%= language %>" <%= "selected" if params[:language].to_s.eql?(language) %> ><%= language %></option>
            <% end %>
          </select>
          <% if current_user.admin == true %>
            <select name="scope"  id="scope" class="form-control" >
              <option value="user"  >My own projects</option>
              <option value="all_public" <%= 'selected' if params[:scope].to_s.eql?('all_public') %> >All public projects</option>
              <% if current_user.admin == true %>
                <option value="all" <%= 'selected' if params[:scope].to_s.eql?('all') %> >All projects</option>
              <% end %>
            </select>
          <% end %>
          <button type="submit" class="btn btn-primary" >Filter</button>
        </div>
      </form>
    </div>

    <% if @all_projects && @all_projects.count > 0 %>
      <% @all_projects.keys.each do |key| %>
        <% orga = key.split("/")[0] %>
        <% team = key.split("/")[1] %>
        <% projects = @all_projects[key] %>
        <h4>Projects from <%= orga %>
          <% if !team.to_s.empty? %>
            / <%= link_to team, organisation_team_path(orga, team) %>
          <% end %>
        </h4>
        <div id="projects" style="padding-bottom: 15px;" >
          <table class="table table-striped" style="width: 100%">
            <colgroup>
              <col width="35px;"j />
              <col width="*" />
              <col width="*" />
              <col width="*" />
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th>Projects</th>
                <th>Versions</th>
                <th>Licenses</th>
              </tr>
            </thead>
            <%= render partial: "/user/projects/helpers/project" , collection: projects %>
          </table>
        </div>
      <% end %>
    <% else %>
      <div id="projects" >
        <table class="table table-striped" style="width: 100%">
          <colgroup>
            <col width="35px;"j />
            <col width="*" />
            <col width="*" />
            <col width="*" />
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th><a href="/user/projects?organisation=<%=params[:organisation]%>&amp;name=<%=params[:name]%>&amp;language=<%= params[:language] %>&amp;scope=<%=params[:scope]%>&amp;sort=name">Projects</a></th>
              <th><a href="/user/projects?organisation=<%=params[:organisation]%>&amp;name=<%=params[:name]%>&amp;language=<%= params[:language] %>&amp;scope=<%=params[:scope]%>&amp;sort=out_dated">Versions</a></th>
              <th><a href="/user/projects?organisation=<%=params[:organisation]%>&amp;name=<%=params[:name]%>&amp;language=<%= params[:language] %>&amp;scope=<%=params[:scope]%>&amp;sort=license_violations">Licenses</a></th>
            </tr>
          </thead>
          <%= render partial: "/user/projects/helpers/project" , collection: @projects %>
        </table>
      </div>
    <% end %>

  </div>

</div>

<script type="text/javascript">
  function show_project_filter(){
    document.getElementById('projects_filter_link').style.display = 'none';
    document.getElementById('projects_filter').style.display = 'inline';
    return false;
  }
  function hide_project_filter(){
    document.getElementById('projects_filter_link').style.display = 'inline';
    document.getElementById('projects_filter').style.display = 'none';
    return false;
  }
</script>
