<div class="sidebar" >
	
	<%= render "/user/projects/navi" %>
	
</div>	
<div class="content">
	
	<div id = "project-title" class="boxHeader">
		<span class = "namelabel">
			<%= @project.name %>
		</span>
		<span>
			<i class = "icon-edit open-editor" 
			style = "margin-top: 4px;" title = "Change title"></i>
		</span>
	</div>
	<div class = "inline-editor" style= "display:none;">
		<%= form_tag(update_name_user_project_path(@project), :method => "post", :remote => true, :class => "form-inline") do %>
			<input type ="text" name = "name" value = "<%= @project.name %>" />
			<button class = "btn btn-primary"> Save</button>
			<button href = "#" class = "btn btn-danger close-editor" 
				data-dismiss="alert" title = "Cancel">Cancel</button>
		<% end %>
	</div>
	<script>
		jQuery(document).ready(function(){			
			jQuery("#project-title .open-editor").on("click", function(){
				jQuery(".inline-editor").css("display", "block");
				jQuery("#project-title").css("display", "none");
			});	
			
			jQuery(".close-editor").on("click", function(ev){
				console.log("Closing editor:");
				jQuery("#project-title").css("display", "block");
				jQuery(".inline-editor").css("display", "none");
				return false;
			});
		});
	</script>

	<div class="boxContainer" >
		<div style="font-size: 16px; margin-bottom: 5px;">
			<%= pluralize(@project.dep_number, "Dependency") %>, 
			<span style="color: <%= outdated_color(@project)%>; font-weight: bold;" ><%= @project.out_number %> Outdated</span>, 
			<span style="color: <%= unknown_color(@project)%>; font-weight: bold;" ><%= @project.unknown_number %> Unknown</span>
		</div>
		<div style="font-size: 16px; margin-bottom: 30px;">
			<div>
				Source: <%= @project.source %> 
				<% if @project.source.eql?("url") %>
					<span style="font-size: 12px;" >(<%= @project.url %>)</span>
				<% end %>
			</div>
			<div class="div-row">
				<div class="div-cell">
					<form action="<%= reparse_user_project_path(@project) %>" method="post" style="padding-top: 5px;">
						<button class="btn btn-success btn-mini">Re Parse Now</button>
					</form>
				</div>
				<div class="div-cell" style="padding-left: 5px;">
					<form action="<%= user_project_path(@project) %>" method="post" style="padding-top: 5px;">
						<input name="_method" type="hidden" value="delete" />
						<button class="btn btn-danger btn-mini" onClick="return confirmAction()" >Delete this project</button>
					</form>
				</div>
			</div>
		</div>
		<form action="<%= save_period_user_project_path(@project) %>" method="post" >
		<div class="div-row" >
			<div class="div-cell labelCelBig">
				<label >Check this project:</label> 	
			</div>
			<div class="div-cell inputCel" style="padding-bottom: 10px;">
				<select name="period" style="width: 150px; margin: 0px;" >
					<option value="daily"  <%= "selected" if @project.period == 'daily'  %> >Daily</option>
					<option value="weekly" <%= "selected" if @project.period == 'weekly' %> >Weekly</option>
				</select> <button type="submit" class="btn btn-primary" >Save</button>
			</div>
		</div>
		</form>
		<form action="<%= save_email_user_project_path(@project) %>" method="post" >
		<div class="div-row" >
			<div class="div-cell labelCelBig">
				<label >Use this E-Mail:</label> 	
			</div>
			<div class="div-cell inputCel">
				<select name="email" style="width: 150px; margin: 0px;" >
					<option value="<%= current_user.email %>"  <%= "selected" if @project.email == current_user.email %> ><%= current_user.email %></option>
					<% current_user.emails_verified.each do |user_email| %> 
						<option value="<%= user_email.email %>" <%= "selected" if @project.email == user_email.email %> ><%= user_email.email %></option>	
					<% end %>
				</select> <button type="submit" class="btn btn-primary" >Save</button> <button type="button" onclick="window.location.href='/settings/emails'" class="btn btn-success" >Add E-Mail</button> 
			</div>
		</div>
		</form>
	</div>
	<div class="dependencies" id="dependencies" >
		<% if !@project.fetch_dependencies.nil? %>
			<% licences = {} %>
			<% @project.dependencies.each do |dep| %>
				<% product = dep.get_product %>

				<% if product.license.nil? then key = "unknown" else key  = product.license end %>
				<% licences[key] = []  unless licences.key? key %>
				<% licences[key] << product %>
				
				<div class="dependency" >
					<% if dep.prod_key.nil? %>						
						<%= render :partial => "/user/projects/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
					<% elsif dep.outdated and dep.release != false  %>
						<%= render :partial => "/user/projects/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
					<% elsif dep.outdated and dep.release == false %>
						<%= render :partial => "/user/projects/show_known_out_pre_dep", :locals => {:product => product, :dep => dep} %>
					<% else %>	
						<%= render :partial => "/user/projects/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
					<% end %>					
				</div>
			<% end %>
		<% end %>
	</div>


	<div class="boxContainer" >
		<div class = "licences">

			<% licences.each do |licence, products| %>
			<div class = "">
				<h4><%= licence %></h4>

				<p>
					<% products.each do |product| %>
						<a href = "<%= product_url(product) %>" style= "text-decoration: none;">
							<span class = "label label-success" style = "margin-left :5px;">
								<%= product.name %>
							</span>
						</a>
					<% end %>
				</p>
			</div>
			<% end %>
		</div>
	</div>
</div>