<% if @project.nil? %>

  Project not found. Please contact the VersionEye Team.

<% else %>

  <% title "#{@project.name}" %>

  <div class="span3" >
    <%= render "/user/helpers/navi" %>
  </div>

  <div class="span8">

    <div class="row content_header_def">
      <div id="project-title">
        <span class = "namelabel" >
          <b>Name:</b> <%= @project.name %>
        </span>
        <% if current_user?(@project.user) %>
          <div class="icon-edit open-editor"
            style="width: 16px; height: 16px; margin: 0; padding: 0;
            background-image: url('/assets/glyphicons-halflings.png');
            background-position: -96px -72px; background-repeat: no-repeat;" title="Change title"></div>
        <% end %>
      </div>

      <% if current_user?(@project.user) %>

        <div class="project-inline-editor row" style="display:none;">
          <%= form_tag(update_name_user_project_path(@project), :method => "post", :remote => true, :class => "form-inline") do %>
            <input type ="text" name = "name" value = "<%= @project.name %>" />
            <button class = "btn btn-primary"> Save</button>
            <button href = "#" class = "btn btn-danger close-editor"
              data-dismiss="alert" title = "Cancel">Cancel</button>
          <% end %>
        </div>
        <script>
          jQuery(document).ready(function(){
            jQuery("#project-title .open-editor").on("click", function(){
              jQuery(".project-inline-editor").css("display", "block");
              jQuery("#project-title").css("display", "none");
            });

            jQuery(".close-editor").on("click", function(ev){
              console.log("Closing editor:");
              jQuery("#project-title").css("display", "block");
              jQuery(".project-inline-editor").css("display", "none");
              return false;
            });
          });
        </script>

      <% end %>

      <% if @project.group_id && @project.artifact_id %> 
        <div style="padding-top: 10px;">
          <span title="GroupdId / ArtifactId"><b>GA:</b></span> <%= @project.group_id %> / <%= @project.artifact_id %>
        </div>
      <% end %> 

      <% if current_user.nil? || !@project.user.id.to_s.eql?(current_user.id.to_s) %>
        <div style="padding-top: 10px;">
          <b>Created by:</b> <%= link_to @project.user.fullname, user_path(@project.user) %>
        </div>
      <% end %>

    </div>
    <div class="span8 content" >

      <div class="row" >

        <div>
          <%= render :partial => "shared/dependency_badge", :locals => { :project => @project } %>
        </div>
        <%= render :partial => "user/projects/helpers/show_description" %>
        <%= render :partial => "user/projects/helpers/show_license" %>
        <%= render :partial => "user/projects/helpers/project_numbers_sentence", :locals => { :project => @project } %><br/>
        <%= render :partial => "user/projects/helpers/project_source", :locals => { :project => @project } %>

        <% if current_user && (current_user?(@project.user) || current_user.admin == true) %>

          <div style="font-size: 16px; margin-bottom: 0px;">
            <div class="row">
              <div class="span2" style="width: 100px;" >
                <form action="<%= reparse_user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                  <button class="btn btn-success btn-mini">Re Parse Now</button>
                </form>
              </div>
              <div class="span2" style="width: 120px;" >
                <form action="<%= user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                  <input name="_method" type="hidden" value="delete" />
                  <button class="btn btn-danger btn-mini" onClick="return confirmAction()" >Delete this project</button>
                </form>
              </div>
              <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
                <div class="span2" style="width: 150px;" >
                  <button style="margin-top: 5px;" class="btn btn-mini" onClick="document.getElementById('reupload_form').style.display='block'" >ReUpload</button>
                </div>
              <% end %>
            </div>
          </div>
          <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
            <div id="reupload_form" style="display: none;" >
              <%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do  %>
                <input name="project_id" id="project_id" type="hidden" value="<%= @project._id.to_s %>" />
                <%= render '/user/helpers/stylish_fileupload' %>
                <button type="submit" class="btn btn-primary">Upload</button>
                <button class="btn" onClick="document.getElementById('reupload_form').style.display='none'; return false;">Hide</button>
              <% end %>
            </div>
          <% end %>

        <% end %>

      </div>

      <div style="margin-top: 20px;">
        <ul class="nav nav-tabs" style="margin-bottom: 0" id="projectTabs">
          <li class="active">
            <a data-target="#dependencies" data-toggle="tab" onclick="page_view('ga_project_dependencies')"><i class = "icon-puzzle-piece">&nbsp;</i>Versions</a>
          </li>
          <li>
            <a data-target="#licenses" data-toggle="tab" onclick="page_view('ga_project_licenses')"><i class = "icon-tasks">&nbsp;</i>Licenses</a>
          </li>
          <li>
            <a data-target="#security" data-toggle="tab" onclick="page_view('ga_project_security')"><i class = "icon-tasks">&nbsp;</i>Security</a>
          </li>
          <% if signed_in? && @project.user.id.to_s.eql?( current_user.id.to_s ) %>
            <li>
              <a data-target="#collaborators" data-toggle="tab" onclick="page_view('ga_project_collaborators')"><i class = "icon-group">&nbsp;</i>Collaborators</a>
            </li>
            <li>
              <a data-target="#settings" data-toggle="tab" onclick="page_view('ga_project_settings')"><i class = "icon-cogs">&nbsp;</i>Settings </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content" style="width: 100%;" >
          <div id="dependencies" class="tab-pane active" style="width: 617px;" >
            
            <%= render partial: "user/projects/helpers/show_subprojects", locals: {parent_project: @project, child_project: @child, tab_id: 'dependencies'} %>

            <% if @child.dependencies && !@child.dependencies.empty? %>
              <div class="pull-right">
                <form action="<%= followall_user_project_path(@child) %>" method="post" style="margin: 0;">
                  <button class="btn btn-success btn-mini" title="Follow all software packages in this project and receive notifications independently from this project">Follow All</button>
                </form>
              </div>
              <div>
                <% @child.scopes.each do |scope| %>
                  <% deps = @child.dependencies( scope ) %>
                  <% if deps && !deps.empty? %>
                    <% deps = deps.sort_by {|dep| dep[:status_rank] } %> 
                    <div style="padding-top: 15px;">
                      <span style="color: gray;"><%= scope %> scope</span>
                      <%= render partial: "project_dependency_table", locals: {deps: deps } %>
                    </div>
                  <% end %>
                <% end %> 
              </div>
              <% if !@child.language.to_s.eql?(Product::A_LANGUAGE_PYTHON) && !@child.language.to_s.eql?(Product::A_LANGUAGE_R) %> 
                <div style="padding-top: 7px;">
                  <%= link_to "Visual Dependencies", visual_user_project_path( @child ) %>
                </div>
              <% end %> 
              <%= render partial: "dep_pie_chart", locals: {deps: @child.dependencies } %>
            <% else %> 
              No dependencies available for <b><%= @child.name %></b>
            <% end %>
          </div>

          <div id="licenses" class="tab-pane">

            <% if signed_in? && @project.user.id.to_s.eql?( current_user.id.to_s ) %>
              <%= render "user/projects/helpers/license_whitelist_picker" %>
            <% end %>

            <%= render partial: "user/projects/helpers/show_subprojects", locals: {parent_project: @project, child_project: @child, tab_id: 'licenses'} %>

            <%= render :partial => "shared/product_license_table", :locals => {:dependencies => @child.dependencies, :width => "615", :project_id => @child.id.to_s, :license_whitelist_id => @project.license_whitelist_id, :display_charts => true} %>

            <% if ( subproject_name( @child ).match(/\.lock$/).nil? && !@child.dependencies.empty? ) %>
              <div id="trans_deps" style="margin-top: 15px;">
                <h3>Licenses of transitive dependencies</h3>
                <form id="trans_dep_form" action="<%= transitive_dependencies_user_project_path(@child) %>" data-remote="true" method="post" >
                  <input hidden="true" name="id" value="<%= @child.id.to_s %>" />
                  <button type="submit" class="btn btn-primary"
                    onclick="document.getElementById('progress_bar').style.display='block';
                             document.getElementById('trans_dep_form').style.display='none'; " >Show licenses for transitive dependencies</button>
                </form>
                <div id="progress_bar" style="display: none">
                  <%= image_tag "loadingbar.gif" %>
                </div>
              </div>
            <% end %>

          </div>

          <div id="security" class="tab-pane">

            <%= render partial: "user/projects/helpers/show_subprojects", locals: {parent_project: @project, child_project: @child, tab_id: 'licenses'} %>

            <%= render partial: "user/projects/helpers/security" %>  

          </div>

          <% if signed_in? && @project.collaborator?( current_user ) %>
            <div id="collaborators" class="tab-pane" style="min-height: 360px;">
              <%= render partial: "collaborators" %>
            </div>

            <div id="settings" class="tab-pane">
              <%=  render partial: "project_settings" %>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </div>

<script>
    jQuery('#projectTabs a').click(function (e) {
        var id = jQuery(e.target).attr("data-target").substr(1);
        window.location.hash = "tab-" + id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash.substr(5);
    jQuery('#projectTabs a[data-target="#' + hash + '"]').tab('show');
    jQuery('html, body').animate({scrollTop:0}, 'fast');
</script>

<% end %>
