<% if @project.nil? %> 

  Project not found. Please contact the VersionEye Team.

<% else %> 

  <% title "Project: #{@project.name}" %>

  <div class="span3" >
    <%= render "/user/projects/helpers/navi" %> 
  </div>

  <div class="span8">

    <div class="row content_header_def">
      <div id="project-title">
        <span class = "namelabel" >
          <%= @project.name %>
        </span>
        <% if current_user?(@project.user) %>
          <div class="icon-edit open-editor" 
            style="width: 16px; height: 16px; margin: 0; padding: 0;
            background-image: url('/assets/glyphicons-halflings.png');
            background-position: -96px -72px; background-repeat: no-repeat;" title="Change title"></div>
        <% end %> 
      </div>

      <% if current_user?(@project.user) %>

        <div class="project-inline-editor row" style="display:none;">
          <%= form_tag(update_name_user_project_path(@project), :method => "post", :remote => true, :class => "form-inline") do %>
            <input type ="text" name = "name" value = "<%= @project.name %>" />
            <button class = "btn btn-primary"> Save</button>
            <button href = "#" class = "btn btn-danger close-editor" 
              data-dismiss="alert" title = "Cancel">Cancel</button>
          <% end %>
        </div>
        <script>
          jQuery(document).ready(function(){
            jQuery("#project-title .open-editor").on("click", function(){
              jQuery(".project-inline-editor").css("display", "block");
              jQuery("#project-title").css("display", "none");
            }); 
            
            jQuery(".close-editor").on("click", function(ev){
              console.log("Closing editor:");
              jQuery("#project-title").css("display", "block");
              jQuery(".project-inline-editor").css("display", "none");
              return false;
            });
          });
        </script>

      <% end %>

    </div>
    <div class="span8 left_border content" >

      <div class="row" >

        <%= render :partial => "user/projects/helpers/show_description" %>
        <%= render :partial => "user/projects/helpers/show_license" %>

        <%= render :partial => "user/projects/helpers/project_numbers_sentence", :locals => { :project => @project } %>
        <br/>
        <%= render :partial => "user/projects/helpers/project_source", :locals => { :project => @project } %>
        
        <% if current_user?(@project.user) %>

          <div style="font-size: 16px; margin-bottom: 0px;">
            <div class="row">
              <div class="span2" style="width: 100px;" >
                <form action="<%= reparse_user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                  <button class="btn btn-success btn-mini">Re Parse Now</button>
                </form>
              </div>
              <div class="span2" style="width: 120px;" >
                <form action="<%= user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                  <input name="_method" type="hidden" value="delete" />
                  <button class="btn btn-danger btn-mini" onClick="return confirmAction()" >Delete this project</button>
                </form>
              </div>
              <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
                <div class="span2" style="width: 150px;" >
                  <button style="margin-top: 5px;" class="btn btn-mini" onClick="document.getElementById('reupload_form').style.display='block'" >ReUpload</button>
                </div>
              <% end %>
            </div>
          </div>
          <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
            <div id="reupload_form" style="display: none;" >
              <%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
                <input name="project_id" id="project_id" type="hidden" value="<%= @project._id.to_s %>" />
                <%= file_field 'upload', 'datafile', :class => "round" %>   
                <button type="submit" class="btn2 btn2-large">Upload</button>
                <button class="btn2 btn2-large" onClick="document.getElementById('reupload_form').style.display='none'; return false;">Hide</button>
              <% end %>
            </div>
          <% end %>

          <div >
            <a id="show_settings_links" 
               href="JavaScript: document.getElementById('settings_area').style.display = 'block'; 
                                 document.getElementById('show_settings_links').style.display = 'none';
                                 document.getElementById('hide_settings_links').style.display = 'block'; " >
              Show Settings
            </a>
            <a id="hide_settings_links" style="display: none;" 
               href="JavaScript: document.getElementById('settings_area').style.display = 'none'; 
                                 document.getElementById('show_settings_links').style.display = 'block';
                                 document.getElementById('hide_settings_links').style.display = 'none';" >
              Hide Settings
            </a>
          </div>
          
          <div style="display: none" id="settings_area">
            <form action="<%= save_period_user_project_path(@project) %>" method="post" class="form-horizontal" >
              <div class="control-group">
                <label class="control-label" style="width: 200px;" >Monitor it</label>  
                <div class="controls" style="margin-left: 210px;">
                  <select name="period" style="width: 150px; margin: 0px;" >
                    <option value="daily"  <%= "selected" if @project.period == 'daily'  %> >Daily</option>
                    <option value="weekly" <%= "selected" if @project.period == 'weekly' %> >Weekly</option>
                  </select> <button type="submit" class="btn2 btn2-large" >Save</button>
                </div>
              </div>
            </form>

            <form action="<%= save_email_user_project_path(@project) %>" method="post" class="form-horizontal" >
              <div class="control-group">
                <label class="control-label" style="width: 200px;" >Send notifications to</label>   
                <div class="controls" style="margin-left: 210px;">
                  <select name="email" style="width: 150px; margin: 0px;" >
                    <option value="<%= current_user.email %>"  <%= "selected" if @project.email == current_user.email %> ><%= current_user.email %></option>
                    <% current_user.emails_verified.each do |user_email| %> 
                      <option value="<%= user_email.email %>" <%= "selected" if @project.email == user_email.email %> ><%= user_email.email %></option> 
                    <% end %>
                  </select> <button type="submit" class="btn2 btn2-large" >Save</button> <button type="button" onclick="window.location.href='/settings/emails'" class="btn btn-success" >Add E-Mail</button>
                </div>
              </div>
            </form>

            <form action="<%= save_visibility_user_project_path(@project) %>" method="post" class="form-horizontal" >
              <div class="control-group">
                <label class="control-label" style="width: 200px;" >This Project is</label>  
                <div class="controls" style="margin-left: 210px;">
                  <select name="visibility" style="width: 150px; margin: 0px;" >
                    <option value="private"  <%= "selected" if @project.public == false %> >Private</option>
                    <option value="public"   <%= "selected" if @project.public == true  %> >Public</option>
                  </select> <button type="submit" class="btn2 btn2-large" >Save</button>
                </div>
              </div>
            </form>
          </div>

        <% end %>

      </div>

      <div style = "margin-top: 20px;">
        <ul class = "nav nav-tabs" style="margin-bottom: 0" id="projectTabs">
          <li class = "active">
            <a href = "#dependencies" data-toggle="tab">Dependencies</a>
          </li> 
          <li> 
            <a href = "#licenses" data-toggle="tab">Licenses</a>
          </li>
        </ul>

        <div class="tab-content" >
          <div id="dependencies" class="tab-pane active" >
            <% if !@project.fetch_dependencies.nil? %>

              <table class="dependency_table" style="width: 570px;">
                <thead>
                  <tr>
                    <th class="icon_col" ></th>
                    <th class="name_col_after_icon"></th>
                    <th class="version_col">Locked Version</th>
                    <th class="version_col">Current Version</th>
                  </tr>
                </thead>

              <% licences = {} %>
              <% @project.dependencies.each do |dep| %>
                <% product = dep.find_or_init_product %>
                <% dep.outdated? %>

                <% if product.license_info.nil? then key = "unknown" else key  = product.license_info end %>
                <% licences[key] = []  unless licences.key? key %>
                <% licences[key] << product %>
                
                <% if dep.unknown? %>     
                  <%= render :partial => "/user/projects/helpers/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
                <% elsif dep.outdated and dep.release != false  %>
                  <%= render :partial => "/user/projects/helpers/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
                <% elsif dep.outdated and dep.release == false %>
                  <%= render :partial => "/user/projects/helpers/show_known_out_pre_dep", :locals => {:product => product, :dep => dep} %>
                <% else %>  
                  <%= render :partial => "/user/projects/helpers/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
                <% end %>

              <% end %>
              </table> 

            <% end %>
          </div>

          <div id="licenses" class="tab-pane">
            <% licences = licences.sort_by {|key, vals| -vals.length} %>        
            <% licences.each do |licence, products| %>
              <div class="row search-item search_item_context" >
                <h5 class="dep_header"><%= licence %></h5>
                <p>
                  <% products.each do |product| %>
                    <a href = "<%= product_url(product) %>" style= "text-decoration: none;">
                      <span class = "label label-success" style = "margin-left :5px;">
                        <%= product.name %>
                      </span>
                    </a>
                  <% end %>
                </p>

              </div>
            <% end %>
          </div>

          <script>
            $(function () {
              $('#projectTabs a:first').tab('show');
            });
          </script>

        </div>
      </div>

    </div>

  </div>

<% end %>
