<div class="sidebar" >
	
	<%= render "/user/projects/navi" %>
	
</div>	
<div class="content">	
	
	<div class="boxHeader">
		<%= @project.name %>
	</div>
	<div class="boxContainer" >
		<div>
			<%= pluralize(@project.dep_number, "Dependency") %>, <span style="color: <%= outdated_color(@project)%>; font-weight: bold;" ><%= @project.out_number %> Outdated</span>
		</div>
		<div style="padding-top: 10px;">
			<ul class="list-row">
				<li class="list-cell">
					<form action="<%= follow_user_project_path(@project) %>" method="GET"  >
						<button class="btn btn-success btn-mini" onClick="return confirmAction()" >Follow All</button>
					</form>
				</li>
				<li class="list-cell">
					<form action="<%= unfollow_user_project_path(@project) %>" method="GET" >
						<button class="btn btn-warning btn-mini" onClick="return confirmAction()" >Unfollow All</button>
					</form>
				</li>
				<li class="list-cell">
					<form action="<%= user_project_path(@project) %>" method="post" >
						<input name="_method" type="hidden" value="delete" />
						<button class="btn btn-danger btn-mini" onClick="return confirmAction()" >Delete this project</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
	<div class="dependencies" id="dependencies" >
		<% if !@project.fetch_dependencies.nil? %>
			<% @project.dependencies.each do |dep| %>
				<% product = dep.get_product %>
				<div class="dependency" >
					<% if dep.prod_key.nil? %>
						<%= render :partial => "/user/projects/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
					<% elsif dep.outdated %>
						<%= render :partial => "/user/projects/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
					<% else %>	
						<%= render :partial => "/user/projects/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
					<% end %>					
				</div>
			<% end %>
		<% end %>
	</div>
</div>