<% if @project.nil? %>

  Project not found. Please contact the VersionEye Team.

<% else %>

  <%= render "/shared/dialog_mute" %>
  <%= render "/shared/dialog_mute_security" %>

  <div class="col-md-3 navbar_container" >
    <% if @organisation %>
      <%= render "/organisations/navi" %>
    <% end %>
  </div>

  <div class="col-md-9">

    <div class="content_header_def">
      <div id="project-title">
        <span class = "namelabel" >
          <b>Name:</b> <%= @project.name %>
          <% if !@project.version.to_s.empty? %>
            : <%= @project.version %>
          <% end %>
          (<%= @project.ids %>)
        </span>
        <% if @project.public == false %>
          <span class="fa fa-eye-slash" title="Only visible for collaborators"></span>
        <% end %>
        <% if @project.private_project == true %>
          <span class="fa fa-lock" title="Private VersionEye Project"></span>
        <% end %>
        <% if project_member?(@project, current_user) %>
          <i class="fa fa-pencil-square-o"
            style="width: 16px; height: 16px; margin: 0; padding: 0;"
            title="Change project name"></i>
        <% end %>
      </div>

      <% if project_member?( @project, current_user ) %>

        <div class="project-inline-editor" style="display:none;">
          <%= form_tag(update_name_user_project_path(@project), :method => "post", :remote => true, :class => "form-inline") do %>
            <input type="text" name="name" value="<%= @project.name %>" class="input form-control" />
            <button class="btn btn-primary"> Save</button>
            <button href="#" class="btn btn-danger close-editor"
              data-dismiss="alert" title = "Cancel">Cancel</button>
          <% end %>
        </div>
        <script>
          jQuery(document).ready(function(){
            jQuery("#project-title .fa-pencil-square-o").on("click", function(){
              jQuery(".project-inline-editor").css("display", "block");
              jQuery("#project-title").css("display", "none");
            });

            jQuery(".close-editor").on("click", function(ev){
              console.log("Closing editor:");
              jQuery("#project-title").css("display", "block");
              jQuery(".project-inline-editor").css("display", "none");
              return false;
            });
          });
        </script>

      <% end %>

      <% if @project.group_id && @project.artifact_id && @project.version.to_s.empty? %>
        <div style="padding-top: 10px;">
          <span title="GroupdId / ArtifactId"><b>GA:</b></span> <%= @project.group_id %> / <%= @project.artifact_id %>
        </div>
      <% elsif @project.group_id && @project.artifact_id && !@project.version.to_s.empty? %>
        <div style="padding-top: 10px;">
          <span title="GroupdId / ArtifactId : Version"><b>GAV:</b></span> <%= @project.group_id %> / <%= @project.artifact_id %> : <%= @project.version %>
        </div>
      <% end %>

      <% if ( @project.organisation ) %>
        <div style="padding-top: 10px;">
          <b>Organisation:</b> <%= link_to @project.organisation.name, projects_organisation_path( @project.organisation ) %>
        </div>
      <% elsif @project.user %>
        <div style="padding-top: 10px;">
          <b>Project owner:</b> <%= link_to @project.user.fullname, user_path(@project.user) %>
        </div>
      <% end %>

    </div>
    <div class="content" >

      <div >

        <% if !@child.parsing_errors.to_a.empty? %>
          <% @child.parsing_errors.each do |error| %>
            <div id="project_errors" class="flash error" style="padding-bottom: 5px; margin-bottom: 10px;" >
              <i class="fa fa-exclamation-triangle" title="Some errors occured by parsing this project."></i> <%= error %>
            </div>
          <% end %>
        <% end %>

        <div id="project_status" class="flash warn" style="padding-bottom: 5px; margin-bottom: 10px; display: none;" >
          <%= image_tag "progress.gif" %> Project is processed by a background job. This page will reload if the job is done.
        </div>
        <div id="dependencies_status" class="flash warn" style="padding-bottom: 5px; margin-bottom: 10px; display: none;" >
          <div class="row">
            <div class="col-md-1">
              <%= image_tag "progress.gif" %>
            </div>
            <div class="col-md-11">
              Meta information about the project dependencies are currently fetched from the public VersionEye API. <span id="sync_dep_info"></span>
            </div>
          </div>
        </div>

        <div>
          <%= render :partial => "shared/dependency_badge", :locals => { :project => @project } %>
        </div>
        <%= render :partial => "user/projects/helpers/show_description" %>
        <%= render :partial => "user/projects/helpers/show_license" %>
        <%= render :partial => "user/projects/helpers/project_numbers_sentence", :locals => { :project => @project, :show_license_number => true } %><br/>
        <%= render :partial => "user/projects/helpers/project_source", :locals => { :project => @project } %>

        <% if project_member?( @project, current_user ) %>

          <div style="font-size: 16px; margin-bottom: 0px;">
            <div class="row">
              <div class="col-md-2" style="width: 120px;" >
                <form action="<%= reparse_user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                  <button class="btn btn-success btn-mini">Re Parse Now</button>
                </form>
              </div>
              <% if current_user?(@project.user) || signed_in_admin? %>
                <div class="col-md-2" style="width: 150px;" >
                  <form action="<%= user_project_path(@project) %>" method="post" style="padding-top: 5px;">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                    <input name="_method" type="hidden" value="delete" />
                    <button class="btn btn-danger btn-mini" onClick="return confirmAction()" >Delete this project</button>
                  </form>
                </div>
              <% end %>
              <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
                <div class="col-md-2" style="width: 150px;" >
                  <button style="margin-top: 5px;" class="btn btn-mini" onClick="document.getElementById('reupload_form').style.display='block'" >ReUpload</button>
                </div>
              <% end %>
            </div>
          </div>
          <% if @project.source.eql?( Project::A_SOURCE_UPLOAD ) %>
            <div id="reupload_form" style="display: none; padding-top: 10px;" >
              <%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do  %>
                <input name="project_id" id="project_id" type="hidden" value="<%= @project._id.to_s %>" />
                <%= render '/user/helpers/stylish_fileupload' %>
                <button type="submit" class="btn btn-primary">Upload</button>
                <button class="btn" onClick="document.getElementById('reupload_form').style.display='none'; return false;">Hide</button>
              <% end %>
            </div>
          <% end %>

        <% end %>

        <% if jvm_project?( @project ) && !has_jvm_ve_plugin?( @project ) %>
          <div class="flash-container" style="margin-top: 12px;">
            <div class="alert flash warn">
              <button type="button" class="close" data-dismiss="alert">×</button>
              For complex JVM projects (parent pom | submodules) it's recommended to use one of this plugins: </br/>
              <ul>
                <li><a href="https://github.com/versioneye/versioneye_maven_plugin" target="VMP">VersionEye Maven Plugin</a></li>
                <li><a href="https://github.com/versioneye/versioneye_sbt_plugin"   target="VSP">VersionEye SBT Plugin</a></li>
                <li><a href="https://github.com/stempler/gradle-versioneye-plugin"  target="VGP">VersionEye Gradle Plugin</a></li>
              </ul>
            </div>
          </div>
        <% end %>

      </div>

      <div style="margin-top: 20px;">
        <ul class="nav nav-tabs" style="margin-bottom: 0" id="projectTabs">
          <li class="active">
            <a data-target="#dependencies" data-toggle="tab" onclick="page_view('ga_project_dependencies')"><i class = "fa fa-puzzle-piece">&nbsp;</i>Dependencies</a>
          </li>
          <% if security_available?( @project ) %>
            <li>
              <a data-target="#security" data-toggle="tab" onclick="page_view('ga_project_security')"><i class = "fa fa-tasks">&nbsp;</i>Security</a>
            </li>
          <% end %>
          <% if project_member?( @project, current_user ) %>
            <li>
              <a data-target="#settings" data-toggle="tab" onclick="page_view('ga_project_settings')"><i class = "fa fa-cogs">&nbsp;</i>Settings </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content" style="width: 100%;" >
          <div id="dependencies" class="tab-pane active" >

            <%= render partial: "user/projects/helpers/show_subprojects",  locals: {parent_project: @project, child_project: @child, tab_id: 'dependencies'} %>

            <%= render partial: "user/projects/helpers/show_dependencies", locals: {parent_project: @project, child_project: @child, tab_id: 'dependencies'} %>

          </div>

          <% if security_available?( @project ) %>
            <div id="security" class="tab-pane">

              <%= render partial: "user/projects/helpers/show_subprojects", locals: {parent_project: @project, child_project: @child, tab_id: 'security'} %>

              <%= render partial: "user/projects/helpers/security", locals: {tab_id: 'security'} %>

            </div>
          <% end %>

          <% if project_member?( @project, current_user ) %>
            <div id="settings" class="tab-pane">
              <%=  render partial: "project_settings" %>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </div>

<script type="text/javascript">

    jQuery('#projectTabs a').click(function (e) {
        var id = jQuery(e.target).attr("data-target").substr(1);
        window.location.hash = "tab-" + id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash.substr(5);
    jQuery('#projectTabs a[data-target="#' + hash + '"]').tab('show');
    jQuery('html, body').animate({scrollTop:0}, 'fast');

    checkInterval = 0
    showedProgressBar = false;

    function checkStatus(){
      jQuery.getJSON( "/user/projects/<%= @project.ids %>/status.text", function (data){
        console.info(" first success " + data);
      }).done(function( data ) {
        console.info(" done " + data)
      }).fail(function(data) {
        console.info(" error " + data );
      }).always(function(data) {
        console.info(" always data.responseText " + data.responseText);
        if (data.responseText === "done" || data.status === "done" ){
          console.info(" status is done" );
          clearInterval( checkInterval );
          console.info("clear interval");
          document.getElementById('project_status').style.display = "none";
          if (showedProgressBar === true){
            location.reload();
          }
        } else {
          console.info(" status is NOT done" );
          document.getElementById('project_status').style.display = "block";
          showedProgressBar = true;
        }
      });
    }

    checkInterval = setInterval(this.checkStatus, 2000);

<% if Rails.env.enterprise? %>
    checkIntervalDep = 0
    showedProgressBarDep = false;

    function checkStatusDeps(){
      jQuery.getJSON( "/user/projects/<%= @project.ids %>/dependencies_status.json", function (data){
        // console.info(" first success " + data);
      }).done(function( data ) {
        // console.info(" done " + data)
      }).fail(function(data) {
        // console.info(" error " + data );
      }).always(function(data) {
        if (typeof data.status != 'undefined') {
          if (data.status === "done" ){
            console.info(" dep status is done" );
            clearInterval( checkIntervalDep );
            console.info(" dep clear interval");
            document.getElementById('dependencies_status').style.display = "none";
            if (showedProgressBarDep === true){
              location.reload();
            }
          } else {
            console.info(" dep sync status is NOT done" );
            if (typeof data.info != 'undefined') {
              document.getElementById('dependencies_status').style.display = "block";
              document.getElementById('sync_dep_info').innerHTML = "Currently fetching meta data for " + data.info + ".";
            }
            showedProgressBarDep = true;
          }
        }
      });
    }

    checkIntervalDep = setInterval(this.checkStatusDeps, 2000);
<% end %>

</script>

<% end %>
