<div class="sidebar" >
	
	<%= render "blogs/navi" %>
	
</div>	
<div class="content">
	
	<% @blogs.each do |blog| %>
		<div class="blogpost">
			<div class="blog-subject"><a href="/blogs/show/<%= blog.title %>/<%= blog.id %>"><%= blog.subject %></a></div>
			<div class="meta-text-small">
				<%= link_to blog.user.fullname, user_path(blog.user) %> on <%= blog.created_at.strftime("%b %d, %Y - %I:%m %p") %>
			</div>
			<div class="blog-post"><%= blog.post_html %></div>	
		</div>
	<% end %>
	
</div>