<div class="sidebar" >
	
	<%= render "blogs/navi" %>
	
</div>	
<div class="content">
	
	<h1>New Blog Post</h1>
	
	<div >
		<%= form_for @blog do |b| %>
		    <div class="messages">
		        <%= render 'shared/error_messages', :object => b.object %>
		    </div>

		    <div style="display:table-row;">
		      <div class="blog-labelCel">
		        <%= b.label :subject %> 
		      </div>
		    </div>
		
			<div style="display:table-row;">
		      <div class="blog-inputCel">
		        <%= b.text_field :subject, :class => "round blog-input", :id => "subject" %>
		      </div>
		    </div>

		    <div style="display:table-row;">
		      <div class="blog-labelCel">
		        <%= b.label :post %>
		      </div>
		    </div>
		
			<div style="display:table-row;">
		      <div class="blog-inputCel">
		        <%= b.text_area :post, :class => "round blog-textarea", :id => "post" %>
		      </div>
		    </div>
		
			<div style="display:table-row;">
		      <div class="submitCel">
		        <%= b.submit "Submit", :class => "button" %>
		      </div>
		    </div>
		<% end %>
	</div>

</div>