<div class="sidebar" >
	
	<%= render "blogs/navi" %>
	
</div>	
<div class="content">
	
	<h1>My Posts</h1>
	
	<% @blogs.each do |blog| %>
	
		<div class="blogpost">
			<div class="blog-subject"><%= blog.subject %></div>
			<div class="meta-text-small">
				created at: <%= blog.created_at.strftime("%b %d, %Y - %I:%m %p") %><br/> 
				last change: <%= blog.updated_at.strftime("%b %d, %Y - %I:%m %p") %><br/>
				<% if blog.approved.nil? %>
					status: <span style="color: orange">waiting for approval</span><br/>
				<% elsif blog.approved == true %>
					status: <span style="color: green">approved</span><br/>
				<% else %>
					status: <span style="color: red">declined</span><br/>
				<% end %>
				<% if !blog.reason.nil? && !blog.reason.empty? %>
					reason: <%= blog.reason.html_safe %>
				<% end %>
			</div>
			<% if blog.approved.nil? %>
				<div>
					<%= link_to "Edit", edit_blog_path(blog) %><br/>
				</div>
			<% end %>
		</div>
	
	<% end %>

</div>