<div class="sidebar" >
	
	<%= render "blogs/navi" %>
	
</div>	
<div class="content">
	
	<h1>Unapproved Stories</h1>
	
	<% @blogs.each do |blog| %>
	
		<div class="blogpost">
			<div class="blog-subject"><%= blog.subject %></div>
			<div class="meta-text-small">
				user: <%= link_to blog.user.fullname, user_path(blog.user) %><br/>
				created at: <%= blog.created_at.strftime("%b %d, %Y - %I:%m %p") %><br/> 
				last change: <%= blog.updated_at.strftime("%b %d, %Y - %I:%m %p") %><br/>
			</div>
			<div class="blog-post round" ><%= blog.post_html %></div>
			<div>
				<%= form_tag("/blogs/#{blog.id}/approval", :method => "post") do  %>    

					<div style="display:table-row;">
				      <div class="blog-labelCel">
				        <%= label_tag("Reason") %>
				      </div>
				    </div>

					<div style="display:table-row;">
				      <div class="blog-inputCel">
				        <%= text_area_tag :reason, nil, :class => "round ", :id => "reason" %>
				      </div>
				    </div>

					<div style="display:table-row;">
				      <div class="submitCel">
				        <%= submit_tag "Approve", :class => "button" %> 
						<%= submit_tag "Decline", :class => "button" %>
				      </div>
				    </div>

				<% end %>				
				
			</div>
		</div>
	
	<% end %>

</div>