<% title 'Pricing' %>

<div class="col2-left col2-right">
  <p style="padding-top: 30px; margin-bottom: 5px; font-size: 18px;">
    VersionEye has a variety of plans to suit everyone's needs. <br/>
    All plans are available as yearly subscription as well. If you pay 1 year in advance
    you get 2 extra projects.
    <br/>
    <b>All of our SaaS plans can be cancelled or changed on a monthly base.</b>
  </p>
</div>

<div class = "col2-left col2-right row" >
  <div class="col-md-12" >
    <ul class="pricing_ul">
      <li class="pricing_head">Free</li>
      <li class="pricing_price">€ 0 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Private Projects:</span> 1</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 4</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 50</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_free', :alignment => ''  } %></li>
    </ul>
  </div>
</div>

<div class = "col2-left col2-right row">
  <div class="col-md-4" >
    <ul class="pricing_ul">
      <li class="pricing_head">Beginner</li>
      <li class="pricing_price">€ 7 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Projects:</span> 5</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 5</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 100</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_micro', :alignment => ''  } %></li>
    </ul>
  </div>
  <div class="col-md-4" style="margin-top: -10px;" id="freelancer_pricing" >
    <ul class="pricing_ul">
      <li class="pricing_head pricing_recommend">Freelancer</li>
      <li class="pricing_price pricing_recommend">€ 22 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Projects:</span> 20</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 20</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 300</li>
      <li class="pricing_feature">PDF Reports</li>
      <li class="pricing_feature">CSV Reports</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_medium', :alignment => '' } %></li>
    </ul>
  </div>
  <div class="col-md-4" >
    <ul class="pricing_ul">
      <li class="pricing_head">Advanced</li>
      <li class="pricing_price">€ 50 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature">Projects: 50</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 50</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 500</li>
      <li class="pricing_feature">PDF Reports</li>
      <li class="pricing_feature">CSV Reports</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_large', :alignment => '' } %></li>
    </ul>
  </div>
</div>

<div class = "col2-left col2-right row">
  <div class="col-md-4" >
    <ul class="pricing_ul">
      <li class="pricing_head">Professional</li>
      <li class="pricing_price">€ 100 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature">Projects: 100</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 100</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 1000</li>
      <li class="pricing_feature">PDF Reports</li>
      <li class="pricing_feature">CSV Reports</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_xlarge', :alignment => '' } %></li>
    </ul>
  </div>
  <div class="col-md-4" >
    <ul class="pricing_ul">
      <li class="pricing_head">Agency</li>
      <li class="pricing_price">€ 250 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature">Projects: 250</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 250</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 2500</li>
      <li class="pricing_feature">PDF Reports</li>
      <li class="pricing_feature">CSV Reports</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_xxlarge', :alignment => '' } %></li>
    </ul>
  </div>
  <div class="col-md-4" >
    <ul class="pricing_ul">
      <li class="pricing_head">Enterprise</li>
      <li class="pricing_price">€ 500 <span class="pricing_price_sm">/ Month</span></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Collaborators:</span> Unlimited</li>
      <li class="pricing_feature">Projects: 500</li>
      <li class="pricing_feature"><span class="pricing_light_txt">Open Source Projects:</span> 500</li>
      <li class="pricing_feature"><span class="pricing_light_txt">API Calls / Hour: </span> 5000</li>
      <li class="pricing_feature">PDF Reports</li>
      <li class="pricing_feature">CSV Reports</li>
      <li class="pricing_feature"><%= render :partial => 'plan', :locals => { :plan_id => '04_xxxlarge', :alignment => '' } %></li>
    </ul>
  </div>
</div>

<div class = "col2-left col2-right" style="padding-top: 15px;">
  <p style="margin-bottom: 30px; font-size: 18px;">
    We're offering bigger plans as well. <a href="mailto:support@versioneye.com">Contact us</a> if you are interested.
  </p>
</div>

<!-- <div class = "col2-left col2-right row" >
  <div class="col-md-12" >
    <ul class="pricing_ul">
      <li class="pricing_head">On-Premise Installation</li>
      <li class="pricing_feature"><span class="pricing_light_txt">100% privacy:</span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Self hosted behind your firewall:</span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">LDAP &amp; Active Directory integration: </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Private email server (SMTP | Microsoft Exchange): </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Atlassian Bitbucket integration: </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Atlassian Stash integration: </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">GitHub Enterprise integration: </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Unlimited Users / Collaborators:</span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">CI integration (Jenkins / Bamboo and more): </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Sofware updates are provided as new Docker images: </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt">Crawling private repositories (Maven / CocoaPods / Satis / NPM and more) : </span> <i class="fa fa-check" style="color: #2ecc71;"></i></li>
      <li class="pricing_feature"><span class="pricing_light_txt"><a style="font-size: 20px;" href="/enterprise">Learn more</a></li>
    </ul>
  </div>
</div> -->
