<div class="col-md-3" >
  <% if @organisation %>
    <%= render "/organisations/navi" %>
  <% else %>
    <% title 'Github Repositories' %>
    <%= render '/user/helpers/navi' %>
  <% end %>
</div>

<div class="col-md-9">
  <div class="content_header_def" >
    Files for repository <b><%= @repo.fullname %></b>
  </div>
  <div class="content" id="content"> . </div>
</div>
<script type="text/javascript">
  React.renderComponent(
    RepoFiles({url: "/user/projects/bitbucket/<%= @repo.fullname %>/files", scm: "bitbucket", pollInterval: 3000, repo_fullname: "<%= @repo.fullname %>" }),
    document.getElementById('content')
  );
</script>
