<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, <%= @callee[:fullname] %></p>
    <p>
      <%= @caller[:fullname] %> just added you as project collaborator of his/her project <%= @project[:name] %>.
      Now you can keep eye on his/her project, get notifications and you can even update that project file.
    </p>

    <p>
        You can check this project <a href = "<%= user_projects_url(id: @project[:_id].to_s) %>" >here</a>
    </p>
    <p>
        To change your collaboration settings, <a href = "<%= user_collaboration_url(id: @collaboration[:_id].to_s) %>" > click here.</a>
    </p>

    <p>
      Regards, <br />
      Your VersionEye Team
    </p>
  </body>
</html>