<p>
  Hey Admin Dude. A new Geek singed up!
</p>
<p>
  Fullname: <%= @user.fullname %> <br/>
  Username: <a href="http://www.versioneye.com/users/<%= @user.username %>"><%= @user.username %></a> <br/>
  GitHub ID: <%= @user.github_id %> <br/>
  BitBucket ID: <%= @user.bitbucket_id %> <br/>
  Promo Code: <%= @user.promo_code %> <br/>
</p>
