<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>VersionEye - Invoice</title>
<style type="text/css">
body {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
body, td, th, input, textarea, select, a {
  font-size: 12px;
}
p {
  margin-top: 0px;
  margin-bottom: 20px;
}
a, a:visited, a b {
  color: #378DC1;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
#container {
  width: 680px;
}
#logo {
  margin-bottom: 20px;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
table.list td {
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
  background-color: #EFEFEF;
  padding: 0px 5px;
}
table.list thead td a, .list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
table.list tbody td a {
  text-decoration: underline;
}
table.list tbody td {
  vertical-align: top;
  padding: 0px 5px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
</style>
</head>
<body>
<div id="container">
  <p>Dear <%= @user.fullname %>,<br />
	<br />
	This is a receipt for your VersionEye subscription. This is only a receipt, no
	payment is due. 
  </p>
  
  <table class="list">
    <thead>
      <tr>
        <td class="left">Receiver</td>
		<td class="right">Sender</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">
			<%= @billing_address.name %><br/>
			<%= @billing_address.street %><br/>
			<%= @billing_address.zip %> <%= @billing_address.city %><br/>
			<%= @billing_address.country %>
        </td>
        <td class="right">
			VersionEye GmbH<br />
			Invalidenstraße 50/51<br />
			10557 Berlin<br />
			Germany<br />
        </td>
      </tr>
    </tbody>
  </table>

  <table class="list">
    <thead>
      <tr>
        <td class="left">Date</td>
        <td class="left">Plan</td>
        <td class="right">Price</td>
      </tr>
    </thead>
    <tbody>
		<tr>
			<td class="left"><%= Time.new.strftime("%Y-%m-%dT%") %></td>
			<td class="left"><%= @plan.name %></td>
			<td class="right">USD <%= @plan.price %>.00</td>
		</tr>
	</tbody>
  </table>
  
  <p>
	If you have any questions, please contact us anytime at
	support@versioneye.com. Thank you for your business!
  </p>
Your Feedback is always appreciated. 
<br/>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com">http://www.versioneye.com</a>
<br/>
			</div>
			<div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
				text-align: left;
			    margin-top: 15px;
				padding: 0px;
			    width: 600px;
			    clear: both;
				background-color: white; 
				font-size: 12px;
				color: #808080;
				word-wrap:break-word;" >
				VersionEye GmbH | Invalidenstrasse 50/51 | 10557 Berlin | Germany | 
E-Mail: contact [at] versioneye.com | Amtsgericht: Berlin / Charlottenburg | Handelsregister: Berlin, HRB 144242 B | USt-IdNr.: DE282045007 | CEO: Robert Reiz. 
<a href="https://www.versioneye.com/imprint">Imprint</a> / <a href="https://www.versioneye.com/impressum">Impressum</a>.
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>


</body>
</html>
