
<% td_button_style = "background: #79bbff; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #fff; font-weight: bold; text-decoration: none; font-family: Helvetica, Arial, sans-serif; display: block;" %>

<!-- content start -->
<table >
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h3>Hello <%= @fullname %>,</h3>
            <p class="lead">we noticed you signed up for VersionEye.com but didn't follow any libraries yet.</p>
            <h3>What is VersionEye?</h3>
            <p class="lead">
              VersionEye is a <strong>tool for developers</strong> that tracks software libraries for programming languages like Java, PHP, Ruby or Python.
            </p>
            <p>
              <strong>VersionEye notifies you whenever the developers release a new version of a library you use.</strong>
              This also works automatically with popular package managers like Maven, Bundler or NPM.
            </p>

            <p><strong>Popular libraries recently updated:</strong></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- Article List 1 -->
<table >
  <tr>
    <td class="wrapper">

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/ruby.png" alt="Ruby">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Rails (4.0.2)</h4>
            <p>The latest version of the popular Rails framework was released on December 3, 2013. If you are still using Rails 3, v3.2.16 was released the same day. Both versions fix a range of
              <a href="http://weblog.rubyonrails.org/2013/12/3/Rails_3_2_16_and_4_0_2_have_been_released/">security issues</a>.
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td >

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/ruby/rails?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">Follow Rails &raquo;</a></td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/ruby.png" alt="Ruby">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Nokogiri (1.6.1)</h4>
            <p>Nokogiri 1.6.1 is a parsing library for Ruby. This version was released on Dec 14, 2013 and version 1.6.2 seems to be already in the pipeline. Both releases feature some bugfixes.
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/ruby/nokogiri?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Nokogiri &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
       <tr>
         <td class="three sub-columns">
           <!-- Top Left sub-grid -->
           <img src="https://www.versioneye.com/assets/language/python.png" alt="Python">
         </td>
         <td class="nine sub-columns last">
           <!-- Top Right sub-grid -->
           <h4>Django (1.6.1)</h4>
           <p>Django 1.6.1 is the most popular Python framework and the developers just released a new version on Dec 12, 2013. These are the <a href="https://docs.djangoproject.com/en/1.6/releases/1.6.1/">release notes.</a>
           </p>

           <!-- custom wrapped button -->
           <table class="five">
             <tr>
               <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/python/Django?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Django &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

               </td>
             </tr>
           </table>

         </td>
         <td class="expander"></td>
       </tr>
     </table>


     <table class="twelve columns">
       <tr>
         <td class="three sub-columns">
           <!-- Top Left sub-grid -->
           <img src="https://www.versioneye.com/assets/language/nodejs.png" alt="Node.js">
         </td>
         <td class="nine sub-columns last">
           <!-- Top Right sub-grid -->
           <h4>Request (2.30.0)</h4>
           <p>If you work with Nodejs and do HTTP requests, you certainly have worked with Request. The current version 2.30.0 is out since Dec 14, 2013. These are the <a href="https://docs.djangoproject.com/en/1.6/releases/1.6.1/">release notes.</a>
           </p>

           <!-- custom wrapped button -->
           <table class="five">
             <tr>
               <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/nodejs/request?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Request &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

               </td>
             </tr>
           </table>

         </td>
         <td class="expander"></td>
       </tr>
     </table>

     <table class="twelve columns">
      <tr>
        <td class="three sub-columns">
          <!-- Top Left sub-grid -->
          <img src="https://www.versioneye.com/assets/language/php.png" alt="PHP">
        </td>
        <td class="nine sub-columns last">
          <!-- Top Right sub-grid -->
          <h4>Symfony (2.4.0 / 2.3.8)</h4>
          <p>Symfony had a both a first stable version of 2.4 and a bugfix release for 2.3 out in december. See the <a href="http://symfony.com/blog/symfony-2-4-0-released">blogpost for 2.4.0</a> and the <a href="http://symfony.com/blog/symfony-2-3-8-released">blog post for 2.3.8</a>.

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/php/symfony:symfony?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Symfony &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/php.png" alt="PHP">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Zend Framework (2.2.5)</h4>
            <p>The latest Version of Zend Framework was released on October 31, 2013. The <a href="http://framework.zend.com/blog/zend-framework-2-2-5-released.html">relase notes</a> also mention security issues.</p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/php/zendframework:zendframework?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Zend Framework &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/java.png" alt="Java">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Hibernate ( 4.3.0.CR1)</h4>
            <p>Hibernate released a bugfix for date handling on Oct 23, 2013. Here are the <a href="http://planet.jboss.org/post/hibernate_orm_4_2_7_sp1_released">release notes</a>.
              Also 4.3.0 is coming up and the Hibernate team already published a release candidate with the version 4.3.0.CR1
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/java/org.hibernate:hibernate-core?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Hibernate &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>
      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/java.png" alt="Java">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Spring (3.2.5)</h4>
            <p>Spring-Core had a release mid november this year. The <a href="https://spring.io/blog/2013/11/07/spring-framework-3-2-5-released">blog post</a> says, this relase contains more than 50 bug fixes and improvements.
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/java/org.springframework:spring-core?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Spring-Core &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/clojure.png" alt="Clojure">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>Storm (0.9.0.1)</h4>
            <p>Storm is a distributed, fault-tolerant, and high-performance realtime computation system that provides strong guarantees on the processing of data. This release simply fixes binary compatibility with Java 1.6. There are no functional changes. Version 0.9.1 will be the first Apache incubator release.
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/clojure/storm:storm?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow Storm &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

      <table class="twelve columns">
        <tr>
          <td class="three sub-columns">
            <!-- Top Left sub-grid -->
            <img src="https://www.versioneye.com/assets/language/objective-c.png" alt="Objective-C">
          </td>
          <td class="nine sub-columns last">
            <!-- Top Right sub-grid -->
            <h4>AFNetworking (2.0.3)</h4>
            <p>The latest version of the popular networking library AFNetworking was release mid November and fixes some bugs.
            </p>

            <!-- custom wrapped button -->
            <table class="five">
              <tr>
                <td>

                  <table>
                    <tr>
                      <td align="center" width="200" bgcolor="#cf142b" style="<%= td_button_style %>">
                        <a href="https://www.versioneye.com/objective-c/afnetworking?utm_source=follow_suggestion&amp;utm_medium=email" style="color: #fff; text-decoration: none;">
                          Follow AFNetworking &raquo;
                        </a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>


<!-- container end below -->
