<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
			This is a notification E-Mail for your project <a href="<%= @projectlink %>"><%= @project_name %></a>.<br/>
			Some of your dependencies are outdated. 
		</p>
		<p>
			<% @dependencies.each do |dep| %>
				<div style="border-bottom: 1px dotted gray; padding: 5px;"> 
					<a href="<%=@link%><%= Product.to_url_param(dep.prod_key) %>"><%=dep.name%></a> 
					- Version in Project: <b><%= dep.version_lbl %></b> - Current Version: <b><%= dep.version_current %></b>
				</div>
			<% end %>
		</p>
		<p>
			We keep you informed. <br/>
			Have a great day!
		</p>
		<p>
			Your VersionEye Team<br/>
			<a href="http://www.versioneye.com">http://www.versioneye.com</a>
		</p>
	</body>
</html>