<p>
  Hello <%= @user.fullname %>
</p>
<p>
  This is a notification E-Mail for your project <a href="<%= @projectlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @project_name %></a>.<br/>
  Some of your dependencies are outdated.
</p>
<p>
  <table>
    <thead>
      <tr>
        <th ></th>
        <th ></th>
        <th style="font-weight: bold; width: 110px;">Project Version</th>
        <th style="font-weight: bold;">Current Version</th>
      </tr>
    </thead>
    <% @dependencies.each do |key, val| %>
      <% dep = val %>
      <tr >
        <td style="border-bottom: 1px dotted gray; padding: 5px;">
          <% product = Product.fetch_product( dep.language, dep.prod_key ) %>
          <img src= "http://www.versioneye.com/assets/language/<%= product.language.downcase %>.png" style = "width: 48px; height: 48px;"/>
        </td>
        <td style = "vertical-align: middle; border-bottom: 1px dotted gray; padding: 5px;">
          <a href="<%=Settings.server_url%>/<%= product.language_esc %>/<%= product.to_param %>?utm_medium=email&amp;utm_source=project_notification"><%= product.name %></a>
        </td>
        <td style = "vertical-align: middle; border-bottom: 1px dotted gray; padding: 5px;">
          <%= dep.version_requested %>
        </td>
        <td style = "vertical-align: middle; border-bottom: 1px dotted gray; padding: 5px;">
          <%= dep.version_current %>
        </td>
      </tr>
    <% end %>
  </table>
</p>
<p>
  We keep you informed. <br/>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=project_notification">http://www.versioneye.com</a>
</p>
