
<div class="col-md-3 navbar_container" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Maven Repository Settings
  </div>

  <div class="content" >

    <%= form_tag( settings_mvnrepos_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        <a href="http://maven.apache.org">Maven</a> is a Package Manager and Repository Server for Java.
        Configure here the coordinates of your private Maven Repository Server.
      </p>

      <% if @globalsetting['mvn_repo_1_type'] == 'maven_index' %>
        <div class="flash info" style="margin-bottom: 30px">
          You can specify multiple repositories for the Maven index crawler by seperating them through a semicolon character.
          For example: "http://192.168.0.19/repo1;http://192.168.0.19/repo2".
        </div>
      <% end %>

      <div class="form-group">
        <%= label_tag :mvn_repo_1, "MVN URL", :class => "control-label", :for => "mvn_repo_1" %>
        <div class="controls">
          <%= text_field_tag :mvn_repo_1, @globalsetting['mvn_repo_1'], :id => "mvn_repo_1", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :mvn_repo_1_type, "Crawler", :class => "control-label", :for => "mvn_repo_1_type" %>
        <div class="controls" >
          <select name="mvn_repo_1_type"  id="mvn_repo_1_type" class = 'form-control' >
            <option value="artifactory" <%= "selected" if @globalsetting['mvn_repo_1_type'] == 'artifactory' %> >Artifactory API (JFrog)</option>
            <option value="maven_index" <%= "selected" if @globalsetting['mvn_repo_1_type'] == 'maven_index' %> >Maven Index</option>
            <option value="html"        <%= "selected" if @globalsetting['mvn_repo_1_type'] == 'html' %> >HTML (Maven directory structure)</option>
          </select>
        </div>
      </div>

      <% if @globalsetting['mvn_repo_1_type'] == 'artifactory' %>
        <div class="form-group">
          <div class="controls">Comma sperated list of repository keys which should excluded from crawling.</div>
          <%= label_tag :mvn_art_ignore_keys, "Ignore Repos", :class => "control-label", :for => "mvn_art_ignore_keys" %>
          <div class="controls">
            <%= text_field_tag :mvn_art_ignore_keys, @globalsetting['mvn_art_ignore_keys'], :id => "mvn_art_ignore_keys", :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <label for="mvn_art_ignore_remote_repos" style="font-size: 12px;" class="checkbox">
              <%= check_box_tag "mvn_art_ignore_remote_repos", true, @globalsetting['mvn_art_ignore_remote_repos'], :id => "mvn_art_ignore_remote_repos" %>
              Ignore repositories with type REMOTE
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <label for="mvn_art_ignore_local_repos" style="font-size: 12px;" class="checkbox">
              <%= check_box_tag "mvn_art_ignore_local_repos", true, @globalsetting['mvn_art_ignore_local_repos'], :id => "mvn_art_ignore_local_repos" %>
              Ignore repositories with type LOCAL
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <label for="mvn_art_ignore_virtual_repos" style="font-size: 12px;" class="checkbox">
              <%= check_box_tag "mvn_art_ignore_virtual_repos", true, @globalsetting['mvn_art_ignore_virtual_repos'], :id => "mvn_art_ignore_virtual_repos" %>
              Ignore repositories with type VIRTUAL
            </label>
          </div>
        </div>
      <% end %>

      <hr/>
      <p>
        Some API calls require basic authentication. Please provide here a user/password pair which exist in your Maven Repository Server.
      </p>

      <div class="form-group">
        <%= label_tag :mvn_repo_1_user, "User", :class => "control-label", :for => "mvn_repo_1_user" %>
        <div class="controls">
          <%= text_field_tag :mvn_repo_1_user, @globalsetting['mvn_repo_1_user'], :id => "mvn_repo_1_user", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :mvn_repo_1_password, "Password", :class => "control-label", :for => "mvn_repo_1_password" %>
        <div class="controls">
          <%= password_field_tag :mvn_repo_1_password, @globalsetting['mvn_repo_1_password'], :id => "mvn_repo_1_password", :class => 'form-control' %>
        </div>
      </div>
      <hr/>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

      <hr/>

      <div>
        Read <a href="https://github.com/versioneye/ops_contrib/blob/master/README.md#configure-cron-jobs-for-crawling">here</a> how the crawlers are triggered and configured via Cron.
      </div>

    <% end %>

  </div>
</div>
