
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    GitHub API Settings
  </div>

  <div class="span8 content" >

    <%= form_tag( settings_githubsettings_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        If you are using GitHub Enterprise you can configure it here.
      </p>

      <div class="control-group">
        <%= label_tag :github_api_url, "API URL", :class => "control-label", :for => "github_api_url" %>
        <div class="controls">
          <%= text_field_tag :github_api_url, @globalsetting.github_api_url, :id => "github_api_url" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :github_client_id, "Client ID", :class => "control-label", :for => "github_client_id" %>
        <div class="controls">
          <%= text_field_tag :github_client_id, @globalsetting.github_client_id, :id => "github_client_id" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :github_client_secret, "Client Secret", :class => "control-label", :for => "github_client_secret" %>
        <div class="controls">
          <%= text_field_tag :github_client_secret, @globalsetting.github_client_secret, :id => "github_client_secret" %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
