
<div class="col-md-3 navbar_container" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    VersionEye Enterprise Activation
  </div>

  <div class="content" >

    <%= form_tag( settings_activation_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        Here you can activate and update your API Key.
      </p>

      <div class="form-group">
        <%= label_tag :api_key, "API Key", :class => "control-label", :for => "api_key" %>
        <div class="controls">
          <%= text_field_tag :api_key, @globalsetting['api_key'], :id => "api_key", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :api_url, "API URL", :class => "control-label", :for => "api_url" %>
        <div class="controls">
          <%= text_field_tag :api_url, @globalsetting['api_url'], :id => "api_url", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :rate_limit, "API Rate Limit", :class => "control-label", :for => "rate_limit" %>
        <div class="controls">
          <%= text_field_tag :rate_limit, @globalsetting['rate_limit'], :id => "rate_limit", :readonly => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :comp_limit, "Comp. Limit", :class => "control-label", :for => "comp_limit" %>
        <div class="controls">
          <%= text_field_tag :comp_limit, @globalsetting['comp_limit'], :id => "comp_limit", :readonly => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :activation_date, "Activated at", :class => "control-label", :for => "activation_date" %>
        <div class="controls">
          <%= text_field_tag :activation_date, @globalsetting['activation_date'], :id => "activation_date", :readonly => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

    <p>
      Currently there are <b><%= Product.count %></b> components in the locale database.
    </p>

  </div>
</div>
