
<div class="col-md-3 navbar_container" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Global Server Settings
  </div>

  <div class="content" >

    <%= form_tag( settings_globalsettings_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        Under which URL is this server available in this network? This URL is used in Emails.
      </p>

      <div class="form-group">
        <%= label_tag :server_url, "Server URL", :class => "control-label", :for => "server_url" %>
        <div class="controls">
          <%= text_field_tag :server_url, @globalsetting['server_url'], :id => "server_url", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :server_host, "Server Host", :class => "control-label", :for => "server_host" %>
        <div class="controls">
          <%= text_field_tag :server_host, @globalsetting['server_host'], :id => "server_host", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :server_port, "Server Port", :class => "control-label", :for => "server_port" %>
        <div class="controls">
          <%= text_field_tag :server_port, @globalsetting['server_port'], :id => "server_port", :class => "form-control" %>
        </div>
      </div>

      <hr/>

      <p class="description">
        Set the locale timezone.
      </p>

      <div class="form-group">
        <%= label_tag :timezone, "Timezone", :class => "control-label", :for => "timezone" %>
        <div class="controls">
          <select name="timezone"  id="timezone" class="form-control" >
            <% ActiveSupport::TimeZone::MAPPING.each do |tz| %>
              <option value="<%= tz[0] %>"  <%= "selected" if @globalsetting['timezone'] == tz[0] %> ><%= tz[1] %></option>
            <% end %>
          </select>
        </div>
      </div>

      <hr/>

      <p class="description">
        Default project settings.
      </p>

      <div class="form-group">
        <%= label_tag :default_project_period, "Update Period", :class => "control-label", :for => "default_project_period" %>
        <div class="controls">
          <select name="default_project_period"  id="default_project_period" class="form-control" >
            <option value="daily"   <%= "selected" if @globalsetting['default_project_period'] == 'daily'   %> >daily</option>
            <option value="weekly"  <%= "selected" if @globalsetting['default_project_period'] == 'weekly'  %> >weekly</option>
            <option value="monthly" <%= "selected" if @globalsetting['default_project_period'] == 'monthly' %> >monthly</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :default_project_public, "Visibility", :class => "control-label", :for => "default_project_public" %>
        <div class="controls">
          <select name="default_project_public"  id="default_project_public" class="form-control" >
            <option value="true"   <%= "selected" if @globalsetting['default_project_public'] == true   %> >Public by default</option>
            <option value="false"  <%= "selected" if @globalsetting['default_project_public'] == false  %> >Private by default</option>
          </select>
        </div>
      </div>

      <hr/>

      <p class="description">
        Signup &amp; login settings
      </p>

      <div class="form-group">
        <div class="controls">
          <label for="show_signup_form" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "show_signup_form", true, @globalsetting['show_signup_form'], :id => "show_signup_form" %>
            Show signup form
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <label for="show_login_form" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "show_login_form", true, @globalsetting['show_login_form'], :id => "show_login_form" %>
            Show login form (Not needed if VersionEye is linked with GitHub, Bitbucket, Stash or another SSO Provider)
          </label>
        </div>
      </div>

      <hr/>

      <p class="description">
        Project Settings
      </p>

      <div class="form-group">
        <div class="controls">
          <label for="unique_ga" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "unique_ga", true, @globalsetting['unique_ga'], :id => "unique_ga" %>
            Unique GroupId &amp; ArtifactId. This ensures that every Maven based project gets only monitored once from VersionEye. This should avoid duplication.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <label for="unique_gav" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "unique_gav", true, @globalsetting['unique_gav'], :id => "unique_gav" %>
            Unique GroupId, ArtifactId &amp; Version. This ensures that every Maven based project gets only monitored once from VersionEye. This should avoid duplication.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <label for="unique_scm" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "unique_scm", true, @globalsetting['unique_scm'], :id => "unique_scm" %>
            Unique SCM projects. This ensures that each project file in SCM (GitHub/Bitbucket/Stash) only gets monitored once from VersionEye. This should avoid duplication.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <label for="orga_creation_admin_only" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "orga_creation_admin_only", true, @globalsetting['orga_creation_admin_only'], :id => "orga_creation_admin_only" %>
            Only admin users can create new organisations.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <label for="disable_sync" style="font-size: 12px;" class="checkbox">
            <%= check_box_tag "disable_sync", true, @globalsetting['disable_sync'], :id => "disable_sync" %>
            Disable the database sync. to www.VersionEye.com/api.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
