
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    CocoaPods Settings
  </div>

  <div class="span8 content" >

    <%= form_tag( settings_cocoapods_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        Where do you host your primary private CocoaPods?
      </p>

      <div class="control-group">
        <%= label_tag :cocoapods_spec_git, "Specs Git", :class => "control-label", :for => "cocoapods_spec_git" %>
        <div class="controls">
          <%= text_field_tag :cocoapods_spec_git, @globalsetting['cocoapods_spec_git'], :id => "cocoapods_spec_git" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :cocoapods_spec_url, "Specs URL", :class => "control-label", :for => "cocoapods_spec_url" %>
        <div class="controls">
          <%= text_field_tag :cocoapods_spec_url, @globalsetting['cocoapods_spec_url'], :id => "cocoapods_spec_url" %>
        </div>
      </div>

      <hr/>

      <p class="description">
        Do you have a secondary CocoaPods?
      </p>

      <div class="control-group">
        <%= label_tag :cocoapods_spec_git_2, "Specs Git", :class => "control-label", :for => "cocoapods_spec_git_2" %>
        <div class="controls">
          <%= text_field_tag :cocoapods_spec_git_2, @globalsetting['cocoapods_spec_git_2'], :id => "cocoapods_spec_git_2" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :cocoapods_spec_url_2, "Specs URL", :class => "control-label", :for => "cocoapods_spec_url_2" %>
        <div class="controls">
          <%= text_field_tag :cocoapods_spec_url_2, @globalsetting['cocoapods_spec_url_2'], :id => "cocoapods_spec_url_2" %>
        </div>
      </div>


      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
