
<div class="col-md-3 navbar_container" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Scheduler
  </div>

  <div class="content" >

    <%= form_tag( settings_scheduler_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        Here you can configure when VersionEye should perform background tasks.
      </p>

      <hr/>
      <p class="description">
        When should VersionEye send out the notification emails for software packages users follow directly?
      </p>

      <div class="form-group">
        <%= label_tag :schedule_follow_notifications, "Notifications", :class => "control-label", :for => "schedule_follow_notifications" %>
        <div class="controls">
          <%= text_field_tag :schedule_follow_notifications, @globalsetting['schedule_follow_notifications'], :id => "schedule_follow_notifications", :class => 'form-control' %>
        </div>
      </div>


      <hr/>
      <p class="description">
        When should VersionEye send out the team notification emails? The team notification emails contain information about software projects, such as number of security vulnerabilities, number of license violations and number of out-dated dependencies.
        Use a <a href="https://en.wikipedia.org/wiki/Cron#CRON_expression" target="_Cron">cron expression</a>. For example <b>15 9 * * *</b> for every day at 9:15 AM in the morning.
      </p>

      <div class="form-group">
        <%= label_tag :schedule_team_notifications, "Team Emails", :class => "control-label", :for => "schedule_team_notifications" %>
        <div class="controls">
          <%= text_field_tag :schedule_team_notifications, @globalsetting['schedule_team_notifications'], :id => "schedule_team_notifications", :class => 'form-control' %>
        </div>
      </div>


      <hr/>
      <p class="description">
        There is a build in sync service to keep the locale database of this VersionEye instance up-to-date.
        That sync service is pulling meta information about open source dependencies from the public VersionEye API.
        The sync service is running every time on demand after a new dependency was created in the system.
        Beside that it's running once a day to update the meta information for all dependencies in the locale database.
        Here you can configure when the sync service should run.
        Use a <a href="https://en.wikipedia.org/wiki/Cron#CRON_expression" target="_Cron">cron expression</a>. For example <b>17 2 * * *</b> for every day at 02:17 AM in the morning.<br/>
        Changing the value here requires a restart of the Docker containers!
      </p>

      <div class="form-group">
        <%= label_tag :sync_db, "DB Sync", :class => "control-label", :for => "sync_db" %>
        <div class="controls">
          <%= text_field_tag :sync_db, @globalsetting['sync_db'], :id => "sync_db", :class => 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>

