
<div class="col-md-3 navbar_container" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    LDAP Settings
  </div>

  <div class="content" >

    <%= form_tag( settings_ldapsettings_path, :method => "post", :class => "form-horizontal") do  %>

      <p class="description">
        If you are using an <a href="http://www.openldap.org/">LDAP Server</a> you can configure it here.
      </p>

      <div class="form-group">
        <%= label_tag :ldap_host, "Host", :class => "control-label", :for => "ldap_host" %>
        <div class="controls">
          <%= text_field_tag :ldap_host, @globalsetting['ldap_host'], :id => "ldap_host", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_port, "Port", :class => "control-label", :for => "ldap_port" %>
        <div class="controls">
          <%= text_field_tag :ldap_port, @globalsetting['ldap_port'], :id => "ldap_port", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_base, "Base", :class => "control-label", :for => "ldap_base" %>
        <div class="controls">
          <%= text_field_tag :ldap_base, @globalsetting['ldap_base'], :id => "ldap_base", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_username_pattern, "Login pattern", :class => "control-label", :for => "ldap_username_pattern" %>
        <div class="controls">
          <%= text_field_tag :ldap_username_pattern, @globalsetting['ldap_username_pattern'], :id => "ldap_username_pattern", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_filter, "Filter", :class => "control-label", :for => "ldap_filter" %>
        <div class="controls">
          <%= text_field_tag :ldap_filter, @globalsetting['ldap_filter'], :id => "ldap_filter", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_auth, "Auth. method", :class => "control-label", :for => "ldap_auth" %>
        <div class="controls">
          <%= text_field_tag :ldap_auth, @globalsetting['ldap_auth'], :id => "ldap_auth", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_encryption, "Encryption", :class => "control-label", :for => "ldap_encryption" %>
        <div class="controls">
          <select name="ldap_encryption"  id="ldap_encryption" class="form-control" >
            <option value="none"        <%= "selected" if @globalsetting['ldap_encryption'] == 'none'   %> >None</option>
            <option value="simple_tls"  <%= "selected" if @globalsetting['ldap_encryption'] == 'simple_tls'  %> >simple_tls</option>
            <option value="start_tls"  <%= "selected" if @globalsetting['ldap_encryption'] == 'start_tls'  %> >start_tls</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_email, "Email Atr.", :class => "control-label", :for => "ldap_email" %>
        <div class="controls">
          <%= text_field_tag :ldap_email, @globalsetting['ldap_email'], :id => "ldap_email", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_username, "Username Atr.", :class => "control-label", :for => "ldap_username" %>
        <div class="controls">
          <%= text_field_tag :ldap_username, @globalsetting['ldap_username'], :id => "ldap_username", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_active, "Active", :class => "control-label", :for => "ldap_active" %>
        <div class="controls">
          <select name="ldap_active"  id="ldap_active" class="form-control" >
            <option value="true"   <%= "selected" if @globalsetting['ldap_active'] == 'true'   %> >true</option>
            <option value="false"  <%= "selected" if @globalsetting['ldap_active'] == 'false'  %> >false</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

    <br/>
    <br/>

    <%= form_tag( settings_ldap_auth_path, :method => "post", :class => "form-horizontal") do  %>

      <div class="form-group">
        <%= label_tag :ldap_login, "Login", :class => "control-label", :for => "ldap_login" %>
        <div class="controls">
          <%= text_field_tag :ldap_login, @globalsetting['ldap_login'], :id => "ldap_login", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :ldap_password, "Password", :class => "control-label", :for => "ldap_password" %>
        <div class="controls">
          <%= password_field_tag :ldap_password, @globalsetting['ldap_password'], :id => "ldap_password", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Test Auth.</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
