<% columns ||= 3 %>
<% spans = 12/columns %>
<div class = "span<%= spans %> fluid-list-item" style = "height: 70px; overflow: hidden;">
    <% newest     = release_list_item %>
    <% version_url = package_version_path(lang:    newest.language_esc,
                                          key:     Product.encode_prod_key(newest.prod_key),
                                          version: Version.encode_version(newest.version) ) %>
    <a class = "pull-left" href = "<%= version_url %>">
      <img class = "media-object" src= "/assets/language/<%= newest.language.downcase %>.png" />
    </a>
    <div class = "media-body">
      <a href = "<%= version_url %>">
        <h5><%= newest[:name]%>
          <small><%= newest[:version] %></small>
        </h5>
      </a>
      <p> Detected <%= time_ago_in_words(newest[:created_at]) %> ago </p>
   </div>
</div>
