<% title 'New packages' %>

<%= render partial: 'latest_plots' %>

<div class = "release-list">
  <h3> <%= @latest_releases.count || '' %> New packages</h3>
  <p> New packages are software libraries, which version we detect first time. </p>

  <div class = "row-fluid">
    <%= render partial: "release_list_item", collection: @latest_releases, locals: {columns: 2} %>
  </div>
</div>

<div class = "language-menu" style = "padding-top: 30px;">
  <h3>Filter by Language</h3>
  <div>
    Click on icon to see lanuage specific latest versions.
  </div>
  <div class = "row-fluid">
    <% @supported_languages.each do |lang| %>
      <% lang = Product.encode_language(lang) %>
      <div class = "span1">
        <a href = "/package/novel/<%= lang %>" title= "Go to language specific page.">
          <img src = "/assets/language/<%= lang %>.png" />
        </a>
      </div>
    <% end %>
  </div>
</div>
