
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Here you can delete this Account
  </div>

  <div class="span8 content" >

    <%= form_tag(settings_destroy_path, :method => "post", :class => "form-horizontal") do  %>

      <div class="control-group">
        <%= label_tag :password, "Password", :class => "control-label", :for => "password" %>
        <div class="controls">
          <%= password_field_tag :password, "", :id => "password" %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls" style="">
          <%= link_to "I need a new password", iforgotmypassword_path %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-danger" >Delete this Account</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
