<html>
  <head>
    <meta name='pdfkit-orientation' content='portrait' />

    <style type="text/css">
      body {
        color: #000000;
        font-family: Courier;
        font-size: 14px;
      }
      body, td, th, input, textarea, select, a {
        font-size: 14px;
      }
      h1{
        font-family: Courier;
      }
      p {
        margin-top: 0px;
        margin-bottom: 20px;
      }
      #container {
        width: 680px;
      }
      table.list {
        border-collapse: collapse;
        width: 100%;
        border-top: 1px solid #DDDDDD;
        border-left: 1px solid #DDDDDD;
        margin-bottom: 20px;
      }
      table.list td {
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
      }
      table.list thead td {
        background-color: #EFEFEF;
        padding: 0px 5px;
      }
      table.list thead td a, .list thead td {
        text-decoration: none;
        color: #222222;
        font-weight: bold;
      }
      table.list tbody td a {
        text-decoration: underline;
      }
      table.list tbody td {
        vertical-align: top;
        padding: 0px 5px;
      }
      table.list .left {
        text-align: left;
        padding: 7px;
      }
      table.list .right {
        text-align: right;
        padding: 7px;
      }
      table.list .center {
        text-align: center;
        padding: 7px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <h1>Receipt - VersionEye</h1>

      <div >
        <br/>
        <br/>
        <%= name %><br/>
        <% if type.eql?(A_TYPE_CORPORATE) %>
          <%= company %><br/>
        <% end %>
        <%= street %><br/>
        <%= zip %> <%= city %><br/>
        <%= A_COUNTRIES[country] %><br/>
        <br/>
        <br/>
        Receipt Nr: <b><%= receipt_nr %></b><br/>
        Invoice ID: <b><%= invoice_id %></b><br/>
        Account: <b><%= user.username %> (<%= user.email %>)</b><br/>
        Date: <%= Time.now.strftime("%b %d, %Y") %>
        <br/>
        <br/>
      </div>

      <p>
        <br />
        Dear <%= name %>,<br />
        <br />
        This is a receipt for your monthly VersionEye subscription.
      </p>

      <table class="list">
        <thead>
          <tr>
            <td class="left">Date</td>
            <td class="left">Plan</td>
            <td class="right">Price</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left"><%= invoice_date.strftime("%b %d, %Y") %></td>
            <td class="left"><%= plan_name %></td>
            <td class="right">
              <% if taxable %>
                Price:       <%= sprintf("%.2f", (amount.to_i / 100 * 0.81) ) %> <%= currency.upcase %><br/>
                Tax (Mwst.): <%= sprintf("%.2f", (amount.to_i / 100 * 0.19) ) %> <%= currency.upcase %><br/>
                Total:       <%= sprintf("%.2f", (amount.to_i / 100       ) ) %> <%= currency.upcase %>
              <% else %>
                <%= sprintf("%.2f", (amount.to_i / 100) ) %> <%= currency.upcase %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        If you have any questions, please contact us anytime at
        <a href="mailto:support@versioneye.com">support@versioneye.com</a>. Thank you for your business!
      </p>
      <p>
        Your Feedback is always appreciated. <br/>
      </p>
      <p>
        Best regards, <br/>
        Your VersionEye Team<br/>
        <a href="https://www.versioneye.com">https://www.versioneye.com</a>
      </p>

      <% if reverse_charge %>
        <br/>
        <br/>
        <br/>
        <p>
          <i>* Reverse Charge - According to Article 194, 196 of Council Directive 2006/112/EEC, VAT liability rests with the service recipient</i>
        </p>
        <br/>
      <% end %>

      <% if tax_free %>
        <br/>
        <br/>
        <br/>
        <p>
          <i>* Non EU customers - Not taxable in Germany.</i>
        </p>
        <br/>
      <% end %>


    </div>
  </body>
</html>
