<style type="text/css">
body {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
body, td, th, input, textarea, select, a {
  font-size: 12px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-top: 0px;
  margin-bottom: 20px;
}
a, a:visited, a b {
  color: #378DC1;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
#container {
  width: 680px;
}
#logo {
  margin-bottom: 20px;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
table.list td {
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
  background-color: #EFEFEF;
  padding: 0px 5px;
}
table.list thead td a, .list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
table.list tbody td a {
  text-decoration: underline;
}
table.list tbody td {
  vertical-align: top;
  padding: 0px 5px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
</style>

<% billing_address = current_user.billing_address %>

  <h1>Receipt - VersionEye</h1>

  <table class="list">
    <cols>
      <col width="50%" />
      <col width="50%" />
    </cols>
    <thead>
      <tr>
        <td class="left">Receiver</td>
        <td class="right"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">
          <%= billing_address.name %><br/>
          <% if billing_address.type.eql?(BillingAddress::A_TYPE_INDIVIDUAL) %>
            <%= billing_address.company %><br/>
          <% end %>
          <%= billing_address.street %><br/>
          <%= billing_address.zip %> <%= billing_address.city %><br/>
          <%= BillingAddress::A_COUNTRIES[billing_address.country] %>
        </td>
        <td class="right">
          Receipt Nr: 123456<br/>
          Invoice ID: kasasalk<br/>
          Account billed: reiz (reiz@versioneye.com)<br/>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <br />
    Dear <%= billing_address.try(:name) %>,<br />
    <br />
    This is a receipt for your VersionEye subscription.
  </p>

  <table class="list">
    <thead>
      <tr>
        <td class="left">Date</td>
        <td class="left">Plan</td>
        <td class="right">Price</td>
      </tr>
    </thead>
    <% if @invoice %>
      <%
      plan_name = ''
      begin
        plan_name = @invoice.lines.data.first.plan.name
      rescue => e
        plan_name = @invoice.lines.subscriptions.first.plan.name
      end

      %>
      <tbody>
        <tr>
          <td class="left"><%= Time.at( @invoice.date ).to_date %></td>
          <td class="left"><%= plan_name %></td>
          <td class="right">
            <% one_percent = @invoice.total / 10000.0 %>
            Price:           <%= sprintf("%.2f", (one_percent * 81) ) %> <%= @invoice.currency.upcase %><br/>
            Tax (19% Mwst.): <%= sprintf("%.2f", (one_percent * 19) ) %> <%= @invoice.currency.upcase %><br/>
            Total:           <%= sprintf("%.2f", (@invoice.total / 100) )  %> <%= @invoice.currency.upcase %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <p>
    If you have any questions, please contact us anytime at
    <a href="mailto:support@versioneye.com">support@versioneye.com</a>. Thank you for your business!
  </p>
  <p>
    Your Feedback is always appreciated. <br/>
  </p>
  <p>
    Best regards, <br/>
    Your VersionEye Team<br/>
    <a href="https://www.versioneye.com">https://www.versioneye.com</a>
  </p>
  <hr>
  <div >
    VersionEye GmbH | Rudolf-Breitscheid-Strasse 187 | 14482 Potsdam | Germany | E-Mail: contact@versioneye.com | Amtsgericht: Potsdam | Handelsregister: Potsdam, HRB 26748 P | USt-IdNr.: DE282045007 | CEO: Robert Reiz.
    <a href="https://www.versioneye.com/imprint">Imprint</a>.
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
