<% title "Organisation: #{@organisation.name}" %>

<div class="navbar navbar-default" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#settings_menu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="orga_menu">
    <div class="navi nav-stacked" >
      <% if signed_in? %>
        <ul class = "nav nav-pills nav-stacked">
          <li><%= link_to 'Profile', organisation_path(@organisation) %></li>
          <li><%= link_to 'Teams', organisation_teams_path(@organisation) %></li>
          <li><%= link_to 'License Whitelists', organisation_license_whitelists_path(@organisation) %></li>
          <li><%= link_to 'Component Whitelists', organisation_component_whitelists_path(@organisation) %></li>
          <li><%= link_to 'Projects', projects_organisation_path(@organisation) %></li>
          <% if signed_in_admin? %>
            <li><%= link_to 'Components', components_organisation_path(@organisation) %></li>
          <% end %>
        </ul>
      <% else %>
        <%= render '/shared/signup_ad' %>
      <% end %>
    </div>
  </div>

</div>
