
<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    <%= pluralize( @organisation.component_list.count, "component" ) %> used in this organisation (<%= @organisation.name %>)
  </div>

  <div class="content" >

    <p>
      This page lists all components which are used in this organsation and shows in which projects they are used.
      Components which are used in multiple versions are marked red.
      <br/><br/>
    </p>


    <% comps = @organisation.component_list.sort.to_h %>
    <% comps.keys.each do |key| %>
      <% sp = key.split(':') %>
      <% language = sp[0].to_s.downcase %>
      <% prod_key = sp[1].to_s.gsub('/', ':') %>
      <% lang_prod = "#{language}:#{prod_key}" %>

      <h4>
        <span class="icon_<%= language %> on" style="margin-left: -12px;" ></span> <%= link_to "#{prod_key}", "/#{language}/#{prod_key}" %>
      </h4>

      <% versions = comps[key].keys %>
      <% flash_danger = "" %>
      <% flash_danger = "flash danger" if versions.count > 1 %>
      <% versions.each do |version| %>
        <div class="<%= flash_danger %>" >
          Version <%= version %> is used in this projects:
          <ul>
          <% comps[key][version].each do |val| %>
            <% sps = val.split(":") %>
            <li><%= link_to sps[1], user_project_path(sps[2]), :class => 'searchResultLink' %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <hr>
    <% end %>

  </div>

</div>
