
<div class="col-md-3 navbar_container" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <% pteam = params['team'] %>
  <% pteam = 'ALL' if pteam.to_s.empty? %>
  <% planguage = params['language'] %>
  <% planguage = 'ALL' if planguage.to_s.empty? %>
  <% pversion = params['version'] %>
  <% pversion = 'ALL' if pversion.to_s.empty? %>
  <% pduplicates = params['duplicates'] %>
  <% pduplicates = 'ALL' if pduplicates.to_s.empty? %>
  <% comps = @organisation.component_list(pteam, planguage, pversion, pduplicates).sort.to_h %>

  <div class="content_header_def" >
    <%= pluralize( comps.count, "component" ) %> used in this organisation (<%= @organisation.name %>)
  </div>

  <div class="content" >

    <p>
      This page lists all software components/libraries which are used in this organsation and shows in which projects they are used. With the filter below you can specify which projects should be analysed to compile the inventory/component list.
      <br/><br/>
    </p>

    <div id='projects_filter' >
      <form id="form" action="<%= components_organisation_path(@organisation) %>" method="GET" class='form-inline' style="padding: 0; margin:0;" >
        <div class="form-group" style="padding-bottom: 25px;">

          <label>Filter:</label>

          <select name="team"  id="team" class="form-control" >
            <option value="ALL">All teams</option>
            <% @organisation.teams.each do |team| %>
              <option value="<%= team.ids %>" <%= "selected" if params[:team].to_s.eql?(team.ids) %> >Team: <%= team.name %></option>
            <% end %>
          </select>

          <select name="language"  id="language" class="form-control" >
            <option value="ALL">All languages</option>
            <% @organisation.unique_languages.each do |language| %>
              <option value="<%= language %>" <%= "selected" if params[:language].to_s.eql?(language.to_s) %> >Language: <%= language %></option>
            <% end %>
          </select>

          <select name="version"  id="version" class="form-control" >
            <option value="ALL">All versions</option>
            <% @organisation.unique_versions.sort.each do |version| %>
              <option value="<%= version %>" <%= "selected" if params[:version].to_s.eql?(version.to_s) %> >Version: <%= version %></option>
            <% end %>
          </select>

          <select name="duplicates"  id="duplicates" class="form-control" >
            <option value="ALL"             <%= "selected" if params[:duplicates].to_s.eql?('ALL')             %> >All components</option>
            <option value="duplicates_only" <%= "selected" if params[:duplicates].to_s.eql?('duplicates_only') %> >Only duplicates</option>
            <option value="show_duplicates" <%= "selected" if params[:duplicates].to_s.eql?('show_duplicates') %> >Used in other teams</option>
          </select>

          <button type="submit" class="btn btn-primary" >Filter</button>
        </div>
      </form>
    </div>

    <% comps.keys.each do |key| %>
      <% sp = key.split(':') %>
      <% language = sp[0].to_s.downcase %>
      <% prod_key = sp[1].to_s.gsub('/', ':') %>
      <% version_current  = sp[2].to_s.gsub('/', ':') %>
      <% lang_prod = "#{language}:#{prod_key}" %>

      <h4>
        <span class="icon_<%= language %> on small" ></span> <%= link_to "#{prod_key}", "/#{language}/#{prod_key}" %>
      </h4>
      <div>
        Used in:
      </div>
      <% versions = comps[key].keys %>
      <% if !versions.empty? %>
        <table class="table table-striped">
          <tr>
            <th width="50%">Project</th>
            <th>Version</th>
            <th>Current</th>
            <th>License</th>
          </tr>
          <% versions.each do |version_val| %>
            <% vvals = version_val.split("::") %>
            <% prod_key = vvals[0].to_s.downcase %>
            <% version  = vvals[1].to_s.downcase %>
            <% license  = vvals[2].to_s %>
            <% comps[key][version_val].each do |val| %>
              <% tr_bg_color = "" %>
              <% tr_bg_color = "#FCF8E3" if !version_current.empty? && !version_current.eql?(version) %>
              <tr style="background-color: <%= tr_bg_color %>">
                <td>
                  <%= link_to val[:project_name], user_project_path( val[:project_id] ), :class => 'searchResultLink' %>
                  <% if !val[:project_version].to_s.empty? %>
                    : <%= val[:project_version] %>
                  <% end %>
                  <% if !val[:project_teams].to_s.empty? %>
                    <% tcount = val[:project_teams].to_a.count %>
                    <% z = 1 %>
                    <div style="font-size: 12px;">
                      Teams: [
                        <% val[:project_teams].each do |team| %>
                          <%= link_to team, organisation_team_path(:organisation_name => @organisation.name, :id => team) %><% if z < tcount %><%= ", " %><% end %>
                          <% z += 1 %>
                        <% end %>
                      ]
                    </div>
                  <% end %>
                </td>
                <td>
                  <%= version %>
                </td>
                <td>
                  <%= version_current %>
                </td>
                <td>
                  <%= license %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
      <hr>
    <% end %>

    <div>
      <a href="<%= inventory_csv_organisation_path(@organisation) %>?team=<%= pteam %>&language=<%= planguage %>&version=<%= pversion %>&duplicates=<%= pduplicates %>">CSV Export</a>
    </div>

  </div>

</div>
