
<div class="col-md-3 navbar_container" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Inventory diff
  </div>

  <div class="content" >

    <p>
      Here you can see the difference between 2 inventory lists.
      That's especially useful if you want to see which artefacts have been added and removed
      between 2 inventory lists.
      <br/><br/>
    </p>

    <% if @diff %>

      <%= render :partial => "inventory_diff_filter", :locals => { :disabled => 'true' } %>

      <div>
        <p>
          <label>Created at:</label> <%= @diff.created_at.in_time_zone(timezone).strftime("%b %d, %Y - %H:%M") %><br/>
        </p>

        <h3>Added</h3>
        <p>
          In the inventory 2 list this new artefacts have beend added, compared to the inventory 1 list.
        </p>
        <ul>
        <% @diff.items_added.each do |item| %>
          <% sps = item.split("::") %>
          <% language = sps[0].to_s.downcase %>
          <% prod_key = sps[1].to_s.gsub('/', ':') %>
          <% version = sps[2].to_s.gsub('/', ':') %>
          <% license = sps[3] %>
          <li><%= link_to "#{prod_key}:#{version}", "/#{language}/#{prod_key}/#{version}" %> (<%= license %>)</li>
        <% end %>
        </ul>

        <h3>Removed</h3>
        <p>
          In the inventory 2 list this new artefacts have beend removed, compared to the inventory 1 list.
        </p>
        <ul>
        <% @diff.items_removed.each do |item| %>
          <% sps = item.split("::") %>
          <% language = sps[0].to_s.downcase %>
          <% prod_key = sps[1].to_s.gsub('/', ':') %>
          <% version = sps[2].to_s.gsub('/', ':') %>
          <% license = sps[3] %>
          <li><%= link_to "#{prod_key}:#{version}", "/#{language}/#{prod_key}/#{version}" %> (<%= license %>)</li>
        <% end %>
        </ul>

      </div>
    <% else %>
      Diff object was not found!
    <% end %>

  </div>

</div>
