<% title 'New organisation' %>

<div class="col-md-3" >

</div>
<div class="col-md-9">

  <div class="content_header_def" >
    Organisations
  </div>

  <div class="content" >
    <%= form_for @organisation do |f| %>

      <div class="form-group">
        <%= f.label :name, "Name (mandatory)", :class => "control-label", :for => "name" %>
        <div class="controls">
          <%= f.text_field :name, :id => "name", :class => 'form-control' %>
        </div>
      </div>
      <script type="text/javascript">
        $( "#name" ).keyup(function(e) {
          if( !/^[a-zA-Z0-9_-]*$/g.test(this.value) ){
            this.value = ""
            alert("Special characters are not allowed as input. Please use letters and numbers only.")
          }
        });
      </script>

      <div class="form-group">
        <%= f.label :company, :class => "control-label", :for => "company" %>
        <div class="controls">
          <%= f.text_field :company, :id => "company", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :location, :class => "control-label", :for => "location" %>
        <div class="controls">
          <%= f.text_field :location, :id => "location", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, :class => "control-label", :for => "email" %>
        <div class="controls">
          <%= f.text_field :email, :id => "email", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :website, :class => "control-label", :for => "website" %>
        <div class="controls">
          <%= f.text_field :website, :id => "website", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label"></div>
        <div class="controls">
          <%= f.submit :class => "btn btn-large btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>

</div>
