<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>

<div class="col-md-9" >
  <div class="content_header_def" >
    Payment History
  </div>

  <div class="content" >
    <% if @invoices.nil? || @invoices.empty? %>
      You don't have any payment history.
    <% else %>
      <table id="invoice_table" class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Plan</th>
            <th>Amount</th>
            <th>Receipt</th>
          </tr>
        </thead>
        <tbody>
        <% @invoices.each do |invoice| %>
          <% next if invoice.total.to_i == 0 %>
          <tr>
            <td><%= Time.at( invoice.invoice_date ).to_date %></td>
            <td>
              <% if !invoice.receipt_lines.to_a.empty? %>
                <%= invoice.receipt_lines.first.plan_name %>
              <% else %>
                Mixed
              <% end %>
            </td>
            <td><%= sprintf('%.2f', (invoice.total.to_f / 100) ) %> <%= invoice.currency.upcase %> </td>
            <td><a href="<%= receipt_organisation_path(:name => @organisation.name, :invoice_id => invoice.invoice_id) %>"><%= invoice.filename %></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
