<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="content" >
    <p>
      <% private_project_count = @organisation.private_project_count %>
      <% projects_remain = @organisation.plan.private_projects.to_i - private_project_count.to_i %>
      This organisation is currently using the <span style="font-weight: bold"><%= @organisation.plan.name %><span> plan which allows to monitor <span style="font-weight: bold"><%= pluralize(@organisation.plan.private_projects, 'private project' %><span>.
      <% if projects_remain.to_i < 1 %>
        Currently there are <span style="font-weight: bold"><%= pluralize(private_project_count, 'private project' %><span> in this organisation and the limits are reached. Upgrade to a higher plan if more private projects are needed.<br/>
      <% end %>
      <% if projects_remain.to_i > 0 %>
        Currently there are <span style="font-weight: bold"><%= pluralize(private_project_count, 'private project' %><span> in this organisation and <span style="font-weight: bold"><%= pluralize(projects_remain, 'more private project' %><span> can be monitored.<br/>
      <% end %>
    </p>
    <hr />
    <p>
      We only charge a small fee for monitoring project files in GitHub/Bitbucket repositories.<br/>
    </p>
    <hr />
<% if projects_remain.to_i < 1 %><% if projects_remain.to_i < 1 %>
    <%= render "pricing" %>

    <p>
      Send a message to <a href="mailto:support@versioneye.com">support@versioneye.com</a> if you need higher plans.
    </p>
    <% if is_orga_owner?(@organisation, current_user) %>
      <p>
        <a href="<%= cc_organisation_path(@organisation) %>">Update Credit Card</a>
      </p>
    <% end %>

    <p>
      <br/>
      <ul>
        <li style="padding-bottom: 10px;">
          <b>Project</b>: A private VersionEye project is a project which is based on a project file (Gemfile, pom.xml and so on) in an Git repository.
        </li>
        <li style="padding-bottom: 10px;">
          <b>API calls per hour</b>: The number of HTTP requests per hour you can do to the VersionEye <a href="/api">API</a> depends on your subscription. As higher your subscription plan as more API calls per hour you can do. The API calls are especially important for you if you want to integrate VersionEye into your own tool chain.
        </li>
        <li style="padding-bottom: 10px;">
          <b>Components to sync</b>: The "components to sync" number is important for you if you run your own instance
          of VersionEye. Any VersionEye Enterprise instance tries to keep the local database up-to-date through a build in sync mechanism which is based on the public VersionEye API. If you are using 210 different open source components/dependencies over all your software projects and you always want to have current meta information to that 210 OS components in your local VersionEye Enterprise instance, you will need at least the "Freelance" plan.
        </li>
      </ul>
    </p>

  </div>

</div>
