<div class="col-md-3 navbar_container" >
  <%= render "organisations/navi" %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Plans &amp; Pricing - Manage your subscription here
  </div>

  <div class="content" >
    <p>
      This organisation is currently using the <span style="font-weight: bold"><%= @organisation.plan.name %></span> plan.
    </p>
    <p>
      <% comp_count = @organisation.comp_bucket_count %>
      <% os_project_count = @organisation.os_project_count %>
      <% private_project_count = @organisation.private_project_count %>
      <% projects_remain = @organisation.plan.private_projects.to_i - private_project_count.to_i %>
      <% os_remain = @organisation.plan.os_projects.to_i - os_project_count.to_i %>
      <% comp_remain = @organisation.plan.cmp_rate_limit.to_i - comp_count.to_i %>
      <table class="table table-striped">
        <thead style="font-weight: bold;">
          <tr>
            <td></td>
            <td>Max</td>
            <td>Used</td>
            <td>Remain</td>
          </tr>
        </thead>
        <tr>
          <td>Private Projects:</td>
          <td><%= @organisation.plan.private_projects.to_i %></td>
          <td><%= private_project_count %></td>
          <td><%= projects_remain %></td>
        </tr>
        <tr>
          <td>Open Source Projects:</td>
          <td><%= @organisation.plan.os_projects.to_i %></td>
          <td><%= os_project_count %></td>
          <td><%= projects_remain %></td>
        </tr>
        <tr>
          <td>Components to sync:</td>
          <td><%= @organisation.plan.cmp_rate_limit.to_i %></td>
          <td><%= comp_count %></td>
          <td><%= comp_remain %></td>
        </tr>
        <tr>
          <td>API Calls / Hour:</td>
          <td><%= @organisation.plan.api_rate_limit.to_i %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </p>

    <%= render "pricing" %>

    <p>
      Send a message to <a href="mailto:support@versioneye.com">support@versioneye.com</a> if you need higher plans.
    </p>
    <% if is_orga_owner?(@organisation, current_user) %>
      <p>
        <a href="<%= cc_organisation_path(@organisation) %>">Update Credit Card</a>
      </p>
    <% end %>

    <p>
      <br/>
      <ul>
        <li style="padding-bottom: 10px;">
          <b>Project</b>: A VersionEye project can contain one or multiple project files, like for example a Gemfile, pom.xml and so on.
        </li>
        <li style="padding-bottom: 10px;">
          <b>Private Project</b>: A private project is a VersionEye project based on a file in a private GitHub/Bitbucket repository. Projects created through the VersionEye API are considered as private as well.
        </li>
        <li style="padding-bottom: 10px;">
          <b>OS Project</b>: A OS (Open Source) project is a VersionEye project based on a file in a public GitHub/Bitbucket repository.
        </li>
        <li style="padding-bottom: 10px;">
          <b>API calls per hour</b>: The number of HTTP requests per hour you can do to the VersionEye <a href="/api">API</a> depends on your subscription. As higher your subscription plan as more API calls per hour you can do. The API calls are especially important for you if you want to integrate VersionEye into your own tool chain.
        </li>
        <li style="padding-bottom: 10px;">
          <b>Components to sync</b>: The "components to sync" number is important for you if you run your own instance
          of VersionEye. Any VersionEye Enterprise instance tries to keep the local database up-to-date through a build in sync mechanism which is based on the public VersionEye API. If you are using 210 different open source components/dependencies over all your software projects and you always want to have current meta information to that 210 OS components in your local VersionEye Enterprise instance, you will need at least the "Freelance" plan.
        </li>
      </ul>
    </p>

  </div>

</div>
