
<div class="col-md-3" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    <%= pluralize( @organisation.projects.count, "project" ) %> in this organisation (<%= @organisation.name %>)
  </div>

  <div class="content" >
    <div id="projects" >
      <table class="table table-striped" style="width: 100%">
        <colgroup>
          <col width="30px;" />
          <col width="35px;" />
          <col width="*" />
          <col width="*" />
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=name">Projects</a></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=out_dated">Versions</a></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=license_violations">Licenses</a></th>
          </tr>
        </thead>
        <% @select_col = true %>
        <%= render partial: "/user/projects/helpers/project" , :collection => @projects %>
      </table>
    </div>
    <div>
      Assign selected projects to the selected team:
      <form action="<%= assign_organisation_path( @organisation ) %>" method="post" class="form-inline" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <input type="hidden" name="project_ids" id="project_ids" />
        <select name="team" class="form-control" >
          <% @organisation.teams.each do |team| %>
            <option value="<%= team.name %>" %><%= team.name %></option>
          <% end %>
        </select>
        <button type="submit" class="btn btn-primary" onclick="fetch_projects();" >Assign</button>
      </form>
    </div>
  </div>

</div>

<script type="text/javascript">

  function fetch_projects(){
    var inputs = document.getElementsByTagName("input");
    var ids = [];
    for(var i = 0; i < inputs.length; i++) {
        if(inputs[i].type == "checkbox" && inputs[i].checked == true ) {
            console.info( inputs[i].value );
            ids.push( inputs[i].value )
        }
    }
    var pids = document.getElementById("project_ids");
    pids.value = ids.join(",");
  }

</script>
