
<div class="col-md-3 navbar_container" >
  <%= render "organisations/navi" %>
</div>
<div class="col-md-9">

  <div class="content_header_def" >
    <%= pluralize( @projects.count, "project" ) %> in this organisation (<%= @organisation.name %>)
  </div>

  <div class="content" >

    <div id='projects_filter' >
      <form id="form" action="<%= projects_organisation_path(@organisation) %>" method="GET" class='form-inline' style="padding: 0; margin:0;" >
        <div class="form-group" style="padding-bottom: 25px;">

          <select name="team"  id="team" class="form-control" >
            <option value="ALL">All teams</option>
            <% @organisation.teams.each do |team| %>
              <option value="<%= team.ids %>" <%= "selected" if params[:team].to_s.eql?(team.ids) %> >Team: <%= team.name %></option>
            <% end %>
          </select>

          <select name="language"  id="language" class="form-control" >
            <option value="ALL">All languages</option>
            <% @organisation.unique_languages.each do |language| %>
              <option value="<%= language %>" <%= "selected" if params[:language].to_s.eql?(language.to_s) %> >Language: <%= language %></option>
            <% end %>
          </select>

          <select name="version"  id="version" class="form-control" >
            <option value="ALL">All versions</option>
            <% @organisation.unique_versions.each do |version| %>
              <option value="<%= version %>" <%= "selected" if params[:version].to_s.eql?(version.to_s) %> >Version: <%= version %></option>
            <% end %>
          </select>

          <button type="submit" class="btn btn-primary" >Filter</button>
        </div>
      </form>
    </div>

    <div id="projects" >
      <table class="table table-striped" style="width: 100%">
        <colgroup>
          <col width="30px;" />
          <col width="35px;" />
          <col width="*" />
          <col width="*" />
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=name">Projects</a></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=out_dated">Versions</a></th>
            <th><a href="/organisations/<%= @organisation.name %>/projects?sort=license_violations">Licenses</a></th>
          </tr>
        </thead>
        <% @select_col = true %>
        <%= render partial: "/user/projects/helpers/project" , :collection => @projects %>
      </table>
    </div>
    <div>
      <form action="<%= assign_organisation_path( @organisation ) %>" method="post" class="form-inline" >
        Assign selected projects to team:
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <input type="hidden" name="project_ids" id="project_ids" />
        <select name="team" class="form-control" >
          <% @organisation.teams.each do |team| %>
            <option value="<%= team.name %>" %><%= team.name %></option>
          <% end %>
        </select>
        <input id="single_assignment" type="checkbox" name="single_assignment" value="1">
        <label for="single_assignment">One team per project only</label>
        <button type="submit" class="btn btn-primary" onclick="fetch_projects('project_ids');" >Assign</button>
      </form>

      <form action="<%= delete_projects_organisation_path( @organisation ) %>" method="post" class="form-inline" style="margin-top: 3px;" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <input type="hidden" name="project_delete_ids" id="project_delete_ids" />
        Delete selected projects: <button type="submit" class="btn btn-danger" onclick="fetch_projects('project_delete_ids'); return confirmAction()" >Delete</button>
      </form>
    </div>
  </div>

</div>

<script type="text/javascript">

  function fetch_projects(pids_element){
    var inputs = document.getElementsByTagName("input");
    var ids = [];
    for(var i = 0; i < inputs.length; i++) {
        if(inputs[i].type == "checkbox" && inputs[i].checked == true ) {
            console.info( inputs[i].value );
            ids.push( inputs[i].value )
        }
    }
    var pids = document.getElementById(pids_element);
    pids.value = ids.join(",");
  }

</script>
