<div class="span3">
  <pre>
  :-)
  ----
  *<:)
  </pre>
</div>

<div class="span8">

  <table class = "table table-hover">
  <% @submitted_urls.each_with_index do |item, i| %>
    <% @submitted_url = item %>
    <% @form_index = i %>
    <tr>
      <td class = "span2">
        <% @user = @users[item[:user_id]] %>
        <%= render "shared/gravatar", :object => @user, :size => 100, :show_link => false %>
      </td>
      <td> 
        <strong><%= link_to item.url.html_safe, item.url  %></strong>
        <p>
          <%= item.message.html_safe %>
        </p>
        <p>
          <% if item.search_term %>
            Searched for: <%= item.search_term.html_safe %><br/>
          <% end %>
          <% if item.user_email %>
            <a href="mailto:<%= item.user_email.html_safe %>"><%= item.user_email.html_safe %></a>
          <% end %>
        </p>

        <div class = "moderation-group">
          <div class = "moderation-controls">
            <button class = "btn btn-mini btn-primary" 
             onclick="jQuery('#approval_form_<%= @form_index %>').toggleClass('hide');">Approve</button>
            <button class = "btn btn-mini btn-danger">Decline</button>
          </div>
          <div class = "moderation-forms">
            <%= render "approval_form" %> 
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
  
  <div class = "pull-right">
    <%= will_paginate @submitted_urls %>
  </div>

</div>
