<div class="col-md-3">
  Filter by:
  <ul class= "nav nav-tabs nav-stacked">
    <li>
      <%= link_to 'Show all', admin_submitted_urls_path(:by_state => 'all') %>
    </li>
    <li>
      <%= link_to 'Show unchecked',  admin_submitted_urls_path(:by_state => 'unchecked') %>
    </li>
    <li>
      <%= link_to "Show checked", admin_submitted_urls_path(:by_state => "checked") %> 
    </li>
    <li>
      <%= link_to "Show accepted", admin_submitted_urls_path(:by_state => "accepted") %> 
    </li>
    <li>
      <%= link_to "Show declined", admin_submitted_urls_path(:by_state => "declined") %> 
    </li>
  </ul>
</div>

<div class="col-md-9">
  <table class = "table">
  <% @submitted_urls.each_with_index do |item, i| %>
    <% @submitted_url = item %>
    <% @form_index = i %>
    <tr>
      <td class = "span2">
        <% @user = @users[item[:user_id]] %>
        <%= render "shared/gravatar", :object => @user, :size => 100, :show_link => false %>
      </td>
      <td> 
          <% status_colors = {"new" => "warning", "declined" => "important", "accepted" => "success"} %>
          <% item_status = "new" %>
          <% item_status = "declined" if @submitted_url.declined %>
          <% item_status = "accepted" if !@submitted_url.declined %>
        <p>
          <span class ="label label-<%= status_colors[item_status] %>">
            <%= item_status %>
          </span>
            <%= link_to item.url.html_safe, item.url%>
        </p>
        <p>
          <%= item.message.html_safe %>
        </p>
        <p>
          <% if item.search_term %>
            Searched for: <%= item.search_term.html_safe %><br/>
          <% end %>
          <% if item.user_email %>
            <a href="mailto:<%= item.user_email.html_safe %>"><%= item.user_email.html_safe %></a>
          <% end %>
        </p>

        <div class = "moderation-group">
          <div class = "btn-group">
            <button class = "btn btn-mini btn-primary" 
             onclick="jQuery('.admin-form').addClass('hide');jQuery('#approval_form_<%= @form_index %>').toggleClass('hide');">Approve</button>
           <button class = "btn btn-mini btn-danger"
             onclick="jQuery('.admin-form').addClass('hide');jQuery('#decline_form_<%= @form_index %>').toggleClass('hide');">Decline</button>
            <button class = "btn btn-mini btn-warning"
             onclick="jQuery('.admin-form').addClass('hide');jQuery('#delete_form_<%= @form_index %>').toggleClass('hide');">Remove</button>
       </div>
          <div class = "moderation-forms">
            <%= render "approval_form" %> 
            <%= render "decline_form" %>
            <%= render "delete_form" %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
  
  <div class = "pull-right">
    <%= will_paginate @submitted_urls %>
  </div>

</div>
