<div class = "row-fluid">
  <div class = "span6">  
    <%= form_for testimonial, url: {action: 'decline'},
      html: {class: 'form from-inline'} do |f| %>
      <%= f.hidden_field :id %>
      <%= f.submit 'Decline', class: 'btn btn-danger' %>
    <% end %>
  </div>
  
  <div class = "span6">
    <%= form_for testimonial, url: {action: "approve"}, 
      html: {class: "form from-inline"} do |f| %>
      <%= f.hidden_field :id %>
      <%= f.submit "Accept", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
