<div class = "media <%= !testimonial[:moderated] ? 'warning' : '' %>">
  <%= render partial: 'shared/gravatar', locals: {size: 48, show_link: false, user: testimonial.user, classes: 'pull-left'} %>
  <div class = "media-body">
    <div class = "row-fluid">
      <div class = "span9"> 
        <h5 class = "media-heading">
          <%= testimonial.user[:fullname].to_s.capitalize %>
          , <%= testimonial[:title] %> / <%= testimonial[:company] %>
          <small>
            posted 
            <span>
              <%= time_ago_in_words(testimonial[:updated_at]) %>
            </span>
            ago.
        </h5>
        <p>
          <% if testimonial[:moderated] %>
            This testimonial is
            <span class = "<%= testimonial[:approved] ? 'success' : 'error' %>">
              approved: <%= testimonial[:approved] %>
            </span>
          <% else %>
            <strong> Not moderated yet! </strong>
          <% end %>
          </small>
        </p>
        <p> <%= testimonial[:content] %> </p>
      </div>
      <div class = "span3">
          <%= render partial: "testimonial_admin_form", locals: {testimonial: testimonial} %>
      </div>
    </div>
  </div>
</div>
