
<div style="padding-bottom: 20px;">
  <b>The file upload can take a couple of seconds. Please be patient.</b>
  <br/>
	Supported files are <b>pom.xml</b>, 
	<b>Gemfile</b>, <b>requirements.txt</b>, 
	<b>package.json</b> and <b>composer.json</b>.
</div>

<%= form_for [:user, @project], :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
<div class="tabbable"> 
  <ul class="nav nav-tabs" style="margin: 0px;">
    <li class="active">
    	<a href="#tab1" data-toggle="tab">
    		From disk
    	</a>
    </li>
    <li>
    	<a href="#tab2" data-toggle="tab">
    		From url
    	</a>
    </li>
    <li>
    	<a href="#tab3" data-toggle="tab">
    		From GitHub
    	</a>
	</li>
  </ul>
  <!-- tab content -->
  <div class="tab-content" style="min-height:30px; padding: 10px;">
    <div class="tab-pane active" id="tab1">
      <%= file_field 'upload', 'datafile', :class => "round" %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= f.text_field :url, :class => "round", :style => "width: 430px;", :placeholder =>"Paste your url here" %>
    </div>

    <div class = "tab-pane" id="tab3">
    	<% if current_user.github_token.nil? %>
			<%= render 'shared/login_with_github' %>
		<% else %>
			<div id="fetchLinkArea" style="display: block">
				<a href="javascript: void(0);" onclick="fetchGitHubProjects()" >Fetch List from GitHub</a>
			</div>
			<div id="loadingbarArea" style="display: none"> 
				<%= image_tag("loadingbar.gif") %>	
			</div>
			<div id="projectListArea" class="div-cell" style="display: none">
				<select id="github_projects" name="github_project" ></select>
			</div>
			<div id="gitHubLogin" class="div-cell" style="display: none">
				<%= render 'shared/login_with_github' %>
			</div>
		<% end %>
    </div>
  </div>

</div>
<div class="pull-left" style="padding-top: 10px;">
  <button type="submit" class="btn2 btn2-big ">Create</button>
</div>  

<% end %>