
<% if @whitelists %>
  <form action="<%= save_whitelist_user_project_path(@project) %>" method="post" class="form-inline" >
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <div>
      Choose a License Whitelist we should check against your dependencies.
      If a dependency has a license which is not on your Whitelist we will mark it red and send you notifications.
    </div>
    <div class="form-group">
      <select name="whitelist" class="form-control" >
        <option value="none"  <%= @project.license_whitelist == nil ? 'selected' : '' %> >Don't check</option>
        <% @whitelists.each do |list| %>
          <option value="<%= list.name %>" <%= @project.license_whitelist.to_s.eql?(list.name) ? 'selected' : '' %> ><%= list.name %></option>
        <% end %>
      </select> 
    </div>
    <button type="submit" class="btn btn-primary" >Save</button> 
    <% if !Rails.env.enterprise? %>
      <button type="button" onclick="window.location.href='/settings/license_whitelists'" class="btn btn-success" >Manage Whitelists</button>
    <% end %> 
  </form>
  <br/>
<% end %>
