<div class="navi nav-tabs nav-stacked"  >
  <% if signed_in? %>
  <ul class = "nav nav-pills nav-stacked">
    <li><%= link_to "My Projects", user_projects_path %></li>
    <li><%= link_to "Libs I follow", :controller => 'user/projects', :action => "libs_i_follow" %></li>
    <li><%= link_to "Most used libraries", :controller => 'user/projects', :action => "get_popular"  %> </li>
    <li><%= link_to "Add New Project", new_user_project_path %></li>
    <li><%= link_to "Manage Github projects", user_projects_github_projects_path %></li>
</ul>
  <% else %> 
    <%= render "/shared/github_ad" %>
  <% end %>
</div>
