<% tr_class='' %>
<% if project.sv_count_sum > 0 %>
  <% tr_class='flash danger' %>
<% end %>
<tr class="<%= tr_class %>">
  <% if defined?(@select_col) && @select_col == true %>
    <td>
      <input type='checkbox' id="p_check_<%= project.ids %>" value="<%= project.ids %>" />
    </td>
  <% end %>
  <td>
    <% prog_lang = Product.encode_language(project.language) %>
    <span class="icon_<%= prog_lang %> small on" ></span>
  </td>
  <td>
    <%= link_to project.name, user_project_path(project, :child => 'summary'), :class => 'searchResultLink' %>
    <% if !project.version.to_s.empty? %>
      : <%= project.version %>
    <% end %>
    <% if project.public == false %>
      <span class="fa fa-eye-slash" title="Only visible for collaborators"></span>
    <% end %>
    <% if project.private_project == true && Rails.env.enterprise? == false %>
      <span class="fa fa-lock" title="Private VersionEye Project"></span>
    <% end %>
    <% if project.sv_count_sum > 0 %>
      <span class="fa fa-shield" title="Security Alert!"> <%= project.sv_count_sum %>  </span>
    <% end %>
    <% if !project.parsing_errors.to_a.empty? %>
      <i class="fa fa-exclamation-triangle" title="Some errors occured by parsing this project."></i>
    <% end %>
    <% if !project.scm_branch.to_s.empty? %>
      <div style="font-size: 12px;">
        <%= render :partial => "user/projects/helpers/scm_source_info", :locals => { :project => project } %>
      </div>
    <% end %>
    <% if defined?( @organisation ) && @organisation %>
      <div style="font-size: 12px;">
        <% if project.teams && !project.teams.empty? %>
          <% tcount = project.teams.count %>
          <% z = 1 %>
          Teams: [
            <% project.teams.each do |team| %>
              <%= link_to team.name, organisation_team_path(@organisation, team) %><% if z < tcount %><%= ", " %><% end %>
              <% z += 1 %>
            <% end %>
          ]
        <% end %>
        <% if project.user %>
          Created by: <%= link_to project.user.fullname, user_path(project.user) %>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <span style="color: <%= outdated_color(project) %>; font-size: 14px; font-weight: bold;" title="out-dated dependencies" >
      <%= project.out_number_sum %>
    </span> /
    <span title="all dependencies" >
      <%= project.dep_number_sum %>
    </span>
  </td>
  <td>
    <span style="color: <%= licenses_red_color(project) %>; font-size: 14px; font-weight: bold;" title="licenses violating the license whitelist">
      <%= project.licenses_red_sum %>
    </span> :
    <span style="color: <%= licenses_unknown_color(project) %>; font-size: 14px; font-weight: bold;" title="unknown licenses">
      <%= project.licenses_unknown_sum %>
    </span>
  </td>
</tr>
