<tr>
    <td>
      <% prog_lang = Product.encode_language(project.language) %>
      <span class="icon_<%= prog_lang %> small on" ></span>
    </td>
    <td>
      <%= link_to project.name, user_project_path(project), :class => 'searchResultLink' %>
    </td>
    <td>
      <span style="color: <%= outdated_color(project) %>; font-size: 14px; font-weight: bold;" >
        <%= project.out_number %>
      </span>
    </td>
    <td>
      <span style="color: <%= unknown_color(project)%>; font-weight: bold; font-size: 14px;" ><%= project.unknown_number %></span>
    </td>
</tr>
