


    <% if project.source.eql? Project::A_SOURCE_GITHUB %>
      This is a project from
      <a href=<%= path_to_github_branch project %> target="_GITHUB">GitHub <%= project.scm_branch %> branch</a>.

      This file was parsed:
      <a href=<%= path_to_github_file project %> target="_GITHUB" >
        <%= project.filename %>
      </a>.
    <% elsif project.source.eql? Project::A_SOURCE_BITBUCKET %>
      This is a project from
      <a href=<%= path_to_bitbucket_branch project %> target="_BITBUCKET">BitBucket <%= project.scm_branch %> branch</a>.

      <% if project.scm_revision %>
        This file was parsed:
        <a href=<%= path_to_bitbucket_file project %> target="_BITBUCKET" >
          <%= project.filename %>
        </a>.
      <% end %>
    <% elsif project.source.eql? Project::A_SOURCE_STASH %>
      Stash project from <a href=<%= path_to_stash_file( project ) %> target="_STASH" ><%= project.filename %></a> in branch <b><%= project.scm_branch %></b>
      from the repository <b><%= project.scm_fullname %></b>.
    <% elsif project.source.eql? "url" %>
      This is a project from
      <a href="<%= project.url%>" target="_URL">URL</a>.
    <% elsif project.source.eql? Project::A_SOURCE_API %>
      This project was created via the VersionEye API.
    <% else %>
      This is a project from file upload.
    <% end %>
    Last checked at <span>"<%= project.updated_at.strftime("%b %d, %Y - %H:%M") %>"</span>.
