<% product = dep.find_or_init_product %>
<tr class="flash <%= dep[:status_class] || 'info' %> dep_row" id="<%= dep.id.to_s %>__row"  >
  <td style="padding-left: 5px;">
    <span >
      <% if !dep.ext_link.to_s.empty? %>
        <a class="#a dep_link" href="<%= dep.ext_link %>" >
          <span><%= dep.name %></span>
        </a>
      <% elsif dep.known? %>
        <a class="#a dep_link" href="<%= product_version_path( product, dep.version_requested ) %>" >
          <span><%= product.name %></span>
        </a>
      <% else %>
        <span><%= dep.name %></span>
      <% end %>
    </span>
  </td>
  <td>
    <span >
      <% if dep.version_requested.to_s.match(/\A\:path/) %>
        <span title="<%= dep.version_requested %>">:path</span>
      <% elsif dep.version_requested.to_s.match(/\A\:git/) %>
        <span title="<%= dep.version_requested %>">:git</span>
      <% else %>
        <%= dep.version_requested || "UNKNOWN" %>
      <% end %>
    </span>
  </td>
  <td>
    <%= render partial: '/user/projects/helpers/project_mute_button', locals: {dep: dep} %>
    <%= dep.version_current || "UNKNOWN" %>
  </td>
  <td style="padding-right: 5px;">
    <% if dep.unknown? == false && dep.ext_link.to_s.empty? %>
        <%= render partial: "shared/product_follow_mini",
                   locals: {product: product, user: current_user} %>
    <% end %>
  </td>
</tr>
