
    This is a project from

    <% if project.source.eql? Project::A_SOURCE_GITHUB %>
      <a href="<%= Settings.instance.github_base_url %>/<%= project.scm_fullname %>/tree/<%= project.scm_branch %>">GitHub <%= project.scm_branch %> branch</a>.

      <% filename = project[:s3_filename].to_s.gsub(/\S+\_/, '') %>
      We parsed this file:
      <a href = "<%= Settings.instance.github_base_url %>/<%= project.scm_fullname %>/blob/<%= project.scm_branch %>/<%= filename %>" >
        <%= filename %>
      </a>
    <% elsif project.source.eql? Project::A_SOURCE_BITBUCKET %>
      <a href="https://bitbucket.org/<%= project.scm_fullname%>/branch/<%= project.scm_branch %>">BitBucket <%= project.scm_branch %> branch</a>.

      <% # TODO show link to file %>
    <% elsif project.source.eql? "url" %>
      <a href="<%= project.url%>">URL</a>.
    <% else %>
      file upload.
    <% end %>
