<% tr_class='' %> 
<% if project.sv_count_sum > 0 %>
  <% tr_class='flash error' %>
<% end %> 
<tr class="<%= tr_class %>">
    <td>
      <% prog_lang = Product.encode_language(project.language) %>
      <span class="icon_<%= prog_lang %> small on" ></span>
    </td>
    <td>
      <%= link_to project.name, user_project_path(project, :child => 'summary'), :class => 'searchResultLink' %> 
      <% if project.public == false %>
        <span class="icon-lock" title="Private VersionEye Project"></span>
      <% end %> 
      <% if project.sv_count_sum > 0 %>
        <span class="icon-shield" title="Security Alert!"> <%= project.sv_count_sum %>  </span>
      <% end %> 
    </td>
    <td>
      <span style="color: <%= outdated_color(project) %>; font-size: 14px; font-weight: bold;" title="out-dated dependencies" >
        <%= project.out_number_sum %>
      </span> /
      <span title="all dependencies" >
        <%= project.dep_number_sum %>
      </span>
    </td>
    <td>
      <span style="color: <%= licenses_red_color(project) %>; font-size: 14px; font-weight: bold;" title="licenses violating the license whitelist">
        <%= project.licenses_red_sum %>
      </span> :
      <span style="color: <%= licenses_unknown_color(project) %>; font-size: 14px; font-weight: bold;" title="unknown licenses">
        <%= project.licenses_unknown_sum %>
      </span>
    </td>
</tr>
