
  <% no_security_alerts = true %>

  <% dependencies.each do |dep| %>
    <% next if dep.sv_ids.to_a.empty?  %>
    <% no_security_alerts = false %>
    <div class="alert flash error" style="margin-bottom: 5px;">
      <a class="#a dep_link" href="<%= product_version_path( dep.product, dep.version_requested ) %>" >
        <%= dep.product.name %> : <%= dep.version_requested %>
      </a>
      <br/><br/>

      <% dep.security_vulnerabilities.each do |sv| %>
        <ul >
          <li><%= sv.name_id %></li>
          <% if !sv.summary.to_s.empty? && !dep.language.to_s.eql?(Product::A_LANGUAGE_PHP) %>
            <li><%= sv.summary %></li>
          <% end %>
          <% if !sv.nsp.to_s.empty? && sv.source.to_s.eql?("snyk") %>
            <li><a href="https://snyk.io/vuln/<%= sv.name_id %>" >Snyk.io</a></li>
          <% end %>
          <% if !sv.nsp.to_s.empty? && !sv.source.to_s.eql?("snyk") %>
            <% sec_issue = SecurityVulnerability.where(:nsp => sv.nsp, :source => 'snyk').first %>
            <% if sec_issue %>
              <li><%= sec_issue.name_id %></li>
              <li><a href="https://snyk.io/vuln/<%= sec_issue.name_id %>" >Snyk.io</a></li>
            <% end %>
          <% end %>
          <% sv.links.keys.each do |key| %>
            <% next if key.to_s.empty? %>
            <li><a href="<%= sv.links[key] %>"><%= sv.links[key] %></a></li>
          <% end %>
          <% if !sv.affected_versions_string.to_s.empty? %>
            <li>Affected versions: <%= sv.affected_versions_string %></li>
          <% end %>
          <% if !dep.project.muted_svs.keys.include?(sv.ids) %>
            <li><button class="btn btn-xs btn-warning" onclick="load_dialog_mute_security('<%= dep.project.ids %>', '<%= sv.ids %>', '<%= sv.name_id %>'); return false;">Mute this security issue</button></li>
          <% else %>
            <li>
              <b>Muted: <%= dep.project.muted_svs[sv.ids] %></b><br/>
              <form id="form" action="/user/projects/unmute_security" method="POST">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <input type="hidden" name="project_id" value="<%= dep.project.ids %>">
                <input type="hidden" name="sec_id" value="<%= sv.ids %>">
                <button class="btn btn-xs btn-warning" > unmute </button>
              </form>
            </li>
          <% end %>
        </ul>
        <hr style="border-bottom: 1px solid white;" />
      <% end %>

    </div>
  <% end %>

  <% if no_security_alerts == true %>
    <div class="alert falsh success">
      There are no known security vulnerabilities. THIS REPORT IS WITHOUT ANY WARRANTY!
    </div>
  <% end %>
