
<tr class="flash success">
  <td>

  </td>
  <td>
    <%= dep.version_current %>
  </td>
  <td>
    <span ><%= dep.version_requested %></span>
  </td>
  <td>
    <span >
      <a class="#a dep_link" href="<%= product_version_path( product, dep.version_requested ) %>" >
        <span ><%= product.name %></span>
      </a>
    </span>
  </td>

  <% if follow_link.eql?("true") %>
    <td>
      <%= render partial: "shared/product_follow_mini", locals: {product: product, user: current_user} %>
    </td>
  <% end %>

</tr>
