
  <% if !@project.nil? && !@project.license_whitelist_id.to_s.empty? %>
    <div style="margin: 10px 0 10px 0;">
      <span style="font-weight: bold">Exports:</span>
      <%= link_to 'version.pdf', version_export_user_project_path( @project.ids ) %> |
      <%= link_to 'licenses.pdf', lwl_export_user_project_path( @project.ids ) %> |
      <%= link_to 'licenses.csv', lwl_csv_export_user_project_path( @project.ids ) %>
      <% if security_available?( @project ) %> | <%= link_to 'security.pdf', sec_export_user_project_path( @project.ids ) %><% end %>
    </div>
  <% end %>

  <% @license_hash = Hash.new %>
  <% if @summary  %>
    <% @summary.keys.each do |key| %>
      <% proj = @summary[key] %>
      <a href="/user/projects/<%= @project.id %>?child=<%= proj[:id] %>#tab-<%= tab_id %>">
        <h4> <%= proj[:name] %></h4>
      </a>
      <%= render :partial => "user/projects/helpers/project_numbers_sentence", :locals => { :project => proj } %><br/>
      <% if !proj[:dependencies].empty? %>
        <% add_dependency_classes proj %>
        <% proj[:dependencies] = sort_hash_deps( proj[:dependencies] ) %>
        <%= render partial: "project_dependency_table", locals: {deps: proj[:dependencies], :display_grouping => false, :display_charts => false } %>
      <% end %>
      </br>
    <% end %>
  <% elsif @child.dependencies && !@child.dependencies.empty? %>
    <div>
      <% @child.scopes.each do |scope| %>
        <% deps = @child.dependencies( scope ) %>
        <% if deps && !deps.empty? %>
          <% add_status_to_deps( deps ) %>
          <% deps = sort_deps( deps ) %>
          <div style="padding-top: 15px;">
            <span style="color: gray;"><%= scope %> scope</span>
            <%= render partial: "project_dependency_table", locals: {deps: deps, :display_grouping => true, :display_charts => true } %>
          </div>
        <% end %>
      <% end %>
      <% @summary = nil %>
      <%= render partial: "pfile_summary", locals: { :display_grouping => true, :display_charts => true } %>
    </div>
  <% else %>
    No dependencies available for <b><%= @child.name %></b>
  <% end %>
