
  <% selected_id = child_project.id %>
  <% summary_selected = 'nan' %>
  <% if @summary %>
    <% selected_id = 'nan' %>
    <% summary_selected = 'summary' %>
  <% end %>

  <div style="padding-bottom: 5px;">
    <a style="text-decoration: none;" href="/user/projects/<%= parent_project.id %>?child=summary#tab-<%= tab_id %>">
      <span style="font-size: 16px; line-height: 200%;" class="label label-<%= subproject_label_color( summary_selected, parent_project.id ) %>">Summary</span>
    </a>
    <a style="text-decoration: none;" href="/user/projects/<%= parent_project.id %>#tab-<%= tab_id %>"><span style="font-size: 16px; line-height: 200%;;" class="label label-<%= subproject_label_color( selected_id, parent_project.id ) %>"><%= subproject_name( parent_project ) %></span></span></a>
    <% parent_project.children.each do |project| %>
      <a style="text-decoration: none;" href="/user/projects/<%= parent_project.id %>?child=<%= project.id %>#tab-<%= tab_id %>">
        <span style="font-size: 16px; line-height: 200%;;" class="label label-<%= subproject_label_color( child_project.id, project.id ) %>"><%= subproject_name(project) %></span>
      </a>
    <% end %>
  </div>
  <% if child_project.parent_id != nil %>
    <div>
      <a href="/user/projects/<%= parent_project.id %>/unmerge?child=<%= @child.id %>#tab-<%= tab_id %>">
        unmerge <%= subproject_name(child_project) %>
      </a>
    </div>
  <% end %>
