
<% if @summary  %>

  <% if @project && !@project.license_whitelist_id.to_s.empty? %>
    <div style="margin: 10px 0 7px 0;">
      <%= link_to 'BoM PDF Export', lwl_export_user_project_path( @project.ids ) %> |
      <%= link_to 'BoM CSV Export', lwl_csv_export_user_project_path( @project.ids ) %>
    </div>
  <% end %>

  <% @summary.keys.each do |key| %>
    <% proj = @summary[key] %>
    <a href="/user/projects/<%= @project.id %>?child=<%= proj[:id] %>#tab-<%= tab_id %>">
      <h4> <%= proj[:name] %></h4>
    </a>
    <%= render :partial => "user/projects/helpers/license_number_sentence", :locals => { :project => proj } %><br/>
    <% if !proj[:licenses].empty? %>
      <% add_dependency_classes proj %>

      <%= render :partial => "shared/product_license_table", :locals => {:dependencies => proj[:licenses], :width => "615", :project_id => @child.id.to_s, :license_whitelist_id => @project.license_whitelist_id, :display_charts => false, :display_grouping => false, :display_pdf_export => false} %>

    <% end %>
  <% end %>
<% else %>
  <%= render :partial => "shared/product_license_table", :locals => {:dependencies => @child.dependencies, :width => "615", :project_id => @child.id.to_s, :license_whitelist_id => @project.license_whitelist_id, :display_charts => true, :display_grouping => true, :display_pdf_export => true} %>
<% end %>

<% if @summary.nil? && !@child.dependencies.empty? &&
      ( subproject_name( @child ).match(/\.lock$/).nil? &&
      ( subproject_name( @child ).match(/\AGemfile\z/i).nil? &&
      ( subproject_name( @child ).match(/\Acomposer.json\z/i).nil? ) %>
  <div id="trans_deps" style="margin-top: 15px;">
    <h3>Licenses of transitive dependencies</h3>
    <form id="trans_dep_form" action="<%= transitive_dependencies_user_project_path(@child) %>" data-remote="true" method="post" >
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <input hidden="true" name="id" value="<%= @child.id.to_s %>" />
      <button type="submit" class="btn btn-primary"
        onclick="document.getElementById('progress_bar').style.display='block';
                 document.getElementById('trans_dep_form').style.display='none'; " >Show licenses for transitive dependencies</button>
    </form>
    <div id="progress_bar" style="display: none">
      <%= image_tag "loadingbar.gif" %>
    </div>
  </div>
<% end %>
