<tr class="flash warn">
  <td>
    
  </td>
  <td>
    <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
      <a itemprop="url" class="#a dep_link" href="<%= product_url(product) %>" >
        <span itemprop="name" ><%= product.name %></span>
      </a>
    </span>
  </td>
  <td>
    <span itemprop="softwareVersion"><%= dep.comperator_lbl %> <%= dep.version_lbl %></span>
  </td>
  <td>
    <%= dep.version_current %>
  </td>
</tr>
