<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
			There are new releases out there. 
		</p>
		<p>
			<table>				
				<% @notifications.each do |notification| %>
					<% product = Product.find_by_id(notification.product_id) %>
		      		<% version = product.get_version(notification.version_id) %>
					<div style="border-bottom: 1px dotted gray; padding: 5px;"> 
						<a href="<%=@link%><%=product.to_param%>/version/<%=version.to_url_param%>"><%=product.name%></a> - <%= version.version %>
					</div>
					<% notification.sent_email = true %>
					<% notification.save %>
				<% end %>
			</table>
		</p>
		<p>
			We keep you informed. <br/>
			Have a great day!
		</p>
		<p>
			Your VersionEye Team
		</p>
	</body>
</html>