<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @user.fullname %></p>
		<p>
			Version <b><%= @version.version %></b> of Project <b><%= @product.name %></b> is out: <br/>
			Just follow this link: <a href="<%= @link %>"><%= @product.name %> - <%= @version.version %></a>
		</p>
		<p>
			We keep you informed. <br/>
			Have a great day!
		</p>
		<p>
			Your VersionEye Team
		</p>
	</body>
</html>