
<div class="span3" >
  
</div>
<div class="span8">

  <div class="span8 content_header_def" >
    Your latest notifications for the software packages you follow directly. 
    <a href="<%= url_for(favoritepackages_user_url(current_user)) %>.rss"><%= image_tag "rss.png", :title => "Subscribe via RSS", :alt => "Subscribe via RSS" %></a>
  </div>

  <div class="span8 content" >
    <% if !@notifications.nil? && !@notifications.empty? %>
      <% @notifications.each do |noti| %> 
        <div class="row search-item" >
          <% product = noti.product %>
          <div class="icon56 span2 pull-left">
            <% prog_lang = product.language.to_s.downcase.gsub(/\./, '') %>
            <span class = "icon_<%= prog_lang %> on" ></span>
          </div>
          <div class = "span5">
            <a href="<%= product_version_path(product, noti.version_id) %>" class="searchResultLink"><span ><%= product.name %>:<%= noti.version_id %></span></a> 
              <span class="meta_prod_description">found at <%= noti.created_at.strftime('%b %d, %Y - %I:%m %p') %></span>
              <br/>
            <% if product.prod_type == "Maven2" %>
              <span class="group_id_small">GroupId: <%= product.group_id %></span><br/>
              <% if !product.short_summary.to_s.empty? %>
                <span class="meta_prod_description"><%= product.short_summary %></span><br/>
              <% end %>
            <% else %>
              <span class="meta_prod_description"><%= product.short_summary %></span><br/>
            <% end %>
            <span class="meta_reference" >References: <%= link_to product.used_by_count, product_references_path( :lang => product.language_esc, :key => product.to_param ) %></span>
          </div>
        </div>
      <% end %>
    <% else %> 
      There are no notifications for you. 
    <% end %>
  </div>

</div>
