
<% if @author %>

  <% title @author.name %>

  <div class="row">
    <div class="col-md-3 col-xs-12 pull-left sticky">

      <%=  gravatar_image_tag( @author.email, :alt => @author.name, :class => 'round12', :gravatar => { :size => 200, :default => "#{Settings.instance.server_url}/profile_icon.png" }) %><br/>
      <% if !@author.homepage.to_s.empty? %>
        <br/><a href="<%= url_abs(@author.homepage) %>">Homepage</a>
      <% end %>
      <% if !@author.role.to_s.empty? %>
        <br/><span style="font-weight:bold;">Role:</span> <%= @author.role %>
      <% end %>

      <% if @keywords && !@keywords.empty? %>
        <h2 class="section_header"> Keywords </h2>
        <div style="margin-bottom: 20px;" >
          <% @keywords.each do |tag| %>
            <span class="label label-default keyword_tag"><%= link_to tag, keyword_path( Product.encode_prod_key(tag) ) %></span>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="col-md-8 col-xs-12 pull-left">

      <span style="font-weight: bold;"><%= @author.name %></span> contributed code to <%= pluralize( @author.products.count, "software library" ) %>.

      <%= render :partial => "products/show_search_results",
             :locals => { :products => @products, :paginate => false, :prefix => "author", :name_limit => 70 }  %>

    </div>
  </div>

<% else %>

  <div style="text-align: center;">
    <img src="/assets/grumpy_cat_no.jpg" >
  </div>

<% end %>
