<div class="span1" >

  <br/>
  <br/>

</div>

<div class="span10" >

  <div >
    <div>
      <h1>Errors</h1>
    </div>
    <div class="searchResults">
      <% if !@errors.nil? %>
        <div>
          <%= @errors.total_entries %> Errors
        </div>
        <% @errors.each do |error| %>
          <div class="search-item">
            <div style="font-weight: bold; font-family: arial;">
              <%= error.subject %>
            </div>
            <div>
              <%= error.errormessage %>
            </div>
            <div>
              <%= error.created_at.strftime("%b %d, %Y - %H:%M") %>
            </div>
          </div>
        <% end %>
        <div class = "pagination pagination-right pagination-mini" >
          <%= will_paginate @errors %>
        </div>
      <% end %>
    </div>
  </div>

</div>
