
    <div class="box header">
       <h5>Knows</h5>
    </div>
    <div class="box content" >
      <% @user['product_ids'] ||= [] %>
      <% languages = Product.unique_languages_for_product_ids( @user['product_ids'] ) %>
      <% z = 1 %>
      <table>
        <tr>
          <% languages.each do |language| %>

            <% next if !Product::A_LANGS_SUPPORTED.include?( language ) %>

            <td style="width: 56px; height: 56px; text-align: center; vertical-align: middle;">
              <% prog_lang = language.downcase.gsub(/\./, "") %>
              <div class="icon_<%= prog_lang %> on" style="cursor: pointer" onClick="document.location.href='/<%= language %>'"></div>
            </td>

            <% if (z % 3) == 0 %>
                </tr>
                <tr>
            <% end %>

            <% z = z + 1 %>

          <% end %>
        <tr>
      </table>
    </div>

    <% if @userlinkcollection && !@userlinkcollection.empty? %>
      <div class="box header">
        <h5>Is on</h5>
      </div>
      <div class="box content" >
        <% if !@userlinkcollection.github_empty? %>
          <%= link_to image_tag("socialnetworks/github.png"), @userlinkcollection.github_url, :target => "github" %>
        <% end %>
        <% if !@userlinkcollection.stackoverflow_empty? %>
          <%= link_to image_tag("socialnetworks/stackoverflow.png"), @userlinkcollection.stackoverflow_url, :target => "stackoverflow" %>
        <% end %>
        <% if !@userlinkcollection.twitter_empty? %>
          <%= link_to image_tag("socialnetworks/twitter-bird.png"), @userlinkcollection.twitter_url, :target => "twitter" %>
        <% end %>
        <% if !@userlinkcollection.facebook_empty? %>
          <%= link_to image_tag("socialnetworks/facebook.png"), @userlinkcollection.facebook_url, :target => "facebook" %>
        <% end %>
        <% if !@userlinkcollection.linkedin_empty? %>
          <%= link_to image_tag("socialnetworks/linkedin.png"), @userlinkcollection.linkedin_url, :target => "linkedin" %>
        <% end %>
        <% if !@userlinkcollection.xing_empty? %>
          <%= link_to image_tag("socialnetworks/xing.png"), @userlinkcollection.xing_url, :target => "xing" %>
        <% end %>
      </div>
    <% end %>
