
		<div class="box header">
			<h5>
				<h5>Knows</h5>
			</h5>
		</div>
		<div class="box content" >
			<% @languages.each do |language| %>
				<% prog_lang = language.downcase.gsub(/\./, "") %>
				<div class="icon_<%= prog_lang %>_big_container">
					<div class = "icon_<%= prog_lang %> fix_big on" ></div>
				</div>
			<% end %>		
		</div>

		<% if @userlinkcollection && !@userlinkcollection.empty? %> 
			<div class="box header">
				<h5>
					<h5>Is on</h5>
				</h5>
			</div>
			<div class="box content" >
				<% if !@userlinkcollection.github.nil? && !@userlinkcollection.github.empty? %>
					<%= link_to image_tag("socialnetworks/github.png"), "https://github.com/#{@userlinkcollection.github}", :target => "github" %>
				<% end %>
				<% if !@userlinkcollection.stackoverflow.nil? && !@userlinkcollection.stackoverflow.empty? %>
					<%= link_to image_tag("socialnetworks/stackoverflow.png"), "http://stackoverflow.com/users/#{@userlinkcollection.stackoverflow}", :target => "stackoverflow" %>
				<% end %>
				<% if !@userlinkcollection.twitter.nil? && !@userlinkcollection.twitter.empty? %>
					<%= link_to image_tag("socialnetworks/twitter-bird.png"), "https://twitter.com/#!/#{@userlinkcollection.twitter}", :target => "twitter" %>
				<% end %>
				<% if !@userlinkcollection.facebook.nil? && !@userlinkcollection.facebook.empty? %>
					<%= link_to image_tag("socialnetworks/facebook.png"), "http://www.facebook.com/people/#{@userlinkcollection.facebook}", :target => "facebook" %>
				<% end %>
				<% if !@userlinkcollection.linkedin.nil? && !@userlinkcollection.linkedin.empty? %>
					<%= link_to image_tag("socialnetworks/linkedin.png"), "http://www.linkedin.com/in/#{@userlinkcollection.linkedin}", :target => "linkedin" %>
				<% end %>
				<% if !@userlinkcollection.xing.nil? && !@userlinkcollection.xing.empty? %>
					<%= link_to image_tag("socialnetworks/xing.png"), "http://www.xing.com/profile/#{@userlinkcollection.xing}", :target => "xing" %>
				<% end %>
				<% if !@userlinkcollection.gulp.nil? && !@userlinkcollection.gulp.empty? %>
					<% gulp_url = "http://www.gulp.de/resume/#{@userlinkcollection.gulp}.html" %>
					<% !if Net::HTTP.get_response(URI.parse("http://www.heise.de")).code.eql?("200") %>
						<% gulp_url = "http://www.gulp.de/profil/#{@userlinkcollection.gulp}.html" %>	
					<% end %>
					<%= link_to image_tag("socialnetworks/gulp.png"), gulp_url, :target => "gulp" %>
				<% end %>
			</div>
		<% end %>
