	
	<div class="boxHeader" >
		Knows
	</div>
	<div >
		<% @languages.each do |language| %>
			<%= render :partial => "/products/language_icons", :locals => {:language => language, :icon => nil, :link=>nil, :title=>language} %>
		<% end %>
	</div>

<% if @userlinkcollection && !@userlinkcollection.empty? %> 
	<div class="boxHeader" >
		Is on
	</div>
	<div >
		<% if !@userlinkcollection.github.nil? && !@userlinkcollection.github.empty? %>
			<%= link_to image_tag("socialnetworks/github.png"), "https://github.com/#{@userlinkcollection.github}", :target => "github" %>
		<% end %>
		<% if !@userlinkcollection.stackoverflow.nil? && !@userlinkcollection.stackoverflow.empty? %>
			<%= link_to image_tag("socialnetworks/stackoverflow.png"), "http://stackoverflow.com/users/#{@userlinkcollection.stackoverflow}", :target => "stackoverflow" %>
		<% end %>
		<% if !@userlinkcollection.twitter.nil? && !@userlinkcollection.twitter.empty? %>
			<%= link_to image_tag("socialnetworks/twitter-bird.png"), "https://twitter.com/#!/#{@userlinkcollection.twitter}", :target => "twitter" %>
		<% end %>
		<% if !@userlinkcollection.facebook.nil? && !@userlinkcollection.facebook.empty? %>
			<%= link_to image_tag("socialnetworks/facebook.png"), "http://www.facebook.com/people/#{@userlinkcollection.facebook}", :target => "facebook" %>
		<% end %>
		<% if !@userlinkcollection.linkedin.nil? && !@userlinkcollection.linkedin.empty? %>
			<%= link_to image_tag("socialnetworks/linkedin.png"), "http://www.linkedin.com/in/#{@userlinkcollection.linkedin}", :target => "linkedin" %>
		<% end %>
		<% if !@userlinkcollection.xing.nil? && !@userlinkcollection.xing.empty? %>
			<%= link_to image_tag("socialnetworks/xing.png"), "http://www.xing.com/profile/#{@userlinkcollection.xing}", :target => "xing" %>
		<% end %>
		<% if !@userlinkcollection.gulp.nil? && !@userlinkcollection.gulp.empty? %>
			<%= link_to image_tag("socialnetworks/gulp.png"), "http://www.gulp.de/resume/#{@userlinkcollection.gulp}", :target => "gulp" %>
		<% end %>
	</div>
<% end %>