<div class="searchResults">
	<% if !@comments.empty? %>
		<% @comments.each do |comment| %>

				<div class="comment" >

					<a href="/product/<%= comment.prod_key_url %>/version/<%= comment.version_url %>/0"
					   class="searchResultLink"><%=comment.name_and_version%></a><br/>
					
					<div>
						<%= render :partial => 'shared/show_rate', :locals => {:rate => comment.rate, :id => comment.id} %>
						<br/>
					</div>
					<div class="meta-text-small">
						<%= link_to @user.fullname, user_path(@user) %> on <%= comment.created_at.strftime("%b %d, %Y - %I:%M %p") %>							
					</div>
					<div>
						<%= comment.comment %>
					</div>
					<div class="meta-text-small" >
						<ul class="searchResult-inner-list-row">
							<li class="searchResult-inner-list-cell share-on">Share on</li>
							<li class="searchResult-inner-list-cell share-on-icon">
								<%= image_tag "facebook_icon.png", :onclick=>"shareOnFacebook('#{configatron.server_url}/vc/#{comment.id}', '#{@user.fullname} on #{comment.name_and_version} @VersionEye');", :alt=>"Facebook", :title=>"Facebook" %>
							</li>
							<li class="searchResult-inner-list-cell share-on-icon">
								<a href="http://twitter.com/share" 
								   class="twitter-share-button" 
								   data-url="<%= configatron.server_url %>/vc/<%= comment.id %>" 
								   data-text="<%= @user.fullname %> on <%= comment.name_and_version %> @VersionEye" 
								   data-count="horizontal" >Tweeter</a>
							</li>
						</ul>
					</div>
					
				</div>

		<% end %>
	<% end %>
</div>