<div class="searchResults">
	<% if !@products.empty? %>
		<% @products.each do |product| %>
			<% if product.notification == true %>
				<div class="searchResult" style="background-color: beige">
			<% else %>
				<div class="searchResult" >
			<% end %>
				<ul class="list-row">
					<li class="list-cell icon-cell" >
						<%= render :partial => "/products/search_icons", :locals => {:product => product} %>
					</li>
					<li class="list-cell">
						<a href="<%= product_version_path(product) %>" class="searchResultLink"><%= product.name_and_version %></a><br/>
						<% if product.prod_type == "Maven2" %>
							<span class="meta-text-small">GroupId: <%= product.group_id %></span><br/>
						<% end %>
						<ul class="searchResult-inner-list-row">
							<li class="searchResult-inner-list-cell" style="padding-top: 5px">
								<% if signed_in? && current_user.username.eql?(@user.username) %>
									<span id="unfollow_<%=product.to_param%>">
										<%= form_tag("/unfollow") do  %>
											<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
											<%= submit_tag "Unfollow", :class => "unfollowButton" %>
										<% end %>
									</span>
								<% end %>
							</li>
							<li class="searchResult-inner-list-cell">
								<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => product.prod_key} %>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		<% end %>
	<% elsif current_user == @user %>
		<div>
			Right now you are not following any product. Make a search and follow a product to get notified about updates. 
		</div>
	<% end %>
</div>