
  <div class = "marketing" >
    <h2 class="no_margin"> It's free to sign up! </h2>
    <p> Join today and track your dependencies. </p>
  </div>

  <%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>

    <div class="messages">
        <%= render 'shared/error_messages', :object => f.object %>
    </div>

    <div class="control-group">
      <%= f.label :nickname, :class => "control-label", :for => "fullname" %>
      <div class="controls">
        <%= f.text_field :fullname, :id => "fullname" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email,  :class => "control-label", :for => "email" %>
      <div class="controls">
        <%= f.text_field :email, :id => "email" %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :password,  :class => "control-label", :for => "password" %>
      <div class="controls">
        <%= f.password_field :password, :id => "password" %>
      </div>
    </div>

    <% if Settings.instance.show_promocode %>
      <div class="control-group">
          <%= f.label :promo_code,  :class => "control-label", :for => "promo_code" %>
        <div class="controls">
          <%= f.text_field :promo_code, :id => "promo_code" %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.check_box :terms, :style => "vertical-align: top; margin-right: 5px;", :id => "terms" %>
        <label for="terms" style="display: inline; font-size: 12px;">
          <%= t(:terms_part_1) %>
          <% if I18n.locale == :de %>
            <%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :target => "new_terms" %>
          <% else %>
            <%= link_to "Conditions of Use", terms_path, :target => "new_terms" %>
          <% end %>
          <%= t(:terms_part_2) %>
          <% if I18n.locale == :de %>
            <%= link_to "Datenerhebung", datenerhebung_path, :target => "new_data" %>
          <% else %>
            <%= link_to "Data Acquisition", datacollection_path, :target => "new_data" %>
          <% end %>
          <%= t(:terms_part_3) %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls">
        <button type="submit" class="btn btn-large" ><%= t(:page_signup_button_signup) %></button>
      </div>
    </div>

  <% end %>
