<% title 'Profile' %>

<% if !@user.nil? && @user.deleted %>
	This Account does not exist anymore.
<% end %>

<% if !@user.nil? && !@user.deleted %>

	<%= render 'header' %>

	<div class="span3" >
		<%= render "users/navi" %>
	</div>

	<div class="span8 content">
		<% if @comments %>
			<div>
				<h2 class="section_header">
					<%= pluralize(@count, "Comment") %>
				</h2>
			</div>
			<% if @comments && !@comments.empty? %>
				<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => false } %>
				<div style="margin-top: 20px;" class="pull-right">
					<%= will_paginate @comments %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
