<% title 'Profile' %>

<% if @user.nil?  %>
	There is no user with given username!
<% elsif @user && @user.deleted == true %>
	This Account does not exist anymore.
<% else  %>
	<%= render 'header' %>

	<div class="span3" >
		<%= render "users/navi" %>
	</div>

	<div class="span8 content">
		<% if @comments %>
			<div>
				<h2 class="section_header">
					<%= pluralize(@count, "Comment") %>
				</h2>
			</div>
			<% if @comments && !@comments.empty? %>
				<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => false } %>
				<div style="margin-top: 20px;" class="pull-right">
					<%= will_paginate @comments %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
