<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<div class="sidebar" >
	
	<%= render "users/navi" %>
		
</div>	
<div class="content">
		
	<% if !@products.nil? %>	
		<div class="profile-head">
			<h2 ><%= pluralize(@count, "Favorite Package") %> </h2>
		</div>
		<% if !signed_in? %>
			<%= render 'shared/dialog_follow' %>	
		<% end %>
		<%= render :partial => "products/show_search_results_iterator", :locals => { :products => @products, :prefix => "user", :name_limit => 70 } %>
		<div style="margin-top: 20px;">
			<%= will_paginate @products %>
		</div>
	<% end %>	
	
</div>