<% title "Favorite packages of #{@user.username} (#{@user.fullname}) at VersionEye" %>
<% page_header 'Favorite packages' %>


<% if !@user.nil? && @user.deleted %>
  This Account does not exist anymore.
<% end %>

<% if !@user.nil? && !@user.deleted %>
  <%= render "header" %>

  <div class="span3" >
    <%= render "users/navi" %>
  </div>

  <div class="span8 content">
    <% if !@products.nil? && @products.size > 0 %>

      <div >
        <h2 class="section_header">
          Follows <%= pluralize(@products.total_entries, "Package") %>
          <a href="<%= url_for(favoritepackages_user_url(@user)) %>.rss"><%= image_tag "rss.png", :title => "Subscribe via RSS", :alt => "Subscribe via RSS" %></a>
        </h2>
      </div>

      <%= render :partial => "products/show_search_results_iterator", :locals => { :products => @products, :prefix => "user", :name_limit => 70 } %>
      <% if !@products.nil? && !@products.empty? %>
        <div style="margin-top: 20px; text-align: right;">
          <%= will_paginate @products %>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>

