<div class="boxHeader">
	<span>
		Sign Up
	</span>
	<span style="padding-left: 560px;">
		<%= link_to image_tag("flaggs_germany_off.png", :class => "flag", :title => "Germany", :alt=>"Germany", :onmouseover => "document.getElementById('flag_de').src='/assets/flaggs_germany_on.png';", :onmouseout => "document.getElementById('flag_de').src='/assets/flaggs_germany_off.png';", :id => "flag_de"), signup_path(:locale => :de) %>
		<%= link_to image_tag("flaggs_gb_off.png", :class=>"flag", :title => "GB", :alt=>"GB", :onmouseover => "document.getElementById('flag_en').src='/assets/flaggs_gb_on.png';", :onmouseout => "document.getElementById('flag_en').src='/assets/flaggs_gb_off.png';", :id => "flag_en"), signup_path(:locale => :en) %>
	<span>	
</div>
<div class="boxContainer" style="height: 280px;">
	<div class="formCel">
		<%= form_for @user do |f| %>
			<input id="username" name="user[username]" type="hidden" value="username" />
		    <div class="messages">
		        <%= render 'shared/error_messages', :object => f.object %>
		    </div>

		    <div class="div-row">
		      <div class="labelCel">
		        <%= f.label :fullname %> 
		      </div>
		      <div class="inputCel">
		        <%= f.text_field :fullname, :class => "round", :id => "fullname" %>
		      </div>
		    </div>

		    <div class="div-row">
		      <div class="labelCel">
		        <%= f.label :email %>
		      </div>
		      <div class="inputCel">
		        <%= f.text_field :email, :class => "round", :id => "email" %>
		      </div>
		    </div>

		    <div class="div-row">
		      <div class="labelCel">
		        <%= f.label :password %>
		      </div>
		      <div class="inputCel">
		        <%= f.password_field :password, :class => "round", :id => "password" %>
		      </div>
		    </div>

		    <div class="div-row">
		      <div class="labelCel" style="vertical-align: top">
		        <%= f.check_box :terms %>
		      </div>
		      <div class="inputCel">
		        <label for="user_terms" class="label-smaller">
					<%= t(:terms_part_1) %>
					<% if I18n.locale == :de %>
						<%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :target => "new_terms" %> 
					<% else %>
						<%= link_to "Conditions of Use", terms_path, :target => "new_terms" %> 
					<% end %>					 
					<%= t(:terms_part_2) %>
					<% if I18n.locale == :de %>
						<%= link_to "Datenerhebung", datenerhebung_path, :target => "new_data" %>
					<% else %>
						<%= link_to "Data Acquisition", datacollection_path, :target => "new_data" %>
					<% end %>
					<%= t(:terms_part_3) %>
				</label><br/>
		      </div>
		    </div>

		    <div class="div-row">
		      <div class="labelCel"></div>
		      <div class="inputCel">
		        <button type="submit" class="btn btn-primary btn-large" >Sign Up</button>
		      </div>
		    </div>

		<% end %>
	</div>
	<div class="alternative_signin_options_cel" style="height: 280px;">
		<b>OR</b><br/>
		<br/>
		<br/>
		<%= render 'shared/login_options_vertical' %>
	</div>	
</div>