<div align="center">	
	<div class="productCountInfo" >
		<% if current_user == @user %>
			<%= @user.fullname %>. You are following <%= pluralize(@products.count, "product") %>
		<% elsif %>	
			<%= @user.fullname %> is following <%= pluralize(@products.count, "product") %>
		<% end %>		
	</div>
	<div class="searchResults">
		<% if !@products.nil? %>
			<% @products.each do |product| %>
				<div class="searchResult">
					<a href="/product/<%=product.to_param%>/version/<%=product.version_to_url_param%>" class="searchResultLink"><%=product.name_and_version%></a><br/>
					<span class="searchResultMeta">GroupId: <%= product.group_id %></span><br/>
					<% if current_user == @user %>
						<%= form_tag("/unfollow") do  %>
							<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
							<%= submit_tag "Unfollow", :class => "unfollowButton" %>
						<% end %>
					<% end %>
				</div>				
			<% end %>			
		<% end %>
	</div>
</div>