<div class="sidebar" >
	
	<h1><%= @user.fullname %></h1>
	
	<% if !@products.nil? %>
		<div class="side-navi side-navi-selected side-navi-head">
			<a href="/users/<%=@user.username%>/favoriteproducts">Favorite Products</a>
		</div>
	<% else %>	
		<div class="side-navi side-navi-head">
			<a href="/users/<%=@user.username%>/favoriteproducts">Favorite Products</a>
		</div>
	<% end %>	
	
	<% if !@comments.nil? %>
		<div class="side-navi side-navi-selected">
			<a href="/users/<%=@user.username%>/comments">Comments</a>
		</div>
	<% else %>	
		<div class="side-navi">
			<a href="/users/<%=@user.username%>/comments">Comments</a>
		</div>
	<% end %>	
		
</div>	
<div class="content">
		
	<% if !@products.nil? %>	
		<div class="profile-head">
			<h2 ><%= pluralize(@products.count, "Favorite Product") %> </h2>
		</div>
		<%= render "users/show_user_products" %>
	<% end %>	
	<% if !@comments.nil? %>	
		<div class="profile-head">
			<h2 ><%= pluralize(@comments.count, "Comment") %> </h2>
		</div>
		<%= render "users/show_user_comments" %>
	<% end %>
	
</div>