<div align="center">	
	<div class="productCountInfo" >
		<% if current_user == @user %>
			<%= @user.fullname %>. You are following <%= pluralize(@products.count, "product") %>
		<% elsif %>	
			<%= @user.fullname %> is following <%= pluralize(@products.count, "product") %>
		<% end %>		
	</div>
	<div class="searchResults">
		<% if !@products.empty? %>
			<% @products.each do |product| %>
				<div class="searchResult">
					<a href="<%= product_version_path(product) %>" class="searchResultLink"><%=product.name_and_version%></a><br/>
					<span class="meta-text-small">GroupId: <%= product.group_id %></span><br/>
					<% if current_user == @user %>
						<table style="margin:0" >
							<tr>
								<td width="60" >								
									<%= form_tag("/unfollow") do  %>
										<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
										<%= submit_tag "Unfollow", :class => "unfollowButton" %>
									<% end %>								
								</td>
								<td>
									<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => product.prod_key} %>
								</td>
							</tr>
						</table>
					<% elsif %>	
						<table style="margin:0" >
							<tr>
								<td>
									<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => product.prod_key} %>
								</td>
							</tr>
						</table>
					<% end %>
				</div>				
			<% end %>			
		<% elsif current_user == @user %>
			<div>
				Right now you are not following any product. Make a search and follow a product to get notified about updates. 
			</div>
			<!-- <div>
							<div class="logo_div">
								<%= link_to image_tag("header_logo2.png"), root_path %>
							</div>
							<div id="searchfield_div" class="searchfield_div">			
								<form id="searchform" action="/search" method="GET" class="search-form" >				
									<input id="q" name="q" class="searchfield" type="text" value="<%= @query %>" />
								</form>
							</div>
							<div class="searchlink_div">
								<a href="#" class="searchlink" title="Search" onclick="document.forms['searchform'].submit();">&nbsp;</a>
							</div>
						</div> -->
		<% end %>
	</div>
</div>