<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<% if !@user.nil? %>
	<div class="sidebar" >

		<%= render "users/navi" %>

	</div>	
	<div class="content">

		<div class="boxHeader" style="padding-top: 25px;">
			Knows
		</div>
		<div class="boxContainer">
			<% @languages.each do |language| %>
				<%= render :partial => "/products/language_icons", :locals => {:language => language, :icon => nil, :link=>nil, :title=>language} %>
			<% end %>
		</div>

		<div class="boxHeader">
			Follows <%= pluralize(@prod_count, "Package") %>
		</div>
		<div>
			<% if @prod_count > 0 %>
			<%= render :partial => "products/show_search_results_iterator", :locals => { :products => @products, :prefix => "user", :name_limit => 70 } %>
			<% end %>
			<% if @prod_count > 3 %>
				<div style="padding-top: 10px;">
					<a href="/users/<%=@user.username%>/favoritepackages" style="padding-left: 10px; font-size: 18px;">See all</a>
				</div>
			<% end %>
		</div>
		
		<div class="boxHeader">
			Commented on <%= pluralize(@comments_count, "Package") %>
		</div>
		<div >
			<% if @comments_count > 0 %>
				<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => false } %> 
			<% end %>
			<% if @comments_count > 3 %>
				<div style="padding-top: 10px;">
					<a href="/users/<%=@user.username%>/comments" style="padding-left: 10px; font-size: 18px;">See all</a>
				</div>
			<% end %>
		</div>

	</div>
<% end %>
<%= render 'shared/dialog_follow' %>