<% title 'Saving new password' %>

<%= form_tag('/updatepassword', class: 'form-horizontal') do %>
    <div class="control-group">
      <div class="controls">
        Please type your password twice.<br/>
        <%= hidden_field_tag :verification, @verification %>
      </div>
    </div>

    <div class="control-group">
        <%= label_tag :password, "Password", :class => "control-label", :for => "password" %>
      <div class="controls">
        <%= password_field_tag :password, "", :id => "password" %>
      </div>
    </div>

    <div class="control-group">
        <%= label_tag :email, "Password again", :class => "control-label", :for => "password2" %>
      <div class="controls">
        <%= password_field_tag :password2, "", :id => "password2" %>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls">
        <button type="submit" class="btn btn-big btn-primary" >Save</button>
      </div>
    </div>
<% end %>
