<% title 'Set new password' %>

<div class="row">
  <%= form_tag('/updatepassword', class: 'form-horizontal') do %>

    <div class="form-group">
      <div class="controls">
        Please type your password twice.<br/>
        <%= hidden_field_tag :verification, @verification %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :password, "Password", :class => "control-label", :for => "password" %>
      <div class="controls">
        <%= password_field_tag :password, "", :id => "password", :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :email, "Repeat", :class => "control-label", :for => "password2" %>
      <div class="controls">
        <%= password_field_tag :password2, "", :id => "password2", :class => "form-control", :placeholder => "Password repeat" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label"></div>
      <div class="controls">
        <button type="submit" class="btn btn-big btn-primary" >Save</button>
      </div>
    </div>

  <% end %>
</div>
