

<div class="searchResults">
	<% @comments.each do |comment| %>
		<div class="comment" >
			<ul class="list-row">
				<li class="list-cell icon-cell">
					<%= render :partial => "/products/language_icons", :locals => {:language => comment.language, :icon => nil, :link => "/package/#{comment.prod_key_url}/version/#{comment.version_url}", :title => ":-)" } %>
				</li>
				<li class="list-cell">
					<a href="/package/<%= comment.prod_key_url %>/version/<%= comment.version_url %>"
					   class="searchResultLink"><%=comment.name_and_version%></a><br/>
					<div class="meta-text-small">
						<%= link_to comment.user.fullname, user_path(comment.user) %> <br/> 
						<%= comment.created_at.strftime("%b %d, %Y - %I:%M %p") %>			
					</div>
				</li>
			</ul>
			<ul class="list-row">
				<li class="list-cell icon-cell" style="vertical-align: top">
					<% if show_gravatar %>
						<%= link_to gravatar_image_tag( comment.user.email, :style => "width: 40px;", :alt => comment.user.fullname, :gravatar => { :size => 40, :default => "#{configatron.server_url}/profile_icon.png" }), user_path(comment.user) %>
					<% end %>
				</li>
				<li class="list-cell">
					<div>
						<%= comment.comment %>
					</div>
					<div class="meta-text-small" >
						<ul class="searchResult-inner-list-row">
							<li class="searchResult-inner-list-cell share-on">Share on</li>
							<li class="searchResult-inner-list-cell share-on-icon">
								<%= image_tag "facebook_icon.png", :onclick=>"shareOnFacebook('#{configatron.server_url}/vc/#{comment.id}', '#{comment.user.fullname} on #{comment.name_and_version} @VersionEye');", :alt=>"Facebook", :title=>"Facebook" %>
							</li>
							<li class="searchResult-inner-list-cell share-on-icon">
								<a href="http://twitter.com/share" 
								   class="twitter-share-button" 
								   data-url="<%= configatron.server_url %>/vc/<%= comment.id %>" 
								   data-text="<%= comment.user.fullname %> on <%= comment.name_and_version %> @VersionEye" 
								   data-count="horizontal" >Twitter</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	<% end %>
</div>