<div >
  <% @comments.each do |comment| %>
    <% comment_product = comment.product %>
    <div class="row search-item" >

      <% if comment_product %>

        <div class="col-md-1" style="width:60px; text-align: left;">
          <%= render :partial => "/shared/language_icons", :locals => {:language => comment.language, :icon => nil, :link => "/#{comment_product.language_esc}/#{comment.prod_key_url}/#{comment.version_url}", :title_text => ":-)" } %>
        </div>

        <div class="col-md-9" >
          <div class="">
            <a href="/<%= comment_product.language_esc %>/<%= comment.prod_key_url %>/<%= comment.version_url %>"
               class="searchResultLink"><%= comment_product.name_and_version %></a><br/>
            <a href="/users/<%= comment.user.username %>">
              <span ><%= comment.user.fullname %></span>
            </a>
            at <b><%= comment.created_at.strftime("%b %d, %Y - %H:%M") %></b>
          </div>
          <div class="user_comment">
            <%= comment.comment %>
          </div>
          <div >
            <div >
              <%= render :partial => "shared/list_reply_link", :locals => { :comment => comment } %>
            </div>
          </div>
          <div >
            <%= render :partial => "shared/version_comment_replies",
              :locals => {:comment => comment} %>
          </div>
        </div>

      <% end %>

    </div>
  <% end %>
</div>
