
<div class="container" style="text-align: center" id="screenshots">
  <div id="slider">
    <figure>
      <%= image_tag "marketing/screenshot_01.png"%>
      <%= image_tag "marketing/screenshot_02.png"%>
      <%= image_tag "marketing/screenshot_03.png"%>
      <%= image_tag "marketing/screenshot_04.png"%>
      <%= image_tag "marketing/screenshot_05.png"%>
    </figure>
  </div>
</div>
<!-- /.container -->
