<% if icon.nil? %>
	<% if !language.nil? && !language.empty? %>
		<% if !link.nil? %>
			<a href="<%= link %>">
				<div class="<%= language.gsub(".", "_").downcase %>" 
					 id="<%= link %>_<%= language.downcase %>_icon" 
					 title = "<%= title %>" itemprop = "image" ></div>
			</a>
		<% else %>
			<div class="<%= language.gsub(".", "_").downcase %>" 
					 title = "<%= title %>" itemprop = "image" ></div>
		<% end %>
	<% else %>
		<div class="eye_off"></div>
	<% end %>									
<% else %>
	<img itemprop="image" src="<%= icon %>" width="57" height="57" />
<% end %>