<% if icon.nil? %>
	<% if language && !language.empty? %>
		<% if link %>
			<a href="<%= link %>">
				<div class="icon_<%= language.gsub('.', '').downcase %> on"
					 id="<%= link %>_<%= language.downcase %>_icon"
					 title = "<%= title %>" ></div>
			</a>
		<% else %>
			<div class="icon_<%= language.gsub(".", "").downcase %> on"
					 title = "<%= title %>" ></div>
		<% end %>
	<% else %>
		<div class="eye_off"></div>
	<% end %>
<% else %>
	<img src="<%= icon %>" width="57" height="57" />
<% end %>
