<% if !@comments.nil? && @comments.length > 0 %>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
	<div class="boxHeader">
		Comments
	</div>
	<div class="boxContainer" >
		<table>				
		<% @comments.each do |comment|  %>
			<tr>
				<td>
					<div>
						<%= render :partial => 'shared/show_rate', :locals => {:rate => comment.rate, :id => comment.id} %>
						<br/>
					<div>
					<div class="meta-text-small">
						<%= comment.user.fullname %> on <%= comment.created_at.strftime("%b %d, %Y - %I:%m %p") %>							
					</div>
					<div>
						<%= comment.comment %>
					</div>
					<div class="meta-text-small" >
						<ul class="list-row">
							<li class="list-cell share-on">Share on</li>
							<li class="list-cell share-on-icon"><%= image_tag "facebook_icon.png", :onclick => "shareOnFacebook('#{comment.comment}');", :alt=>"Facebook", :title=>"Facebook"  %></li>
							<li class="list-cell share-on-icon">
								<a href="http://twitter.com/share" 
								   class="twitter-share-button" 
								   data-url="http://versioneye.com<%= product_version_path_short(@product)%>" 
								   data-text=" @VersionEye" 
								   data-count="horizontal" >Tweet</a>
							</li>
						</ul>
			        </div>						
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>