

<% if defined?(display_pdf_export) && display_pdf_export && display_pdf_export == true && !project_id.nil? && !project_id.to_s.empty? && !license_whitelist_id.to_s.empty? %>
  <div style="margin: 10px 0 7px 0;">
    <%= link_to 'BoM PDF Export', lwl_export_user_project_path( project_id ) %> |
    <%= link_to 'BoM CSV Export', lwl_csv_export_user_project_path( project_id ) %>
  </div>
<% end %>

<% whitelisted_count = 0 %>
<% unknown_count = 0 %>
<% violated_count = 0 %>
<% license_hash = Hash.new %>
<table class="dependency_table">
  <thead>
    <tr>
      <th style="padding-left: 5px;" >Dependency</th>
      <th style="padding-left: 5px;" >License</th>
    </tr>
  </thead>
  <% dependencies.sort! { |a,b| a.name.downcase <=> b.name.downcase } %>
  <% dependencies.each do |dependency| %>
    <% sep_class = "license_seperator" %>

    <% licenses = [] %>
    <% dep_version = '0' %>
    <% if dependency.respond_to?('version_requested') %>
      <% dep_version = dependency.version_requested %>
    <% else %>
      <% dep_version = dependency.version %>
    <% end %>
    <% licenses = dependency.license_caches if dependency.respond_to?( 'license_caches' ) %>
    <% licenses = dependency.licenses       if dependency.respond_to?( 'licenses' ) %>

    <% if licenses && !licenses.empty? %>
      <% licenses.each do |license| %>

        <% license_hash[license.name] = [] if license_hash[license.name].nil? %>
        <% license_hash[license.name] << dependency %>

        <% whitelist_class = '' %>
        <% if license.respond_to? 'is_whitelisted?' %>
          <% if license.is_whitelisted? == false %>
            <% whitelist_class = 'error'    %>
            <% violated_count += 1 %>
          <% end %>
          <% if license.is_whitelisted? == true %>
            <% whitelist_class = 'success'   %>
            <% whitelisted_count += 1 %>
          <% end %>
        <% elsif @project.license_whitelist %>
          <% on_whitelist = @project.license_whitelist.include_license_substitute?( license.name_substitute ) %>
          <% if on_whitelist == false %>
            <% whitelist_class = 'error'    %>
            <% violated_count += 1 %>
          <% end %>
          <% if on_whitelist == true %>
            <% whitelist_class = 'success'  %>
            <% whitelisted_count += 1 %>
          <% end %>
        <% end %>

        <tr class="<%= sep_class %> <%= whitelist_class %> ">
          <td style="padding-left: 5px;">
            <a class="#a dep_link" href="<%= product_url_for_projectdependency(dependency) %>" ><%= dependency.name %> : <%= dep_version %></a>
            <% if license && license.respond_to?('on_cwl') && license.respond_to?('on_whitelist') && license.on_cwl == true && license.on_whitelist == false %>
              <i class="fa fa-thumbs-o-up" style="color: blue" title="whitelistted through component whitelist"></i>
            <% end %>
            <% if license.respond_to?('is_whitelisted?') && license.is_whitelisted? == false %>
              <%= render :partial => "/component_whitelists/add_to_cwl", :locals => { :component_whitelist => @project.component_whitelist, :dep => dependency } %>
            <% end %>
          </td>
          <td style="padding-left: 5px;">
            <%= render :partial => "shared/license_name", :locals => {:license => license } %>
          </td>
        </tr>
        <% sep_class = "" %>
      <% end %>
    <% else %>
      <% unknown_count += 1 %>
      <% license_hash['unknown'] = [] if license_hash['unknown'].nil? %>
      <% license_hash['unknown'] << dependency %>
      <tr class="flash warning">
        <td style="padding-left: 5px;">
          <% if dependency.prod_key %>
            <a class="#a dep_link" href="<%= product_url_for_projectdependency(dependency) %>" ><%= dependency.name %> : <%= dep_version %></a>
            <%= render :partial => "/component_whitelists/add_to_cwl", :locals => { :component_whitelist => @project.component_whitelist, :dep => dependency } %>
          <% else %>
            <%= dependency.name %>
            <%= render :partial => "/component_whitelists/add_to_cwl", :locals => { :component_whitelist => @project.component_whitelist, :dep => dependency } %>
          <% end %>
        </td>
        <td style="padding-left: 5px;"> UNKNOWN </td>
      </tr>
    <% end %>

  <% end %>
</table>
<br/><br/>

<% if display_charts == true && !license_whitelist_id.to_s.empty? %>
  <div id='pie1' style="text-align: center;">
    <canvas id="pie1-chart" style="margin: auto; max-width: 350px; max-height: 350px;"></canvas>

  </div>
  <script type="text/javascript">
  jQuery(function(){
    console.log('going to render license graph...');

    var dataset = {
      data: [<%= whitelisted_count %>, <%= unknown_count %>, <%= violated_count %>],
      backgroundColor: ["#8BC34A", "#FFC107", "#E64A19"]
    }

    var is_any_positive = _.some(dataset['data'], function(a){return a > 0;});
    if(is_any_positive){
      var pie = new Chart($("#pie1-chart"), {
        type: 'doughnut',
        data: {
          labels: ['Whitelisted', 'Unknown', 'Violated'],
          datasets: [dataset]
        }
      });
    }

  });

  </script>
  <br/><br/>
<% end %>

<% if defined?(display_grouping) && display_grouping && display_grouping == true %>
  <% license_hash.sort.map do |license_name, value| %>
    <div>
      <% if license_name.eql?("unknown") %>
        <span class="label label-warning"><%= license_name %></span>
      <% else %>
        <span ><%= license_name %></span>
      <% end %>
    </div>
    <% license_hash[license_name].each do |dependency| %>
      <span class="license_box"><a href="<%= product_url_for_projectdependency( dependency ) %>" ><%= dependency.name %></a></span>
    <% end %>
    <br/><br/>
  <% end %>
<% end %>

