
<% license_hash = Hash.new %>
<table class="dependency_table" style="width: <%= width %>px;">
  <thead>
    <tr>
      <th width="200px">Dependency</th>
      <th >License</th>
    </tr>
  </thead>
  <% dependencies.sort! { |a,b| a.name.downcase <=> b.name.downcase } %>
  <% dependencies.each do |dependency| %>
    <% sep_class = "license_seperator" %>
    <% licenses = [] %>
    <% licenses = dependency.license_caches if dependency.respond_to?( 'license_caches' ) %>
    <% licenses = dependency.licenses if dependency.respond_to?( 'licenses' ) %>
    <% if licenses && !licenses.empty? %>
      <% licenses.each do |license| %>

        <% license_hash[license.name] = [] if license_hash[license.name].nil? %> 
        <% license_hash[license.name] << dependency %> 

        <% whitelist_class = '' %>
        <% if license.respond_to? 'on_whitelist' %>
          <% whitelist_class = 'error'   if license.on_whitelist == false %>
          <% whitelist_class = 'success' if license.on_whitelist == true  %>
        <% elsif @project.license_whitelist %>
          <% on_whitelist = @project.license_whitelist.include_license_substitute?( license.name_substitute ) %>
          <% whitelist_class = 'error'   if on_whitelist == false %>
          <% whitelist_class = 'success' if on_whitelist == true  %>
        <% end %>

        <tr class="<%= sep_class %> <%= whitelist_class %> ">
          <td><a class="#a dep_link" href="<%= product_url_for_projectdependency(dependency) %>" ><%= dependency.name %> : <%= dependency.version_requested %></a></td>
          <td>
            <%= render :partial => "shared/license_name", :locals => {:license => license } %>
          </td>
        </tr>
        <% sep_class = "" %>
      <% end %>
    <% else %>
      <% license_hash['unknown'] = [] if license_hash['unknown'].nil? %> 
      <% license_hash['unknown'] << dependency %> 
      <tr class="flash warning">
        <td>
          <% if dependency.prod_key %>
            <a class="#a dep_link" href="<%= product_url_for_projectdependency(dependency) %>" ><%= dependency.name %> : <%= dependency.version_requested %></a>
          <% else %>
            <%= dependency.name %>
          <% end %>
        </td>
        <td> UNKNOWN </td>
      </tr>
    <% end %>
  <% end %>
</table>

<br/><br/>

<% license_hash.sort.map do |license_name, value| %>
  <div>
    <% if license_name.eql?("unknown") %>
      <span class="label label-warning"><%= license_name %></span>
    <% else %>
      <span ><%= license_name %></span>
    <% end %>
  </div>
  <% license_hash[license_name].each do |dependency| %>
    <span class="license_box"><a href="<%= product_url_for_projectdependency( dependency ) %>" ><%= dependency.name %></a></span>
  <% end %>
  <br/><br/>
<% end %>
