<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  function shareOnFacebook(message, link, picture){
	alert(link)
    FB.init({
        appId:'230574627021570', cookie:true,
        status:true, xfbml:true
    });
    if (picture == null){
        FB.ui({ method: 'feed',
            link: link,
            description: message});
    } else {
        FB.ui({ method: 'feed',
            link: link,
            picture: picture,
            description: message});
    }
  }
</script>
<% if !@comments.nil? && @comments.length > 0 %>
	<div class="boxHeader">
		Comments
	</div>
	<div class="boxContainer" >
		<table>				
		<% @comments.each do |comment|  %>
			<tr>
				<td>
					<div>
						<%= render :partial => 'shared/show_rate', :locals => {:rate => comment.rate, :id => comment.id} %>
						<br/>
					<div>
					<div class="meta-text-small">
						<%= comment.user.fullname %> on <%= comment.created_at.strftime("%b %d, %Y - %I:%m %p") %>							
					</div>
					<div>
						<%= comment.comment %>
					</div>
					<div class="meta-text-small">
			          Share on <a href="#" onclick="shareOnFacebook('<%= comment.comment %>', document.URL, null);">facebook</a>
			        </div>						
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>