
<table class="dependency_table" style="width: <%= width %>px;">
  <thead>
    <tr>
      <th width="10px" ></th>
      <th width="300px" ></th>
      <th >License</th>
    </tr>
  </thead>
  <% products.each do |product| %>
    <% licenses = product.licenses %>
    <% if licenses && !licenses.empty? %>
      <% licenses.each do |license| %>
        <tr>
          <td></td>
          <td><a class="#a dep_link" href="<%= product_version_path( product, product.version ) %>" ><%= product.name %></a></td>
          <td>
            <% if license.link && !license.link.empty? %>
              <a href="<%= license.link %> "><%= license.name %> </a>
            <% else %>
              <%= license.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="flash warning">
        <td></td>
        <td><a class="#a dep_link" href="<%= product_version_path( product, product.version ) %>" ><%= product.name %></a></td>
        <td> unknown </td>
      </tr>
    <% end %>
  <% end %>
</table>
