
<% license_hash = Hash.new %>
<table class="dependency_table" style="width: <%= width %>px;">
  <thead>
    <tr>
      <th width="10px" ></th>
      <th width="200px" ></th>
      <th >License</th>
    </tr>
  </thead>
  <% products.each do |product| %>
    <% sep_class = "license_seperator" %>
    <% licenses = product.licenses %>
    <% if licenses && !licenses.empty? %>
      <% licenses.each do |license| %>
        <% license_hash[license.name] = Array.new if license_hash[license.name].nil? %>
        <% license_hash[license.name] << product if !product.nil?  %>
        <tr class="<%= sep_class %>">
          <td></td>
          <td><a class="#a dep_link" href="<%= product_version_path( product, product.version ) %>" ><%= product.name %></a></td>
          <td>
            <% if license.link && !license.link.empty? %>
              <a href="<%= license.link %> "><%= license.name %> </a>
            <% else %>
              <%= license.name %>
            <% end %>
          </td>
        </tr>
        <% sep_class = "" %>
      <% end %>
    <% else %>
      <tr class="flash warning">
        <td></td>
        <td>
          <% if product.prod_key %>
            <a class="#a dep_link" href="<%= product_version_path( product, product.version ) %>" ><%= product.name %></a>
          <% else %>
            <%= product.name %>
          <% end %>
        </td>
        <td> unknown </td>
      </tr>
    <% end %>
  <% end %>
</table>

<br/><br/>

<% license_hash.each do |license_name, value| %>
  <%= license_name %> <br/>
  <% license_hash[license_name].each do |product| %>
    <span class="label"><a class="link_white" href="<%= product_version_path( product, product.version ) %>" ><%= product.name %></a></span>
  <% end %>
  <br/><br/>
<% end %>
