<div class="boxHeader">
	Maven2 pom.xml snippet
</div>
<div class="boxContainer"><pre>
<<span>dependency</span>>
    <<span>groupId</span>><b><%= @product.group_id %></b><<span>/groupId</span>>
    <<span>artifactId</span>><b><%= @product.artifact_id %></b><<span>/artifactId</span>>
    <<span>version</span>><b><%= @product.version %></b><<span>/version</span>>
<<span>/dependency</span>></pre>
</div>
<div class="boxHeader">
	Repository
</div>
<div class="boxContainer">
	<% @product.repositories.each do |repo| %>
		<div><a href="<%= repo.src %>" target="_NEW" ><%= repo.src %></a> </div>
	<% end %>		
</div>