<% if signed_in? %>
  <% rl = "right" if rl.to_s.empty? %>
  <div class="pull-<%= rl %>">
    <button type="submit"
            class="btn btn-mini btn-link btn-follow-product"
            data-follow-state = "<%= user_follows?(product, user)%>"
            data-product-key  = "<%= product.to_param %>"
            data-product-lang = "<%= product[:language] %>">
      <% if user_follows?(product, user) %>
        <i class="fa fa-check-square-o">&nbsp;</i>
        <span class="btn-title">Unfollow</span>
      <% else %>
        <i class="fa fa-square-o">&nbsp;</i>
        <span class="btn-title" title="Follow this software package and get notified as soon a new version comes out.">Follow</span>
      <% end %>
    </button>
  </div>
<% else %>
  <button id="button_<%= product.prod_key %>" type="submit" class="btn btn-mini btn-link" onclick="load_dialog_follow('<%= product.name %>', '<%= product.prod_key %>', '<%= product.language %>');" ><i class="fa fa-square-o"></i>&nbsp;Follow</button>
<% end %>
