<div class="div-row">
	<div class="div-cell avatar-comment" >
		<%= gravatar_image_tag( comment.user.email, :style => "width: 40px;", :alt => comment.user.fullname, :gravatar => { :size => 40, :default => "#{configatron.server_url}/profile_icon.png" }) %>
	</div>
	<div class="div-cell comment-meta-box">
		<div class="meta-text-small">
			<%= link_to comment.user.fullname, user_path(comment.user) %> <br/>
			<time itemprop="created" datetime="<%= comment.created_at.strftime("%Y-%m-%dT%H:%M") %>"><%= comment.created_at.strftime("%b %d, %Y - %I:%m %p") %></time>
		</div>
	</div>
</div>
<div class="div-row">
	<div class="div-cell" ></div>
	<div class="div-cell">
		<div itemprop="comment">
			<%= comment.comment %>
		</div>
		<div class="meta-text-small share-cell" >
			<ul class="list-row">
				<li class="list-cell share-on-icon">
					<%= image_tag "facebook_icon.png", :onclick=>"shareOnFacebook('#{configatron.server_url}/vc/#{comment.id}', '#{comment.user.fullname} on #{@product.name_and_version} @VersionEye');", :alt=>"Facebook", :title=>"Facebook" %>
				</li>
				<li class="list-cell share-on-icon">
					<a href="https://twitter.com/share" 
					   class="twitter-share-button" 
					   data-url="<%= configatron.server_url %>/vc/<%= comment.id %>" 
					   data-text="<%= comment.user.fullname %> commented <%= @product.name_and_version %> @VersionEye read the #review here:" 
					   data-count="horizontal" >Twitter</a>
				</li>
				<%= render :partial => "shared/list_reply_link", :locals => { :comment => comment } %>
			</ul>
			<%= render :partial => "shared/version_comment_replies", :locals => { :comment => comment } %>
		</div>
	</div>
</div>