<div class="div-row">
	<div class="div-cell" style="padding-right: 5px;">
		<%= gravatar_image_tag( comment.user.email, :alt => comment.user.fullname, :gravatar => { :size => 40 }) %>
	</div>
	<div class="div-cell" style="vertical-align: top">
		<div>
			<%= render :partial => 'shared/show_rate', :locals => {:rate => comment.rate, :id => comment.id} %>
			<br/>
		</div>
		<div class="meta-text-small">
			<%= link_to comment.user.fullname, user_path(comment.user) %> on <%= comment.created_at.strftime("%b %d, %Y - %I:%m %p") %>
		</div>
	</div>
</div>
<div>
	<%= comment.comment %>
</div>
<div class="meta-text-small" >
	<ul class="list-row">
		<li class="list-cell share-on">Share on</li>
		<li class="list-cell share-on-icon">
			<%= image_tag "facebook_icon.png", :onclick=>"shareOnFacebook('#{configatron.server_url}/vc/#{comment.id}', '#{comment.user.fullname} on #{@product.name_and_version} @VersionEye');", :alt=>"Facebook", :title=>"Facebook" %>
		</li>
		<li class="list-cell share-on-icon">
			<a href="http://twitter.com/share" 
			   class="twitter-share-button" 
			   data-url="<%= configatron.server_url %>/vc/<%= comment.id %>" 
			   data-text="<%= comment.user.fullname %> rated <%= @product.name_and_version %> with <%= comment.rating %> stars @VersionEye read the #review here:" 
			   data-count="horizontal" >Tweeter</a>
		</li>
	</ul>
</div>