<div class="well well-mini" style="margin-top: 5px; margin-bottom: 5px;">

  <div class="row">

  <div class="col-md-2" style="text-align: right;">
    <a href="/users/<%= comment.user.username %>">
      <%= gravatar_image_tag( comment.user.email, :style => 'width: 50px;', :alt => comment.user.fullname, :class => "round12", :gravatar => { :size => 50, :default => "#{Settings.instance.server_url}/profile_icon.png" }) %>
    </a>
  </div>

  <div class="col-md-10" >
    <div >
      <a href="/users/<%= comment.user.username %>">
        <span ><%= comment.user.fullname %></span>
      </a>
      at <b><%= comment.created_at.in_time_zone(timezone).strftime("%b %d, %Y - %H:%M") %></b>
    </div>
    <div class="user_comment">
      <%= comment.comment %>
    </div>
    <div >
      <div >
        <%= render :partial => "shared/list_reply_link", :locals => { :comment => comment } %>
      </div>
    </div>
    <div >
      <%= render :partial => "shared/version_comment_replies",
        :locals => {:comment => comment} %>
    </div>
  </div>

  </div>

</div>
