
  <div class = "well transparent social_media_login_box" >
    <div class = "sml_header">
      <span class  = "icon_profile48 rounded"></span>
    </div>
    <h2> Or sign in with one of your social media accounts </h2>
    <div style="text-align: center;" >
      <% if social_logins_enabled? %>
      <ul class="sml_list" id="sm_list" >
        <% if github_enabled? %>
          <li class="sml_list_label">access to private &amp; public repos:</li>
          <li class="sml_list_item"><%= render 'shared/login_with_github'        , :btn => 'login' %></li>
          <li class="sml_list_label">access to public repos only:</li>
          <li class="sml_list_item"><%= render 'shared/login_with_github_public' , :btn => 'login' %></li>
        <% end %>
        <% if stash_enabled? %>
          <li class="sml_list_item"><%= render 'shared/login_with_stash', :btn => 'login' %></li>
        <% end %>
        <% if bitbucket_enabled? %>
          <li class="sml_list_item"><%= render 'shared/login_with_bitbucket', :btn => 'login' %></li>
        <% end %>
      </ul>
      <% else %>
        Social login buttons not setup yet.
      <% end %>
    </div>
  </div>

  <% if social_logins_enabled? %>
    <div>
      Using one of these logins you automatically confirm that you have read the
      <% if I18n.locale == :de %>
        <%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :target => "new_terms" %>
      <% else %>
        <%= link_to "Conditions of Use", terms_path, :target => "new_terms" %>
      <% end %>
      <%= t(:terms_part_2) %>
      <% if I18n.locale == :de %>
        <%= link_to "Datenerhebung", datenerhebung_path, :target => "new_data" %>
      <% else %>
        <%= link_to "Data Acquisition", datacollection_path, :target => "new_data" %>
      <% end %>
      <%= t(:terms_part_3) %>
    </div>
  <% end %>
