
<div class="col-md-3" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Credit Card Information
  </div>

  <div class="content" >

    <p >
      <a href="https://stripe.com" target="stripe">Stripe.com</a> is our Payment Provider.
      <b>VersionEye doesn't store any Credit Card data!</b>
    </p>
    <div>
      <%= image_tag "ccs.png" %>
    </div>

    <hr />

    <%= form_tag(settings_update_creditcard_path, :method => "post", :class => "form-horizontal", :id => "payment-form") do %>

      <input type="hidden" name="plan" id="plan" value="<%= @plan_name_id %>" />

      <span class='payment-errors'></span>

      <%= render "settings/billing/billing_fields" %>

      <hr />

      <div class="form-group">
        <%= label_tag :card_number, "Card Number", :class => "control-label-big", :for => "cardnumber" %>
        <div class="controls" style="margin-left: 155px;">
          <input data-stripe="number" id="cardnumber" type="text" size="20" autocomplete="off" class="card-number round form-control" />
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :cvc, "CVC", :class => "control-label-big", :for => "cvc" %>
        <div class="controls" style="margin-left: 155px;">
          <input data-stripe="cvc" id="cvc" type="text" size="4" autocomplete="off" class="card-cvc round form-control" style="width: 60px;" />
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :Expiration, "Expiration (MM/YYYY)", :class => "control-label-big", :for => "Expiration" %>
        <div class="controls" style="margin-left: 155px;">
          <input data-stripe="exp-month" id="month" type="text" size="2" class="card-expiry-month round form-control" style="width: 40px; display: inline-block;" />
          <span> / </span>
          <input data-stripe="exp-year" id="year" type="text" size="4" class="card-expiry-year round form-control" style="width: 60px; display: inline-block;" />
        </div>
      </div>

      <div class="form-group">
        <div class="control-label-big"></div>
        <div class="controls" style="margin-left: 155px;">
          <button type="submit" id="cc_submit" class="btn btn-large btn-primary" >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
