
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Credit Card Information
  </div>

  <div class="span8 content" >

    <p >
      <a href="https://stripe.com" target="stripe">Stripe.com</a> is our Payment Provider.
      <b>VersionEye doesn't store any Credit Card data.</b>
    </p>
    <div>
      <%= image_tag "ccs.png" %>
    </div>

    <hr />

    <%= form_tag(settings_update_creditcard_path, :method => "post", :class => "form-horizontal", :id => "payment-form") do %>

      <input type="hidden" name="plan" id="plan" value="<%= @plan_name_id %>" />

      <%= render "settings/billing/billing_fields" %>

      <hr />

      <div class="control-group">
        <%= label_tag :card_number, "Card Number", :class => "control-label-big", :for => "cardnumber" %>
        <div class="controls" style="margin-left: 155px;">
          <input type="text" size="20" autocomplete="off" class="card-number round" id="cardnumber"/>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :cvc, "CVC", :class => "control-label-big", :for => "cvc" %>
        <div class="controls" style="margin-left: 155px;">
          <input type="text" size="4" autocomplete="off" class="card-cvc round" style="width: 60px;" id="cvc"/>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :Expiration, "Expiration (MM/YYYY)", :class => "control-label-big", :for => "Expiration" %>
        <div class="controls" style="margin-left: 155px;">
          <input type="text" size="2" class="card-expiry-month round" style="width: 40px;" id="month" />
          <span> / </span>
          <input type="text" size="4" class="card-expiry-year round" style="width: 60px;" id="year" />
        </div>
      </div>

      <div class="control-group">
        <div class="control-label-big"></div>
        <div class="controls" style="margin-left: 155px;">
          <button type="submit" class="btn btn-large btn-primary"  >Save</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
