<% title 'Sign Up' %>

<div class="col-md-10 col2-left" >

  <%= form_tag('/auth/bitbucket/create', :method => 'post', :class => 'form-horizontal') do  %>

    <div class="form-group">
      <div class="controls">
        Almost done. We just need your email address.
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:email, "Email", :class => "control-label", :for => "email") %>
      <div class="controls">
        <%= text_field_tag :email, @email, :class => "round form-control", :id => "email", :placeholder => "mandatory"  %>
      </div>
    </div>

    <% if Settings.instance.show_promocode %>
      <div class="form-group">
          <%= label_tag :promo_code, "Promo code", :class => "control-label", :for => "promo_code" %>
        <div class="controls">
          <%= text_field_tag :promo_code, @promo, :id => "promo_code", :class => "form-control", :placeholder => "optional" %> 
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="controls">
        <%= check_box_tag :terms, "1", false, :style => "vertical-align: top; margin-right: 5px;", :id => "terms" %>
        <label for="terms" style="display: inline; font-size: 12px;">
          <%= t(:terms_part_1) %>
          <% if I18n.locale == :de %>
            <%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :target => "new_terms" %>
          <% else %>
            <%= link_to "Conditions of Use", terms_path, :target => "new_terms" %>
          <% end %>
          <%= t(:terms_part_2) %>
          <% if I18n.locale == :de %>
            <%= link_to "Datenerhebung", datenerhebung_path, :target => "new_data" %>
          <% else %>
            <%= link_to "Data Acquisition", datacollection_path, :target => "new_data" %>
          <% end %>
          <%= t(:terms_part_3) %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label"></div>
      <div class="controls">
        <button type="submit" class="btn btn-large btn-primary" ><%= t(:page_signup_button_signup) %></button>
      </div>
    </div>

  <% end %>

</div>

