


<div class="container" style=";" >

  <div style='padding: 20px 0 20px 0; height: 215px;' >
    <div class='pull-left' >
      <%= link_to image_tag('versioneye-round-logo.png'), root_path %> 
    </div>
    <div class="pull-left enterprise_header">Enterprise</div>
    <div class="pull-left enterprise_subheader">
      On your own server! Integrated with your private repositories and your continuous integration system! 
    </div>
  </div>

<!-- 
  <div class="well-white l_lp_well_margin" >
    <p>
      Enterprise grade software projects are complex, products contain many libraries 
      from inside and outside of the enterprise, development is spread over many locations. 
      It is a tough job for developers and managers to keep up with changes of a multitude of 
      software libraries.
    </p>
    <p>
      You wish you had a reliable and automatic notification system for changes in software libraries, because software libraries don't update themselves? 
    </p>
    <p> 
      <b>You need VersionEye Enterprise!</b>      
    </p>
    <p>
      VersionEye Enterprise brings the best practices from open source development to 
      the enterprise world! It runs on your own server and it is fully integrated with 
      your existing software development infrastructure and processes! 
    </p>
    <p>
      <ul>
        <li>Support for both - open source and proprietary software components.</li>
        <li>Better software quality in agile software development.</li>
        <li>Lower risks and better compliance.</li>
        <li>Higher productivity of your software development team.</li>
        <li>Better leverage of open source components.</li>
      </ul>
    </p>
  </div>
--> 

  <%= render "/shared/features" %>


  <div style="margin-left: 50px; margin-right: 50px;">
    <h2 class="no_margin">Who is using it?</h2>
    <p class="cite_section">
      <cite>“Automated version notifications of open source and self developed closed source components by VersionEye Enterprise are very helpful especially to our distributed iOS teams. They help reducing coordination and communication efforts. The VersionEye team always did a great job supporting us with individual features!”</cite><br/>
      <div>
        <%= image_tag 'cites/alexander-greim_75.jpg', :class => "img-rounded" %> <b>Alexander Greim (Director Mobile Engineering @ <a href="https://www.xing.com">XING</a> AG)</b>
      </div>
    </p> 
    <p>
      Download the full <a href="/docs/XING-Customer-Success-Story.pdf">customer success story with XING</a>. 
    </p>
    <p>
      More success stories are coming soon! The other Enterprise clients are bigger than XING and that's why the approval process takes a bit longer for them. 
    </p>
  </div>


<div >
  <h2 >Which Git servers are supported?</h2>
  <div class="well-white" style="margin-bottom: 0px;" >
      <p>
        VersionEye Enterprise can be connected with <a href="https://enterprise.github.com/">GitHub Enterprise</a>, 
        Atlassian <a href="https://www.atlassian.com/software/stash">Stash</a> and <a href="https://bitbucket.org/">Bitbucket</a>. That way it's possible to use the Git servers API as single sign on (OAuth) 
        for VersionEye Enterprise. <a href="https://about.gitlab.com/">GitLab</a> support is coming soon! 
      </p>
      <p > 
        <%= image_tag "marketing/login_with_github.png "%> 
        <%= image_tag "marketing/login_with_bitbucket.png" %> 
        <%= image_tag "marketing/login_with_stash.png", :style => "width: 262px;" %>
      </p>
      <p>
        Simply turn on the switch for project files in Git repositories 
        which should be monitored by VersionEye! 
      </p>
  </div>
</div>
<p > 
  <%= image_tag "marketing/git_repo_integration.png", :style => "margin-left: 1px;" %>
</p> 
<p>
  Turn on the switch and receive daily email notifications 
  about your dependencies. <br/><b>It was never easier to stay up-to-date!</b>
</p>


  <h2 >Which repository servers are supported?</h2>
  <div class="well-white" >  
    <p >
      The whole point of VersionEye Enterprise is that it can crawl internal repositories, 
      such as <a href="http://www.sonatype.com/nexus">Nexus Pro</a>, 
      <a href="http://www.jfrog.com/open-source/#os-arti">Artifactory Enterprise</a> 
      and other ones. That way VersionEye gets a complete list of <b>ALL</b> your dependencies! 
      The open source dependencies AND your private components as well! 
    </p>
    <p> 
      Currently we support <a href="http://www.sonatype.com/nexus">Nexus Pro</a> (Java), 
      <a href="http://www.jfrog.com/open-source/#os-arti">Artifactory Enterprise</a> (Java), 
      <a href="http://cocoapods.org/">CocoaPods</a> (Objective-C) and <a href="https://github.com/composer/satis">Satis</a> (PHP)!
    </p>
    <p style="text-align: left;">
      <a href="http://www.sonatype.com/nexus"><%= image_tag "marketing/nexus.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray;" %></a>
      <a href="http://www.jfrog.com/open-source/#os-arti"><%= image_tag "marketing/artifactory.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray; margin-top: 5px;" %></a>
      <a href="http://cocoapods.org/"><%= image_tag "marketing/cocoapods.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray;" %></a>
      <a href="https://github.com/composer/satis"><%= image_tag "marketing/satis.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray;" %></a>
    </p> 

  </div>





  <h2 >How do I install VersionEye Enterprise?</h2>
  <div class="well-white" >
    <p >
      We provide VersionEye Enterprise as an virtual machine image. To be more exact, 
      we provide an <a href="http://www.vmware.com">VMWare</a> instance. All you need 
      is a <a href="http://www.vmware.com/products/player">VMWare Player</a> or 
      <a href="http://www.vmware.com/products/vsphere">VMWare vSpehere</a> to start the instance. 
      After the instance booted successfully you can open a browser and navigate to the 
      IP address of the VM instance. On the default HTTP port 80 the VersionEye web 
      application will come up, where you can activate the instance with an valid API key.
    </p>
    <p>
      After activation you can login with admin/admin and connect VersionEye 
      Enterprise with your private SMTP, Repository and Git server. 
    </p> 
    <p style="text-align: center;">
      <%= image_tag "marketing/versioneye_settings.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray; width: 700px;" %>
    </p>
  </div>


  <h2>Which resources are needed for the Enterprise VM?</h2>
  <div class="well-white" >
    <p >
      The minimum requirements are: 
      <ul>
        <li>1 CPU 2.0 GHz</li>
        <li>2 GB RAM</li>
        <li>20 GB HD</li>
      </ul>
    </p>
    <p>
      Depending on your setup and the amount of the components in your private 
      repositories more resources are required. We recommend to run it with: 
      <ul>
        <li>2 CPU 2.5 GHz</li>
        <li>8 GB RAM</li>
        <li>100 GB HD</li>
      </ul>
    </p>
  </div>


  <h2 >How are software updates rolled out?</h2>
  <div class="well-white" >
    <p >
      VersionEye is running on <a href="https://www.docker.com/">Docker</a>! Currently 
      the whole software for VersionEye and all the backend systems are distributed 
      over multiple Docker containers. On Port 9999 we provide a web interface to 
      manage the Docker containers. 
    </p>
    <p style="text-align: center;">
      <%= image_tag "marketing/versioneye-docker.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray; " %>
    </p>
    <p>
      Updates are provided as new Docker containers. With a single click the current 
      Docker containers can be downloaded directly into the VM, via a secure SSL 
      connection! <b>Updating software was never easier!</b> 
    </p>
  </div>


  <h2 >How to keep the database up-to-date?</h2>
  <div class="well-white" >  
    <p >
      <a href="https://www.versioneye.com">VersionEye.com</a> is monitoring 
      550K open source projects on a daily basis. The crawlers are running 24/7 to 
      keep our database in the cloud up-to-date. VersionEye Enterprise can crawl your 
      private repositories in-house, but then your are still missing all the open 
      source libraries from the Internet. For sure you don't want to run &amp; 
      maintain a huge crawling cluster in your company ;-) That's why there is a 
      sync mechanism between VersionEye Enterprise and VersionEye.com. 
      The Enterprise VM pulls data from the VersionEye.com API to keep your 
      local database up-to-date. 
    </p>
    <p style="text-align: center;">
      <%= image_tag "marketing/VersionEyeEnterpriseArchitecture.png", :class => "img-border img-rounded", :style => "border: 1px solid lightgray; " %>
    </p>
    <p>
      If you upload a pom.xml (or any other project file) to the 
      VersionEye Enterprise VM, first it will display all open source dependencies as unknown. 
      But in the background it will resolve all dependencies via the VersionEye API and pull in 
      the desired data into the local database. Depending on the number of the dependencies 
      this can take a couple minutes. Beside that there is a nightly sync, to keep the Meta data 
      for the local dependencies up-to-date. 
    </p>
  </div>


<div style="margin-left: 50px; margin-right: 50px;">
  <h2 >Interested?</h2>
    <p >
      Please fill out the form bellow if you are interested in VersionEye Enterprise. We will contact you soon. 
    </p>

    <p style="padding-top: 15px;">
    <%= form_tag( enterprise_create_path, :method => "post", :class => "form-horizontal") do  %>

      <div class="control-group">
        <%= label_tag :scm, "Git Server", :class => "control-label", :for => "scm" %>
        <div class="controls" >
          <select name="scm"  id="scm" >
            <option value="github" <%= "selected" if @ent_lead['scm'] == 'github' %> >GitHub Enterprise</option>
            <option value="stash" <%= "selected" if @ent_lead['scm'] == 'stash' %> >Atlassian Stash</option>
            <option value="gitlab" <%= "selected" if @ent_lead['scm'] == 'gitlab' %> >GitLab</option>
            <option value="else" <%= "selected" if @ent_lead['scm'] == 'else' %> >Else</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :repository, "Binary Repository", :class => "control-label", :for => "repository" %>
        <div class="controls" >
          <select name="repository"  id="repository" >
            <option value="nexus" <%= "selected" if @ent_lead['repository'] == 'nexus' %> >Sonatype Nexus</option>
            <option value="artifactory" <%= "selected" if @ent_lead['repository'] == 'artifactory' %> >JFrog Artifactory</option>
            <option value="archiva" <%= "selected" if @ent_lead['repository'] == 'archiva' %> >Apache Archiva</option>
            <option value="cocoapods" <%= "selected" if @ent_lead['repository'] == 'cocoapods' %> >CocoaPods</option>
            <option value="satis" <%= "selected" if @ent_lead['repository'] == 'satis' %> >Satis</option>
            <option value="else" <%= "selected" if @ent_lead['repository'] == 'else' %> >Else</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :ci, "CI Server", :class => "control-label", :for => "ci" %>
        <div class="controls" >
          <select name="ci"  id="ci" >
            <option value="jenkins" <%= "selected" if @ent_lead['ci'] == 'jenkins' %> >Jenkins</option>
            <option value="teamcity" <%= "selected" if @ent_lead['ci'] == 'teamcity' %> >TeamCity</option>
            <option value="bamboo" <%= "selected" if @ent_lead['ci'] == 'bamboo' %> >Atlassian Bamboo</option>
            <option value="else" <%= "selected" if @ent_lead['ci'] == 'else' %> >Else</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :virtualization, "Virtualization", :class => "control-label", :for => "virtualization" %>
        <div class="controls" >
          <select name="virtualization"  id="virtualization" >
            <option value="vmware" <%= "selected" if @ent_lead['virtualization'] == 'vmware' %> >VMWare</option>
            <option value="vb" <%= "selected" if @ent_lead['virtualization'] == 'vb' %> >VirtualBox</option>
            <option value="kvm" <%= "selected" if @ent_lead['virtualization'] == 'kvm' %> >KVM</option>
            <option value="parallels" <%= "selected" if @ent_lead['virtualization'] == 'parallels' %> >Parallels</option>
            <option value="xen" <%= "selected" if @ent_lead['virtualization'] == 'xen' %> >Xen</option>
            <option value="else" <%= "selected" if @ent_lead['virtualization'] == 'else' %> >Else</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :name, "Name", :class => "control-label", :for => "name" %>
        <div class="controls">
          <%= text_field_tag :name, @ent_lead['name'], :id => "name" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :email, "Email", :class => "control-label", :for => "email" %>
        <div class="controls">
          <%= text_field_tag :email, @ent_lead['email'], :id => "email" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :note, "Your use case", :class => "control-label", :for => "note" %>
        <div class="controls">
          <%= text_area_tag :note, nil, :size=>"27x4", :class => "span4" %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-primary" >Submit</button>
        </div>
      </div>

    <% end %>
    </p>

  </div>


</div>










































