
<div>
  <%= image_tag 'logos/versioneye_dark_72dpi.jpg' %>
</div>
<div style="text-align: center;">
  930 x 157 Pixel. 77 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/versioneye_dark_300dpi.png" %>
</div>
<div style="text-align: center;">
  3875 x 654 Pixel. 415 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/versioneye_dark_300dpi-black.jpg" %>
</div>
<div style="text-align: center;">
  3875 x 654 Pixel. 676 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/versioneye_white_72dpi.jpg" %>
</div>
<div style="text-align: center;">
  821 x 111 Pixel. 95 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/versioneye_white_300dpi.jpg" %>
</div>
<div style="text-align: center;">
  3416 x 461 Pixel. 165 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/eye.png" %>
</div>
<div style="text-align: center;">
  983 x 513 Pixel. 56 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/icons-01.jpg" %>
</div>
<div style="text-align: center;">
  512 x 512 Pixel. 108 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/icons-02.jpg" %>
</div>
<div style="text-align: center;">
  512 x 512 Pixel. 115 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/phone-background.png" %>
</div>
<div style="text-align: center;">
  640 x 960 Pixel. 86 KB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/spring_webmvc_all.png" %>
</div>
<div style="text-align: center;">
  2244 × 2244 Pixel. 2.8 MB.<br/>
  <br/>
</div>

<div style="text-align: center;">
  <%= image_tag "logos/hadoop_all.png" %>
</div>
<div style="text-align: center;">
  1342 × 1342 Pixel. 980 KB.<br/>
  <br/>
</div>
