<div class="container" >		
	<div class="span-20" >			
		<h1>About</h1>
		VersionEye is a cloud service and a community for software packages. 
		When you follow a software package, VersionEye will notify you as 
		soon as a new version of the package is available. 
		You are always up to date and can use the newest version of your software!<br/>
		In adition, VersionEye is a community. 
		You can rate and comment on software packages, exchange opinions and
		get help and advice from other users. <br/>
		<br/>
		This is the Team behind VersionEye.<br/>
		<br/>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/RobertReiz.jpg" %></div>
		<div class="meta-text">Robert Reiz</div>
		<div class="meta-text-bold">CEO &amp; Founder</div>
		<div class="meta-text-small">VersionEye is Robert's 3rd Start-Up. He likes to explore new ideas, new places and new projects.</div>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/JohannaReiz.jpg" %></div>
		<div class="meta-text">Johanna Reiz</div>
		<div class="meta-text-bold">Marketing Consultant</div>
		<div class="meta-text-small">Johanna has a Master's Degree in Communications. She likes to Klugscheissen!</div>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/ErwinWelter.jpg" %></div>
		<div class="meta-text">Erwin Welter</div>
		<div class="meta-text-bold">Creative Head</div>
		<div class="meta-text-small">Co-Founder of <a href="http://www.punktzebra.de/" target="_NEW_Punktzebra">Punktzebra</a>. He enjoys a good meal and is a funny guy.</div>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/JanisKrziwanie.jpg" %></div>
		<div class="meta-text">Janis Krziwanie</div>
		<div class="meta-text-bold">Creative Head</div>
		<div class="meta-text-small">Co-Founder of <a href="http://www.punktzebra.de/" target="_NEW_Punktzebra" >Punktzebra</a>. He is a vegetarian, but still a funny guy.</div>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/IngoKoch.jpg" %></div>
		<div class="meta-text">Ingo Koch</div>
		<div class="meta-text-bold">iPhone Developer</div>
		<div class="meta-text-small">Founder of <a href="http://www.appification.de/" target="_NEW_Appification">Appification</a> and Expert for mobile devices. He likes to be challenged.</div>
	</div>
	<div class="span-6 aboutCell">
		<div><%= image_tag "about/MartinChristmann.jpg" %></div>
		<div class="meta-text">Martin Christmann</div>
		<div class="meta-text-bold">Android Developer</div>
		<div class="meta-text-small">Expert for mobile devices. He likes sports and travelling.</div>
	</div>
	<div class="span-18">
		
	</div>
</div>