
<% title 'About VersionEye' %>

<div >
  <%= render 'shared/about' %>
  <br/>
</div>

<% if 1 == 2 %>
  <h2>Team</h2>
  <p>This is the Team behind VersionEye.</p>
</div>
<div class="row">
  <ul class = "thumbnails">
    <li>
      <div class="thumbnail">
        <div class = "image">
          <%= link_to image_tag("about/RobertReiz.jpg"), "https://twitter.com/RobertReiz", :target => "rob" %>
            <h5>Robert Reiz</h5>
            <strong>Engineer</strong>
        </div>
        <div class = "caption">
            <p>Creator of VersionEye, Continuous Updating and Geek2Geek. Fanboy of Semantic Versioning, Dependency Management, Ruby, JavaScript
            </p>
        </div>
      </div>
    </li>

    <li>
      <div class="thumbnail">
        <div class = "image">
          <%= link_to image_tag("about/TimoSulg.jpg"), "https://twitter.com/timgluz", :target => "tim" %>
          <h5>Timo Sulg</h5>
          <strong>Engineer</strong>
        </div>
        <div class = "caption">
          <p>
            Data Hacker and Clojure Evangelist from Estonia. He is currently turning VersionEye into the Google of software libraries.
          </p>
        </div>
      </div>
    </li>

    <li>
      <div class="thumbnail">
        <div class = "image">
          <%= image_tag "about/RichardMetzler.png" %>
          <h5>Richard Metzler</h5>
          <strong>Engineer</strong>
        </div>
        <div class = "caption">
          <p>
            Richard knows several languages such es Node.JS, Erlang and Go, but his favorite languages is still Ruby.
          </p>
        </div>
      </div>
    </li>

  </ul>
</div>



<div>
  <br/>
  <h2>Past Team Members</h2>
  <p>Many Thanks to everybody who worked in the past on this awesome project.</p>
</div>
<div class="row">
  <ul class = "thumbnails">

  <li>
    <div class="thumbnail">
      <div class = "image">
        <%= link_to image_tag("about/RayPham.jpg"), "https://twitter.com/imhysteria", :target => "ray" %>
        <h5>Ray Pham</h5>
        <strong>Art Director</strong>
      </div>
      <div class = "caption">
        <p>
          Australians most creative Head. He likes the Berlin Nightlife.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/AndreaFrankenbach.jpg" %>
        <h5>Andrea Frankenbach</h5>
        <strong>Language Consultant</strong>
      </div>
      <div class = "caption">
        <p>
          Co-Founder of <a href="http://www.mot-ma.de">mot</a>. She loves to travel and get to know other cultures.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class="thumbnail">
      <div class = "image">
        <%= image_tag "about/ErwinWelter.jpg" %>
        <h5>Erwin Welter</h5>
        <strong>Creative Head</strong>
      </div>
      <div class = "caption">
        <p>
          Co-Founder of <a href="http://www.punktzebra.de/" target="new_Punktzebra">Punktzebra</a>. He enjoys a good meal and is a funny guy.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/JanisKrziwanie.jpg" %>
        <h5>Janis Krziwanie</h5>
        <strong>Creative Head</strong>
      </div>
      <div class = "caption">
        <p>
          Co-Founder of <a href="http://www.punktzebra.de/" target="new_Punktzebra" >Punktzebra</a>. He is a vegetarian, but still a funny guy.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/Ilkay.jpg" %>
        <h5>Ilkay Bölek</h5>
        <strong>Draughtswoman</strong>
      </div>
      <div class = "caption">
        <p>
          Check out her drawings on Facebook. Ilkay likes to help homeless people.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/IngoKoch.jpg" %>
        <h5 class="meta-text">Ingo Koch</h5>
        <strong>iPhone Developer</strong>
      </div>
      <div class = "caption">
        <p>
          Founder of <a href="http://www.appification.de/" target="new_Appification">Appification</a> and Expert for mobile devices. He likes to be challenged.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/MartinChristmann.jpg" %>
        <h5>Martin Christmann</h5>
        <strong>Android Developer</strong>
      </div>
      <div class = "caption">
        <p>
          Expert for mobile devices. He likes sports and travelling.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class= "thumbnail">
      <div class = "image">
        <%= image_tag "about/PepperLuboff.jpg" %>
        <h5>Pepper Luboff</h5>
        <strong>Content Editor</strong>
      </div>
      <div class = "caption">
        <p>
          Oakland-based writer and artist. You'll find her among crazy poets and the Etsy rabble.
        </p>
      </div>
    </div>
  </li>

  </ul>
</div>
<% end %>
