<% content_for :title, 'Settings' %>

<ul class = "nav nav-pills nav-stacked">
  <li><%= link_to 'Profile', settings_profile_path %></li>
  <li><%= link_to 'Links'              , settings_links_path %></li>
  <li><%= link_to 'E-Mails'            , settings_emails_path %></li>
  <li><%= link_to 'Plans & Pricing'    , settings_plans_path %></li>
  <li><%= link_to 'Payments'           , settings_payments_path %></li>
  <li><%= link_to 'Connect'            , settings_connect_path %></li>
  <li><%= link_to 'Password'           , settings_password_path %></li>
  <li><%= link_to 'Notification Center', settings_notifications_path %></li>
  <li><%= link_to 'Privacy'            , settings_privacy_path %></li>
  <li><%= link_to 'API Key'            , settings_api_path %></li>
  <li><%= link_to 'Delete'             , settings_delete_path %></li>
</ul>
