<div class="span3" >

	<%= render "settings/navi" %>

</div>
<div class="span8">

  <div class="boxHeader">
    Links
  </div>

	<div class="boxContainer">
	<%= form_tag("/settings/updatelinks", :method => "post") do  %>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
		    <%= label_tag(:GitHub, "GitHub") %>
      </div>
      <div class="inputCel">
		    <%= text_field_tag :github, @userlinkcollection.github, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">https://github.com/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:stackoverflow, "Stackoverflow") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :stackoverflow, @userlinkcollection.stackoverflow, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">http://stackoverflow.com/users/ <b>ID/USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:twitter, "Twitter") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :twitter, @userlinkcollection.twitter, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">https://twitter.com/#!/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>


    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:linkedin, "LinkedIn") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :linkedin, @userlinkcollection.linkedin, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">http://www.linkedin.com/in/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:facebook, "Facebook") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :facebook, @userlinkcollection.facebook, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">http://www.facebook.com/people/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>


    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:xing, "Xing") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :xing, @userlinkcollection.xing, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">http://www.xing.com/profile/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>

    
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:gulp, "Gulp") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :gulp, @userlinkcollection.gulp, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;" style="margin-bottom: 20px;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <span class="meta-text-small">http://www.gulp.de/resume/ <b>USERNAME</b></span>
        <br/>
        <br/>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
        <button type="submit" class="btn btn-large btn-primary" >Save</button>
      </div>
    </div>
	<% end %>

</div>