<div class="sidebar" >

	<%= render "settings/navi" %>	

</div>
<div class="content">

  <div class="boxHeader">
    Links
  </div>

	<div class="boxContainer">
	<%= form_tag("/settings/updatelinks", :method => "post") do  %>    
    <div style="display:table-row;">
      <div class="labelCelMiddle">
		    <%= label_tag(:GitHub, "GitHub") %>
      </div>
      <div class="inputCel">
		    <%= text_field_tag :github, @userlinkcollection.github, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:stackoverflow, "Stackoverflow") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :stackoverflow, @userlinkcollection.stackoverflow, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:linkedin, "LinkedIn") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :linkedin, @userlinkcollection.linkedin, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:xing, "Xing") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :xing, @userlinkcollection.xing, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:twitter, "Twitter") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :twitter, @userlinkcollection.twitter, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:facebook, "Facebook") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :facebook, @userlinkcollection.facebook, :class => "round" %>
      </div>
    </div>
    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:gulp, "Gulp") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :gulp, @userlinkcollection.gulp, :class => "round" %>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle"></div>
      <div class="submitCel">
		    <%= submit_tag "Save", :class => "button" %>
      </div>
    </div>
	<% end %>

</div>