<div class="sidebar" >

	<%= render "settings/navi" %>	

</div>
<div class="content">

  <div class="boxHeader">
    Privacy Settings
  </div>
  <%= form_tag("/settings/updateprivacy", :method => "post") do  %>	    
  <div class="boxContainer">
  	<div class="div-row">
      <div class="labelCelPrivacy">
  		  <label>Who can see the packages I'm following?</label>
      </div>
      <div class="div-cell privacy-option-a" >
        <select name="following_products" >
          <option value="nobody" <%= "selected" if @user.privacy_products == 'nobody' %> >Nobody</option>
          <option value="ru" <%= "selected" if @user.privacy_products == 'ru' %> >Registered Users</option>
          <option value="everybody" <%= "selected" if @user.privacy_products == 'everybody' %> >Everybody</option>
        </select>
      </div>
    </div>

  	<div class="div-row" >
      <div class="labelCelPrivacy privacy-seperator">
  		  <label>Who can see my comments on my profile?</label>
      </div>
      <div class="div-cell privacy-option-a privacy-seperator" >
        <select name="comments" >
          <option value="nobody" <%= "selected" if @user.privacy_comments == 'nobody' %> >Nobody</option>
          <option value="ru" <%= "selected" if @user.privacy_comments == 'ru' %> >Registered Users</option>
          <option value="everybody" <%= "selected" if @user.privacy_comments == 'everybody' %> >Everybody</option>
        </select>
      </div>
    </div>  
  
  	<div class="div-row">
      <div class="labelCelPrivacy">
		    <%= label_tag(:password) %>
      </div>
      <div class="div-cell privacy-option-b">
		    <%= password_field_tag :password, "", :class => "round", :style => "width: 140px; padding-right: 5px;" %>
      </div>
    </div>

    <div class="div-row">
		  <div class="labelCelPrivacy"></div>
		  <div class="div-cell privacy-option-b" >
        <%= submit_tag "Save", :class => "button" %>
      </div>
    </div>
  </div>
  <% end %>

</div>