<div class="span3" >
	<%= render "settings/navi" %>
</div>
<div class="span8">

  <div class="boxHeader">
    Profile Settings
  </div>

	<div class="boxContainer">
	<%= form_tag("/settings/updateprofile", :method => "post") do  %>    
    <div style="display:table-row;">
      <div class="labelCelMiddle">
		    <%= label_tag(:location, "Location") %>
      </div>
      <div class="inputCel">
		    <%= text_field_tag :location, @user.location, :class => "round" %>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle" style="vertical-align: top; padding-top: 7px;">
		    <%= label_tag(:description) %>
      </div>
      <div class="inputCel">
        <%= text_area_tag :description, @user.description, :class => "round", :style => "width: 275px; height: 170px;", :maxlength => "177", :onKeyUp => "textCounter(this, document.getElementById('counter'), 177)", :id => "description"  %>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle" style="vertical-align: top; padding-top: 7px;">
      </div>
      <div class="inputCel meta-text-small" style="float: right">
        Characters left: <span id="counter">177</span>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle">
        <%= label_tag(:blog, "Blog") %>
      </div>
      <div class="inputCel">
        <%= text_field_tag :blog, @user.blog, :class => "round" %>
      </div>
    </div>

	  <div style="display:table-row;">
      <div class="labelCelMiddle">
		    <%= label_tag(:password) %>
      </div>
      <div class="inputCel">
		    <%= password_field_tag :password, "", :class => "round" %>
      </div>
    </div>

    <div style="display:table-row;">
      <div class="labelCelMiddle"></div>
      <div class="inputCel">
		    <button type="submit" class="btn2 btn-large" >Save</button>
      </div>
    </div>
	<% end %>

</div>
<script type="text/javascript">
  textCounter(document.getElementById('description'), document.getElementById('counter'), 177);
</script>