<!-- signup -->
<form id = "signup-form" class="form-horizontal" action= "/users/mobile" method="POST">
  
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  
  <div class="form-group">
    <label for="user_fullname" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="user_fullname" name="user[fullname]" placeholder="Fullname">
    </div>
  </div>
  <div class="form-group">
    <label for="user_email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="user_email" name = "user[email]" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="user_password" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="user_password" name = "user[password]" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <label for="user_password" class="col-lg-2 control-label"></label>
    <div class="col-lg-10">
      <div class = "checkbox">
        <input name="user[terms]" type="hidden" value="0">
        <input type ="checkbox"  id="user_terms" name="user[terms]" class="l_padding_right_5" >
        <label for="terms" style="display: inline; font-size: 12px;">
          <%= t(:terms_part_1) %>
          <% if I18n.locale == :de %>
            <%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :target => "new_terms" %>
          <% else %>
            <%= link_to "Conditions of Use", terms_path, :target => "new_terms" %>
          <% end %>
          <%= t(:terms_part_2) %>
          <% if I18n.locale == :de %>
            <%= link_to "Datenerhebung", datenerhebung_path, :target => "new_data" %>
          <% else %>
            <%= link_to "Data Acquisition", datacollection_path, :target => "new_data" %>
          <% end %>
          <%= t(:terms_part_3) %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="user" class="col-lg-2 control-label">&nbsp;</label>
    <div class="col-lg-10">
      <button type="submit" class="btn btn-primary" id = "btn-signup">Sign up</button>
    </div>
  </div>
</form>
