<h3>Select at least 3 libraries.</h3>
<div class="flash-container col-12 col-lg-12" >
  <% flash.each do |key, value| %>
    <div class="alert flash alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
  <% end %>
</div>
<form action = "/lottery/follow" method="post">

  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  
  <div class="btn-group lottery-buttons" data-toggle="buttons">
    <% @products.each do |product| %>
      <label class="btn lottery-btn btn-primary col-12 col-lg-6">
        <% encoded_lang = Product.encode_language(product[:language]) %>
        <input type="checkbox" name = "products[]" value = "<%= "#{encoded_lang},#{product.to_param}" %>">
        <img src="/assets/language/<%= encoded_lang %>.png" alt="<%= encoded_lang %>" class="img-responsive" /> <%= product.name %>
      </label>
    <% end %>
  </div>

  <div class = "lottery-controls" style="margin-top: 10px;">
    <input type = "submit" class = "btn btn-large lottery-submit-btn lottery-btn btn-success col-12 col-lg-12 hide" value = "Submit your request to Fortuna" />
  </div>

</form>
