<p>
  Hello <%= @comment_user.fullname %>
</p>
<p>
  <a href="http://www.versioneye.com/users/<%= @reply_user.username %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @reply_user.fullname %></a> replied to your comment on
  <a href="http://www.versioneye.com/<%= @prod.language.downcase %>/<%= @prod.to_param %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @prod.name %></a><br/>
  You can see the comment here: <a href="<%= @commentlink %>?utm_medium=email&amp;utm_source=version_comment_reply"><%= @commentlink %></a>
</p>
<p>
  Have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=version_comment_reply">http://www.versioneye.com</a>
</p>
