<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @follower.fullname %></p>
		<p>
			<a href="http://www.versioneye.com/users/<%= @user.username %>"><%= @user.fullname %></a> wrote a comment on
			<a href="http://www.versioneye.com/<%= @prod.language.downcase %>/<%= @prod.to_param %>"><%= @prod.name %></a><br/>
			You can see the comment here: <a href="<%= @commentlink %>"><%= @commentlink %></a>
		</p>
		<p>
			Have a great day!
		</p>
		<p>
			Your VersionEye Team<br/>
			<a href="http://www.versioneye.com">https://wwww.versioneye.com</a>
		</p>
	</body>
</html>
