<p>
	Hello <%= @follower.fullname %>
</p>
<p>
	<a href="http://www.versioneye.com/users/<%= @user.username %>?utm_medium=email&amp;utm_source=version_comment"><%= @user.fullname %></a> wrote a comment on
	<a href="http://www.versioneye.com/<%= @prod.language_esc %>/<%= @prod.to_param %>?utm_medium=email&amp;utm_source=version_comment"><%= @prod.name %></a><br/>
	You can see the comment here: <a href="<%= @commentlink %>?utm_medium=email&amp;utm_source=version_comment"><%= @commentlink %></a>
</p>
<p>
	Have a great day!
</p>
<p>
	Your VersionEye Team<br/>
	<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=version_comment">https://www.versioneye.com</a>
</p>
