<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>Hello <%= @follower.fullname %></p>
		<p>
			<b><%= @user.fullname %></b> wrote a comment on <b><%= @prod.name %></b><br/>
			You can see the comment here: <a href="<%= @commentlink %>"><%= @commentlink %></a>
		</p>
		<p>
			Have a great day!
		</p>
	</body>
</html>