<div class="sidebar" >
	
	<%= render "/projects/navi" %>
	
</div>	
<div class="content">	
	
	<h1><%= @project.name %></h1>
	
	<div style="padding-bottom: 10px;">
		<%= link_to "Delete this project", user_project_path(@project),   :confirm => "Are you sure?", :method=>:delete %> | 
		<%= link_to "Follow all", follow_user_project_path(@project),     :confirm => "Are you sure?" %> | 
		<%= link_to "Unfollow all", unfollow_user_project_path(@project), :confirm => "Are you sure?" %>
	</div>
	
	<div class="searchResults" id="searchresults" >
		<% if !@project.fetch_dependencies.nil? %>
			<% @project.dependencies.each do |dep| %>
				<% product = dep.get_product %>
				<div class="searchResult" >
					<% if dep.prod_key.nil? %>
						<%= render :partial => "/projects/show_unknown_dep",   :locals => {:product => product, :dep => dep} %>
					<% elsif dep.outdated %>
						<%= render :partial => "/projects/show_known_out_dep", :locals => {:product => product, :dep => dep} %>
					<% else %>	
						<%= render :partial => "/projects/show_known_ok_dep",  :locals => {:product => product, :dep => dep} %>
					<% end %>					
				</div>
			<% end %>
		<% end %>
	</div>
</div>