  
  <table class="dependency_table" style="width: 570px;">
    <thead>
      <tr>
        <th class="name_col"></th>
        <th class="version_col">Dependency Version</th>
        <th class="version_col">Current Version</th>
      </tr>
    </thead>
    <% dependencies.each do |dep| %>
      <% dep.update_known_if_nil() %> 
      <% tr_class = "flash warn" if dep.outdated? %>
      <tr class="<%= tr_class %>">
        <td>
          <% if dep.known %> 
            <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
              <a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
                <div class="icon_link icon16"></div>
                <% if dep.group_id && dep.artifact_id %> 
                  <span itemprop="name" ><%= dep.group_id %> : <%= dep.artifact_id %></span>
                <% else %> 
                  <span itemprop="name" ><%= dep.name %></span>
                <% end %>
              </a>
            </span>
          <% else %>
            <div class="icon_link icon16"></div>
            <span itemprop="name" ><%= dep.name %></span>
          <% end %>
        </td>
        <td>
          <span itemprop="softwareVersion"><%= dep.version %></span>
        </td>
        <td>
          <% if dep.known %> 
            <%= dep.product.newest_version.version %>
          <% else %> 
            UNKNOWN
          <% end %> 
        </td>
      </tr>
    <% end %>
  </table>
