
  <% if @product.language.eql?( Product::A_LANGUAGE_JAVA ) %>
    <% font_size = '12' %>
  <% else %>
    <% font_size = '14' %>
  <% end %>
  <table class="dependency_table" style="width: 570px; font-size: <%=font_size%>px;">
    <thead>
      <tr>
        <th class="version_col">Current</th>
        <th class="version_col">Required</th>
        <th class="name_col"></th>
      </tr>
    </thead>
    <% dependencies.each do |dep| %>
      <% dep.update_known_if_nil() %>
      <% tr_class = dep[:outdated] ? "flash warn" : ""  %>
      <tr class="<%= tr_class %>">
        <td>
          <% if dep.known && dep.product %>
            <%= dep[:current_version] %>
          <% else %>
            UNKNOWN
          <% end %>
        </td>
        <td>
          <span ><%= dep.version %></span>
        </td>
        <td>
          <% if dep.known %>
            <span >
              <a class="#a dep_link" href="/<%= dep.language_escaped %>/<%= dep.dep_prod_key_for_url %>/<%= dep.version_for_url %>" >
                <% if dep.group_id && dep.artifact_id %>
                  <span ><%= dep.group_id %> : <%= dep.artifact_id %></span>
                <% else %>
                  <span ><%= dep.name %></span>
                <% end %>
              </a>
            </span>
          <% else %>
            <span ><%= dep.name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
