
  <table class="dependency_table" style="width: 570px;">
    <thead>
      <tr>
        <th class="name_col"></th>
        <th class="version_col">Dependency Version</th>
        <th class="version_col">Current Version</th>
      </tr>
    </thead>
    <% dependencies.each do |dep| %>
      <% dep.update_known_if_nil() %>
      <% tr_class = "flash warn" if DependencyService.outdated?( dep ) %>
      <tr class="<%= tr_class %>">
        <td>
          <% if dep.known %>
            <span >
              <a class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
                <span class="icon_link icon16"></span>
                <% if dep.group_id && dep.artifact_id %>
                  <span ><%= dep.group_id %> : <%= dep.artifact_id %></span>
                <% else %>
                  <span ><%= dep.name %></span>
                <% end %>
              </a>
            </span>
          <% else %>
            <span class="icon_link icon16"></span>
            <span ><%= dep.name %></span>
          <% end %>
        </td>
        <td>
          <span ><%= dep.version %></span>
        </td>
        <td>
          <% if dep.known %>
            <%= VersionService.newest_version( dep.product.versions ).version %>
          <% else %>
            UNKNOWN
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
