
  <% font_size = font_size_for_dep_table( @product ) %>

  <table class="dependency_table" style="font-size: <%=font_size%>px;">
    <thead>
      <tr>
        <th ></th>
        <th >Required</th>
        <th >Newest</th>
      </tr>
    </thead>
    <% dependencies.each do |dep| %>
      <% dep.update_known if dep.known.nil? || dep.known == false %>
      <% tr_class = dep[:outdated] ? "flash warn" : ""  %>
      <tr class="<%= tr_class %>">
        <td>
          <% if dep.known %>
            <span >
              <a class="#a dep_link" href="<%= url_for_dep( dep ) %>" >
                <span> <%= dependency_name( dep ) %> </span>
              </a>
            </span>
          <% else %>
            <span ><%= dependency_name( dep ) %></span>
          <% end %>
        </td>
        <td>
          <span ><%= dep.version %></span>
        </td>
        <td>
          <%= current_version( dep ) %>
        </td>
      </tr>
    <% end %>
  </table>
