
<div class="row" >

  <div class="flash info" style="margin-bottom: 5px;" >
    <b>Current:</b>
    <% if @current_version && !@current_version.to_s.eql?(@product.version.to_s) %>
      <a href="/<%= @product.language_esc %>/<%= @product.to_param %>/<%= @current_version.to_s %>" ><%= @current_version.to_s %></a>
    <% else %>
      <%= @current_version.to_s %>
    <% end %>
  </div>

  <div class="flash info" style="margin-bottom: 5px;">
    <b>This:</b> <%= @product.version %>
  </div>


  <% days_ago = @product.released_days_ago %>
  <% rel_bg = '' %>
  <% rel_bg = 'success' if days_ago < 30  %>
  <% rel_bg = 'info'    if days_ago >= 30 && days_ago <= 90  %>
  <% rel_bg = 'warn'    if days_ago > 90  && days_ago <= 180  %>
  <% rel_bg = 'error'   if days_ago > 180 %>
  <div class="flash <%= rel_bg %>" style="margin-bottom: 5px;" >
    <b title="<%= @product.released_ago_text %>" >Released:</b>
    <span title="<%= @product.released_ago_text %>">
      <% if @product.released_ago_in_words.nil? %>
        N/A
      <% else %>
        <%= @product.released_ago_in_words %> ago
      <% end %>
    </span>
  </div>

  <% average_release_time = VersionService.average_release_time( @product.versions ) %>
  <% if average_release_time.nil? %>
    <% average_release_time = VersionService.estimated_average_release_time( @product.versions ) %>
  <% end %>
  <% art_text = "" %>
  <% art_text = "Not Available" if average_release_time == 0 %>
  <% art_bg = "info" %>
  <% if !average_release_time.nil? && average_release_time > 0 %>
    <% art_bg = "success" if average_release_time > 0 && average_release_time <= 31  %>
    <% art_bg = "info"  if average_release_time > 31 && average_release_time <= 62  %>
    <% art_bg = "warn"  if average_release_time > 62 && average_release_time <= 124  %>
    <% art_bg = "error" if average_release_time > 124 %>
    <% art_text = "In average this dev team is releasing a new version every #{average_release_time} days." %>
  <% end %>

  <div class="flash <%= art_bg %>" style="margin-bottom: 5px;" >
    <b title="<%= art_text %>" >Avg. Rel. Time:</b>
    <span title="<%= art_text %>">
      <% if average_release_time == 0 %>
       N/A
      <% else %>
        <%= average_release_time %> days
      <% end %>
    </span>
  </div>

<% if @product.language.eql?(Product::A_LANGUAGE_JAVA) ||
      @product.language.eql?(Product::A_LANGUAGE_RUBY) ||
      @product.language.eql?(Product::A_LANGUAGE_CLOJURE) ||
      @product.language.eql?(Product::A_LANGUAGE_NODEJS) ||
      @product.language.eql?(Product::A_LANGUAGE_PHP) ||
      @product.language.eql?(Product::A_LANGUAGE_OBJECTIVEC) %>
  <% references = @product.used_by_count %>
  <% ref_bg = "" %>
  <% ref_bg = "success" if references >= 100  %>
  <% ref_bg = "info"    if references >= 10 and references < 100  %>
  <% ref_bg = "warn"    if references >  0  and references < 10  %>
  <% ref_bg = "error"   if references == 0 %>
  <% ref_text = "#{references} packages are referencing this project" %>
  <div class="flash <%= ref_bg %>" style="margin-bottom: 5px;" >
    <b title="<%= ref_text %>">References:</b>
    <span title="<%= ref_text %>">
      <% if references > 0 %>
        <a href="/<%= @product.language_esc %>/<%= @product.to_param %>/references"><%= references %></a>
      <% else %>
        <%= references %>
      <% end %>
    </span>
  </div>
<% end %>

  <% main_dep_count = @product.dependencies(nil).count %>
  <% dep_bg = "" %>
  <% dep_bg = "success" if main_dep_count <= 9  %>
  <% dep_bg = "info" if main_dep_count > 9 and main_dep_count < 15  %>
  <% dep_bg = "warn" if main_dep_count >= 15 and main_dep_count < 30  %>
  <% dep_bg = "error" if main_dep_count >= 30 %>
  <% scope = Dependency.main_scope(@product.language) %>
  <% title_text = "#{main_dep_count} direct #{scope} dependencies" %>
  <div class="flash <%= dep_bg %>" style="margin-bottom: 5px;">
    <b title="<%= title_text %>">Dependencies:</b> <span title="<%= title_text %>"><%= main_dep_count %></span>
  </div>

  <div class="flash info" style="margin-bottom: 5px;">
    <b title="<%= title_text %>">Language:</b>
    <% if @product.language.eql?(Product::A_LANGUAGE_RUBY) ||
          @product.language.eql?(Product::A_LANGUAGE_JAVA) ||
          @product.language.eql?(Product::A_LANGUAGE_PHP) ||
          @product.language.eql?(Product::A_LANGUAGE_CLOJURE) ||
          @product.language.eql?(Product::A_LANGUAGE_NODEJS) ||
          @product.language.eql?(Product::A_LANGUAGE_PYTHON) ||
          @product.language.eql?(Product::A_LANGUAGE_OBJECTIVEC) ||
          @product.language.eql?(Product::A_LANGUAGE_R) %>
      <a href="/<%= @product.language_esc %>" alt="<%= @product.language_esc %>" title="<%= @product.language_esc %>"><%= @product.language %></a>
    <% else %>
      <%= @product.language %>
    <% end %>
  </div>

</div>

<% if signed_in_admin? %>
  <div  >
    <%= link_to "edit", product_edit_path %>
  </div>
<% end %>
