
<div>

  <div class="kpibox flash info l_margin_bottom_5" >
    <b>Current:</b>
    <% if @product.version_newest && !@product.version_newest.to_s.eql?(@product.version.to_s) %>
      <a href="/<%= @product.language_esc %>/<%= @product.to_param %>/<%= @product.version_newest.to_s %>" >
        <%= @product.version_newest.to_s %>
      </a>
    <% else %>
      <%= @product.version_newest.to_s %>
    <% end %>
  </div>

  <% this_color_class = 'info' %>
  <% this_color_class = 'success' if @version && @version.semver_2 %>
  <% this_color_class = 'error' if @version && @version.semver_2.nil? %>
  <div class="kpibox flash <%= this_color_class %>" style="margin-bottom: 5px;">
    <div>
      <b>This:</b> <%= @product.version %>

      <a class="btn btn-default btn-xs pull-right" title="other versions" onclick="return show_versions()" href="" id="show_versions_link" style="font-size: 11px; display: inline-block; border: 0px none; line-height: 18px;">show all <i class="fa fa-arrow-down"></i></a>

      <a class="btn btn-default btn-xs pull-right" title="hide other versions" onclick="return hide_versions()" href="" id="hide_versions_link" style="font-size: 11px; display: inline-block; border: 0px none; line-height: 18px; display:none;">hide <i class="fa fa-arrow-up"></i></a>

    </div>
    <div id="other_versions" style="display:none;">
      <%= render 'products/product_show_other_versions' %>
    </div>
  </div>
  <script type="text/javascript">
    function show_versions(){
      document.getElementById('other_versions').style.display = 'block';
      document.getElementById('show_versions_link').style.display = 'none';
      document.getElementById('hide_versions_link').style.display = 'inline-block';
      return false;
    }
    function hide_versions(){
      document.getElementById('other_versions').style.display = 'none';
      document.getElementById('show_versions_link').style.display = 'inline-block';
      document.getElementById('hide_versions_link').style.display = 'none';
      return false;
    }
  </script>


  <% days_ago = @product.released_days_ago %>
  <% rel_bg = color_for_released_ago @product %>
  <div class="kpibox flash <%= rel_bg %> l_margin_bottom_5"  >
    <b title="<%= @product.released_ago_text %>" >Released:</b>
    <span title="<%= @product.released_ago_text %>">
      <% if @product.released_ago_in_words.nil? %>
        N/A
      <% else %>
        <%= @product.released_ago_in_words %> ago
      <% end %>
    </span>
  </div>

  <% average_release_time = @product[:average_release_time] %>
  <% art_text = '' %>
  <% art_text = 'Not Available' if average_release_time.nil? || average_release_time == 0 %>
  <% art_bg = color_for_avg_release_time(@product) %>
  <% if !average_release_time.nil? && average_release_time > 0 %>
    <% art_text = "In average this dev team is releasing a new version every #{average_release_time} days." %>
  <% end %>
  <div class="kpibox flash <%= art_bg %> l_margin_bottom_5">
    <b title="<%= art_text %>" >Avg. Rel. Time:</b>
    <span title="<%= art_text %>">
      <% if average_release_time.nil? || average_release_time == 0 %>
       N/A
      <% else %>
        <%= average_release_time %> days
      <% end %>
    </span>
  </div>

  <% main_dep_count = @product.dependencies(nil).count %>
  <% dep_bg = '' %>
  <% dep_bg = 'success' if main_dep_count <= 9  %>
  <% dep_bg = 'info' if main_dep_count > 9 and main_dep_count < 15  %>
  <% dep_bg = 'warn' if main_dep_count >= 15 and main_dep_count < 30  %>
  <% dep_bg = 'error' if main_dep_count >= 30 %>
  <% scope = Dependency.main_scope(@product.language) %>
  <% title_text = "#{main_dep_count} direct #{scope} dependencies" %>
  <div class="kpibox flash <%= dep_bg %>" style="margin-bottom: 5px;">
    <b title="<%= title_text %>">Dependencies:</b> <span title="<%= title_text %>"><%= main_dep_count %></span>
  </div>


<% if Product::A_LANGS_DEP_BADGE.include?(@product.language) %>
  <% references = @product.used_by_count %>
  <% ref_bg = '' %>
  <% ref_bg = 'success' if references >= 100  %>
  <% ref_bg = 'info'    if references >= 10 and references < 100  %>
  <% ref_bg = 'warn'    if references >  0  and references < 10  %>
  <% ref_bg = 'error'   if references == 0 %>
  <% ref_text = "#{references} packages are referencing this project" %>
  <div class="kpibox flash <%= ref_bg %> l_margin_bottom_5" >
    <%= render :partial => "shared/ref_badge" %>
    <span title="<%= ref_text %>">
      <% if references > 0 %>
        <a href="/<%= @product.language_esc %>/<%= @product.to_param %>/references"><%= references %></a>
      <% end %>
    </span>
  </div>
<% end %>


<% if Settings.instance.environment.to_s.eql?('enterprise') %>
  <div class="kpibox flash info l_margin_bottom_5" >
    <b title="<%= @product.project_usage %> projects are referencing this component.">Project Usage:</b>
    <span >
      <% if @product.project_usage > 0 %>
        <a href="/<%= @product.language_esc %>/<%= @product.to_param %>/project_usage"><%= @product.project_usage %></a>
      <% else %>
        <%= @product.project_usage %>
      <% end %>
    </span>
  </div>
<% end %>


  <% licenses = @product.licenses %>
  <% license_bg = 'info' %>
  <% license_bg = "error" if !licenses || licenses.empty? %>
  <div class="kpibox flash <%= license_bg %> l_margin_bottom_5" >
    <b title="license_info">License:</b>
    <% if licenses && !licenses.empty? %>
      <% licenses.each do |license| %>
        <% if license.link && !license.link.empty? %>
          <a href="<%= license.link %>" target="license_info"><%= license.label %></a><br/>
        <% else %>
          <%= license.label %><br/>
        <% end %>
      <% end %>
    <% else %>
      UNKNOWN
      </br><a href="/licenses/new?language=<%= @product.language %>&prod_key=<%= @product.prod_key %>&version=<%= @version.to_s %>">Suggest a license</a>
    <% end %>
  </div>

  <div class="kpibox flash info l_margin_bottom_5" >
    <b title="<%= title_text %>">Language:</b>
    <% if Product::A_LANGS_LANGUAGE_PAGE.include?(@product.language) %>
      <a href="/<%= @product.language_esc %>" title="<%= @product.language_esc %>"><%= @product.language_label %></a>
    <% else %>
      <%= @product.language_label %>
    <% end %>
  </div>

</div>

<% if maintainer?( @product ) %>
  <div  >
    <%= link_to 'edit', product_edit_path %>
  </div>
<% end %>
