<h2 class="section_header"> Summary </h2>

<div class="" style="margin-bottom: 20px;" >
  <% if @product.used_by_count == 0 %>
    No other software package is referencing this project. <br>
    That doesn't mean anything. But in general references from other packages are a good sign.
  <% else %>
    <%= number_with_delimiter(@product.used_by_count, delimiter: '.') %>
    software packages are referencing this project.<br>
    <% if @product.used_by_count > 0 && @product.used_by_count < 10 %>
      That is a beginning.
    <% elsif @product.used_by_count >= 10 && @product.used_by_count < 100 %>
      That's a good sign. If that many other packages are referencing it, it must be good and useful.
    <% elsif @product.used_by_count >= 100 && @product.used_by_count < 1000 %>
      This project is <b>famous</b>. If that many other packages are referencing it, it must be good and useful.
    <% elsif @product.used_by_count >= 1000 && @product.used_by_count < 10000 %>
      This project is a <b>Rockstar</b>! If that many other packages are referencing it, it must be good and useful.
      As a <%= @product.language %> dev you should know this project.
    <% elsif @product.used_by_count >= 10000 %>
      This project is <b>epic</b>! If that many other packages are referencing it, it must be good and useful.
      Shame on you if you don't know this project.
      As a <%= @product.language %> dev this is a must have on your resume!
    <% end %>
  <% end %>
</div>

<% begin  %>
  <% semver = SemVer.parse( @product.version.to_s.strip ) %>
  <% if semver %>
    <div class="flash success" style="margin-bottom: 20px;" >
      This version number (<%= @product.version %>) fits <a href="http://semver.org">semantic versioning 2.0.0</a>!
    </div>
  <% else %>
    <div class="flash error" style="margin-bottom: 20px;" >
      This version number (<%= @product.version %>) doesn't fit <a href="http://semver.org">semantic versioning 2.0.0</a>!
    </div>
  <% end %>
<% rescue => e %>

<% end %>


