
  <% if signed_in? %>
    <% @product['user_ids'] = Array.new() if @product['user_ids'].nil? %>
    <% if !@product['user_ids'].include? current_user.id %>
      <%= form_tag('/package/follow', :style=> 'margin: 0;') do  %>
        <input  name="product_key"  type="hidden" value="<%= @product.to_param %>"/>
        <input  name="product_lang" type="hidden" value="<%= @product.language %>"/>
        <button type="submit" class="btn btn-large btn-success notifyme" >Notify me about new versions</button>
      <% end %>
    <% end %>
  <% else %>
    <button type="submit" class="btn btn-large btn-success notifyme" onclick="load_dialog_follow('<%= @product.name %>', '<%= @product.prod_key %>', '<%= @product.language %>');">Notify me about new versions</button>
  <% end %>
