
<h2 class="section_header">NPM</h2>
<div class = "well" >

  <div style="margin-bottom: 5px;">
    <div >
      <h5 class="dep_header">NPM install</h5>
    </div>
    <div style="margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>npm install <%= @product.name %>@<%= @version.to_s %><% if @version.prefer_global == true %> -g <% end %></code></pre></div>
  </div>

  <div style="margin-bottom: 5px;">
    <div >
      <h5 class="dep_header">package.json</h5>
    </div>
    <div style="margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>"<%= @product.name %>": "<%= @version.to_s %>"</code></pre></div>
  </div>

  <% downloads = Versionarchive.archives( @product.language, @product.prod_key, @version.to_s ) %>
  <% if !downloads.nil? && !downloads.empty? %>
    <div style="margin-bottom: 5px;" >
      <div  >
        <h5 class="dep_header">Download</h5>
      </div>
      <div class="download_area" >
        <% downloads.each do |download|  %>
          <a title="<%= download.name %> download" href="<%= download.link %>"><%= download.name %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div style="margin-bottom: 5px;">
    <div style="margin-bottom: 0;">
      <%= render "products/helpers/notify_me" %>
    </div>
  </div>

</div>
