
<% svs = @version.security_vulnerabilities %>
<% if svs && !svs.empty?  %>

  <h2 class="section_header">Security Vulnerabilities</h2>

  <% svs.each do |sv| %>
    <% next if sv.nil? %>
    <div class="security_alert" >

      <% if @product.language.eql?(Product::A_LANGUAGE_PHP) %>
        <% next if sv.links.nil? || sv.links.empty? %>
        <div class="flash error" style="margin-bottom: 2px;" >
          <% if !sv.summary.to_s.empty? %>
            <span class="label_bold"><%= sv.summary %></span><br/>
          <% end %>
          <% sv.links.keys.each do |key| %>
            <a href="<%= sv.links[key] %>"><%= sv.links[key] %></a><br/>
          <% end %>
          <% if !sv.recommendation.to_s.empty? %>
            <span class="label_bold">Recommendation</span>: <%= sv.recommendation %><br/>
          <% end %>
          <% if !sv.source.to_s.empty? %>
            <span class="label_bold">Source</span>: <%= sv.source %><br/>
          <% end %>
          Affected versions: <%= sv.affected_versions_string %>
        </div>

      <% elsif @product.language.eql?(Product::A_LANGUAGE_NODEJS) || @product.prod_type.eql?( Project::A_TYPE_BOWER ) %>
        <div class="flash error" style="margin-bottom: 2px;" >
          <span class="label_bold">Title</span>: <%= sv.summary %><br/>
          <% if !sv.recommendation.to_s.empty? %>
            <span class="label_bold">Recommendation</span>: <%= sv.recommendation %><br/>
          <% end %>
          <span class="label_bold">Source</span>:
          <% if sv.source.to_s.eql?('snyk') %>
            <a href="https://snyk.io/vuln/<%= sv.name_id %>" ><%= sv.source %></a><br/>
          <% elsif sv.source.to_s.eql?('nodesecurity') %>
            <a href="https://nodesecurity.io" ><%= sv.source %></a><br/>
          <% else %>
            <%= sv.source %><br/>
          <% end %>
          <% if !sv.severity.to_s.empty? %>
            <span class="label_bold">Severity</span>: <%= sv.severity %><br/>
          <% end %>
          <% if !sv.nsp.to_s.empty? %>
            <span class="label_bold">NSP</span>: <%= sv.nsp %><br/>
          <% end %>
          <% if !sv.cve.to_s.empty? %>
            <span class="label_bold">Main CVE</span>: <%= sv.cve %><br/>
          <% end %>
          <% if sv.cves && !sv.cves.empty? %>
            <span class="label_bold">CVEs</span>: <%= sv.cves.join(", ") %><br/>
          <% end %>
          <% if sv.cwes && !sv.cwes.empty? %>
            <span class="label_bold">CWEs</span>: <%= sv.cwes.join(", ") %><br/>
          <% end %>
          <% if !sv.cvss_v2.to_s.empty? %>
            <span class="label_bold">Security Score (CVSSv2)</span>: <%= sv.cvss_v2 %><br/>
          <% end %>
          <% if !sv.cvss_v3.to_s.empty? %>
            <span class="label_bold">Security Score (CVSSv3)</span>: <%= sv.cvss_v3 %><br/>
          <% end %>
          <% if !sv.author.to_s.empty? %>
            <span class="label_bold">Author</span>: <%= sv.author %><br/>
          <% end %>
          <% if !sv.publish_date.to_s.empty? %>
            <span class="label_bold">Published</span>: <%= sv.publish_date %><br/>
          <% end %>
          <span class="label_bold">Affected versions</span>: <%= sv.affected_versions_string %><br/>
          <span class="label_bold">Patched versions</span>: <%= sv.patched_versions_string %><br/>
          <% if !sv.description.to_s.empty? %>
            <br/>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <%= raw( markdown.render sv.description ) %><br/>
          <% end %>
          <% if !sv.links.empty? %>
            <% vals = [] %>
            <% sv.links.keys.each do |key| %>
              <% val  = sv.links[key] %>
              <% next if vals.include?(val) %>
              <% vals << val %>
              <a href="<%= val %>" target="LINK"><%= val %></a><br/>
            <% end %>
          <% end %>
        </div>
      <% elsif @product.language.eql?(Product::A_LANGUAGE_JAVA) || @product.language.eql?(Product::A_LANGUAGE_PYTHON) || @product.language.eql?(Product::A_LANGUAGE_CSHARP) %>
        <div class="flash error" style="margin-bottom: 2px;" >
          <h2><%= sv.summary %></h2>
          <% if !sv.description.to_s.empty? %>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <%= raw( markdown.render sv.description ) %><br/>
          <% end %>
          <% if !sv.links.empty? %>
            <% vals = [] %>
            <% sv.links.keys.each do |key| %>
              <% val  = sv.links[key] %>
              <% next if vals.include?(val) %>
              <% vals << val %>
              <a href="<%= val %>" target="LINK"><%= val %></a><br/>
            <% end %>
          <% end %>
          <br/>
          <% if !sv.recommendation.to_s.empty? %>
            <span class="label_bold">Recommendation</span>: <%= sv.recommendation %><br/>
          <% end %>
          <% if !sv.source.to_s.empty? %>
            <span class="label_bold">Source</span>: <%= sv.source %><br/>
          <% end %>
          <% if !sv.cve.to_s.empty? %>
            <span class="label_bold">CVE</span>: <%= sv.cve %><br/>
          <% end %>
          <% if !sv.cvss_v2.to_s.empty? %>
            <span class="label_bold">Security Score (CVSSv2)</span>: <%= sv.cvss_v2 %><br/>
          <% end %>
          <% if !sv.cvss_v3.to_s.empty? %>
            <span class="label_bold">Security Score (CVSSv3)</span>: <%= sv.cvss_v3 %><br/>
          <% end %>
          <% if !sv.severity.to_s.empty? %>
            <span class="label_bold">Severity</span>: <%= sv.severity %><br/>
          <% end %>
          <% if !sv.author.to_s.empty? %>
            <span class="label_bold">Author</span>: <%= sv.author %><br/>
          <% end %>
          <span class="label_bold">Affected versions</span>:
            <% avs = sv.affected_versions_string.split(" && ") %>
            <ul>
              <% avs.each do |av| %>
                <li><%= av %></li>
              <% end %>
            </ul>
          <% if !sv.patched_versions_string.to_s.empty? %>
            <span class="label_bold">Patched versions</span>:
            <% avs = sv.patched_versions_string.split(" && ") %>
            <ul>
              <% avs.each do |av| %>
                <li><%= av %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

      <% elsif @product.language.eql?(Product::A_LANGUAGE_RUBY) %>
        <div class="flash error" style="margin-bottom: 2px;" >
          <h2><%= sv.summary.to_s.gsub("\n", "") %></h2>
          <div>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <%= raw( markdown.render sv.description ) %><br/>
          </div>
          <div>
            <% if !sv.recommendation.to_s.empty? %>
              <span class="label_bold">Recommendation</span>: <%= sv.recommendation %><br/>
            <% end %>
            <% if !sv.framework.to_s.empty? %>
              <span class="label_bold">Framework</span>: <%= sv.framework %><br/>
            <% end %>
            <% if !sv.platform.to_s.empty? %>
              <span class="label_bold">Platform</span>: <%= sv.platform %><br/>
            <% end %>
            <% if !sv.osvdb.to_s.empty? %>
              <span class="label_bold">OSVDB</span>: <%= sv.osvdb %><br/>
            <% end %>
            <% if !sv.cve.to_s.empty? %>
              <span class="label_bold">CVE</span>: <%= sv.cve %><br/>
            <% end %>
            <% if !sv.cvss_v2.to_s.empty? %>
              <span class="label_bold">Security Score (CVSSv2)</span>: <%= sv.cvss_v2 %><br/>
            <% end %>
            <% if !sv.source.to_s.empty? %>
              <span class="label_bold">Source</span>: <%= sv.source %><br/>
            <% end %>
            <% if !sv.links.empty? %>
              <span class="label_bold">Links</span>:
              <% sv.links.keys.each do |key| %>
                <a href="<%= sv.links[key] %>" target="LINK"><%= sv.links[key] %></a><br/>
              <% end %>
            <% end %>
            <% if !sv.publish_date.to_s.empty? %>
              <span class="label_bold">Published</span>: <%= sv.publish_date %><br/>
            <% end %>
            <% if !sv.unaffected_versions_string.to_s.empty? %>
              <span class="label_bold">Unaffected versions</span>: <%= sv.unaffected_versions_string.to_s.gsub("||", ", ") %><br/>
            <% end %>
            <% if !sv.patched_versions_string.to_s.empty? %>
              <span class="label_bold">Patched versions</span>: <%= sv.patched_versions_string.to_s.gsub("||", ", ") %><br/>
            <% end %>
          </div>
        </div>

      <% elsif @product.language.eql?(Product::A_LANGUAGE_RUST) %>
        <div class="flash error" style="margin-bottom: 2px;" >
          <h2><%= sv.summary.to_s.gsub("\n", "") %></h2>
          <div>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <%= raw( markdown.render sv.description ) %><br/>
          </div>
          <div>
            <% if !sv.recommendation.to_s.empty? %>
              <span class="label_bold">Recommendation</span>: <%= sv.recommendation %><br/>
            <% end %>
            <% if !sv.cve.to_s.empty? %>
              <span class="label_bold">CVE</span>: <%= sv.cve %><br/>
            <% end %>
            <% if !sv.cvss_v2.to_s.empty? %>
              <span class="label_bold">Security Score (CVSSv2)</span>: <%= sv.cvss_v2 %><br/>
            <% end %>
            <% if !sv.source.to_s.empty? %>
              <span class="label_bold">Source</span>: <%= sv.source %><br/>
            <% end %>
            <% if !sv.links.empty? %>
              <span class="label_bold">Links</span>:
              <% sv.links.keys.each do |key| %>
                <a href="<%= sv.links[key] %>" target="LINK"><%= sv.links[key] %></a><br/>
              <% end %>
            <% end %>
            <% if !sv.publish_date.to_s.empty? %>
              <span class="label_bold">Published</span>: <%= sv.publish_date %><br/>
            <% end %>
            <% if !sv.patched_versions_string.to_s.empty? %>
              <span class="label_bold">Patched versions</span>: <%= sv.patched_versions_string.to_s.gsub("||", ", ") %><br/>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>

<% end %>
