
<div class = "control-group">
  <%= f.hidden_field :_id %>
</div>
<div class = "control-group">
  <label class = "control-label" for = "testimonial[title]">
    Title
  </label>
  <div class = "controls">
    <%= f.text_field :title, class: "input-xlarge" %>
  </div>
</div>
<div class = "control-group">
  <label class = "control-label" for = "testimonial[title]">
    Company
  </label>
  <div class = "controls">
    <%= f.text_field :company, class: "input-xlarge" %>
  </div>
</div>
<div class = "control-group">
  <label class = "control-label" for = "testimonial[title]">
    Homepage
  </label>
  <div class = "controls">
    <%= f.text_field :homepage, class: "input-xlarge" %>
  </div>
</div>
<div class = "control-group">
  <label class = "control-label" for = "testimonial[content]">
    Testimonial
  </label>
  <div class = "controls">
    <%= f.text_area :content, size: "60x3", class: "input-xlarge limit255", maxlength: "140" %>
  </div>
</div>
<div class = "control-group">
  <div class = "controls">
    <button type = "submit" class = "btn btn-primary"> Submit </button>
  </div>
</div>

<script>
  jQuery(document).ready(function(){
    jQuery("textarea.limit255").maxlength({
      alwaysShow: true,
      threshold: 20
    });
  });
</script>
