
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <% if signed_in? %>
                  <% if Rails.env.enterprise? && signed_in_admin? %>
                    <%= link_to image_tag("verisoneye-logo-small.png", :style => 'margin-top: -12px;'), settings_emails_path, :rel => "nofollow", :class => "navbar-brand topnav" %>
                  <% else %>
                    <%= link_to image_tag("verisoneye-logo-small.png", :style => 'margin-top: -12px;'), organisations_path, :rel => "nofollow", :class => "navbar-brand topnav" %>
                  <% end %>
                <% else %>
                  <a href="/" class="navbar-brand topnav" >
                    <%= image_tag "verisoneye-logo-small.png", :style => 'margin-top: -12px;' %>
                  </a>
                <% end %>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                  <% if 1 == 3 %> 
                    <li>
                        <a href="/api" >API</a>
                    </li>
                    <li>
                        <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a>
                    </li>
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>

                  <% if !Rails.env.enterprise? %>
                    <li>
                      <%= link_to "Pricing", "/pricing" %>
                    </li>
                  <% end %>

                  <% if Settings.instance.show_signup_form == true %>
                    <li style="font-weight: bold; font-size: 16px;">
                      <%= form_tag(signup_path, :method => "GET", :style=>"margin: 7px;") do  %>
                        <button type="submit" class="btn btn-success" ><%= t(:page_header_signup) %></button>
                      <% end %>
                    </li>
                  <% end %>

                  <li>
                    <%= form_tag(signin_path, :method => "GET", :style=>"margin: 7px 0 0 7px;") do  %>
                      <button type="submit" class="btn btn-primary" ><%= t(:page_header_signin) %></button>
                    <% end %>
                  </li>

                  <% end %>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                       <h1>VersionEye</h1>
                       <h3 style="font-weight: normal;">
                        notifies you about
                        <span style="font-size: 100%; font-weight: bold;">security vulnerabilities</span>,
                        <span style="font-size: 100%; font-weight: bold;">license violations</span> and
                        <span style="font-size: 100%; font-weight: bold;">out-dated dependencies</span>
                        in your Git repositories
                       </h3>
                    </div>
                    <div class="alert alert-danger" role="alert">
                      After 6 years I switched off VersionEye. 
                      Read the full story <a href="https://blog.versioneye.com/2017/10/19/versioneye-sunset-process/">here</a>. 
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <div class="content-section-b">
        <%= render "shared/feature_package_managers" %>
    </div>

    <div class="content-section-a">
        <%= render "shared/feature_security" %>
    </div>

    <div class="content-section-b">
        <%= render "shared/feature_license" %>
    </div>

    <div class="content-section-a">
        <%= render "shared/feature_version" %>
    </div>

    <div class="content-section-b">
        <%= render "shared/feature_pullrequests" %>
    </div>

    <div class="content-section-a">
        <%= render "shared/feature_teams" %>
    </div>

    <div class="content-section-b">
      <%= render "shared/feature_enterprise" %>
    </div>

    <div class="content-section-a">
      <%= render "shared/feature_opensource" %>
    </div>


    <div class="content-section-b">
      <div class="container">
        <h2 class="section-heading">Database</h2>
        <p class="lead">
          The VersionEye crawlers are collecting 24/7 meta information about open source projects
          which are available through some kind of package manager. Meta information like security
          vulnerabilities, licenses, versions, descriptions, links and so on.
          Currently the VersionEye database contains meta information to more than 1.5 Million open source projects.
          The VersionEye database is accessible through the VersionEye API.
          Every open source project in our database has a page at VersionEye.com where the collected meta information can be viewed.
        </p>
        <h3 class="section-heading">Most followed libraries</h2>
        <% @most_followed.each_with_index do |prod, i| %>
          <div class="prod-item">
            <div>
              <p class="lead">
                <a href = "<%= products_path(lang: prod.language_esc, key: prod.to_param) %>"><%= prod.name %></a><br/>
                <%= prod.short_summary %><br/>
                <span class="small"> Followers: <%= prod.followers %> | License: <%= prod.license_info %> </span>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <% if 1 == 2 %>
            <%= form_tag(signup_path, :method => "GET", :style=>"margin: 0; padding: 0 0 0 10px;") do  %>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success" >Sign up for free</button>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
