
<% title "#{@lang} at VersionEye - Continuous Updating" %>
<% page_header @lang %>

<div id = "language" class = "hide" data-language = "<%= Product.encode_language(@lang) %>"></div>
<section class = "">
  <div class = "row-fluid" >
    <%=  render 'language/helpers/language_description' %>
  </div>

  <div class = "row">
    <%= render "language/helpers/followers" %>
  </div>

  <div class = "row">
    <div class = "span5">
      <%= render "language/helpers/most_referenced" %>
    </div>
    <div class = "span5 offset1">
      <%= render "language/helpers/top" %>
    </div>
  </div>

  <div>
    <%= render "language/helpers/latest" %>
  </div>

  <div class = "row">
    <%=  render "language/helpers/other_languages" %>
  </div>

<% if 1 == 2 %>
  <div class = "row">
    <div class = "span5">
      <%= render "language/helpers/vulnerabilities" %>
    </div>
    <div class = "span5 offset1">
      <%= render "language/helpers/newsfeed" %>
    </div>
  </div>
<% end %>

</section>
