
<% title "Keyword: #{params[:id]}" %>

<% if @products %>
    <div class="row">
      <div class="col-md-3 col-xs-12 pull-left">

        <%= pluralize(@products.total_entries, 'software library') %> tagged with the keyword <span style="font-weight: bold;"><%= params[:id] %></span>

        <div style="padding-top: 30px; padding-bottom: 30px;">
          <% if @languages && !@languages.empty? && !@lang.nil? %>
            <% @langs = @lang.split(",") %>
            <% @languages.each do |lang| %>
              <% if params[:language].to_s.include?(lang) %>
                <% new_langs = params[:language].gsub(/#{lang}\z/i, '').gsub(/#{lang}\,/i, '').gsub(/\,+/, ",").gsub(/\A\,/, "").gsub(/\,\z/, "") %>
                <i class="fa fa-check-square-o"></i> <a href="/keywords/<%= params[:id] %>?language=<%= new_langs %>"><%= lang %></a><br/>
              <% else %>
                <% new_langs = params[:language].to_s.strip.empty? ? lang : "#{params[:language]},#{lang}" %>
                <i class="fa fa-square-o"></i> <a href="/keywords/<%= params[:id] %>?language=<%= new_langs %>"><%= lang %></a><br/>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <% if !Settings.instance.environment.to_s.eql?('enterprise') && request.original_url.to_s.match("@").nil? %>
          <!-- veye_hori -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-9602950531496152"
               data-ad-slot="9319276825"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        <% end %>

      </div>
      <div class="col-md-8 col-xs-12 pull-left">

        <%= render :partial => "products/show_search_results",
               :locals => { :products => @products, :paginate => true, :prefix => "keyword", :name_limit => 70 }  %>

      </div>
    </div>
<% end %>
