<h2 class="section_header"> CocoaPods </h2>

<div class = "well box_snippet" >

  <div class="mb5">
    <div >
      <h5 class="dep_header">Podfile entry</h5>
    </div>
    <div ><pre class="download_area"><code>pod '<%= @product.name %>', '<%= @version.to_s %>'</code></pre></div>
  </div>

  <% downloads = Versionarchive.archives( @product.language, @product.prod_key, @version.to_s ) %>
  <% unless downloads.empty? %>
    <div class="mb5">
      <div >
        <h5 class="dep_header">Download</h5>
      </div>
      <div class="download_area" >
        <% downloads.each do |download|  %>
          <a title="<%= download.name %> download" href="<%= download.link %>"><%= download.name %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="mb5">
    <div >
      <%= render "products/helpers/notify_me" %>
    </div>
  </div>

</div>
