
<div class="col-md-3" >
  <%= render 'settings/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Here you can manage your E-Mail Addresses.
  </div>

  <div class="content" >

    <%= form_tag(settings_add_email_path, :method => "post", :class => "form-inline") do  %>
      <div class="form-group">
        <%= label_tag :new_email, "New E-Mail", :class => "control-label", :for => "new_email" %>
        <%= text_field_tag :email, "", :id => "new_email", :class=>"form-control" %> 
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    <% end %>

    <br/>

    <div class="row" style="height: 52px;">
      <div class="col-md-1" style="width: 80px; padding-top: 7px;">
        <span class="label label-success">Default</span>
      </div>
      <div class="col-md-4" style="padding-top: 7px;">
        <%= current_user.email %>
      </div>
      <div class="col-md-2" style="padding-top: 7px;">
        <% if current_user.verification.nil? %>
          <span style="color: #91D473; padding-left: 10px;">[ verified ]</span>
        <% else %>
          <span style="color: red; padding-left: 10px;">[ not verified ]</span>
        <% end %>
      </div>
    </div>

    <% emails = current_user.emails %>
    <% if !emails.empty? %>
      <% emails.each do |user_email| %>

        <div class="row">
          <div class="col-md-1" style="width: 80px;">
            <%= form_tag(settings_delete_email_path, :method => "post") do  %>
              <input type="hidden" name="email" value="<%= user_email.email %>" />
              <button type="submit" class="btn btn-danger" >Delete</button>
            <% end %>
          </div>
          <div class="col-md-4" style="padding-top: 7px;">
            <%= user_email.email %>
          </div>
          <div class="col-md-2" style="padding-top: 7px;">
            <% if user_email.verified? %>
              <il class="list-cell">
                <span style="color: #91D473; padding-left: 10px;">[ verified ]</span>
              </il>
            <% else %>
              <il class="list-cell">
                <span style="color: red; padding-left: 10px;">[ not verified ]</span>
              </il>
            <% end %>
          </div>
          <div class="col-md-2">
            <% if user_email.verified? %>
              <%= form_tag(settings_make_email_default_path, :method => "post") do  %>
                <input type="hidden" name="email" value="<%= user_email.email %>" />
                <button type="submit" class="btn btn-primary" >Make Default</button>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>

  </div>
</div>
