<form id="ext_searchform" action="/search" method="GET" class="search-form" >
<div class="" id="extended_search_container" >
<h5 >
	<i class = "icon-files"></i>
	Extended search
</h5>
	<input id="ext_lang" name="lang" type="hidden" value="<%= @lang %>" />
		<div style="">
			<div class="labelCel">
				<%= label_tag(:name, "Name") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :q, @query, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
				<%= label_tag(:description, "Description") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :d, @description, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
				<%= label_tag(:groupid, "GroupId") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :g, @groupid, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
			</div>
			<div class="inputCel meta-text-small" style="padding-bottom: 10px;">
				GroupId is (Java) Maven2 specific
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel"></div>
			<div class="pull-right">
				<button type="submit" class="btn2 btn-medium" >Search</button>
			</div>
		</div>
</div>

<div style = "margin-top: 20px;">
	<h5>
		<i class = "icon-files"></i>
		Filter
	</h5>

	<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
		<% @langs = @lang.split(",") %>
		<% @languages.each do |language| %>
			<div class = "controls">
				<label for="<%= language %>" class = "checkbox" style = "color: #669acb;">
					<input id="<%= language %>" type="checkbox" name="lang" value="<%= language %>" style="height: 16px;" onclick="update_lang(this.value)" <%= "checked='checked'" if @langs.include?(language) %> />

					<%= language %>
				</label>
			</div>
		<% end %>
	<% end %>


</div>
</form>