<form id="ext_searchform" action="/search" method="GET" class="form" >

  <input id="lang" name="lang" type="hidden" value="<%= @lang %>" />

  <div id="extended_search_container" >

    <div class="side_nav_content">

      <div class="form-group">
        <%= label_tag(:q, "Name", :class => "control-label" )%>
        <div class="controls">
          <%= text_field_tag :q, @query, :id => 'q', :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:g, "GroupId") %>
        <div class="controls">
          <%= text_field_tag :g, @groupid, :class => "form-control" %>
          <span class = "help-block">
            <small>GroupId is (Java) Maven2 specific</small>
          </span>
        </div>
      </div>

      <div>
        <a id="show_lang_link" class="show_lang_link" href="" onclick="document.getElementById('ext_search_lang_filter').style.display = 'block'; document.getElementById('show_lang_link').style.display = 'none'; return false;" >Show language filter</a>
      </div>

      <div class="ext_search_lang_filter" id="ext_search_lang_filter">
        <%= render "shared/language_checkboxes" %>
      </div>

      <div class="form-group" style = "height: 30px; padding: 10px 0px 20px 0;">
        <div >
          <button type="submit" class="btn btn-primary" >Find</button>
        </div>
      </div>

    </div>

  </div>

</form>
