<div class="boxHeader" style="text-align: left;" id="ext_search_head">
	<div style="float: left;">Extended Search</div> 
	<div style="float: left; padding-top: 2px; padding-left: 10px;">
		<a href="javascript: void(0);" id="ext_search_link" ><div class="icon-circle-arrow-down"></div></a>
	</div>
	<div style="clear: both;"> </div>
</div>
<div class="boxContainer" id="extended_search_container" style="display: <%= @products.nil? || @products.empty? ? 'block' : 'none' %> ;">
	<form id="ext_searchform" action="/search" method="GET" class="search-form" >
		<input id="ext_lang" name="lang" type="hidden" value="<%= @lang %>" />
		<div style="display:table-row;">
			<div class="labelCel">
				<%= label_tag(:name, "Name") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :q, @query, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
				<%= label_tag(:description, "Description") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :d, @description, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
				<%= label_tag(:groupid, "GroupId") %>
			</div>
			<div class="inputCel">
				<%= text_field_tag :g, @groupid, :class => "round" %>
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel">
			</div>
			<div class="inputCel meta-text-small" style="padding-bottom: 10px;">
				GroupId is (Java) Maven2 specific
			</div>
		</div>
		<div style="display:table-row;">
			<div class="labelCel"></div>
			<div class="inputCel">
				<button type="submit" class="btn btn-large btn-primary" >Search</button>
			</div>
		</div>
	</form>
</div>