<div class="well box_dep">

  <% main_dependencies = @product.dependencies(nil) %>

  <div class="row">
    <div class="col-md-12">
      <h5 class="dep_header">
        <%= pluralize( main_dependencies.count, 'Compile scope') %>
      </h5>
      <div style="display: inline;">
        <%= render :partial => "shared/dependency_badge", :locals => { :project => @product } %>
      </div>
    </div>
    <div class="col-md-12" >
      <% if !main_dependencies.empty? %>
        <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => main_dependencies }  %>
      <% end %>
    </div>
  </div>

  <% test_deps = @product.dependencies(Dependency::A_SCOPE_TEST) %>
  <% if test_deps.count > 0 %>
    <hr/>
    <h5 class="dep_header">
      <%= pluralize(test_deps.count, "Test scope") %>
    </h5>
    <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => test_deps }  %>
  <% end %>

</div>
