<% if !@product.versions.nil? && @product.versions.length > 1 %>
	<div class="boxHeader">
		<%= pluralize(@product.versions.count, "Versions") %>
	</div>
	<div class="boxContainer" >
		<% @product.get_natural_sorted_versions.each do |version|  %>
			<div>
			<% if ReleaseRecognizer.release?(version.version) %>
				<a href="/package/<%=@product.to_param%>/version/<%=version.to_url_param%>"><%=version.version%></a>
			<% else %>
				<a style="color: brown" href="/package/<%=@product.to_param%>/version/<%=version.to_url_param%>"><%=version.version%></a>
			<% end %>
			</div>
		<% end %>
	</div>
<% end %>