<div class="product_header">
	<% if signed_in? %>
		<% if @following %>			
			<%= form_tag("/package/unfollow") do  %>
				<input id="src_hidden"  name="src_hidden" type="hidden" value="detail"/>
				<input id="product_key_hidden" name="product_key" type="hidden" value="<%= @product.to_param %>"/>
				<button type="submit" class="btn btn-warning btn-large" >UNFOLLOW</button>
			<% end %>
		<% else %>
			<%= form_tag("/package/follow") do  %>
				<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= @product.to_param %>"/>
				<button type="submit" class="btn btn-success btn-large" >FOLLOW</button>
			<% end %>
		<% end %>
		<% if signed_in_admin? %>
			<a href="/package/<%= @product.to_param %>/edit" style="padding-left: 7px; margin-top: 7px; display: block;">edit</a>
		<% end %> 
	<% else %>
		<%= render 'shared/dialog_follow' %>
		<button type="submit" class="btn btn-success btn-large" onclick="load_dialog_follow('<%= @product.name %>');">FOLLOW</button>
	<% end %>
</div>