
<h2 class="section_header"> Dependencies </h2>

<div class="boxContainer" style="margin-bottom: 30px;" id="dependencies" >
  <% if @product.prod_type.eql?( Project::A_TYPE_MAVEN2 ) %>
    <%= render "product_show_dependencies_maven2" %>
  <% elsif @product.prod_type.eql?( Project::A_TYPE_RUBYGEMS )  %>
    <%= render "product_show_dependencies_rubygems" %>
  <% elsif @product.prod_type.eql?( Project::A_TYPE_NPM )  %>
    <%= render "product_show_dependencies_npm" %>
  <% elsif @product.prod_type.eql?(Project::A_TYPE_COMPOSER)  %>
    <%= render "product_show_dependencies_packagist" %>
  <% end %>

  <% dependencies = @product.dependencies %>
  <% if 1 ==2 && !dependencies.empty? && dependencies.count > 2 %>
    <a href="/<%= @product.language_esc%>/<%= @product.to_param%>/<%= @product.version_to_url_param %>/visual_dependencies">
      See visual page
    </a>
  <% end %>
</div>
