<% if !@product.versions.nil? && @product.versions.length > 0 %>
  <% svs = @product.security_vulnerabilities_all %>
  <div class="box header">
    <h3 class="side_header">
      <%= pluralize(@product.versions.count, 'Versions') %>
    </h3>
  </div>

  <!-- version list -->
  <div class="box content scrollable-box" style = "min-height: 1em; max-height: 14em;" >
    <% versions = @product.sorted_versions %>
    <% versions.to_a.take(100).each do |version|  %>

      <div>
        <% if VersionTagRecognizer.release?(version.to_s) %>
          <a href="<%=product_version_path( @product, version.to_param )%>">
            <%=version.to_s%>
          </a>
        <% else %>
          <a style="color: brown" href="<%=product_version_path( @product, version.to_param )%>">
            <%=version.to_s%>
          </a>
        <% end %>

        <!-- Distribution tags aka version aliases for NPM packages -->
        <% if version.tags.to_a.size %>
          <span class="meta_text_small">
            &ndash; <%= version.tags.to_a.take(3).join(',') %>
            <% if version.tags.to_a.size > 3 %>
              &hellip;
            <% end %>
          </span>
        <% end %>

        <!-- Release date -->
        <span class="meta_text_small">
          (<%= version.released_or_detected.in_time_zone(timezone).strftime("%b %d, %Y") %>)
        </span>

        <% if svs && !svs.empty? %>
          <% svs.each do |sv| %>
            <% if sv.affected_versions.to_a.include?( version.to_s ) ||
                  sv.affected_versions.to_a.include?( version.to_s.gsub(".RELEASE", '') ) %>
              <span class="fa fa-shield" style="font-size: 14px; color: red;"></span>
              <% break %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    <% end %>
  </div>
  <% if @product.language.eql?(Product::A_LANGUAGE_OBJECTIVEC) %>
    <div style="margin-top: 10px; font-size: 12px;">
      Since Cocoapods doesn’t have the original release dates we now try to get them from the corresponding git tag. We use the Github API to do this, so this currently works only for pods hosted on Github.
    </div>
  <% end %>
<% end %>
