<div class="box header">
	<h5>
		<span class = "icon_profile"></span>
		License
	</h5>
</div>
<div class="box content" >
	<% if !@product.license.nil? && !@product.license.empty? %>
		<% if !@product.licenseLink.nil? && !@product.licenseLink.empty? %>
			<a href="<%= @product.licenseLink %>" target="_LICENSE"><%= @product.license %></a> - <span class="meta-text-small">[ crawled data ]</span>
		<% else %>
			<%= @product.license %> - <span class="meta-text-small">[ crawled data ]</span>
		<% end %>
	<% else %>
		UNKNOWN - <small>[ crawled data ]</small>
	<% end %>
</div>
<% if @product.license_manual && !@product.license_manual.empty? %>
	<div class="box content" >
		<% if !@product.licenseLink_manual.nil? && !@product.licenseLink_manual.empty? %>
			<a href="<%= @product.licenseLink_manual %>" target="_LICENSE"><%= @product.license_manual %></a> 
			<small> - [ manual entry ]</small>
		<% else %>
			<%= @product.license_manual %> - <small>[ manual entry ]</small>
		<% end %>
	</div>
<% end %>