
<div class="boxContainer" id="dependencies" >
  <% if @product.prod_type.eql?( Project::A_TYPE_MAVEN2 ) %>
    <%= render "product_show_dependencies_maven2" %>
  <% elsif @product.prod_type.eql?( Project::A_TYPE_RUBYGEMS )  %>
    <%= render "product_show_dependencies_rubygems" %>
  <% elsif @product.prod_type.eql?( Project::A_TYPE_NPM )  %>
    <%= render "product_show_dependencies_npm" %>
  <% elsif @product.prod_type.eql?(Project::A_TYPE_COMPOSER)  %>
    <%= render "product_show_dependencies_packagist" %>
  <% end %>
</div>

<div class="box well" style="padding-top: 0; margin-top: 0;">
  <div id="canvas-container"></div>
  <div class="recursive_info_box" id="infoBox">
    <span >
      <a id="pinit" style="display: none;" href="" class="pin-it-button" count-layout="horizontal">
        <img border="0" alt="pint_it_on_pinterest" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
      </a>
    </span>
    <h5>
      <%= @product.name %> has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive <%= @product.main_scope %> dependencies
    </h5>
    <a href="/package_visual/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>">
      See visual page
    </a>
  </div>
</div>

<script type="text/javascript">
  function render_wheel(){
    canvas_container = document.getElementById("canvas-container")
    if (canvas_container){
      var wheel = new DependencyWheel.Remote(false, canvas_container, {
        url: '/package/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>/dependencies.json?scope=<%= @product.main_scope %>',
        width: "605",
        height: "605",
        infoBox: "infoBox",
        infoNumber: "runtime_recursive_number",
        canvas_id: "canvas",
        canvas_hover_id: "canvas_hover",
        product_key: "<%= @product.to_param%>",
        product_version: "<%= @product.version_to_url_param%>",
        product_name: "<%= @product.name%>",
        version: "<%= @product.version%>",
        data_border: 70,
        show_label: false,
        resize: false,
        scope: "<%= @product.main_scope %>",
        container_id: "canvas-container",
        onItemClick: function(item, event){
          key = item.id;
          key = key.replace(/\//g, "--");
          key = key.replace(/\./g, "~" );
          version = item.version;
          version = version.replace(/\//g, "--");
          version = version.replace(/\./g, "~" );
          window.location.href = "/package/" + key + "/version/" + version;
        }
      } );
    }
  }
</script>
