
<div class = "col-md-12">
  <%= render 'products/product_show_header' %>
</div>

<div class="col-md-9 col-sm-8 content_head_top" >
  <%= render 'products/product_show_description' %>
  <%= render 'products/product_show_downloads' %>
  <%= render 'products/product_show_comments' %>
  <%= render 'products/product_show_comment' %>
</div>

<div class="col-md-3 col-sm-4 pull-right sidebar content_head_top" >
  <%= render 'products/helpers/follow' %>
  <%= render 'products/helpers/kpis' %>
  <%= render 'products/product_show_followers' %>
  <%= render 'products/product_show_links' %>
  <%= render 'products/product_show_twitter_follow' %>
  <%= render 'products/product_show_other_versions' %>
  <% if !signed_in? %>
    <%= render "/shared/github_ad" %>
  <% end %>
</div>
