<% merged_links  = @product.http_version_links_combined  %>

<% if !merged_links.empty? %>
  <% hash = Hash.new %>
  <% merged_links.each do |link| %>
    <% hash[link.link] = link.name %>
  <% end %>
  <div class="box header">
    <h3 class="side_header">
      <%= pluralize( hash.count, "Link" ) %>
    </h3>
  </div>
  <div class="box content">

    <% hash.each do |key, value| %>
      <% if key.to_s.match(/github.com/i) %>
        <a href="<%= key %>" title="<%= value %>" target="new"><i class="fa fa-github" style="font-size: 32px;"></i></a>
      <% elsif key.to_s.match(/bitbucket.org/i) %>
        <a href="<%= key %>" title="<%= value %>" target="new"><i class="fa fa-bitbucket" style="font-size: 32px;"></i></a>
      <% end %>
    <% end %>

    <% hash.each do |key, value| %>
      <% if !key.to_s.match(/github.com/i) && !key.to_s.match(/bitbucket.org/i) %>
        <br/><a href="<%= key %>" title="<%= value %>" target="new"><%= value %></a>
      <% end %>
    <% end %>

  </div>
<% else %>
  <div class="box header"><h3 class="side_header">0 Links</h3></div>
<% end %>

<% if @product.twitter_name && !@product.twitter_name.empty? %>
  <div class="box content" id="relatedLinks" style="padding-top: 10px;" >
    <a href="https://twitter.com/<%= @product.twitter_name %>" target="twitter" >Twitter Page</a>
  </div>
<% end %>

<% if !Settings.instance.environment.to_s.eql?('enterprise') %>
  <div id='div-gpt-ad-1407836165464-0'>
    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.pubads().display('/53015287/versioneye.com_d_160x600_1', [160, 600], 'div-gpt-ad-1407836165464-0');
      });
    </script>
  </div>
<% end %>
