<% if (!@version.versionarchive.nil? && @version.versionarchive.length > 0) || @product.prod_type == "RubyGem" %>
	<div class="boxHeader">
		Download
	</div>
	<div class="boxContainer" >
		
		<% if @product.prod_type == "RubyGem" %>
			<div><a href="http://rubygems.org/gems/<%= @product.name %>-<%= @product.version %>.gem"><%= @product.name %>-<%= @product.version %>.gem</a></div>
		<% end %>
		
		<% if !@version.versionarchive.nil? && @version.versionarchive.length > 0 %>
			<% @version.versionarchive.each do |download|  %>
				<div><a href="<%= download.link %>"><%= download.name %></a></div>
			<% end %>
		<% end %>
	</div>
<% end %>