<% if !@product.versions.nil? && @product.versions.length > 0 %>
  <div class="box header">
    <h3 class="side_header">
      <%= pluralize(@product.versions.count, 'Versions') %>
    </h3>
  </div>
  <div class="box content scrollable-box" style = "min-height: 1em; max-height: 14em;" >
    <% @product.sorted_versions.each do |version|  %>
      <div>
        <% if VersionTagRecognizer.release?(version.to_s) %>
          <a href="<%=product_version_path( @product, version.to_param )%>"><%=version.to_s%></a>
        <% else %>
          <a style="color: brown" href="<%=product_version_path( @product, version.to_param )%>"><%=version.to_s%></a>
        <% end %>
        <span class="meta_text_small">(<%= version.released_or_detected.strftime("%b %d, %Y") %>)</span>
      </div>
    <% end %>
  </div>
  <% if @product.language.eql?(Product::A_LANGUAGE_JAVA) %>
    <div style="margin-top: 10px; font-size: 12px;">
      For Maven based packages currently we don't have the real release dates. We can only show the date we detected a specific version.
    </div>
  <% end %>
  <% if @product.language.eql?(Product::A_LANGUAGE_OBJECTIVEC) %>
    <div style="margin-top: 10px; font-size: 12px;">
      Since Cocoapods doesn’t have the original release dates we now try to get them from the corresponding git tag. We use the Github API to do this, so this currently works only for pods hosted on Github.
    </div>
  <% end %>
<% end %>
