<div class = "row well" style = "margin-bottom: 0px;">
	<div class="span2">
		<h5>
			<%= pluralize(@main_dependencies.count, "Compile Dependencies") %>
		</h5>
	</div>
	<div class="span5" >
		<ul class = "nav nav-list">
		<% @main_dependencies.each do |dep| %>
		<li>
			<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
				<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
					<span class = "icon_link icon16"></span>
					<span itemprop="name" ><%= dep.name %></span> 
					<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
						: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
					<% end %> 
				</a>
			</span>
		</li>
		<% end %>
		</ul>
	</div>
</div>

<% test_deps = @product.dependencies("test") %>
<% if test_deps.count > 0 %>
	<div class = "row well" style = "margin-bottom: 0px;">
		<div class="span2">
				<h5><%= pluralize(test_deps.count, "Test Dependencies") %></h5>
		</div>
		<div class="span5" >
			<ul class = "nav nav-list">
			<% test_deps.each do |dep| %>
				<li>
				<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
					<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
						<span class = "icon_link"></span>
						<span itemprop="name" ><%= dep.name %></span> 
						<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
							: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
						<% end %>
					</a>
				</span>
				</li>
			<% end %>
			</ul>
		</div>
	</div>

<% end %>

<% provided_deps = @product.dependencies("provided") %>
<% if provided_deps.count > 0 %>
<div class = "row well">
	<div class="span2">
		<h5>
			<%= pluralize(provided_deps.count, "Provided Dependencies") %>
		</h5>
	</div>
	<div class="span5" >
		<ul class = "nav nav-list">
		<% provided_deps.each do |dep| %>
			<li>
				<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
					<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
						<span class = "icon_link icon16"></span>
						<span itemprop="name" ><%= dep.name %></span> 
						<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
							: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
						<% end %> 
					</a><br/>
				</span>
			</li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>