
<div class = "row">
	<%= render 'products/product_show_header' %>
</div>

<div class="span3" >
	<%= render 'products/product_show_followers' %>
	<%= render 'products/product_show_license' %>
	<%= render 'products/product_show_links' %>
	<%= render 'products/product_show_twitter_follow' %>
	<%= render 'products/product_show_other_versions' %>
	<% if signed_in? == false %>
    <%= render "/shared/github_ad" %>
  <% end %>
</div>
<div class="span8 content_no_head" >
	<%= render 'products/product_show_description' %>
	<%= render 'products/product_show_release_time' %>
	<%= render 'products/product_show_dependencies' %>
	<%= render 'products/product_show_downloads' %>
	<%= render 'products/product_show_maven_code_snippet' %>
	<%= render 'products/product_show_maven_repositories' %>
	<%= render 'products/product_show_comments' %>
	<%= render 'products/product_show_comment' %>
</div>
