
<div class = "row">
	<%= render 'products/product_show_header' %>
</div>

<div class="span3 " >

	<%= render 'products/product_show_followers' %>

	<%= render 'products/product_show_authors' %>
	
	<%= render 'products/product_show_license' %>

	<%= render 'products/product_show_links' %>

	<%= render 'products/product_show_twitter_follow' %>

	<%= render 'products/product_show_other_versions' %>
	
</div>	

<div class="span7 content">
	
	<%= render 'products/product_show_description' %>

	<%= render 'products/product_show_release_time' %>
	
	<%= render 'products/product_show_downloads' %>
	
	<%= render 'products/product_show_pip_install' %>
	
	<%= render 'products/product_show_comments' %>
	
	<%= render 'products/product_show_comment' %>

</div>