<h3><%= pluralize(@main_dependencies.count, "Runtime Dependencies") %></h3>
<% @main_dependencies.each do |dep| %>
	<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="">
		<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
			<span itemprop="name" ><%= dep.name %></span> : <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
		</a>
	</span><br/>
<% end %>

<% dev_deps = @product.dependencies("development") %> 
<% if dev_deps.count > 0 %>
	<h3 style="padding-top: 20px;"><%= pluralize(dev_deps.count, "Development Dependency") %></h3>
	<% dev_deps.each do |dep| %> 
		<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="">
			<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
				<span itemprop="name" ><%= dep.name %></span> : <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
			</a>
		</span><br/>
	<% end %>
<% end %>