<div class="row">
  <div class="span9" >
    
    <div class="span1 icon_package_header" >
      <% prog_lang = @product.language.downcase.gsub(/\./, "") %>
      <span class="icon_<%= prog_lang %> on " ></span>
    </div>
    
    <div class="span7">
      <div class="row span8 pull-left ">
        <h3 class="no_margin">
          <%= @product.name_and_version %>
        </h3>
      </div>
      <div class="row span8 pull-left ">
        <div class="span3">

          <% if @product.show_dependency_badge? %>
            <%= render "products/helpers/dialog_dependency_badge" %>
            <a href="#dialog_dependency_badge" id="show_dep_badge_window" role="button" data-toggle="modal">
              <img id="dependency_badge" src="" />
            </a>
            <script type="text/javascript">
              element = document.getElementById("dependency_badge")
              element.src = document.URL + "/badge.png"
            </script>
          <% end %> 

        </div>
        <div class="span5 pull-right">
          <ul class="list-social pull-right" >
            <%= render 'shared/share_buttons' %>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="span2 pull-right" >
    <%= render 'products/product_show_bigfollow' %>
  </div>
</div>