<div style="text-align: left; margin-bottom: 10px;">
	<% if signed_in? %>
		<% if @follower.nil? %>			
			<%= form_tag("/follow") do  %>
				<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= @product.to_param %>"/>
				<%= submit_tag "Follow", :class => "followButtonBig", :id => "#{@product.to_param}" %>
			<% end %>
		<% else %>
			<%= form_tag("/unfollow") do  %>
				<input id="src_hidden"  name="src_hidden" type="hidden" value="detail"/>
				<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= @product.to_param %>"/>
				<%= submit_tag "Unfollow", :class => "unfollowButtonBig" %>
			<% end %>
		<% end %>
	<% else %>
		<%= render 'shared/dialog_follow' %>
		<input type="submit" value="Follow" class="followButtonBig" onclick="load_dialog_follow('<%= @product.name %>');" ></input>
	<% end %>	
</div>