<h2 class="section_header"> GEM </h2>

<div class = "well box_snippet" >

  <div style="margin-bottom: 5px;">
    <div >
      <h5 class="dep_header">Gemfile entry</h5>
    </div>
    <div style="margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>gem '<%= @product.name %>', '<%= @version.to_s %>'</code></pre></div>
  </div>

  <div style="margin-bottom: 5px;">
    <div >
      <h5 class="dep_header">Install with GEM</h5>
    </div>
    <div style="margin-bottom: 0;"><pre class="prettyprint download_area" style="margin-bottom: 0;"><code>gem install <%= @product.name %> --version <%= @version.to_s %></code></pre>
    </div>
  </div>

  <% downloads = Versionarchive.archives( @product.language, @product.prod_key, @version.to_s ) %>
  <% if !downloads.nil? && !downloads.empty? %>
    <div style="margin-bottom: 5px;" >
      <div>
        <h5 class="dep_header">Download</h5>
      </div>
      <div class="download_area"  >
        <% downloads.each do |download|  %>
          <a title="<%= download.name %> download" href="<%= download.link %>"><%= download.name %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div  style="margin-bottom: 5px;">
    <div >

    </div>
    <div  style="margin-bottom: 0;">
      <%= render "products/helpers/notify_me" %>
    </div>
  </div>

</div>
