<div class="sidebar" >
	
	<%= render 'products/product_show_bigfollow' %>

	<%= render 'products/product_show_followers' %>
	
	<%= render 'products/product_show_license' %>

	<%= render 'products/product_show_links' %>

	<%= render 'products/product_show_other_versions' %>
	
</div>	
<div class="content">
	
	<%= render 'products/product_show_header' %>

	<%= render 'products/product_show_ratings' %>
	
	<%= render 'products/product_show_description' %>
	
	<%= render 'products/product_show_downloads' %>
	
	<%= render 'products/product_show_changes' %>

	<%= render 'products/product_show_comments' %>
	
	<%= render 'products/product_show_comment' %>

</div>