<ul class="list-row product_header">
	<li class="list-cell icon-cell">
		<%= render :partial => "/products/language_icons", :locals => {:language => @product.language, :icon => @product.icon, :link => nil, :title => @product.name} %>
	</li>
	<li class="list-cell" style="vertical-align: middle; ">
		<h1 style="margin-bottom: 5px;"><%= @product.name_and_version %></h1>
		<div class="meta-text-small">
			Last update at: <time id="updated" itemprop="updated" datetime="<%= @product.updated_at.strftime("%Y-%m-%dT%H:%M") %>"><%= @product.updated_at.strftime("%b %d, %Y - %I:%m %p") %></time>
		</div>
		<ul class="list-row">
			<li class="list-cell share-on-icon">
				<a href="http://twitter.com/share" 
				   class="twitter-share-button" 
				   data-url="<%= configatron.server_url %>/package/<%= @product.to_param %>" 
				   data-text="Check out #<%= @product.name %> @VersionEye" 
				   data-count="horizontal" >Twitter</a>
			</li>
			<li class="list-cell share-on-icon">
				<iframe src="http://www.facebook.com/plugins/like.php?href=<%=configatron.server_url%>/package/<%=@product.to_param%>')" style="border:none; width:200px; height:25px"></iframe>
			</li>
			<li class="list-cell share-on-icon" style="width: 90px;">
				<div class="g-plusone" data-annotation="inline" data-href="<%= configatron.server_url %>/package/<%= @product.to_param %>" style="width: 90px;"></div>
			</li>
		</ul>
	</li>
</ul>