<div class="well box_dep">

  <% main_dependencies = @product.dependencies(nil) %>

  <div class="row">
    <div class="col-md-12">
      <h5 class="dep_header">
        <% if main_dependencies && main_dependencies.count %>
          <%= pluralize( main_dependencies.count, 'Compile Dependencies') %>
        <% else %>
          0 compile dependencies found
        <% end %>
      </h5>
      <div style="display: inline;">
        <%= render :partial => "shared/dependency_badge", :locals => { :project => @product } %>
      </div>
    </div>
    <div class="col-md-12" >
      <% if main_dependencies.count > 0 && main_dependencies.count <= 30 %>
        <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => main_dependencies }  %>
      <% elsif main_dependencies.count > 30 %>
        Because of performance reasons we can not show all <%= pluralize(main_dependencies.count, "compile dependencies") %> here. <%= main_dependencies.count %>
      <% end %>
    </div>
  </div>

  <% test_deps = @product.dependencies( Dependency::A_SCOPE_TEST ) %>
  <% if test_deps && test_deps.count > 0 %>
    <hr/>
    <h5 class="dep_header">
      <%= pluralize(test_deps.count, "Test Dependencies") %>
    </h5>
    <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => test_deps }  %>
  <% end %>

  <% optional_deps = @product.dependencies( Dependency::A_SCOPE_OPTIONAL ) %>
  <% if optional_deps.count > 0 %>
    <hr/>
    <h5 class="dep_header">
      <%= pluralize(optional_deps.count, "Optional Dependencies") %>
    </h5>
    <%= render :partial => "products/helpers/dependency_table", :locals => { :dependencies => optional_deps }  %>
  <% end %>

</div>
