<div class="sidebar">
	
	<%= render 'products/product_show_bigfollow' %>

	<%= render 'products/product_show_links' %>

	<%= render 'products/product_show_other_versions' %>
	
</div>	
<div class="content">
	
	<h1 ><%= @product.name_and_version %></h1>		
	
	<%= render 'products/product_show_image' %>
	
	<%= render 'products/product_show_downloads' %>
	
	<%= render 'products/product_show_description' %>
		
	<%= render 'products/product_show_changes' %>

	<%= render 'products/product_show_comments' %>
	
	<%= render 'products/product_show_comment' %>

</div>