<% links = @product.get_links %>
<% version_links = @product.get_version_links %>
<% count = links.count + version_links.count %>
<div class="boxHeader">
	<%= pluralize(count, "Link") %>
</div>
<div class="boxContainer" id="relatedLinks" >
	<% if !links.empty? %>
		<% links.each do |link| %>
			<a itemprop="publishingPrinciples" href="<%= link.get_link %>" target="new"><%= link.name %></a><br/>
		<% end %>
	<% end %>
	<% if !version_links.empty? %>
		<% version_links.each do |link| %>
			<a itemprop="publishingPrinciples" href="<%= link.get_link %>" target="new"><%= link.name %></a><br/>
		<% end %>
	<% end %>
</div>