<div class="boxHeader">
	Links
</div>
<div class="boxContainer" >
		
	<% if @product.version_link && !@product.version_link.empty? && @product.prod_type.eql?("Maven2") %>	
		<a href="<%= @product.version_link %>" target="_NEW">Link to project</a><br/>
	<% end %>
	<% if !@product.link.nil? && !@product.link.empty? && @product.prod_type.eql?("RubyGem") %>
		<a href="<%= @product.link %>" target="_NEW">RubyGem Page</a><br/>
	<% end %>
	<% if !@product.link.nil? && !@product.link.empty? && @product.prod_type.eql?("PIP") %>
		<a href="<%= @product.link %>" target="_NEW">PIP Page</a><br/>
	<% end %>
	<% if !@product.link.nil? && !@product.link.empty? && @product.prod_type.eql?("GitHub") %>
		<a href="<%= @product.link %>" target="_NEW">GitHub</a><br/>
	<% end %>
	<% if !@product.get_links.empty? %>
		<% @product.get_links.each do |link| %>
			<% if link.name != "Facebook" && link.name != "Twitter" %>
				<a href="<%= link.get_link %>" target="_NEW"><%= link.name %></a><br/>
			<% end %>			
		<% end %>
		<% @product.get_links.each do |link| %>
			<% if link.name == "Facebook" %>
				<a href="<%= link.link %>" target="_NEW"><%= image_tag "facebook_icon.png" %></a>
			<% elsif link.name == "Twitter" %>	
				<a href="<%= link.link %>" target="_NEW"><%= image_tag "twitter_icon.png" %></a>
			<% end %>			
		<% end %>	
	<% end %>
	<% if !@product.get_version_links.empty? %>
		<% @product.get_version_links.each do |link| %>
			<a href="<%= link.get_link %>" target="_NEW"><%= link.name %></a><br/>
		<% end %>
	<% end %>
	
</div>