<div class="boxHeader">
	Dependencies
</div>
<div class="boxContainer" >
	<div id="canvas-container"></div>
	<div style="text-align: center; display: none" id="infoBox">
		<span >
			<a id="pinit_compile" style="display: none;" href="" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
		</span>
		<h3 style="text-align: center;" >
			<%= @product.name %> has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive <%= @product.main_scope %> dependencies
		</h3>
		<a href="/package_visual/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>">
			See visual page
		</a>
	</div>
</div>
<div class="boxContainer" id="dependencies" itemprop="requirements" itemscope="" itemtype="http://schema.org/ItemList">
	<meta name="name" content="Requirements" itemprop="name" />
	<% if @product.prod_type.eql?("Maven2") %>
		<%= render "product_show_dependencies_maven2" %>
	<% else %>
		<%= render "product_show_dependencies_rubygems" %>
	<% end %>
</div>

<% if @main_dependencies.count > 2 %>
	<script type="text/javascript">
		jQuery.noConflict();
		var wheel = new MooWheel.Remote(false, document.getElementById("canvas-container"), { 
			url: '/package/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>/recursive_dependencies.json',
			width: "562", 
			height: "562",
			infoBox: "infoBox",
			infoNumber: "runtime_recursive_number",
			canvas_id: "canvas",
			canvas_hover_id: "canvas_hover",
			product_key: "<%= @product.to_param%>", 
			product_version: "<%= @product.version_to_url_param%>",
			product_name: "<%= @product.name%>", 
			version: "<%= @product.version%>",
			onItemClick: function(item, event){
				key = item.id; 
				key = key.replace(/\//g, "--");
				key = key.replace(/\./g, "~" );
				version = item.version;
				version = version.replace(/\//g, "--");
				version = version.replace(/\./g, "~" );
				window.location.href = "/package/" + key + "/version/" + version;
			}
		} );
	</script>
<% end %>