	<h3><%= pluralize(@main_dependencies.count, "Compile Dependencies") %></h3>
	<% @main_dependencies.each do |dep| %> 
		<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
			<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
				<span itemprop="name" ><%= dep.name %></span> 
				<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
					: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
				<% end %> 
			</a><br/>
		</span>
	<% end %>

	<% test_deps = @product.dependencies("test") %> 
	<% if test_deps.count > 0 %>
		<h3><%= pluralize(test_deps.count, "Test Dependencies") %></h3>
		<% test_deps.each do |dep| %> 
			<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
				<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
					<span itemprop="name" ><%= dep.name %></span> 
					<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
						: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
					<% end %> 
				</a><br/>
			</span>
		<% end %>
	<% end %>

	<% provided_deps = @product.dependencies("provided") %> 
	<% if provided_deps.count > 0 %>
		<h3><%= pluralize(provided_deps.count, "Provided Dependencies") %></h3>
		<% provided_deps.each do |dep| %> 
			<span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
				<a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
					<span itemprop="name" ><%= dep.name %></span> 
					<% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
						: <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
					<% end %> 
				</a><br/>
			</span>
		<% end %>
	<% end %>