<div class = "well box_snippet" >

  <% downloads = Versionarchive.archives( @product.language, @product.prod_key, @version.version ) %>
  <% if !downloads.nil? && !downloads.empty? %>
    <div class="row" style="margin-bottom: 5px;" >
      <div class="span2" >
        <h5 class="dep_header"><%= pluralize(downloads.count, "Download") %></h5>
      </div>
      <div class="span5 download_area" style="width: 409px;" >
        <% downloads.each do |download|  %>
          <a title="<%= download.name %> download" href="<%= download.link %>"><%= download.name %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row" style="margin-bottom: 5px;">
    <div class="span2">
      <h5 class="dep_header">Install with GEM</h5>
    </div>
    <div class="span5" style="width: 430px; margin-bottom: 0;"><pre class="prettyprint download_area" style="margin-bottom: 0;"><code>gem install <%= @product.name %> --version <%= @version.version %></code></pre>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <h5 class="dep_header">Gemfile entry</h5>
    </div>
    <div class="span5" style="width: 430px; margin-bottom: 0;"><pre class = "prettyprint" style="background-color: #fff; margin-bottom: 0;"><code>gem '<%= @product.name %>', '<%= @version.version %>'</code></pre></div>
  </div>

</div>
