<div class="well box_dep">

<div class="row">
  <div class="span6">
    <h5 class="dep_header">
      <%= pluralize(@main_dependencies.count, "Runtime Dependencies") %>
    </h5>
  </div>
  <div class="span7" >
    <% if !@main_dependencies.empty? %>
      <table class="dependency_table" style="width: 570px;">
        <thead>
          <tr>
            <th class="name_col"></th>
            <th class="version_col">Dependency Version</th>
            <th class="version_col">Current Version</th>
          </tr>
        </thead>
        <% @main_dependencies.each do |dep| %>
        <% tr_class = "flash warn" if dep.outdated? %>
        <tr class="<%= tr_class %>">
          <td>
            <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
              <a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
                <div class="icon_link icon16"></div>
                <span itemprop="name" ><%= dep.name %></span>
              </a>
            </span>
          </td>
          <td>
            <% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
              <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
            <% end %> 
          </td>
          <td>
            <%= dep.product.newest_version.version %>
          </td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
<% test_deps = @product.dependencies("test") %>
<% if test_deps.count > 0 %>
  <hr/>
  <div class="row">
    <div class="span2">
      <h5 class="dep_header">
        <%= pluralize(test_deps.count, "Test Dependencies") %>
      </h5>
    </div>
    <div class="span4" >
      <ul class = "nav nav-list">
      <% test_deps.each do |dep| %>
        <li>
        <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
          <a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
            <span class = "icon_link"></span>
            <span itemprop="name" ><%= dep.name %></span> 
            <% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
              : <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
            <% end %>
          </a>
        </span>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% dev_deps = @product.dependencies("development") %>
<% if dev_deps.count > 0 %>
  <hr />
<div class="row">
  <div class="span2">
    <h5 class="dep_header">
      <%= pluralize(dev_deps.count, "Development Dependencies") %>
    </h5>
  </div>
  <div class="span4" >
    <ul class = "nav nav-list">
    <% dev_deps.each do |dep| %>
      <li>
        <span itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication" itemscope="" >
          <a itemprop="url" class="#a dep_link" href="/package/<%= dep.dep_prod_key_for_url %>/version/<%= dep.version_for_url %>" >
            <span class = "icon_link icon16"></span>
            <span itemprop="name" ><%= dep.name %></span> 
            <% if !dep.version_for_label.nil? && !dep.version_for_label.empty? %>
              : <span itemprop="softwareVersion"><%= dep.version_for_label %></span>
            <% end %> 
          </a><br/>
        </span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
</div>