
<div class = "span12">
<%= render 'products/product_show_header' %>
</div>

<div class="span3 sidebar" >
	<%= render 'products/product_show_followers' %>
	<%= render 'products/product_show_license' %>
	<%= render 'products/product_show_links' %>
	<%= render 'products/product_show_twitter_follow' %>
	<%= render 'products/product_show_other_versions' %>
</div>
<div class="span9 content">
	<%= render 'products/product_show_description' %>

	<%= render 'products/product_show_release_time' %>

	<%= render 'products/product_show_dependencies' %>
	<%= render 'products/product_show_downloads' %>

	<%= render 'products/product_show_maven_code_snippet' %>
	<%= render 'products/product_show_maven_repositories' %>
	<%= render 'products/product_show_comments' %>
	<%= render 'products/product_show_comment' %>

</div>