<% if icon.nil? %>
	<% if !language.nil? && !language.empty? %>
		<% if !link.nil? %>
			<a href="<%= link %>"><%= image_tag "language/#{language.downcase}.png" %></a>
		<% else %>
			<%= image_tag "language/#{language.downcase}.png" %>
		<% end %>
	<% else %>
		<%= image_tag "eye_off.png" %>
	<% end %>									
<% else %>
	<img src="<%= icon %>" width="57" height="57"></img>
<% end %>