<% products.each do |product| %>
	<% if signed_in? %>
		<% product.update_in_my_products(@my_product_ids) %>
	<% end %>
	<div class="searchResult" >
		<ul class="list-row">
			<li class="list-cell icon-cell">
				<%= render :partial => "/products/language_icons", :locals => {:language => product.language, :icon => product.icon, :link => product_url(product) } %>
			</li>
			<li class="list-cell">
				<a href="<%= product_url(product) %>" class="searchResultLink"><%= product.name_version(name_limit) %></a><br/>
				<% if product.prod_type == "Maven2" %>
					<span class="meta-text-small">GroupId: <%= product.group_id %></span><br/>
				<% end %>
				<ul class="searchResult-inner-list-row">
					<li class="searchResult-inner-list-cell" style="padding-top: 5px">
						<% if signed_in? %>
							<span id="follow_<%=product.to_param%>" style="display: <%= display_follow(product) %>">
								<%= form_tag("/follow", :remote => true) do  %>
									<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
				 					<%= submit_tag "Follow", :class => "followButton", :id => "#{product.to_param}" %>
								<% end %>
							</span>
							<span id="unfollow_<%=product.to_param%>" style="display: <%= display_unfollow(product) %>">
								<%= form_tag("/unfollow", :remote => true) do  %>
									<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
									<%= submit_tag "Unfollow", :class => "unfollowButton", :id => "#{product.to_param}" %>
								<% end %>
							</span>
						<% else %>
							<input type="submit" value="FOLLOW" class="followButton" onclick="load_dialog_follow('<%= product.name %>');" ></input>
						<% end %>
					</li>
					<li class="searchResult-inner-list-cell rating-cell">
						<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => "#{prefix}_#{product.prod_key}"} %>
					</li>
				</ul>
			</li>
		</ul>
	</div>
<% end %>