
<div class="col-md-3" >
  <%= render "products/helpers/edit_navi" %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Edit <b><%= @product.name %></b>
  </div>

  <div class="content" >

    <div class="boxContainer">
      <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/update", :method => "post", :class => "form-horizontal") do  %>

        <div class="form-group">
          <%= label_tag(:license, "License Name", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag :license, "", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag(:licenseLink, "License Link", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag :licenseLink, "", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag(:licenseVersion, "Version", :class => "control-label") %>
          <div class="controls">
            <select name="licenseVersion" id="licenseVersion" class="form-control" >
              <% @product.versions.each do |version| %>
                <option value="<%= version.to_s %>" ><%= version.to_s %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <button type="submit" class="btn btn-large btn-primary" >Save</button>
          </div>
        </div>

      <% end %>
    </div>

    <div class="boxContainer">
      <% licenses = @product.licenses_all %>
      <% if licenses and !licenses.empty? %>

        <table>
          <colgroup>
            <col width="80px;"j />
            <col width="*" />
          </colgroup>

          <% licenses.each do |license| %>
            <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/delete_license", :method => "post") do  %>
            <tr>
              <td>
                <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
              </td>
              <td>
                <input id="license_id" name="license_id" type="hidden" value="<%= license._id.to_s %>" />
                <% name = 'unknown' %>
                <% name = license.name if !license.name.to_s.empty? %>
                <% if !license.link.to_s.empty? %>
                  <a href="<%= license.link %>" target="license"><%= name %></a> for version <%= license.version %>
                <% else %>
                  "<%= name %>" for version <%= license.version %>
                <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>

        </table>

      <% end %>
    </div>

  </div>

</div>
