<div class="col-md-3" >
  <%= render 'products/helpers/edit_navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    Edit <b><%= @product.name %></b>
  </div>

  <div class="content" >

    <div class="boxContainer">
      <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/update", :method => "post", :class => "form-horizontal") do  %>
        
        <div class="form-group">
          <%= label_tag(:label, "Label", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag :link_name, "", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag(:link, "URL", :class => "control-label") %>
          <div class="controls">
            <%= text_field_tag :link_url, "", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            <button type="submit" class="btn btn-large btn-primary" >Add</button>
          </div>
        </div>

      <% end %>
      <br/>
      <% version_links = @product.http_links %>
      <% if !version_links.empty? %>
        <table>
          <colgroup>
            <col width="80px;" />
            <col width="*" />
          </colgroup>
        <% version_links.each do |link| %>

            <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/delete_link", :method => "post") do  %>
            <tr>
              <td>
                <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
              </td>
              <td>
                <input id="link_url" name="link_url" type="hidden" value="<%= link.get_link %>" />
                <a href="<%= link.get_link %>" target="new"><%= link.name %></a>
              </td>
            </tr>
            <% end %>

        <% end %>
        </table>
        <br/>
        <br/>
      <% end %>
    </div>


      <div class="boxContainer">
        <%= form_tag("/#{@product.language_esc}/#{@product.to_param}/update", :method => "post", :class => "form-horizontal") do  %>

          <div class="form-group">
            <%= label_tag(:twitter_name, "Twitter ID", :class => "control-label") %>
            <div class="controls">
              <%= text_field_tag :twitter_name, @product.twitter_name, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <button type="submit" class="btn btn-large btn-primary" >Add</button>
            </div>
          </div>
        <% end %>
      </div>

    <div>

</div>
