
<%= render 'shared/dialog_follow' %>

<section class="section-lp round" style="text-align: center;">
	<div id="canvas-container" style="margin-top: 20px;"></div>
	<div style="text-align: center; display: none" id="infoBox">
		<span >
			<a id="pinit_runtime" style="display: none;" href="" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" alt="Pin_it_on_pinterest" title="Pin It" target="new_pinterest" /></a>
		</span>
		<h3 style="text-align: center;" >
			Ruby on Rails has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive runtime dependencies
		</h3>
	</div>
</section>

<section class="section-lp round">	
	<div class="lp_box lp_sign_up" style="text-align: center;">
		<ul class="list-row" style="display: block; width: 70%; margin: auto;">
			<li class="list-cell share-on-icon" style="width: 214px;">
				<%= render "shared/follow_versioneye" %>
			</li>
			<li class="list-cell share-on-icon">
				<a href="https://twitter.com/share" 
				   class="twitter-share-button" 
				   data-url="https://www.versioneye.com" 
				   data-text="Follow your Libraries @VersionEye and get notified about new versions." 
				   data-count="horizontal" >Twitter</a>
			</li>
			<li class="list-cell share-on-icon">
				<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/VersionEye/295350293845442&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=25" style="border:none; width:107px; height:25px"></iframe>
			</li>
			<li class="list-cell share-on-icon" >
				<div class="g-plusone" data-annotation="bubble" data-size="medium" data-href="https://www.versioneye.com" style="width: 100px;"></div>
			</li>
		</ul>
	</div>
</section>

<section class="section-lp round">
	<div class="lp_box">
		<%= render 'shared/hotest_boxes' %>
	</div>
</section>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About VersionEye
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="https://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "get") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>

<script type="text/javascript">
	jQuery.noConflict();
	var wheel = new DependencyWheel.Remote(false, document.getElementById("canvas-container"), { 
		url: '/package/rails/version/3~2~3/recursive_dependencies.json',
		width: "500", 
		height: "450",
		data_border: 70,
		infoBox: "infoBox",
		infoNumber: "runtime_recursive_number",
		canvas_id: "canvas",
		canvas_hover_id: "canvas_hover",
		product_key: "rails", 
		product_version: "3~2~6",
		product_name: "rails", 
		version: "3.2.6",
		scope: "runtime",
		container_id: "canvas-container",
		resize: false,
		show_label: false,
		onItemClick: function(item, event){
			key = item.id; 
			key = key.replace(/\//g, "--");
			key = key.replace(/\./g, "~" );
			version = item.version;
			version = version.replace(/\//g, "--");
			version = version.replace(/\./g, "~" );
			window.location.href = "/package/" + key + "/version/" + version;
		}
	} );
</script>
