<div class="slogan">
	<%= image_tag "slogan.png" %>
</div>
<div class="intro">		
	<div class="phone-box">
		<a href="#smartphones"><%= image_tag "phone.png" %></a>
	</div>
	<div class="movie-box">
		<iframe width="512" height="315" src="http://www.youtube.com/embed/z-rp2TT4aXQ?wmode=opaque" frameborder="0" allowfullscreen></iframe>
	</div>	
</div>
<% if !signed_in? %>
<div class="lp_box lp_login_area">
	<%= render 'shared/login_with_facebook' %> 
</div>
<% end %>
<h1 class="lp_head">
	About
</h1>
<div class="lp_box">
	<%= render 'shared/about' %>
</div>
<h1 class="lp_head">
	Community
</h1>
<div class="lp_box">
	<%= render 'shared/community' %>
</div>
<h1 class="lp_head">
	Numbers
</h1>
<div class="lp_box">
	<%= render 'shared/numbers' %>
</div>
<h1 class="lp_head">
	Mobile
</h1>
<div class="lp_box">
	<%= render 'shared/mobile' %>
</div>
<div class="lp_box">
	<%= render 'shared/phone_boxes' %>
</div>
<div class="lp_box lp_sign_up">
	<%= form_tag("/signup", :method => "post") do  %>    
		<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
	<% end %>
</div>
