
<section class="container">
  <div id="headline_1" class="jumbotron" style="text-align: center;">
    <h1><span style ="">Continuous Updating</span></h1>
    <p style="font-weigth: none; line-height: 1.5;">Follow your libraries and get notified about new versions</p>
  </div>
</section>

<section id="search_section" class="container" style="padding-bottom: 65px;" >
  <div id="search_bar" style="text-align: center;" >

    <form id="form" action="/search" method="GET" style="padding: 0; margin:0;" >
      <div class = "input-append">
        <input id = "q" name = "q" class = "span7 input-huge" type = "text" />
        <button class = "btn btn-primary btn-huge" type = "submit" >
          <i class = "icon-search icon-white"></i>
          &nbsp;Search
        </button>
      </div>
    </form>

  </div>
  <div id="headline_2" class="jumbotron" style="margin-top: 10px;">
    <div class="row" style="text-align: center; vertical-align: middle;">
      <% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
          <% @langs = @lang.split(",") %>
          <% @languages.each do |language| %>
            <% langname = language.downcase.gsub(/\./, "") %>
            <div class="icon_<%= langname %>_small_container" >
              <span id="icon_<%= langname %>" class="icon_<%= langname %> small on" title="<%= langname %>">&nbsp;</span>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</section>

<section id="features" class="container" style="background-color: white; padding-top: 50px; padding-bottom:30px;" >
    <div class="row-fluid" >
      <div class="span3 well1">
        <span class = "icon_package off marketing-icon"></span>
        <span class = "icon_package on  marketing-icon"></span>
        <h5>Package support</h5>
        <p>
          VersionEye has support for 7 package managers
          including Maven, Bundler, Lein and more.
        </p>
        <a href="/services">Find out more</a>
      </div>
      <div class="span3 well1">
        <span class="icon_gitcat off marketing-icon"></span>
        <span class="icon_gitcat on  marketing-icon"></span>
        <h5>GitHub integration</h5>
        <p>
          Monitor your GitHub repositories
          to be notified about outdated dependencies.
        </p>
        <a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'>Login via GitHub</a>
      </div>
      <div class="span3 well1">
        <span class="icon_freeprice off marketing-icon"></span>
        <span class="icon_freeprice on  marketing-icon"></span>
        <h5>SignUp free</h5>
        <p>
          Monitoring public repositories is free. Only
          private GitHub repositories are fee-based.
        </p>
        <a href="/signup">Register for free</a>
      </div>
      <div class="span3 well1">
        <span class="icon_dependency off marketing-icon"></span>
        <span class="icon_dependency on marketing-icon"></span>
        <h5>Visualizing dependendencies</h5>
        <p>
          VersionEye visualises recursive dependencies and
          makes complexity visible.
        </p>
        <a href="/ruby/rails/3.2.13">Watch example</a>
      </div>
    </div>
  </section>


  <section id="try" class="container" style="padding-top: 50px; padding-bottom:30px;" >
  <div class = "row col2-left-l col2-right-r" >
  <div class=" row ">
    <div class="span3" style="font-size: 20px; line-height: 150%; font-weight: bold;" >
      Try VersionEye now! Simply upload a file.
    </div>
    <div class = "span8">
      <div style="margin-bottom: 10px;">(pom.xml, Gemfile, Gemfile.lock, requirements.txt, setup.py, package,json,
        composer.json, composer.lock, dependency.gradle, project.clj)
      </div>
      <%= form_for services_path, :html => {:multipart => true, :accept => "text/xml" } do |f|  %>
        <div style="padding-bottom: 20px;">
          <div class = "fileupload fileupload-new" data-provides="fileupload">
            <span class = "btn btn-file">
              <span class = "fileupload-new"> Select project file </span>
              <span class = "fileupload-exists"> Change file </span>
              <%= file_field 'upload', 'datafile', :class => "" %>
            </span>
            <span class = "fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
          </div>
          <button type="submit" class="btn2" >Upload</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</section>


  <section id="reasons" class=" container" style="background-color: white; padding-top: 50px; padding-bottom:30px;" >
    <div class="marketing" >
      <h2 class="casual">Because Software Libraries don't update themselves</h2>
      <p>They just become out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because Software Libraries are not like iPhone Apps</h2>
      <p>They are passive! They don't tell you that they are out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because Software Developers are wasting time with ..</h2>
      <p>looking manually for updates. Save Time and Money by automating this process.</p>
    </div>
  </section>

<br/><br/><br/><br/>
