
<section class="container">
  <div id="headline_1" class="jumbotron" style="text-align: center;">
    <h1>Stay up to date with <span style ="">VersionEye</span></h1>
    <p>Follow your libraries and get notified about new versions. Save Time and Money. It's easy.</p>
  </div>
</section>

<section id="search_section" class="container" style="padding-bottom: 65px;" >
  <div id="search_bar" class="search-container" >
    <form id="form" action="/search" method="GET" style="padding: 0; margin:0;" >
      <input id="lang" name="lang" class="hide" type="hidden" value="<%= @lang %>" />
      <div class="row">
        <div class = "span5 pull-left ">
          <div class = "input-prepend ">
            <input id="q" class = "input large" name="q" type="text" value="<%= @query %>" />
          </div>
        </div>
        <div class = "span2 pull-right" style="width: 100px;" >
          <button type="submit" class="btn2 btn2-big pull-right" >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <div id="headline_2" class="jumbotron" style="margin-top: 10px;">
    <div class="row" style="text-align: center; vertical-align: middle;">
      <% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
          <% @langs = @lang.split(",") %>
          <% @languages.each do |language| %>
            <% langname = language.downcase.gsub(/\./, "") %>
            <div class="icon_<%= langname %>_small_container" >
              <span id="icon_<%= langname %>" class="icon_<%= langname %> small on" title="<%= langname %>">&nbsp;</span>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</section>

  <section class="container" >
    <hr class="separator_eye" />
  </section>

  <section id="reasons" class=" container" >
    <div class="marketing" >
      <h2 class="casual">Because Software Libraries don't update themselves</h2>
      <p>They just become out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because Software Libraries are not like iPhone Apps</h2>
      <p>They are passive! They don't tell you that they are out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because Software Developers are wasting time with ..</h2>
      <p>looking manually for updates. Save Time and Money by automating this process.</p>
    </div>
  </section>

  <section class="container" >
    <hr class="separator_eye" />
  </section>

  <section id="features" class="container" >
    <div class="row-fluid" >
      <div class="span3 well1">
        <span class = "icon_package off marketing-icon"></span>
        <span class = "icon_package on  marketing-icon"></span>
        <h5>Package support</h5>
        <p>
          VersionEye has support for various package managers
          including Maven, Bundler, Lein and more.
        </p>
        <a href="/services">Find out more</a>
      </div>
      <div class="span3 well1">
        <span class="icon_gitcat off marketing-icon"></span>
        <span class="icon_gitcat on  marketing-icon"></span>
        <h5>GitHub integration</h5>
        <p>
          Monitor your private GitHub repositories
          to be notified about outdated dependencies.
        </p>
        <a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd'>Login via GitHub</a>
      </div>
      <div class="span3 well1">
        <span class="icon_freeprice off marketing-icon"></span>
        <span class="icon_freeprice on  marketing-icon"></span>
        <h5>SignUp free</h5>
        <p>
          Monitoring public repositories is free. Only
          private GitHub repositories are fee-based.
        </p>
        <a href="/signup">Register for free</a>
      </div>
      <div class="span3 well1">
        <span class="icon_dependency off marketing-icon"></span>
        <span class="icon_dependency on marketing-icon"></span>
        <h5>Visualizing dependendencies</h5>
        <p>
          VersionEye visualises recursive dependencies and
          makes complexity visible.
        </p>
        <a href="/package/rails/3.2.8">Watch example</a>
      </div>
    </div>
  </section>

<br/><br/><br/><br/>
