
<%= render 'shared/dialog_follow' %>

<section class="section-lp round">
	<div class="lp_box lp_sign_up" style="vertical-align:bottom; text-align: center;">
		<a href="http://twitter.com/share" 
		   class="twitter-share-button" 
		   data-url="http://versioneye.com" 
		   data-text="Follow your Libraries @VersionEye and get notified about new versions." 
		   data-count="horizontal" >Twitter</a>
		<iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/VersionEye/295350293845442" style="border:none; width:200px; height:25px"></iframe>
		<div class="g-plusone" data-annotation="inline" data-href="<%= configatron.server_url %>" style="width: 90px;"></div>
	</div>
	<div style="text-align: center;">
		<%= render "shared/follow_versioneye" %>
	</div>
</section>

<section class="section-lp round">
	<div class="lp_box">
		<%= render 'shared/hotest_boxes' %>
	</div>
</section>

<section class="section-lp round">
	<h1 class="lp_head">
		Newest Comments and Ratings 
	</h1>
	<div class="lp_box">
		<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %> 	
		<%= link_to "Read more here", news_path %><br/>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_login_area">
			<%= render 'shared/login_options_vertical' %>
		</div>
	<% end %>
</section>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="http://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "post") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>