
<%= render 'shared/dialog_follow' %>

<% if 1 == 2 %>
	<section class="section-lp round" style="text-align: center;">
		<div id="canvas-container" style="margin-top: 20px;"></div>
	</section>
<% end %>

<section class="section-lp round">
	
	<div class="lp_box lp_sign_up" style="text-align: center;">
		<ul class="list-row" style="display: block; width: 70%; margin: auto;">
			<li class="list-cell share-on-icon" style="width: 214px;">
				<%= render "shared/follow_versioneye" %>
			</li>
			<li class="list-cell share-on-icon">
				<a href="https://twitter.com/share" 
				   class="twitter-share-button" 
				   data-url="http://versioneye.com" 
				   data-text="Follow your Libraries @VersionEye and get notified about new versions." 
				   data-count="horizontal" >Twitter</a>
			</li>
			<li class="list-cell share-on-icon">
				<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/VersionEye/295350293845442&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=25" style="border:none; width:107px; height:25px"></iframe>
			</li>
			<li class="list-cell share-on-icon" >
				<div class="g-plusone" data-annotation="bubble" data-size="medium" data-href="http://versioneye.com" style="width: 100px;"></div>
			</li>
		</ul>
	</div>
</section>

<section class="section-lp round">
	<div class="lp_box">
		<%= render 'shared/hotest_boxes' %>
	</div>
</section>

<section class="section-lp round">
	<h1 class="lp_head">
		Newest Comments and Ratings 
	</h1>
	<div class="lp_box">
		<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %> 	
		<%= link_to "Read more here", news_path %><br/>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_login_area">
			<%= render 'shared/login_options_vertical' %>
		</div>
	<% end %>
</section>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="https://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "post") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>

<% if 1 == 2 %>
<script type="text/javascript">
		jQuery.noConflict();
		var wheel = new MooWheel.Remote(false, document.getElementById("canvas-container"), { 
			url: '/package/rails/version/3~2~3/circle_dependencies.json',
			width: "500", 
			height: "450",
			data_border: 70,
			infoBox: "infoBox",
			infoNumber: "runtime_recursive_number",
			onItemClick: function(item, event){
				key = item.id; 
				key = key.replace(/\//g, "--");
				key = key.replace(/\./g, "~" );
				version = item.version;
				version = version.replace(/\//g, "--");
				version = version.replace(/\./g, "~" );
				window.location.href = "/package/" + key + "/version/" + version;
			}
		} );
	</script>
<% end %> 