<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<%= render 'shared/dialog_follow' %>

<div style="text-align:right">
	<%= render "shared/login_with_twitter" %>
</div>
<div class="slogan">
	<%= image_tag "slogan5.png", :alt => "Follow your libraries and get notified about new versions", :title => "Follow your libraries and get notified about new versions" %>
</div>

<div id="lp_search_div" class="lp_search_div">			
	<form id="searchform" action="/search" method="GET" class="search-form" >				
		<input id="q" name="q" class="lp_searchfield" type="text" value="<%= @query %>" /><br/>
		<%= submit_tag "Search", :class => "button" %>
	</form>
</div>

<% if true == false %>
	<div class="intro">		
			<iframe src="http://player.vimeo.com/video/37203548" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
<% end %> 

<div class="lp_box lp_sign_up" style="vertical-align:top">
	<a href="http://twitter.com/share" 
	   class="twitter-share-button" 
	   data-url="http://versioneye.com" 
	   data-text="Follow your Libraries @VersionEye and get notified about new versions." 
	   data-count="horizontal" >Twitter</a>
	<g:plusone></g:plusone>
	<iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/VersionEye/295350293845442" scrolling="no" frameborder="0" style="border:none; width:200px; height:25px"></iframe>
</div>

<div class="lp_box">
	<%= render 'shared/hotest_boxes' %>
</div>

<h1 class="lp_head">
	Newest Comments and Ratings 
</h1>
<div class="lp_box">
	<%= render :partial => "shared/comments", :locals => { :comments => @comments, :show_gravatar => true } %> 	
	<%= link_to "Read more here", news_path %><br/>
</div>

<h1 class="lp_head">
	Mobile
</h1>
<div class="lp_box">
	<%= render 'shared/mobile' %>
</div>
<div class="lp_box">
	<%= render 'shared/phone_boxes' %>
</div>

<% if !signed_in? %>
	<div class="lp_box lp_login_area">
		<%= render 'shared/login_options_vertical' %>
	</div>
<% end %>

<h1 class="lp_head" id="h1_about">
	About
</h1>
<div class="lp_box" id="about">
	<%= render 'shared/about' %>
	<span>
		Sign Up for Free! Or login with your <a href="http://github.com">GitHub</a> Account. 
	</span>
</div>
<% if !signed_in? %>
	<div class="lp_box lp_sign_up">
		<%= form_tag("/signup", :method => "post") do  %>    
			<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
		<% end %>
	</div>
<% end %>