
<%= render 'shared/dialog_follow' %>

<section class="container">
	<div class="jumbotron">
		<h1>Stay up to date with <span style ="">VersionEye</span></h1>
		<p>Follow your libraries and get notified about new versions. It's easy.</p>
	</div>
</section>

<% if !@page.eql?("LandingPage") %>
<section class = "container">
	<div class = "row">
		<div class = "span8">
			<h2 class = "page-title"> [Page name] </h2>
		</div>
		<div class = "span3">
			<div id="searchfield_div" class="searchfield_div">
				<form id="searchform" action="/search" method="GET" class="search-form" >
					<input id="q" name="q" class="searchfield" type="text" value="<%= @query %>" style="margin-top: 6px;" />
					<input id="lang" name="lang" type="hidden" value="<%= @lang %>" />
				</form>
			</div>
		</div>
</section>
<% end %>

<section class = "container">
	<div class= "search-container" >
		<form id="form" action="/search" method="GET" style="padding: 0; margin:0;" >
			<input id="lang" name="lang" class = "hide" type="hidden" value="<%= @lang %>" />
			<div class="row-fluid">
				<div class = "span5">
					<div class = "input-prepend">
						<span class="icon-search" style = "margin: 0px -25px 0px 10px;"></span>
						<input id="q" name="q" type="text" value="<%= @query %>" />
					</div>
				</div>
				<div class = "span7" >
					<span>Filter</span>
					<div class= "btn-group">
					<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
						<% @langs = @lang.split(",") %>
						<% @languages.each do |language| %>
							<% langname = language.downcase.gsub(/\./, "") %>
							<button class="btn lang" onclick="update_lang('<%= langname %>')" >
								<span class = "small-icon-<%= langname %>">&nbsp;</span>
							</button>
						<% end %>
					<% end %>
					</div>

					<button type="submit" class="btn2 btn2-big pull-right" >Search</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section class = "container">
	<hr class = "separator-eye" />
</section>

<section class=" container" >
	<div class="marketing">
		<h1>What is VersionEye?</h1>
		<p>More than just following your libraries.</p>
	</div>
	<div class="row-fluid" style="height: 320px;">
		<div class="span3 well1">
			<span class="icon-dependency off marketing-icon"></span>
			<span class="icon-dependency on marketing-icon"></span>
			<h5>Visualizing dependendencies</h5>
			<p>
				VersionEye visualises recursive dependencies and 
				makes complexity visible. 
			</p>
			<a href="/package/rails/version/3~2~8">Watch example</a>
		</div>
		<div class="span3 well1">
			<span class = "icon-package off marketing-icon"></span>
			<span class = "icon-package on  marketing-icon"></span>
			<h5>Package support</h5>
			<p>
				VersionEye has support for various package managers 
				including Maven, Bundler, Lein and more.
			</p>
			<a href="/services">Find out more</a>
		</div>
		<div class="span3 well1">
			<span class="icon-gitcat off marketing-icon"></span>
			<span class="icon-gitcat on  marketing-icon"></span>
			<h5>GitHub integratrion</h5>
			<p>
				Monitor your private GitHub repositories 
				to be notified about outdated dependencies.
			</p>
			<a href='https://github.com/login/oauth/authorize?client_id=50fb47103b8a3f03b2cd&amp;scope=repo'>Login via GitHub</a>
		</div>
		<div class="span3 well1">
			<span class="icon-freeprice off marketing-icon"></span>
			<span class="icon-freeprice on  marketing-icon"></span>
			<h5>SignUp free</h5>
			<p>
				Monitoring opensource project is free. Only
				private GitHub are fee-based.
			</p>
			<a href="/signup">Register for free</a>
		</div>
	</div>
</section>