
<%= render 'shared/dialog_follow' %>

<section class="section-lp round" style="text-align: center;">
	<div id="canvas-container-lp" style="margin-top: 20px;"></div>
	<div style="text-align: center; display: none" id="infoBox">
		<span >
			<a id="pinit_runtime" style="display: none;" href="" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" alt="Pin_it_on_pinterest" title="Pin It" target="new_pinterest" /></a>
		</span>
		<h3 style="text-align: center;" >
			Ruby on Rails has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive runtime dependencies
		</h3>
	</div>
</section>

<section class="section-lp round">
	<div class="lp_box">
		<%= render 'shared/hotest_boxes' %>
	</div>
</section>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About VersionEye
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="https://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "get") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>