
<%= render 'layouts/header' %>

<div id="search_container" class="container" style="margin-top: 80px;" >

  <div class="l_lp_well_margin" >
    <div style="text-align: center;">
      <h1 class="casual ">Notification System for Software Libraries</h1>
      <h2 class="casual ">Because software libraries don't update themselves</h2>
    </div>
    <div style="margin-top: 33px;">
      <% if @ab.eql?("a") %>
        <%= render "/products/helpers/file_upload" %>
      <% else %>
        <%= render "/products/helpers/big_search" %>
      <% end %>
    </div>
  </div>

</div>

<div id="what_is_versioneye" class="container">
  <div class="well-white l_lp_well_margin" >
    <%= render "/products/helpers/what_is_versioneye" %>
  </div>
</div>

<div id="packagemanagers" class="container">
  <div class="well-white l_lp_well_margin" >
    <%= render "/products/helpers/support_for_packagemanagers" %>
  </div>
</div>

<div id="integration" class="container">
  <div class="well-white l_lp_well_margin" >
    <%= render "/products/helpers/integration_points" %>
  </div>
</div>

<div id="api" class="container">
  <div class="well-white l_lp_well_margin" >
    <%= render "/products/helpers/api_and_addons" %>
  </div>
</div>


<div id="reasons" class="container" >
  <div class="well-white l_lp_well_margin">
    <div class="marketing" >
      <h2 class="casual">Because software libraries don't update themselves</h2>
      <p>They just become out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because software libraries are not like iPhone apps</h2>
      <p>They are passive! They don't tell you that they are out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because software developers are wasting time with ...</h2>
      <p>looking manually for updates. Save time and money by automating this process.</p>
    </div>
  </div>
</div>

<div id="register_today" class="container" >
  <div class="well-white row l_lp_well_margin" >
    <div style="text-align: left;">
      <div class="span5 col2-left" >
        <%= render 'users/signup_form' %>
      </div>
      <div class="span5 col2-right pull-right" >
        <%= render 'shared/social_media_login' %>
      </div>
    </div>
  </div>
</div>
