
<section class="container">
  <div id="headline_1" class="jumbotron" style="text-align: center;">
    <h1><span style ="">Continuous Updating</span></h1>
    <p style="font-weigth: none; line-height: 1.5;">Follow your libraries and get notified about new versions</p>
  </div>
</section>

<section id="search_section" class="container search_container" >
  <div id="search_bar" style="text-align: center;" >
    <form id="form" action="/search" method="GET" style="padding: 0; margin:0;" >
      <div class="input-append">
        <input id="q" name="q" class="span7 input-huge" type="text" />
        <button class="btn btn-primary btn-huge" type="submit" >
          <i class="icon-search icon-white"></i>&nbsp;Search
        </button>
      </div>
    </form>
  </div>
  <div class="row" style="text-align: center; vertical-align: middle;" >
    <% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
        <% @langs = @lang.split(",") %>
        <% @languages.each do |language| %>
          <% langname = language.downcase.gsub(/\./, "") %>
          <div onclick="document.location.href='<%=language%>'" class="icon_<%= langname %>_small_container" style="cursor: pointer;" >
              <span  id="icon_<%= langname %>" class="icon_<%= langname %> small on" title="<%= langname %>">&nbsp;</span>
          </div>
        <% end %>
    <% end %>
  </div>
</section>


<section id="features" class="container" >
  <div class="well-white">

    <%= render "/products/helpers/what_is_versioneye" %>

    <div class="hr_row col2-left-l col2-right-r"><hr /></div>

    <%= render "/products/helpers/support_for_packagemanagers" %>

    <div class="hr_row col2-left-l col2-right-r"><hr /></div>

    <%= render "/products/helpers/integration_points" %>

  </div>
</section>


<section id="try" class="container" >
  <%= render "/products/helpers/file_upload" %>
</section>


<section id="reasons" class="container" >
  <div class="well-white">
    <div class="marketing" >
      <h2 class="casual">Because software libraries don't update themselves</h2>
      <p>They just become out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because software libraries are not like iPhone apps</h2>
      <p>They are passive! They don't tell you that they are out-dated!</p>
    </div>
    <div class="marketing" >
      <h2 class="casual">Because software developers are wasting time with ..</h2>
      <p>looking manually for updates. Save time and money by automating this process.</p>
    </div>
  </div>
</section>


<section id="reasons" class="container" >
  <div class="row col2-left-l col2-right-r" >
    <div class  = "marketing">
      <h2>Register today. It's free!</h2>
      <%= form_tag(signup_path, :method => "GET", :style=>"margin: 0;") do  %>
        <button type="submit" class="btn btn-success" >Sign Up Now</button>
      <% end %>
      <p>
        Or have a look at our <%= link_to "subscription plans", :controller => "services", :action => "pricing" %> .
      </p>
    </div>
  </div>
</section>

<br/><br/>
