
<%= render 'shared/dialog_follow' %>

<section class = "container">
	<div class = "jumbotron">
		<h1>Stay up to date with <span style =""> VersionEye</span>.</h1>
		<p>Find and follow your software libraries. It's easy.</p>
	</div>
</section>
<section class = "container">

	<div class= "search-container" >
		<form id="form" action="/search" method="GET"  >	
			<input id="lang" name="lang" class = "hide" type="hidden" value="<%= @lang %>" />		
			<div class="input-prepend input-append">							
				<span><i class = "icon-globe"></i></span>
				<input id="q" name="q" type="text" class = "span5 search-input" value="<%= @query %>" />
					
				<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
					<% @langs = @lang.split(",") %>				
					<% @languages.each do |language| %>
						<% langname = language.downcase.gsub(/\./, "_") %> 
						<button class="btn <%= langname %>_off lang" onclick="update_lang('<%= langname %>')" > &nbsp;&nbsp;&nbsp; </button>
					<% end %>
					
				<% end %>
				<button type="submit" class="btn btn-primary" >Search</button>
				
			</div>
		</form>
	</div>
</section>

<section class = "container">
	<div class = "eye-separator">
		<img src = "/assets/eye_off.png" class = "img-circle img-rounded" />
		<hr />
	</div>

</section>
<section class=" container">
	<div class = "marketing">
		<h1> What is VersionEye? </h1>
		<p> More than just following your libraries.</p>
	</div>
	<div class = "row-fluid">
		<div class = "span3 well">
			<h4> Visualizing dependendencies </h4>
			<p> 
				VersionEye visualises recursive dependencies and 
				makes complexity visible. 
			</p>
			<a href = "#" >Find out more </a>
		</div>
		<div class = "span3 well">
			<h4> Package support </h4>
			<p> 
				VersionEye has support for various package managers: 
				[use ruby erb here ...]
			</p>
			<a href = "#" >Find out more </a>
		</div>

		<div class = "span3 well">
			<h4> GitHub integratrion </h4>
			<p>
				Monitor your private GitHub repositories 
				to be notified about outdated dependencies.
			</p>
			<a href = "#" >Login via GitHub </a>
		</div>
		<div class = "span3 well"> 
			<h4> SignUp free </h4>
			<p>
				Monitoring opensource project is free. Only
				private GitHub are fee-based.
			</p>
			<a href = "#" >Find out more </a>
		</div>

		
	</div>
	
</section>