
<%= render 'shared/dialog_follow' %>

<section class = "container">
	<div class = "jumbotron">
		<h1>Stay up to date with <span style =""> VersionEye</span>.</h1>
		<p>Find and follow your software libraries. It's easy.</p>
	</div>
</section>
<section class = "container">

	<div class= "search-container" >
		<form id="form" action="/search" method="GET"  >
			<input id="lang" name="lang" class = "hide" type="hidden" value="<%= @lang %>" />
			<div class="row-fluid">
				<div class = "span5">
					<div class = "input-prepend">
						<span class = "icon-search" style = "margin: 0px -25px 0px 10px;"></span>
						<input id="q" class = "icon-search" name="q" type="text" value="<%= @query %>" />
					</div>
				</div>
				<div class = "span7" >
					<span> Filter library s&nbsp;</span>
					<div class= "btn-group">
					<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
						<% @langs = @lang.split(",") %>
						<% @languages.each do |language| %>
							<% langname = language.downcase.gsub(/\./, "") %>
							<button class="btn lang" onclick="update_lang('<%= langname %>')" >
								<span class = "small-icon-<%= langname %>">&nbsp;</span>
							</button>
						<% end %>
					<% end %>
					</div>

					<button type="submit" class="btn bg-btn pull-right" >Search</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section class = "container">
	<hr class = "separator-eye" />

</section>
<section class=" container">
	<div class = "marketing">
		<h1> What is VersionEye? </h1>
		<p> More than just following your libraries.</p>
	</div>
	<div class = "row-fluid">
		<div class = "span3 well1">
			<span class = "icon-dependency"></span>
			<h5> Visualizing dependendencies </h5>
			<p>
				VersionEye visualises recursive dependencies and 
				makes complexity visible. 
			</p>
			<a href = "#" >Find out more </a>
		</div>
		<div class = "span3 well1">
			<span class = "icon-package"></span>
			<h5> Package support </h5>
			<p>
				VersionEye has support for various package managers: 
				[use ruby erb here ...]
			</p>
			<a href = "#" >Find out more </a>
		</div>

		<div class = "span3 well1">
			<span class = "icon-gitcat"></span>
			<h5> GitHub integratrion </h5>
			<p>
				Monitor your private GitHub repositories 
				to be notified about outdated dependencies.
			</p>
			<a href = "#" >Login via GitHub </a>
		</div>
		<div class = "span3 well1">
			<span class = "icon-freeprice"></span>
			<h5> SignUp free </h5>
			<p>
				Monitoring opensource project is free. Only
				private GitHub are fee-based.
			</p>
			<a href = "#" >Find out more </a>
		</div>

	</div>
</section>