
<%= render 'shared/dialog_follow' %>

<section class="round" >
	<div style="text-align: center;">
		<div style="font-size: 32px; font-weight: bold" >Find &amp; Follow</div>
		<div style="font-size: 26px;">Your Software Libraries</div>
	</div>
	<div id="lp_search_div" class="lp_search_div">
		<form id="searchform" action="/search" method="GET" class="search-form" >				
			<input id="q" name="q" class="lp_searchfield" type="text" value="<%= @query %>" />
			<input id="ext_lang" name="lang" type="hidden" value="<%= @lang %>" />
			<br/>
			<span style="position: relative; top: 50px; left: -300px;" class="meta-text-small" >click to select --> </span>
			<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
				<% @langs = @lang.split(",") %>
				<div style="padding-left:177px;"> 
					<ol class="list-row" >
						<% @languages.each do |language| %>
							<li class="list-cell-lang-icons" id="<%=language%>" >
								<label onclick="update_lang('<%=language%>')" >
									<% if @langs.include?(language) %>
										<div class="<%= language.gsub(".", "_").downcase %>" id="<%= language.downcase %>_icon" style="border-bottom: 2px solid #f9b323"></div>	
									<% else %>
										<div class="<%= language.gsub(".", "_").downcase %>_bw" id="<%= language.downcase %>_icon" style="border-bottom: 0px solid #f9b323"></div>
									<% end %>
								</label>
							</li>
						<% end %>
					</ol>
				</div>
			<% end %>
			<br/>
			<%= submit_tag "Search", :class => "button" %>
		</form>
	</div>
</section>

<section class="section-lp round">
	<h1 class="lp_head" id="h1_about">
		About VersionEye
	</h1>
	<div class="lp_box" id="about">
		<%= render 'shared/about' %>
		<span>
			Sign Up for Free! Or login with your <a href="https://github.com">GitHub</a> Account. 
		</span>
	</div>
	<% if !signed_in? %>
		<div class="lp_box lp_sign_up">
			<%= form_tag("/signup", :method => "get") do  %>    
				<%= submit_tag "Sign Up For Free", :class => "lp_sign_up_button" %>
			<% end %>
		</div>
	<% end %>
</section>