
<% title 'Project Usage' %>

<div class="col-md-3">

  <% if !signed_in? && !Rails.env.enterprise? %>
    <%= render '/shared/signup_ad' %>
  <% end %>

</div>

<% if @product %>

  <div class="col-md-9" >
    <div class="content_header_def" >
      <%= link_to @product.name, product_version_path(@product) %> is used in <%= pluralize(@product.project_usage , "project")  %>.
      It might be that you don't have permission to see ALL projects.
    </div>
    <div class="content">

      <% @project_ids.each do |project_id| %>
        <% project = ProjectService.find project_id %>
        <% next if project.nil? %>
        <% next if project.visible_for_user?( current_user ) == false %>

        <% dep = fetch_projectdependency(@product, project_id) %>
        <%  color = '' %>
        <% if !dep.version_requested.eql?(@product.version) %>
          <%  color = 'flash warning' %>
        <% end %>
        <div class="row search-item <%= color %>">
          <div class="icon56 span2 pull-left">
            <% prog_lang = project.language.to_s.downcase.gsub(/\./, '') %>
            <span class = "icon_<%= prog_lang %> on" ></span>
          </div>
          <div class = "span6">
            <%= link_to project.name, user_project_path(project) %><br/>
            Using <%= link_to @product.name, product_version_path(@product) %> <%= dep.version_requested %>. Current is <%= @product.version %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<% else %>

  <div class="col-md-9" >
    <div class="row content_header_def" >
      No Package selected.
    </div>
    <div class="content">
      There is no package selected for this page.
    </div>
  </div>

<% end %>
