
<% title 'References' %>

<div class="col-md-3 sticky">

  <% if !signed_in? %>
    <%= render '/shared/signup_ad' %>
  <% end %>

</div>

<% if @product %>
  <% count = ref_count(@product) %>
  <div class="col-md-9" >
    <div class="content_header_def" >
      <%= link_to @product.name, product_version_path(@product) %> has <%= pluralize( count , "reference")  %>
    </div>
    <div class="content">
      <div>
        These <%= pluralize( count , "software package") %> all depend on <%= link_to @product.name, product_version_path(@product) %> <br/>
        Use the reference badge to share this information: <%= render :partial => "shared/ref_badge" %>
      </div>
      <%= render :partial => "products/show_search_results",
                 :locals => { :products => @products, :paginate => true, :prefix => "references", :name_limit => 70 }  %>
    </div>
  </div>
<% else %>
  <div class="col-md-9" >
    <div class="row content_header_def" >
      Package does not exist
    </div>
    <div class="content">
      <p>
        Does the package you are looking for exist in our database?
      </p>
      <div style="text-align: left;">
        <img src="/assets/grumpy_cat_no.jpg" >
      </div>
      <p style="color: grey; font-size: 8px;">
        <%= Random.new_seed %>
      </p>
      <hr/>
      <div>
        <%= render :partial => 'products/show_empty_results' %>
      </div>
    </div>
  </div>
<% end %>
