
<% title 'References' %>

<div class="col-md-3">

  <% if !signed_in? %>
    <%= render '/shared/signup_ad' %>
  <% end %>

  <% if !Settings.instance.environment.to_s.eql?('enterprise') && request.original_url.to_s.match("@").nil? %>
    <div id='div-gpt-ad-1407836165464-0' style="padding-top: 20px;">
      <script type='text/javascript'>
        googletag.cmd.push(function() {
          googletag.pubads().display('/53015287/versioneye.com_d_160x600_1', [160, 600], 'div-gpt-ad-1407836165464-0');
        });
      </script>
    </div>
  <% end %>

</div>

<% if @product %>
  <% count = ref_count(@product) %>
  <div class="col-md-9" >
    <div class="content_header_def" >
      <%= link_to @product.name, product_version_path(@product) %> has <%= pluralize( count , "reference")  %>
    </div>
    <div class="content">
      <div>
        These <%= pluralize( count , "software package") %> all depend on <%= link_to @product.name, product_version_path(@product) %> <br/>
        Use the reference badge to share this information: <%= render :partial => "shared/ref_badge" %>
      </div>
      <%= render :partial => "products/show_search_results",
                 :locals => { :products => @products, :paginate => true, :prefix => "references", :name_limit => 70 }  %>
    </div>
  </div>

<% else %>

  <div class="col-md-9" >
    <div class="row content_header_def" >
      No Package selected.
    </div>
    <div class="content">
      There is no package selected for this page.
    </div>
  </div>

<% end %>
