
<% title 'References' %>

<div class="span3">

  <% if !signed_in? %>
    <%= render '/shared/github_ad' %>
  <% end %>

</div>

<% if @product %>
  <% count = ref_count(@product) %>
  <div class="span8" >
    <div class="row content_header_def" >
      <%= link_to @product.name, product_version_path(@product) %> has <%= pluralize( count , "reference")  %>
    </div>
    <div class="content">
      <p>
        These <%= pluralize( count , "software package") %> all depend on <%= link_to @product.name, product_version_path(@product) %> <br/>
        Use the reference badge to share this information <%= render :partial => "shared/ref_badge" %>
      </p>
      <%= render :partial => "products/show_search_results",
                 :locals => { :products => @products, :paginate => true, :prefix => "references", :name_limit => 70 }  %>
    </div>
  </div>

<% else %>

  <div class="span8" >
    <div class="row content_header_def" >
      No Package selected.
    </div>
    <div class="content">
      There is package selected for this page.
    </div>
  </div>

<% end %>
