<div align="center">
	<% if !signed_in? %>
		<%= render 'shared/dialog_follow' %>	
	<% end %>
	<div class="searchResults">
		<% if !@products.nil? %>
			<% @products.each do |product| %>
				<% if signed_in? %>
					<% product.update_in_my_products(@my_product_ids) %>
				<% end %>
				<div class="searchResult">
					<a href="<%= product_version_path(product) %>" class="searchResultLink"><%=product.name_and_version%></a><br/>	
					<span class="meta-text-small">GroupId: <%= product.group_id %></span><br/>
					<table style="margin:0" >
						<tr>
							<td width="80" >
								<% if signed_in? %>
									<span id="follow_<%=product.to_param%>" style="display: <%= product.display_follow %>">
										<%= form_tag("/follow", :remote => true) do  %>
											<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
											<%= submit_tag "Follow", :class => "followButton", :id => "#{product.to_param}" %>
										<% end %>
									</span>
									<span id="unfollow_<%=product.to_param%>" style="display: <%= product.display_unfollow %>">
										<%= form_tag("/unfollow", :remote => true) do  %>
											<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
											<%= submit_tag "Unfollow", :class => "unfollowButton", :id => "#{product.to_param}" %>
										<% end %>
									</span>
								<% else %>
									<input type="submit" value="Follow" class="followButton" onclick="load_dialog_follow('<%= product.name %>');" ></input>
								<% end %>
							</td>
							<td>
								<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => product.prod_key} %>
							</td>
						</tr>
					</table> 
				</div>				
			<% end %>
			<div style="margin-top: 20px;">
				<%= will_paginate @products %>
			</div>
		<% end %>
	</div>
</div>