
<% title "Search Results" %>

<div class="span3">
	<%= render "extended_search" %>
</div>
<div class="span8" style="border-left: 1px solid #DDD;">
	<% if !signed_in? %>
		<%= render 'shared/dialog_follow' %>
	<% end %>
	<div class="row" style="padding-left: 30px;">
		<em> `<%= params[:q] %>`</em> has returned <%= @products.total_entries %> results
	</div>
	<%= render :partial => "products/show_search_results",
		:locals => { :products => @products, :paginate => true,
			:prefix => "search", :name_limit => 70 }  %>
</div>