<div align="center">	
	<div id="search">
		<%= render 'shared/search' %>
	<%= render 'shared/dialog_follow' %>
	</div>
	<div class="searchResults">
		<% if !@products.nil? %>
			<% @products.each do |product| %>
				<div class="searchResult">
					<%= link_to product.name_and_version, product_path(product.to_param), :class => "searchResultLink" %><br/>
					<span class="searchResultMeta">GroupId: <%= product.group_id_with_dotts %></span><br/>
					<a class="followLink"  onclick="load_dialog_follow('<%= product.name %>', '<%= product.to_param %>');" > --> follow</a>
				</div>				
			<% end %>
			<div style="margin-top: 20px;">
				<%= will_paginate @products %>
			</div>
		<% end %>
	</div>
</div>