
<% title 'Search Results' %>

<div class="col-md-3" >

  <%= render 'extended_search' %>

  <% if !signed_in? %>
    <div class="gh_add" >
      <%= render "/shared/signup_ad" %>
    </div>
  <% end %>

</div>

<div class="col-md-9 col-mx-12" >
  <div class="content_header_def" >
    <% if @products && !@products.empty? && defined?(@products.total_entries) %>
      <em> `<%= params[:q] %>`</em> has returned <%= @products.total_entries %> results
    <% end %>
  </div>
  <div class="content">

    <%= render :partial => "products/show_search_results",
               :locals => { :products => @products, :paginate => true, :prefix => "search", :name_limit => 70 }  %>

  </div>
</div>
