<div align="center">	
	<div class="searchResults">
		<% if !@products.nil? %>
			<% @products.each do |product| %>
				<div class="searchResult">
					<a href="/product/<%=product.to_param%>/version/<%=product.version_to_url_param%>" class="searchResultLink"><%=product.name_and_version%></a><br/>	
					<span class="searchResultMeta">GroupId: <%= product.group_id %></span><br/>
					<table style="margin:0" >
						<tr>
							<td width="60" >
								<% if signed_in? %>
									<%= form_tag("/follow", :remote => true) do  %>
										<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= product.to_param %>"/>
										<%= submit_tag "Follow", :class => "followButton", :id => "#{product.to_param}" %>
									<% end %>
								<% else %>
									<input type="submit" value="Follow" class="followButton" onclick="load_dialog_follow('<%= product.name %>', '<%= product.to_param %>');" ></input>
								<% end %>
							</td>
							<td>
								<%= render :partial => 'shared/show_rate', :locals => {:rate => product.rate, :id => product.prod_key} %>
							</td>
						</tr>
					</table>
					
					 
				</div>				
			<% end %>
			<div style="margin-top: 20px;">
				<%= will_paginate @products %>
			</div>
		<% end %>
	</div>
</div>