<% if @product.nil? %>

	Product not found!

<% else %>

	<div>

		<div  >
			<ul class="list-row product_header" style="display: block; width: 50%; margin: auto;" >
				<li class="list-cell icon-cell">
					<%= render :partial => "/products/language_icons", :locals => {:language => @product.language, :icon => @product.icon, :link => nil, :title => @product.name} %>
				</li>
				<li class="list-cell" style="vertical-align: middle; ">
					<h1 style="margin-bottom: 5px;"><%= @product.name_and_version %></h1>
					<ul class="list-row">
						<li class="list-cell share-on-icon">
							<a href="https://twitter.com/share" 
							   class="twitter-share-button" 
							   data-url="<%= configatron.server_url %>/package_visual/<%= @product.to_param %>" 
							   data-text="Check out #<%= @product.name %> @VersionEye" 
							   data-count="horizontal" >Twitter</a>
						</li>
						<li class="list-cell share-on-icon">
							<iframe src="http://www.facebook.com/plugins/like.php?href=<%=configatron.server_url%>/package_visual/<%=@product.to_param%>')" style="border:none; width:200px; height:25px"></iframe>
						</li>
						<li class="list-cell share-on-icon" style="width: 90px;">
							<div class="g-plusone" data-annotation="bubble" data-size="medium" data-href="<%= configatron.server_url %>/package_visual/<%= @product.to_param %>" style="width: 90px;"></div>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="canvas-container" style="margin-top: 20px;"></div>
		<div>
			<h3 style="text-align: center; display: none" id="infoBox" >
				<%= @product.name %> has <span style="font-weight: bold;" id="runtime_recursive_number"></span> recursive <%= @product.main_scope %> dependencies
			</h3>
		</div>
		<br/>
		<div style="text-align: center;">
			<a href="/package/<%=@product.to_param%>/version/<%=@version.to_url_param%>">See more details</a>
		</div>
		<br/>
		<br/>

		<% if @main_dependencies.count > 3 %>
			<script type="text/javascript">
				jQuery.noConflict();
				var wheel = new MooWheel.Remote(false, document.getElementById("canvas-container"), { 
					url: '/package/<%= @product.to_param%>/version/<%= @product.version_to_url_param %>/circle_dependencies.json',
					width: "750", 
					height: "750",
					data_border: 70,
					infoBox: "infoBox",
					infoNumber: "runtime_recursive_number",
					onItemClick: function(item, event){
						key = item.id; 
						key = key.replace(/\//g, "--");
						key = key.replace(/\./g, "~" );
						version = item.version;
						version = version.replace(/\//g, "--");
						version = version.replace(/\./g, "~" );
						window.location.href = "/package/" + key + "/version/" + version;
					}
				} );
			</script>
		<% end %>

	</div>
	
<% end %>