<% if @product.nil? %>

  Product not found!

<% else %>

  <div>

    <%= render "show_visual_head" %>

    <br/>
    <br/>
    <div>
      <div style="display: block; width: 50%; margin: auto;" >
        <%= form_tag("/package/follow", :remote => true) do  %>
          <label>Scope </label>
          <% if @product.prod_type.eql?( Project::A_TYPE_RUBYGEMS ) %>
            <select name="scope" style="width: 150px;" onchange="render_wheel(this.value)" >
              <option value="all" selected >all</option>
              <option value="runtime"  >runtime</option>
              <option value="test" >test</option>
              <option value="development" >development</option>
            </select>
          <% elsif @product.prod_type.eql?( Project::A_TYPE_MAVEN2 ) %>
            <select name="scope" style="width: 150px;" onchange="render_wheel(this.value)" >
              <option value="all" selected >all</option>
              <option value="compile" >compile</option>
              <option value="test" >test</option>
              <option value="provided" >provided</option>
            </select>
          <% elsif @product.prod_type.eql?( Project::A_TYPE_NPM ) %>
            <select name="scope" style="width: 150px;" onchange="render_wheel(this.value)" >
              <option value="all" selected >all</option>
              <option value="compile" >compile</option>
              <option value="development" >development</option>
            </select>
          <% elsif @product.prod_type.eql?(Project::A_TYPE_COMPOSER) %>
            <select name="scope" style="width: 150px;" onchange="render_wheel(this.value)" >
              <option value="all" selected >all</option>
              <option value="require"  >require</option>
              <option value="require-dev" >require-dev</option>
              <option value="replace" >replace</option>
            </select>
          <% end %>
          <input id="product_key_hidden"  name="product_key" type="hidden" value="<%= @product.to_param %>" />
        <% end %>
      </div>
    </div>

    <div id="canvas-container" >
      <%= image_tag "loadingbar.gif" %>
    </div>
    <div>
      <h4 style="text-align: center; width: 100%; display: none;" id="infoBox" >
        <span >
          <a id="pinit" style="display: none;" href="" class="pin-it-button" ><img alt="pint_it_on_pinterest" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
        </span><br/>
        <br/>
        <%= @product.name %> has <span style="font-weight: bold;" id="recursive_number"></span> recursive <span id="scope_name"><%= @product.main_scope %></span> dependencies
      </h4>
    </div>
    <div style="text-align: center;">
      <a href="/<%=@product.language_esc%>/<%=@product.to_param%>/<%=@version.to_param%>">Back to detail page</a>
    </div>
    <br/>
    <br/>

    <script type="text/javascript">
      function render_wheel(scope){
        if (scope == null){
          scope = "all"
        }
        uri = "/<%= @product.language_esc %>/<%= @product.to_param%>/<%= @product.version_to_url_param %>/dependencies.json?scope=" + scope;
        var wheel = new DependencyWheel.Remote(false, document.getElementById("canvas-container"), {
          url: uri,
          width: "940",
          height: "940",
          data_border: 70,
          infoBox: "infoBox",
          infoNumber: "recursive_number",
          canvas_id: "canvas",
          canvas_hover_id: "canvas_hover",
          product_key: "<%= @product.to_param%>",
          product_version: "<%= @product.version_to_url_param%>",
          product_name: "<%= @product.name%>",
          version: "<%= @product.version%>",
          show_label: false,
          resize: true,
          resize_factor: 11,
          resize_ids: "section,container",
          container_id: "canvas-container",
          scope: scope,
          onItemClick: function(item, event){
            key = item.id;
            key = key.replace(/\//g, ":");
            version = item.version;
            version = version.replace(/\//g, ":");
            window.location.href = "/<%= @product.language_esc %>/" + key + "/" + version;
          }
        } );
      }
    </script>

  </div>

<% end %>
