<h1 ><%= @product.name_and_version %></h1>
<div class="boxHeader">
	Link to product
</div>
<div class="boxContainer round" >
	<a href="<%= @product.version_link %>" target="_NEW"><%= @product.version_link %></a>
</div>
<div class="boxHeader">
	Follow
</div>
<div class="boxContainer round">
	<div class="dialog_follow_description">
		Follow <span id="product_to_follow"><%= @product.name %></span> and get informed about new versions.<br/>
		By submitting this Form you are acepting the <%= link_to "Privacy Policy / Terms", terms_path  %> of this page.
	</div>
	<div class="dialog_follow_form">
		<%= form_tag("/follow") do  %>
		    <div style="display:table-row;">
		      <div class="labelCel">
		        <%= label_tag(:email, "E-Mail:") %>
		      </div>
		      <div class="inputCel" style="font-size: 18px;">
		        <%= text_field_tag :email, nil, :class => "round" %>
				<input id="product_key_hidden"  name="product_key" type="hidden" value="<%= @product.key %>"/>
				<input id="product_name_hidden" name="product_name" type="hidden" value="<%= @product.name %>"/>
		      </div>
			  <div class="labelCel" style="text-align: left">
				<%= submit_tag "Follow", :class => "button", :onclick => "return validateEmail(document.getElementById('email').value);" %>
			  </div>
		    </div>
			<div id="resp"></div>
		<% end %>
	</div>
</div>
<div class="boxHeader">
	Maven2
</div>
<div class="round boxContainer">
<pre>
<<span>dependency</span>>
	<<span>groupId</span>><b><%= @product.group_id_with_dotts %></b><<span>/groupId</span>>
	<<span>artifactId</span>><b><%= @product.artifact_id %></b><<span>/artifactId</span>>
	<<span>version</span>><b><%= @product.version %></b><span>/version</span>>
<<span>/dependency</span>>
</pre>
</div>
<% if !@product.versions.nil? && @product.versions.length > 1 %>
	<div class="boxHeader">
		Other Versions
	</div>
	<div class="boxContainer round" >
		<table>
		<% @product.versions.each do |version|  %>
			<tr>
				<td><%= version.version %></td>
				<td><a href="<%= version.link %>"><%= version.link %></a></td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>