
<div style="" id="settings_area">
  <form action="<%= user_collaboration_save_period_path(collaboration_id: collaboration[:_id].to_s) %>" method="post" class="form-inline" >
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <div>
      How often do you want us to check your project's dependencies? We will send you an email notification whenever we check your dependencies.
    </div>
    <div class="form-group">
      <select name="period" class="form-control" >
        <option value="<%= Project::A_PERIOD_DAILY %>"   <%= 'selected' if collaboration[:period] == Project::A_PERIOD_DAILY   %> >Daily</option>
        <option value="<%= Project::A_PERIOD_WEEKLY %>"  <%= "selected" if collaboration[:period] == Project::A_PERIOD_WEEKLY  %> >Weekly</option>
        <option value="<%= Project::A_PERIOD_MONTHLY %>" <%= "selected" if collaboration[:period] == Project::A_PERIOD_MONTHLY %> >Monthly</option>
        <option value="NEVER"                            <%= "selected" if collaboration[:period] == 'NEVER' %> >Never</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" >Save</button>
  </form>
  <br/>
</div>
