<span style="color: <%= outdated_color(project) %>; font-size: 14px; font-weight: bold;" >
  <%= project[:out_number] %>
</span> of <span style="font-size: 14px; font-weight: bold;"><%= project[:dep_number] %></span> 
Dependencies are outdated and <span style="color: <%= unknown_color(project)%>; font-weight: bold; font-size: 14px;" ><%= project[:unknown_number] %></span> are unknown. 
