<div class="navi nav-tabs nav-stacked"  >
  <% if signed_in? %>
  <ul class = "nav nav-pills nav-stacked">
    <li><%= link_to 'My Projects', user_projects_path, id: 'my_projects', :rel => "nofollow" %></li>

    <% if Rails.env.enterprise? %>
      <li><%= link_to 'All Public Projects', user_projects_path(:all_public => true), id: 'all_public_projects', :rel => "nofollow" %></li>  
    <% end %> 

    <li><%= link_to 'Shared with me', user_collaborations_path, :rel => "nofollow" %></li>
    <li><hr/></li>
    <% if github_enabled? %>
      <li><%= link_to 'Create From GitHub', user_projects_github_repositories_path, :rel => "nofollow" %></li>
    <% end %>
    <% if bitbucket_enabled? %>
      <li><%= link_to 'Create From Bitbucket', user_projects_bitbucket_repositories_path, :rel => "nofollow" %></li>
    <% end %>
    <% if stash_enabled? %>
      <li><%= link_to 'Create From Stash', user_projects_stash_repositories_path, :rel => "nofollow" %></li>
    <% end %>
    <li><%= link_to 'Create From URL', new_user_project_path, :rel => "nofollow" %></li>
    <li><%= link_to 'Create From Upload', user_prjects_upload_path, :rel => "nofollow" %></li>
    <li><hr/></li>
    <li><%= link_to 'Most used packages', :controller => 'user/packages', :action => 'popular_in_my_projects', :rel => "nofollow"  %> </li>
    <li><%= link_to 'Packages I follow',  :controller => 'user/packages', :action => 'i_follow', :rel => "nofollow" %></li>
</ul>
  <% else %>
    <%= render '/shared/github_ad' %>
  <% end %>
</div>
