<% if @authors && !@authors.empty? %>
  <div id = "top-authors-container" class="media">
    <h2 class="section_header"> Top Contributors </h2>
    <% @authors.each_with_index do |author, i| %>
      <div class="prod-item" >
        <div >
          <div>
            <%=  link_to gravatar_image_tag(author.email,
                                        :alt => author.name,
                                        :title => author.name,
                                        :style => "width: 68px;",
                                        :class => "round12",
                                        :gravatar => {:size => 68,
                                                      :default => "#{Settings.instance.server_url}/profile_icon.png" }), author_path(author) %> 
            <span class="product_page_sm_header"> <%= i + 1 %>. <%= author.name %></span> - 
            <%= pluralize( author.products_count, "library" ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="padding-top: 15px;">
    <%= link_to "See more", authors_path(:language => @lang) %><br/><br/>
  </div>
<% end %> 
