<div id = "latest-products-container" class = "media">
  <h2 class="section_header"> Currently updated libraries </h2>
  <% @latest_products.each_with_index do |latest_prod, i| %>
    <% if latest_prod && latest_prod.product %>
      <% prod = latest_prod.product %>
      <div class = "prod-item">
        <div>
          <span class="product_page_sm_header">
            <a href = "<%= products_path(lang: prod.language_esc, key: prod.to_param) %>">
                          <%= prod.name %>
                        </a>
            </span>
        </div>
        <div>
          <%= prod.short_summary %> <br/>
        </div>
        <div>
          <span>References: <%= link_to prod.used_by_count, product_references_path( :lang => prod.language_esc, :key => prod.to_param ) %> </span> |
          License: <span class="bold"><%= prod.license_info %> </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
