<div id = "top-products-container" class = "media">

  <h2 class="section_header"> Most followed libraries </h2>
  <% count = 1 %>
  <% @top_products.each do |prod| %>
    <div class = "media-body product-item">
      <h5 class = "media-heading">
        <%= count %>. <a href = "<%= products_path(lang: prod.language_esc, key: prod.to_param) %>"><%= prod.name %></a>
        <span class = "pull-right"><%= render partial: "shared/product_follow_mini", locals: {product: prod, user: current_user} %></span>
      </h5>
      <p> <%= prod.short_summary %> </p>
    </div>
    <% count += 1 %>
  <% end %>
</div>
