<div class="col-md-3 navbar_container">
  <%= render 'settings/navi' %>
</div>

<div class= "col-md-9">
  <div class= "content_header_def">
    API settings
  </div>

  <div class= "content">
    <%= form_tag(settings_api_path, :class => "form-inline") do %>
      <div class="form-group">
        <p style="padding-bottom: 12px;">
          This is your API key to access the VersionEye API.
          Please keep it as a secret. <br />
          Don't share it! Don't post it on Facebook!
        </p>
        <div class= "controls">
          <%= label_tag :api_key, "API Key", :class => "control-label", :for => "api_key" %>
          <%= text_field_tag :api_key, @user_api.api_key, :readonly => true, :class => 'form-control' %>
          <button type="submit" class="btn btn-primary">Generate new</button>
          <span class = "badge badge-info"> <%= @api_calls %> </span> calls up to now.
        </div>
        <p style="padding-top: 25px;">
          With this API key you can do <b><%= @user_api.rate_limit %></b> calls per hour.<br/>
          If you need more please upgrade your subscription or send a message to <a href="mailto:support@versioneye.com">support@versioneye.com</a>.
        </p>
      </div>
    <% end %>
  </div>

</div>
