<div id="dialog_feedback" class = "modal hide fade">
	<div class = "modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Feedback</h3>
	</div>

<% if signed_in? %>
	<%= form_tag('/feedback.js', :method => 'post', :remote => true, :class => 'form-horizontal') do  %>
		<div class = "modal-body" style="text-align: left;">

			<div class="control-group">
				<%= label_tag(:fb_fullname, "Full Name", :class => "control-label") %>
				<div class="controls">
					<% if signed_in? %>
						<%= text_field_tag :fb_fullname, current_user.fullname, :class => "input-xlarge" %>
					<% else %>
						<%= text_field_tag :fb_fullname, nil, :class => "input-xlarge" %>
					<% end %>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag(:fb_email, "Email", :class => "control-label") %>
				<div class="controls">
					<% if signed_in? %>
						<%= text_field_tag :fb_email, current_user.email, :class => "input-xlarge" %>
					<% else %>
						<%= text_field_tag :fb_email, nil, :class => "input-xlarge" %>
					<% end %>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag(:feedback, nil, :class => "control-label") %>
				<div class="controls">
					<%= text_area_tag :feedback, nil, :class => "input-xlarge", :maxlength => "1000", :onKeyUp => "textCounter(this, document.getElementById('feedback_counter'), 1000)" %>
					<br />
					<span id="feedback_counter" class="help-block">max:1000</span>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button id="feedback_dialog_cancel" type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button type="submit" class="btn btn-large btn-primary" onClick="return validateFeedbackForm()" >Send</button>
		</div>
	<% end %>
<% else %>
	<div class = "modal-body" >

		<div >
			Please login to give us feedback or contact us on Twitter <a href="https://twitter.com/VersionEye" target="new_Twitter">@VersionEye</a>
		</div>

		<div style="padding: 20px 0;">
      <%= render 'shared/login_with_github' %>
    </div>

    <div>
      Or <a href="/signup">sign up</a> with your <a href="/signup">email address</a>.
    </div>

	</div>
	<div class="modal-footer">
		<button id="feedback_dialog_cancel" type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
<% end %>

</div>
