
<div class="span3" >
  <%= render 'settings/navi' %>
</div>

<div class="span8" >

  <div class="row content_header_def" >
    Connect with GitHub and others
  </div>

  <div class="span8 content" >

    <p>
      Connect your VersionEye account with other networks. In that way you can login
      with your GitHub or Bitbucket account.
    </p>

    <div class="row-fluid span12" >
      <div class="span2">
        <i class = "icon icon-github-alt"></i>
        <strong>GitHub</strong>
      </div>
      <div class="span8" >
        <% if @user.github_token %>
          <span style="color: green">Connected</span>
          <%= link_to "[ disconnect ]",
                      settings_disconnect_path(:service => "github"),
                      :confirm => "Are you sure?",
                      :class => "meta-text-small" %>
          <% scopes = current_user.github_scope %>
          <% if scopes && !scopes.empty? %>
            scopes: <%= scopes %>
          <% end %>
        <% else %>
          <a href='<%= Settings.instance.github_base_url %>/login/oauth/authorize?client_id=<%=Settings.instance.github_client_id%>&amp;scope=repo,user:email'  >
            Connect with GitHub
          </a>
        <% end %>
      </div>
    </div>
    <!-- Bitbucket connections -->
    <div class="row-fluid span12" >
      <div class="span2" >
        <i class = "icon icon-bitbucket"></i>
        <strong>Bitbucket</strong>
      </div>
       <div class="span8" >
         <% if not @user.bitbucket_token.nil? %>
           <span style="color: green">Connected</span>
           <%= link_to "[ disconnect ]",
           settings_disconnect_path(:service => "bitbucket"),
           :confirm => "Are you sure?",
           :class => "meta-text-small" %>
           <% scopes = current_user.bitbucket_scope %>
           <% if scopes && !scopes.empty? %>
           scopes: [<%= scopes %>]
           <% end %>
         <% else %>
           <a href='<%= auth_bitbucket_connect_path %>'  >
           Connect with Bitbucket
           </a>
         <% end %>
       </div>
    </div>

  </div>
</div>
