<footer class="container footer" >

  <div class="container row footer_link_row_1" >
    <%= link_to t(:page_footer_about), about_path %> |
    <a href="/pricing">Pricing</a> |
    <a href="/faq">FAQs</a> |
    <%= link_to t(:page_footer_statistics), statistics_path %> |
    <a href="https://bitbucket.org/versioneye/versioneye/issues" id="feedback_footer" target="_ISSUES" >Feedback</a> |
    <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a> |
    <a href="/api" >API</a>
  </div>

  <div class="container row footer_link_row_3" >
    <%= link_to "Imprint", imprint_path %> |
    <%= link_to "Conditions of Use", terms_path %> |
    <%= link_to "Data protection provisions ", dataprivacy_path %> |
    <%= link_to "Disclaimer", disclaimer_path %>
  </div>

  <div class="container row footer_social_media_row" >
    <a href="https://twitter.com/VersionEye" class="footer_link_margin" target="new_Twitter" title="Twitter" ><i class="icon-twitter footer_social_icon" ></i></a>

    <a href="https://www.youtube.com/channel/UCWYgVVJ3PD3S9fbvbjR6ZyQ/videos" class="footer_link_margin" target="new_FB" title="Facebook" ><i class="icon-facebook footer_social_icon" ></i></a>

    <a href="https://plus.google.com/+Versioneye/posts" class="footer_link_margin" target="new_GP" title="Google+" ><i class="icon-google-plus footer_social_icon" ></i></a>

    <a href="https://www.youtube.com/user/VersionEye/videos" class="footer_link_margin" title="YouTube" target="new_YT" ><i class="icon-youtube footer_social_icon" ></i></a>

    <a href="http://pinterest.com/versioneye/pins/" class="footer_link_margin" target="new_Pinterest" title="Pinterest" ><i class="icon-pinterest footer_social_icon" ></i></a>
  </div>

  <div class="container row footer_language_row" >
    <a href="/java" >Java</a> |
    <a href="/ruby" >Ruby</a> |
    <a href="/python" >Python</a> |
    <a href="/php" >PHP</a> |
    <a href="/nodejs" >Node.JS</a> |
    <a href="/javascript" >JavaScript</a> |
    <a href="/objective-c" >Objective-C</a> |
    <a href="/clojure" >Clojure</a> |
    <a href="/css" >CSS</a> |
    <a href="/r" >R</a>
  </div>

</footer>
