<footer class="footer">

  <div class="container row" style="text-align: center; margin-bottom: 10px; font-size: 14px;">
    <%= link_to t(:page_footer_about), about_path %> |
    <%= link_to t(:page_footer_team), about_path %> |
    <%= link_to t(:page_footer_statistics), statistics_path %> |
    <a href="JavaScript: load_dialog_feedback()">Feedback</a> |
    <a href="http://versioneye.wordpress.com/" target="new_Blog">Company Blog</a> |
    <%= link_to "API v2", version_eye_api_path(version: "v2") %>
  </div>

  <div class="container row" style="text-align: center; margin-bottom: 20px; font-size: 11px;">
    <%= link_to "Imprint", imprint_path, :style=>"color: gray;" %> |
    <%= link_to "Conditions of Use", terms_path, :style=>"color: gray;" %> |
    <%= link_to "Data protection provisions ", dataprivacy_path, :style=>"color: gray;" %> |
    <%= link_to "Disclaimer", disclaimer_path, :style=>"color: gray;" %>
  </div>

  <div class="container row" style="text-align: center; margin-bottom: 20px;">
    <a href="https://twitter.com/VersionEye" target="new_Twitter" title="Twitter" >
      <div class="btn-social btn-twitter rounded" ></div>
    </a>
    <a href="https://www.facebook.com/pages/VersionEye/295350293845442" target="new_FB" title="Facebook" >
      <div class="btn-social btn-facebook rounded" ></div>
    </a>
    <a href="https://plus.google.com/u/0/108971109832540479545/posts" target="new_GP" title="Google+" >
      <div class="btn-social btn-googleplus rounded" ></div>
    </a>
    <a href="https://www.youtube.com/user/VersionEye/videos" title="YouTube" target="new_YT" >
      <div class="btn-social btn-youtube rounded" ></div>
    </a>
    <a href="http://pinterest.com/versioneye/pins/" target="new_Pinterest" title="Pinterest" >
      <div class="btn-social btn-pinterest rounded" ></div>
    </a>
  </div>

</footer>

<% if 1 == 2 %>
  <div class="span3" >
    <h5 class="dep_header">Recht</h5>
    <ul class="footer-links">
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path %></li>
      <li><%= link_to "Datenschutzbestimmungen", datenschutz_path %></li>
      <li><%= link_to "Haftungsausschluss", disclaimer_path %></li>
    </ul>
  </div>
<% end %>
