<footer class="round">
  <nav>
	<div class="container">
		<div class="span-3 footer-box" >
			<div class="meta-text">VersionEye</div>
			<div><%= link_to "About", about_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Team", about_path, :class => "footerLink meta-text-small" %></div>
		</div>
		<div class="span-3 footer-box" >
			<div class="meta-text">Legal</div>
			<div><%= link_to "Imprint", imprint_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Terms of Use", terms_path, :class => "footerLink meta-text-small"  %></div>
			<div><%= link_to "Data Privacy", dataprivacy_path, :class => "footerLink meta-text-small"  %></div>
			<div><a href="http://www.disclaimer.de/disclaimer.htm?#2&amp;farbe=FFFFFF/000000/000000/000000" class="footerLink meta-text-small">Disclaimer</a></div>
		</div>
		<div class="span-4 footer-box" >
			<div class="meta-text">Recht</div>
			<div><%= link_to "Impressum", impressum_path, :class => "footerLink meta-text-small" %></div>
			<div><%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path, :class => "footerLink meta-text-small"  %></div>
			<div><%= link_to "Datenschutzbestimmungen", datenschutz_path, :class => "footerLink meta-text-small"  %></div>
			<div><a href="http://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000" class="footerLink meta-text-small">Haftungsausschluss</a></div>
		</div>
		<div class="span-4 last footer-box" >
			<div class="meta-text">Community</div>
			<div><a href="https://www.facebook.com/pages/VersionEye/295350293845442" class="footerLink meta-text-small" target="_NEW_FB">Facebook</a></div>
			<div><a href="http://twitter.com/VersionEye"  class="footerLink meta-text-small" target="_NEW_Twitter">Twitter</a></div>
			<div><a href="http://www.youtube.com/user/VersionEye/videos" class="footerLink meta-text-small" target="_NEW_YT">YouTube</a></div>
		</div>
		<div class="span-4 last footer-box" >
			<div class="meta-text">API</div>
			<div><%= link_to "JSON API", apijson_path, :class => "footerLink meta-text-small" %></div>
		</div>
	</div>
  </nav>
</footer>