<footer class="footer" >
<% if 1 == 2 %>
  <div class="footer_link_row_1" >
    <%= link_to t(:page_footer_about), about_path %> |
    <a href="/pricing">Pricing</a> |
    <%= link_to 'Enterprise', enterprise_path %> |
    <a href="/faq">FAQs</a> |
    <a href="/documentation">Documentation</a> |
    <%= link_to t(:page_footer_statistics), statistics_path %> |
    <a href="https://github.com/versioneye/versioneye/issues" id="feedback_footer" target="issue_tracker_74" >Feedback</a> |
    <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a> |
    <a href="/api" >API</a>
  </div>
<% end %>
  <div class="footer_link_row_3" >
    <%= link_to "Imprint", imprint_path %> |
    <%= link_to "Conditions of Use", terms_path %> |
    <%= link_to "Data protection provisions ", dataprivacy_path %> |
    <%= link_to "Disclaimer", disclaimer_path %>
  </div>

  <div class="footer_social_media_row" >
    <a href="https://github.com/VersionEye" class="footer_link_margin" target="new_GitHub" title="GitHub" ><i class="fa fa-github footer_social_icon" ></i></a>

    <a href="https://hub.docker.com/u/versioneye/" class="footer_link_margin" style="font-size: 24px;" target="new_dh" title="Docker Hub" >DH</a>

    <a href="https://twitter.com/VersionEye" class="footer_link_margin" target="new_Twitter" title="Twitter" ><i class="fa fa-twitter footer_social_icon" ></i></a>

    <a href="https://www.facebook.com/VersionEye" class="footer_link_margin" target="new_FB" title="Facebook" ><i class="fa fa-facebook footer_social_icon" ></i></a>

    <a href="https://plus.google.com/+Versioneye/posts" class="footer_link_margin" target="new_GP" title="Google+" ><i class="fa fa-google-plus footer_social_icon" ></i></a>

    <a href="https://www.youtube.com/user/VersionEye/videos" class="footer_link_margin" title="YouTube" target="new_YT" ><i class="fa fa-youtube footer_social_icon" ></i></a>

    <a href="https://vimeo.com/versioneye" class="footer_link_margin" title="Vimeo" target="new_V" ><i class="fa fa-vimeo footer_social_icon" ></i></a>

    <a href="http://pinterest.com/versioneye/pins/" class="footer_link_margin" target="new_Pinterest" title="Pinterest" ><i class="fa fa-pinterest footer_social_icon" ></i></a>
  </div>
<% if 1 == 2 %>
  <div class="footer_language_row" >
    <a href="/java" >Java</a> |
    <a href="/csharp" >C#</a> |
    <a href="/ruby" >Ruby</a> |
    <a href="/python" >Python</a> |
    <a href="/php" >PHP</a> |
    <a href="/nodejs" >Node.JS</a> |
    <a href="/javascript" >JavaScript</a> |
    <a href="/coffeescript" >CoffeeScript</a> |
    <a href="/css" >CSS</a> |
    <a href="/HTML" >HTML</a> |
    <a href="/objective-c" >Objective-C</a> |
    <a href="/clojure" >Clojure</a> |
    <a href="/r" >R</a> |
    <a href="/rust" >Rust</a> |
    <a href="/elixir" >Elixir</a> |
    <a href="/perl" >Perl</a> |
    <a href="/chef" >Chef</a>
  </div>
<% end %>
  <div class="footer_language_row" style="color: gray; padding-bottom: 15px;">
    Made with <i class="fa fa-heart" style="color: black;" aria-hidden="true"></i> in <a href="https://www.mannheim.de/" target="MA">Mannheim</a>
  </div>

</footer>
