<footer class="footer">
	<div class="container row">
		<hr/>
	</div>
	<div class="container row">
		<div class="span2" >
			<h5 class="dep_header">VersionEye</h5>
			<ul class="footer-links">
				<li><%= link_to t(:page_footer_about), about_path %></li>
				<li><%= link_to t(:page_footer_team), about_path %></li>
			</ul>
		</div>
		<div class="span3" >
			<h5 class="dep_header">Legal</h5>
			<ul class="footer-links">
				<li><%= link_to "Imprint", imprint_path %></li>
				<li><%= link_to "Conditions of Use", terms_path %></li>
				<li><%= link_to "Data protection provisions ", dataprivacy_path %></li>
				<li><%= link_to "Disclaimer", disclaimer_path %></li>
			</ul>
		</div>
		<% if 1 == 2 %>
		<div class="span3" >
			<h5 class="dep_header">Recht</h5>
			<ul class="footer-links">
				<li><%= link_to "Impressum", impressum_path %></li>
				<li><%= link_to "Nutzungsbedingungen", nutzungsbedingungen_path %></li>
				<li><%= link_to "Datenschutzbestimmungen", datenschutz_path %></li>
				<li><%= link_to "Haftungsausschluss", disclaimer_path %></li>
			</ul>
		</div>
		<% end %>
		<div class="span2" >
			<h5 class="dep_header">Community</h5>
			<ul class="footer-links">
				<li><a href="https://twitter.com/VersionEye" target="new_Twitter">Twitter</a></li>
				<li><a href="https://plus.google.com/108971109832540479545" rel="publisher" target="new_GPlus">Google+</a></li>
				<li><a href="https://www.facebook.com/pages/VersionEye/295350293845442"  target="new_FB">Facebook</a></li>
				<li><a href="https://www.youtube.com/user/VersionEye/videos" target="new_YT">YouTube</a></li>
				<li><a href="https://vimeo.com/37203548"  target="new_Vimeo">Vimeo</a></li>
				<li><a href="http://pinterest.com/versioneye/pins/"  target="new_Pinterest">Pinterest</a></li>
			</ul>
		</div>
		<div class="span2" >
			<h5 class="dep_header">API</h5>
			<ul class="footer-links">
				<li><%= link_to "JSON API", apijson_path %></li>
			</ul>
		</div>
		<div class = "span2 pull-left">
			<span class = "logo_eye_text">
		</div>
	</div>
</footer>