<header style="z-index: 100;">
	<div class="navbar navbar-static-top dark-bg">
		<div class = "container row">
			<div class="span4 brand-container" style="margin-left: 0; padding-left: 0; height: 50px;">
				<span class="pull-left icon_beta"></span>
				<a href="/"><span class="logo"></span></a>
			</div>

			<div class = "span7 pull-right">
				<ul class="nav pull-right">
					<li>
						<%= link_to "Services", :controller => "services", :action => "index" %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Pricing", :controller => "services", :action => "pricing" %>
					</li>
					<!-- menu for logged-in user -->
					<% if signed_in? %>
						<li class="divider-vertical"></li>
						<li class ="dropdown">
							<a class = "dropdown-toggle"
								data-toggle = "dropdown" href = "#">
								<span class = "img-profile32" style="zoom: 0.85"></span>
								 <%= current_user.username %>
								 <b class = "caret"></b>
							</a>
							<ul class = "dropdown-menu">
								<li >
									<a href="/user/projects">
										<span class = "icon-files"></span>
											Projects
									</a>
								</li>
								<li>
									<a href="/users/<%= current_user.username %>" >
										<span class = "icon-user"></span>
										Profile
									</a>
								</li>
								<li >
									<a href="/settings/name">
										<span class = "icon-settings"></span>
										Settings
									</a>
								</li>
								<li class = "divider">
								</li>
								<li>
									<a href="/signout">
										<span class = "icon-logout"></span>
										Logout
									</a>
								</li>
							</ul>
						</li>
					<% else %>

						<li class="divider-vertical"></li>
						<li><%= link_to t(:page_header_signup), signup_path %></li>
						<li class="divider-vertical"></li>
						<li><%= link_to t(:page_header_signin), signin_path %></li>

					<% end %>

					<li class="divider-vertical"></li>
					<li>
						<a href="#"><span class = "flag de"></span></a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href = "#"><span class = "flag gb on"></span></a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</header>