<header >
	<div class="container">
		<div class="logo_div">
			<%= link_to image_tag("header_logo_os.png"), root_path %>
		</div>
		<div id="searchfield_div" class="searchfield_div">			
			<form id="searchform" action="/search" method="GET" class="search-form" >				
				<input id="q" name="q" class="searchfield" type="text" value="<%= @query %>" />
			</form>
		</div>
		<div class="searchlink_div">
			<a href="#" class="searchlink" title="Search" onclick="document.forms['searchform'].submit();">&nbsp;</a>
		</div>
		<div>
			<nav >
				<ul>
					<li class="nav-begin" >&nbsp;</li>
					<% if signed_in? %>
						<li><%= link_to "My Products", user_path(current_user) %></li>
						<li class="nav-line" ></li>	
						<li><%= link_to image_tag("settings_off.png", :title => "Settings", :alt => "Settings", :id => "settings_img"), 
						                edit_user_path(current_user), 
						 				:onmouseover => "document.getElementById('settings_img').src='/assets/settings_on.png';",
						 				:onmouseout => "document.getElementById('settings_img').src='/assets/settings_off.png';" %></li>
						<li class="nav-line" ></li>	
						<li><%= link_to image_tag("logout_off.png", :title => "Logout", :alt => "Logout", :id => "logout_img"), 
							 			signout_path, 
										:onmouseover => "document.getElementById('logout_img').src='/assets/logout_on.png';",
						 				:onmouseout => "document.getElementById('logout_img').src='/assets/logout_off.png';",
										:method => :delete %></li>
					<% else %>
						<li><%= link_to "Sign Up", signup_path %></li>
						<li class="nav-line" ></li>	
						<li><%= link_to "Sign In", signin_path %></li>
					<% end %>
					<li class="nav-end" >&nbsp;</li>	
				</ul>
			</nav> 
		</div>
	</div>
</header>