<nav class="navbar navbar-default" role="navigation">
  <div class="container topnav">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render "shared/header_logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-navbar">

      <form id="form" action="/search" method="GET" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input name="q" type="text" value="<%= @query %>" class="form-control" placeholder="Search" />
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <% if signed_in? == false %>
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="/api" >API</a>
          </li>
          <li>
              <a href="http://blog.versioneye.com/" target="versioneye_blog">Blog</a>
          </li>
          <li>
              <a href="/faq">FAQs</a>
          </li>
          <% if !Rails.env.enterprise? %>
            <li>
              <%= link_to "Pricing", "/pricing" %>
            </li>
          <% end %>

          <!-- menu for guest user, not logged in -->
          <% if Settings.instance.show_signup_form == true && Rails.env.enterprise? == true %>
            <li>
            <%= form_tag(signup_path, :method => "GET", :style=>"margin: 0; padding: 0 0 0 10px;", :class=>"navbar-form navbar-right") do  %>
              <div class="form-group">
                <button type="submit" class="btn btn-success navbar-btn" ><%= t(:page_header_signup) %></button>
              </div>
            <% end %>
            </li>
          <% end %>
          <li>
            <%= form_tag(signin_path, :method => "GET", :style=>"margin: 0; padding: 0 0 0 10px;", :class=>"navbar-form navbar-right") do  %>
              <div class="form-group">
                <button type="submit" class="btn btn-primary navbar-btn" ><%= t(:page_header_signin) %></button>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>

      <% if signed_in? == true %>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a style="color: #5cb85c" href="/projects/new" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Project</a>
          </li>

          <li>
            <a href="<%= user_projects_path %>" title="Projects">Projects</a>
          </li>

          <li>
            <a href="<%= organisations_path %>" title="Organisations">Organisations</a>
          </li>

          <li>
            <a href="<%= notifications_path %>">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <% if current_user %>
                <% unread_count = unread_notification_count() %>
                <% if unread_count.to_i > 0 %>
                  <span class="round4" style="background-color: #fa3e3e; color: white; padding: 1px 3px;"><%= unread_count %></span>
                <% end %>
              <% end %>
            </a>
          </li>

          <li>
            <a href="https://github.com/versioneye/versioneye/issues" title="Feedback" id="feedback_link" target="TICKETS">
              <i class="fa fa-comment"></i>
            </a>
          </li>

          <li>
            <a href="<%= user_path( current_user ) %>" class="profile_pic_tiny" title="Profile" >
              <% if Rails.env.enterprise? %>
                <%= image_tag "profile_icon.png", size: "30" %> <%= username_max_30( current_user.username ) %>
              <% else %>
                <%= gravatar_image_tag( current_user.email, :alt => current_user.fullname, :class => "round8", :gravatar => { :size => 30, :default => "#{Settings.instance.server_url}/profile_icon.png" }) %> <%= username_max_30( current_user.username ) %>
              <% end %>
            </a>
          </li>

          <li>
            <a href="<%= settings_profile_path %>" title="Settings" >
              <i class="fa fa-cogs"></i>
            </a>
          </li>

          <li>
            <a href="<%= signout_path %>" title="Logout" >
              <i class="fa fa-sign-out"></i>
            </a>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
