<header >
	<div style="float: left;">
		<%= link_to image_tag("logo.jpg", :width => "250", :style => "padding-top:6px"), root_path %>
	</div>	
	<div style="float:right;">
		<nav class="round">
			<ul>
				<% if signed_in? %>
					<li><%= link_to "My Products", user_path(current_user) %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
					<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", signup_path %></li>
					<li><%= link_to "Sign In", signin_path %></li>
				<% end %>						
			</ul>
		</nav>
	</div>
</header>