
<header style="z-index: 100;">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner-dark">
			<div class = "container row">
				<div class = "span4 brand-container">
					<img src = "assets/beta.png" class = "pull-left beta" />
					<a class = "brand" href="#" alt="VersionEye">
						<img src = "assets/header_logo_os.png" />
					</a>
					<img src = "assets/eye_off.png"  class = "eye" />
				</div>

				<div class = "span7 pull-right">

					<% if !@page.eql?("LandingPage") %>
						<div id="searchfield_div" class="searchfield_div">
							<form id="searchform" action="/search" method="GET" class="search-form" >
								<input id="q" name="q" class="searchfield" type="text" value="<%= @query %>" style="margin-top: 6px;" />
								<input id="lang" name="lang" type="hidden" value="<%= @lang %>" />
							</form>
						</div>
					<% end %>

					<ul class="nav pull-right">
						<% if signed_in? %>
							<li >
								<a href="/user/projects" style="padding: 0">Projects</a>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a href="/users/<%= current_user.username %>" style="padding: 0">
									Profile
								</a>
							</li>
							<li class="divider-vertical"></li>
							<li >
								<a href="/settings/name" style="padding: 0">
									Settings
								</a>
							</li>
							<li class="divider-vertical"></li>	
							<li class="nav-cell">
								<a href="/signout" style="padding: 0">Logout</a>
							</li>
						<% else %>
							<li><%= link_to t(:page_header_services), services_path %></li>
							<li class="divider-vertical"></li>
							<li><a href="/services#pricing"><%= t(:page_header_pricing) %></a></li>
							<li class="divider-vertical"></li>
							<li><%= link_to t(:page_header_signup), signup_path %></li>
							<li class="divider-vertical"></li>
							<li><%= link_to t(:page_header_signin), signin_path %></li>
							<li class="divider-vertical"></li>
							<li><img src= "/assets/flaggs_germany_on.png"  class = "flag" /></li>
							<li class="divider-vertical"></li>
							<li><img src= "/assets/flaggs_gb_on.png" class = "flag" /></li>
						<% end %>
					</ul>
				</div>

			</div>
		</div>
	</div>
</header>