	<link href="<%= configatron.server_url %>/favicon.ico" rel="shortcut icon"  />
	<title>VersionEye</title>
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<script src="https://platform.twitter.com/widgets.js" ></script>
	<script src="https://connect.facebook.net/en_US/all.js" ></script>
	<script src="https://apis.google.com/js/plusone.js"></script> 