<!DOCTYPE html>
<html lang="en" >

<head >

  <% if !Settings.instance.environment.to_s.eql?('enterprise') && request.original_url.to_s.match("@").nil? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <% end %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>

  <link href="https://s3.amazonaws.com/veye_assets/versioneye-search.xml"
        title="VersionEye"
        rel="search"
        type="application/opensearchdescription+xml">

  <% if @product %>
    <% if @product.language.eql?('Ruby') %>
      <title><%= @product.name %> : <%= @product.version %> - <%= product_page_title( @product ) %></title>
    <% elsif @product.language.eql?('Java') %>
      <title><%= @product.name %> : <%= @product.version %> - <%= product_page_title( @product ) %></title>
    <% elsif @product.language.eql?('Node.JS') %>
      <title><%= @product.name %> : <%= @product.version %> - <%= product_page_title( @product ) %></title>
    <% elsif @product.language.eql?('PHP') %>
      <title><%= @product.name %> : <%= @product.version %> - <%= product_page_title( @product ) %></title>
    <% else %>
      <title><%= @product.name %> : <%= @product.version %> - <%= product_page_title( @product ) %></title>
    <% end %>
    <meta name="keywords" content="<%= @product.language %>, <%= @product.name %>, <%= @product.prod_type %>" />
    <% if !@product.description.nil? && !@product.description.empty? %>
      <meta name="description" content="<%= @product.description[0, 145] %>..." />
    <% end %>
  <% else %>
    <title><%= yield(:title) %></title>
  <% end %>

  <%= render 'layouts/html_head' %>

</head>

<body>

  <%= render 'layouts/header' %>

  <section class="container" >
    <%= render 'layouts/searchbar' %>
    <%= render 'shared/messages' %>
    <div class="well-white row">
      <%= yield %>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>

</body>

</html>
