<!DOCTYPE html>
<html xmlns:fb="https://graph.facebook.com/schema/og/" >

<head >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<% if @product %>
  <title>Visual : <%= @product.name %> : <%= @product.version %></title>
  <meta name="keywords"        content="<%= @product.name %>, <%= @product.language %>, <%= @product.prod_type %>" />
  <% if !@product.description.nil? && !@product.description.empty? %>
    <meta name="description"   content="<%= @product.description %>" />
  <% end %>
<% end %>

  <%= render 'layouts/html_head' %>

</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container l_margin_top_50" style="text-align: center;" id="container">
    <section class="round" id="section" >
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <br/>
    <br/>
  </div>
</body>

</html>
