<!DOCTYPE html> 
<html> 
	<head> 
		<title>Version Eye</title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<meta name='viewport' content='initial-scale=0.7,minimum-scale=0.7, maximum-scale=0.7'/>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	</head> 
	<body> 
		<div data-role="page">
			<%= yield %>
		</div>
	</body>
</html>