<!DOCTYPE html>
<html lang="en">

  <head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VersionEye - Notification System for Software Packages</title>

    <!-- open search plugin for FF, Chrome and new IE -->
    <link rel="search"
        type="application/opensearchdescription+xml"
        title="Versioneye Search"
        href="<%= Settings.instance.server_url %>/versioneye-search.xml" />

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author"      content="VersionEye GmbH" />
    <meta name="keywords"    content="Java, Ruby, Python, Node.JS, JavaScript, PHP, Software Packages" />
    <meta name="description" content="Notification System for Software Packages. Follow your Packages and get notified about new versions." />

    <%= render 'layouts/html_head' %>

  </head>

  <body >

    <%= render 'shared/messages' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>

</html>
