<!DOCTYPE html>
<% if @product %>
	<html xmlns:fb="https://graph.facebook.com/schema/og/" itemscope itemtype="http://schema.org/SoftwareApplication" lang="en" >
<% else %> 
	<html xmlns:fb="https://graph.facebook.com/schema/og/" lang="en" >
<% end %>

<head >
	<meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
	<META HTTP-EQUIV="Content-Language" Content="en">
<% if @product %> 
	<title><%= @product.name %> : <%= @product.version %></title>
	<meta name="name"     itemprop="name"     content="<%= @product.name %>">
	<meta name="softwareversion" itemprop="softwareversion"  content="<%= @product.version %>">
	<meta name="version" itemprop="version"  content="<%= @product.version %>">
	<meta name="keywords" itemprop="keywords" content="<%= @product.name %>, <%= @product.language %>, <%= @product.prod_type %>" />
	<meta name="url" itemprop="url" content="<%= Settings.server_url %>/package/<%= @product.to_param %>/version/<%= @product.version %>" />
	<% if !@product.description.nil? && !@product.description.empty? %> 
	<meta name="description" itemprop="description" content="<%= @product.description[0, 145] %>..." />
	<% end %>	
<% end %>

	<%= render 'layouts/html_head' %>

</head>

<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<section class="round" >
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
		<br/>
		<br/>
	</div>
	<% if signed_in? %>
		<%= render 'shared/feedback' %>
		<%= render 'feedback/dialog_feedback' %>
	<% end %>
</body>

</html>