<!DOCTYPE html>
<html xmlns:fb="https://graph.facebook.com/schema/og/" itemscope itemtype="http://schema.org/WebApplication" >
	
	<head >
		<title>VersionEye - Search Engine for Software Libraries</title>
		<meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
		<META HTTP-EQUIV="Content-Language" Content="en">
		<meta name="name"     itemprop="name"     content="VersionEye">
		<meta name="url"      itemprop="url"      content="<%= Settings.server_url %>" />
		<meta name="description" itemprop="description" content="Search Engine for Software Libraries. Follow your Libraries and get notified about new versions." />
		<meta name="author"   itemprop="author"   content="VersionEye GmbH" />
		<meta name="keywords" itemprop="keywords" content="Java, Ruby, Python, Node.JS, JavaScript, PHP, Libraries, Software Libraries, Packages, Repository" />
		
		<%= render 'layouts/html_head' %>
		
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<section class="round" >
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<% if !signed_in? %>
					<div style="text-align:right">
						<%= render "shared/login_with_twitter" %>
					</div>
				<% end %>

				<div id="lp_search_div" class="lp_search_div">
					<form id="searchform" action="/search" method="GET" class="search-form" >				
						<input id="q" name="q" class="lp_searchfield" type="text" value="<%= @query %>" />
						<input id="lang" name="lang" type="hidden" value="<%= @lang %>" />
						<br/>
						<span style="position: relative; top: 50px; left: -300px;" class="meta-text-small" >click to select --> </span>
						<% if !@languages.nil? && !@languages.empty? && !@lang.nil? %>
							<% @langs = @lang.split(",") %>
							<div style="padding-left:177px;">
								<ol class="list-row" >
									<% @languages.each do |language| %>
										<li class="list-cell-lang-icons" style="list-style-type: none; display: table-cell; padding-right: 0px; vertical-align: middle; text-align: center;" id="<%=language%>" >
										<label onclick="update_lang('<%=language%>')">
											<% if @langs.include?(language) %>
												<%= image_tag "language/#{language.downcase}.png", :title => language, :id => "#{language.downcase}_icon", :style => "border-bottom: 2px solid #f9b323" %>
											<% else %>
												<%= image_tag "language/#{language.downcase}_bw.png", :title => language, :id => "#{language.downcase}_icon", :style => "border-bottom: 0px solid #f9b323" %>
											<% end %>
										</label>
										</li>
									<% end %>
								</ol>
							</div>
						<% end %>
						<br/>
						<%= submit_tag "Search", :class => "button" %>
					</form>

				</div>
			</section>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
        	<br/>
        	<br/>
		</div>
		<%= render 'shared/social_buttons' %>
		<% if signed_in? %>
			<%= render 'shared/feedback' %>
			<%= render 'feedback/dialog_feedback' %>
		<% end %>
	</body>

</html>