<!DOCTYPE html>
<html lang="en" >

<head >

  <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>

  <link href="https://s3.amazonaws.com/veye_assets/versioneye-search.xml"
        title="VersionEye"
        rel="search"
        type="application/opensearchdescription+xml">


  <% if @product %>
    <% if @product.language.eql?('Ruby') %>
      <title><%= @product.name %> : <%= @product.version %> - Track GEM versions at VersionEye</title>
    <% elsif @product.language.eql?('Java') %>
      <title><%= @product.name %> : <%= @product.version %> - Track your JARs at VersionEye</title>
    <% elsif @product.language.eql?('Node.JS') %>
      <title><%= @product.name %> : <%= @product.version %> - Track your NPM libraries at VersionEye</title>
    <% elsif @product.language.eql?('PHP') %>
      <title><%= @product.name %> : <%= @product.version %> - Track your PHP libraries at VersionEye</title>
    <% else %>
      <title><%= @product.name %> : <%= @product.version %> - Track your libraries at VersionEye</title>
    <% end %>
    <meta name="keywords" content="<%= @product.language %>, <%= @product.name %>, <%= @product.prod_type %>" />
    <% if !@product.description.nil? && !@product.description.empty? %>
      <meta name="description" content="<%= @product.description[0, 145] %>..." />
    <% end %>
  <% else %>
    <title><%= yield(:title) %></title>
  <% end %>

  <%= render 'layouts/html_head' %>

</head>

<body>

  <%= render 'layouts/header' %>

  <%= render 'shared/messages' %>

  <% if !signed_in?  %>
    <%= render 'shared/dialog_follow' %>
    <%= render 'shared/dialog_login_feature' %>
  <% end %>

  <section class="container l_margin_top_50" >
    <%= render 'layouts/searchbar' %>
    <div class="well-white row">
      <%= yield %>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <%= render 'feedback/dialog_feedback' %>
  <%= debug(params) if Rails.env.development? %>

</body>

</html>
