<!DOCTYPE html>
<html lang="en">

  <head >

    <title>VersionEye Enterprise - Notification System for Software Packages</title>

    <link href="https://s3.amazonaws.com/veye_assets/versioneye-search.xml"
          title="VersionEye"
          rel="search"
          type="application/opensearchdescription+xml">

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author"      content="VersionEye GmbH" />

    <%= render 'layouts/html_head' %>

  </head>

  <body >

    <%= render 'layouts/header' %>

    <%= render 'shared/messages' %>

    <section class="container l_margin_top_75" >
      <div class="well-white">

        <div class="row">
          <div class="col-md-12">
            <div style="text-align: center;">
              <%= render "shared/enterprise_agreements" %>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">

            <div>
              <p>
                Please activate this instance with your API Key. If you don't have one, please sign up at <a href="https://www.VersionEye.com">https://www.VersionEye.com</a> and get one here <a href="https://www.versioneye.com/settings/api">https://www.versioneye.com/settings/api</a>.
              </p>
            </div>

            <form id="activate-form" class="form-horizontal" action="/enterprise/activate" method="POST" style="padding: 0; margin: 0;">

              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

              <div style="padding-top: 10px" >
                <label for="apikey" class="control-label">API Key: </label>
                <input type="text" autocomplete="off" class="form-control" style="width: 300px; display: inline-block;" id="apikey" name="name" placeholder="API Key" />
              </div>

              <div style="padding-top: 10px" >
                <label for="agreement" >
                  <input type="checkbox" id="agreement" name="agreement"  >
                  I have read the VersionEye Enterprise License Agreement and agree to their validity.
                </label>
              </div>

              <div style="padding-top: 10px; padding-bottom: 20px;" >
                <button type="submit" class="btn btn-primary btn-large" id="btn-signup">Activate</button>
              </div>
              
            </form>

          </div>
        </div>


        

          

        </div>

      </div>
    </section>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>

</html>
