
<div class="col-md-3 navbar_container" >
  <%= render 'organisations/navi' %>
</div>

<div class="col-md-9" >

  <div class="content_header_def" >
    License Whitelist <b>"<%= @license_whitelist %>"</b>
  </div>

  <div class="content" >

    <p>
      Just start typing and add as many licenses to your whitelist as you want.
    </p>

    <%= form_tag(add_organisation_license_whitelist_path(@organisation.name, :id => @license_whitelist.name), :class => 'form-inline', :style => "padding: 0; margin:0;") do %>
      <div class="form-group input-append">

        <input id="license_name" name="license_name" class="typeahead form-control" type="text"  autofocus="autofocus" autocomplete="off" style="margin-top: -6px; width: 450px;" />

        <button class="btn btn-primary" onclick="preventSubmit('license_name', 'License Name')" type="submit" >
          Add License
        </button>

      </div>
    <% end %>

    <br/>

    <%= form_tag(update_pessimistic_organisation_license_whitelist_path(@organisation.name, :id => @license_whitelist.name), :class => 'form-horizontal') do %>
      <div class="checkbox">
        <label for="pessimistic" style="font-size: 12px;" >
          <%= check_box_tag "pessimistic", true, @license_whitelist.pessimistic_mode, :id => "pessimistic" %>
          Pessimistic mode. If a project dependency has multiple licenses and one of them is violating this license whitelist then count the dependency as violated.
        </label>
      </div>
      <div class="checkbox">
        <label for="ignore_unknowns_on_pr" style="font-size: 12px;" >
          <%= check_box_tag "ignore_unknowns_on_pr", true, @license_whitelist.ignore_unknowns_on_pr, :id => "ignore_unknowns_on_pr" %>
          Ignore UNKNOWN licenses on pullrequests
        </label>
      </div>
      <button class="btn btn-primary" type="submit" >
        Update
      </button>
    <% end %>

    <br/>

    <% if @license_whitelist.license_elements && !@license_whitelist.license_elements.empty? %>
      <h4>Licenses</h4>
      <table class="table table-hover" >
        <colgroup>
          <col width="80px;"j />
          <col width="*" />
        </colgroup>
        <tbody>
          <% @license_whitelist.license_elements.each do |license| %>
            <% if !license.name.to_s.empty? %>
              <%= form_tag( remove_organisation_license_whitelist_path(@organisation.name, :id => @license_whitelist.name), :method => "post") do  %>
              <tr >
                <td >
                  <button type="submit" class="btn btn-danger" onClick="return confirmAction()" >Delete</button>
                </td>
                <td>
                  <input id="name" name="name" type="hidden" value="<%= license.name.to_s %>" />
                  <%= license.name_substitute %>
                </td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br/><br/>
    <% end %>

    <% if @license_whitelist.auditlogs && !@license_whitelist.auditlogs.empty? %>
      <h4>Auditlog</h4>
      <div class="content" >
        <% @license_whitelist.auditlogs.each do |audit| %>
          <%= render :partial => 'shared/auditlog', :locals => {:audit => audit} %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>


<script>
  jQuery(document).ready(function(){
    console.debug("License autocomplete is initialized.");
    jQuery("input#license_name").typeahead({
      name: "contacts",
      remote: {
        url: "/organisations/<%= @organisation.name %>/lwl/autocomplete?term=%QUERY"
      },
      engine: Hogan,
      template: [
        '<div>',
          '<p>',
            '<strong>{{ identifier }}</strong> ( {{ license_name }} )',
          '</p>',
        '</div>'
      ].join('')
    });
  });
</script>
